* TLhr_abbr_d2.F
* this file is part of FeynHiggs
* generated 2-Aug-2016 18:13

#include "externals.h"
#include "types.h"


	subroutine TLhr_abbr_d2
	implicit none

#include "TLhr.h"

	Cd(2339) = Cc(434)**2*Cc(436) - MGl2**2*MGlpTmSt2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2339)", Cd(2339) ENDL
#endif

	Cd(231) = M_3C*Cd(230)*UCStgl(1,3) + MTgl*Cd(229)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(231)", Cd(231) ENDL
#endif

	Cd(2353) = 9*MGlpT2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2353)", Cd(2353) ENDL
#endif

	Cd(2356) = 9*MStgl2(2) + 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2356)", Cd(2356) ENDL
#endif

	Cd(2370) = Cc(563)*MStgl2(1) - Cd(2300)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2370)", Cd(2370) ENDL
#endif

	Cd(2371) = Cd(2303)*MStgl2(1) + Cd(2302)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2371)", Cd(2371) ENDL
#endif

	Cd(2373) = Cd(2306)*MStgl2(1) - Cr(90)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2373)", Cd(2373) ENDL
#endif

	Cd(2374) = Cd(2262)*MStgl2(1) - Cd(2308)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2374)", Cd(2374) ENDL
#endif

	Cd(2375) = MTgl2*Cd(2374) + Cd(2373)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2375)", Cd(2375) ENDL
#endif

	Cd(2378) = M_3*Cc(742) + 4*M_3C*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2378)", Cd(2378) ENDL
#endif

	Cd(2380) = M_3*Cd(2261) - 8*M_3C*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2380)", Cd(2380) ENDL
#endif

        Cd(2381) = 6*M_3*Cd(2265)*MStgl2(2) + 
     &    M_3C*Cd(2266)*MStgl2(3)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2381)", Cd(2381) ENDL
#endif

	Cd(2382) = 11 + 4*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2382)", Cd(2382) ENDL
#endif

	Cd(2383) = Cd(2242)*MStgl2(1) - Cd(2382)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2383)", Cd(2383) ENDL
#endif

        Cd(2384) = 4*M_3*Cc(1126)*MStgl2(2) + 
     &    M_3C*Cd(2383)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2384)", Cd(2384) ENDL
#endif

	Cd(2388) = -17 + 2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2388)", Cd(2388) ENDL
#endif

	Cd(2389) = Cc(1332)*MStgl2(1) - Cd(2388)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2389)", Cd(2389) ENDL
#endif

        Cd(2390) = 2*M_3*Cd(1144)*MStgl2(2) - 
     &    M_3C*Cd(2389)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2390)", Cd(2390) ENDL
#endif

	Cd(2391) = -7 + 2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2391)", Cd(2391) ENDL
#endif

	Cd(2392) = Cd(995)*MStgl2(1) - Cd(2391)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2392)", Cd(2392) ENDL
#endif

        Cd(2393) = M_3*Cd(1373)*MStgl2(2) - 
     &    M_3C*Cd(2392)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2393)", Cd(2393) ENDL
#endif

	Cd(236) = 2*Cc(1074)*MStgl2(1) - MGl2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(236)", Cd(236) ENDL
#endif

	Cd(2399) = 6*MTgl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2399)", Cd(2399) ENDL
#endif

	Cd(237) = -(MGl2*Cd(236)) + Cc(434)**2*Cr(28)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(237)", Cd(237) ENDL
#endif

	Cd(2410) = 11*MGlpT2 - 18*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2410)", Cd(2410) ENDL
#endif

	Cd(2413) = 6*MGl2 + 5*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2413)", Cd(2413) ENDL
#endif

        Cd(238) = Cd(237)*UStgl(1,1) - 
     &    M_3*MTgl*Cc(435)*MStgl2(3)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(238)", Cd(238) ENDL
#endif

	Cd(2422) = 5*MStgl2(3) + 2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2422)", Cd(2422) ENDL
#endif

	Cd(2423) = 14*MStgl2(2)**2 - Cd(2422)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2423)", Cd(2423) ENDL
#endif

	Cd(239) = MGl2*MStgl2(2) - Cc(1074)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(239)", Cd(239) ENDL
#endif

	Cd(2424) = 10*MStgl2(2)**2 - Cd(1066)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2424)", Cd(2424) ENDL
#endif

	Cd(2426) = 20*MStgl2(2)**2 - 3*Cd(1669)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2426)", Cd(2426) ENDL
#endif

        Cd(2430) = Cc(95)*MStgl2(2)**3*MStgl2(3) - 
     &    8*MTgl2**5*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2430)", Cd(2430) ENDL
#endif

	Cd(2431) = -17 + 16*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2431)", Cd(2431) ENDL
#endif

	Cd(240) = MGl2*Cd(239) + Cc(434)**2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(240)", Cd(240) ENDL
#endif

	Cd(2434) = 4*M_3*MStgl2(2) - M_3C*Cd(1067)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2434)", Cd(2434) ENDL
#endif

	Cd(2435) = 2*M_3*MStgl2(2) - M_3C*Cc(543)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2435)", Cd(2435) ENDL
#endif

	Cd(2438) = 7*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2438)", Cd(2438) ENDL
#endif

	Cd(2439) = -55 + 48*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2439)", Cd(2439) ENDL
#endif

	Cd(2441) = MStgl2(1) + Cd(995)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2441)", Cd(2441) ENDL
#endif

        Cd(2442) = M_3*Cd(2254)*MStgl2(3) - 
     &    8*M_3C*Cd(2441)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2442)", Cd(2442) ENDL
#endif

        Cd(241) = Cd(240)*UStgl(1,1) - 
     &    M_3*MTgl*Cc(435)*MStgl2(3)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(241)", Cd(241) ENDL
#endif

	Cd(2445) = 5*MStgl2(2) - 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2445)", Cd(2445) ENDL
#endif

	Cd(2446) = -13 + 8*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2446)", Cd(2446) ENDL
#endif

	Cd(2448) = MStgl2(1) - Cc(1332)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2448)", Cd(2448) ENDL
#endif

        Cd(2449) = M_3*Cd(2261)*MStgl2(3) + 
     &    8*M_3C*Cd(2448)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2449)", Cd(2449) ENDL
#endif

	Cd(2450) = -13 + 16*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2450)", Cd(2450) ENDL
#endif

	Cd(2453) = 9*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2453)", Cd(2453) ENDL
#endif

        Cd(242) = Cd(231) + 
     &    M_3C*MTgl2*Cc(336)*UCStgl(1,3)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(242)", Cd(242) ENDL
#endif

	Cd(2454) = -7 + 16*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2454)", Cd(2454) ENDL
#endif

	Cd(2455) = Cd(2453)*MStgl2(1) - Cd(2454)*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2455)", Cd(2455) ENDL
#endif

        Cd(2456) = 2*M_3*Cc(1126)*MStgl2(2)*MStgl2(3) + 
     &    M_3C*Cd(2455)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2456)", Cd(2456) ENDL
#endif

	Cd(2460) = -13 + 40*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2460)", Cd(2460) ENDL
#endif

	Cd(2461) = 7 + 8*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2461)", Cd(2461) ENDL
#endif

	Cd(243) = Cd(241)*UStgl2(1,1) + Cd(238)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(243)", Cd(243) ENDL
#endif

	Cd(2464) = 3*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2464)", Cd(2464) ENDL
#endif

	Cd(2465) = -41 + 32*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2465)", Cd(2465) ENDL
#endif

	Cd(2466) = 3*Cd(2464)*MStgl2(1) + Cd(2465)*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2466)", Cd(2466) ENDL
#endif

        Cd(2467) = 6*M_3*Cc(727)*MStgl2(2)*MStgl2(3) - 
     &    M_3C*Cd(2466)*UCStgl(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2467)", Cd(2467) ENDL
#endif

	Cd(2476) = 5*MGl2 + 3*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2476)", Cd(2476) ENDL
#endif

	Cd(2477) = 9*MGl2 + 5*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2477)", Cd(2477) ENDL
#endif

	Cd(2478) = 2*Cc(1152)**2 + MGl2*Cd(2477)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2478)", Cd(2478) ENDL
#endif

	Cd(2481) = -MGl2 + Cd(1602)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2481)", Cd(2481) ENDL
#endif

	Cd(2490) = 7*MGl2 + 4*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2490)", Cd(2490) ENDL
#endif

        Cd(2510) = 4*MGlpTmSt2(1)*MStgl2(1)**2 - 
     &    Cc(296)*Cc(646)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2510)", Cd(2510) ENDL
#endif

	Cd(249) = 6*MTgl2 - MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(249)", Cd(249) ENDL
#endif

	Cd(2526) = 29*MGl2 + 20*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2526)", Cd(2526) ENDL
#endif

	Cd(2530) = Cc(295) + 2*MGlpTmSt2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2530)", Cd(2530) ENDL
#endif

        Cd(2531) = -4*Cd(2530)*MStgl2(1)**2 + 
     &    Cc(296)*Cc(646)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2531)", Cd(2531) ENDL
#endif

	Cd(250) = MGl2 + Cd(249)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(250)", Cd(250) ENDL
#endif

        Cd(2534) = 4*MGlpTmSt2(1)*MStgl2(1)**2 - 
     &    Cc(296)*Cc(646)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2534)", Cd(2534) ENDL
#endif

	Cd(251) = Cc(434)*Cc(1152) + MGl2*Cd(250)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(251)", Cd(251) ENDL
#endif

	Cd(252) = MTgl2 - MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(252)", Cd(252) ENDL
#endif

	Cd(2557) = 2*Cc(434)**2 + MGl2*Cd(2477)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2557)", Cd(2557) ENDL
#endif

	Cd(2559) = MTgl2 - 3*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2559)", Cd(2559) ENDL
#endif

        Cd(2585) = 4*MGlpTmSt2(2)*MStgl2(2)**2 - 
     &    Cc(344)*Cc(662)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2585)", Cd(2585) ENDL
#endif

        Cd(2595) = 4*Cc(436)*MStgl2(2)**2 - 
     &    Cc(344)*Cc(662)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2595)", Cd(2595) ENDL
#endif

        Cd(2599) = 2*Cc(436)**2*UStgl(1,1) - 
     &    M_3*MTgl*Cc(435)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2599)", Cd(2599) ENDL
#endif

	Cd(2605) = Cc(336) + 2*MGlpTmSt2(2)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2605)", Cd(2605) ENDL
#endif

        Cd(2606) = -4*Cd(2605)*MStgl2(2)**2 + 
     &    Cc(344)*Cc(662)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2606)", Cd(2606) ENDL
#endif

        Cd(2609) = 4*MGlpTmSt2(2)*MStgl2(2)**2 - 
     &    Cc(344)*Cc(662)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2609)", Cd(2609) ENDL
#endif

        Cd(2616) = 2*M_3*MTgl2*MGlpTmSt2(2) + 
     &    MTgl*Cc(436)**2*UCStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2616)", Cd(2616) ENDL
#endif

	Cd(2630) = MGl2*Cd(1790) + Cd(2197)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2630)", Cd(2630) ENDL
#endif

	Cd(2631) = Cc(427)*Cc(1152)**2 - MGl2*Cd(2630)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2631)", Cd(2631) ENDL
#endif

	Cd(2637) = 3*MTgl2 + 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2637)", Cd(2637) ENDL
#endif

	Cd(2640) = -MGl2 + Cd(2637)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2640)", Cd(2640) ENDL
#endif

	Cd(261) = MGl2**2 - 2*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(261)", Cd(261) ENDL
#endif

	Cd(2651) = 3*MTgl2 + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2651)", Cd(2651) ENDL
#endif

	Cd(2652) = MTgl2*Cd(2651) - 3*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2652)", Cd(2652) ENDL
#endif

	Cd(262) = Cr(57)*MStgl2(1) - Cr(47)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(262)", Cd(262) ENDL
#endif

	Cd(2661) = 2*Cc(427)*MStgl2(1) + Cc(1835)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2661)", Cd(2661) ENDL
#endif

	Cd(2665) = MTgl2*(MTgl2**2 - 3*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2665)", Cd(2665) ENDL
#endif

	Cd(2666) = 6*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2666)", Cd(2666) ENDL
#endif

	Cd(2668) = -(MGl2*Cc(134)) + 3*Cd(2661)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2668)", Cd(2668) ENDL
#endif

	Cd(2673) = Cd(1007)*MStgl2(1)**2 - MTgl2**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2673)", Cd(2673) ENDL
#endif

	Cd(2674) = 6*Cc(427)*MStgl2(1) + Cd(1602)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2674)", Cd(2674) ENDL
#endif

	Cd(2675) = 3*MTgl2 + MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2675)", Cd(2675) ENDL
#endif

	Cd(2676) = Cd(2674) - MGl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2676)", Cd(2676) ENDL
#endif

	Cd(2679) = 10*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2679)", Cd(2679) ENDL
#endif

	Cd(2681) = MGl2**2 + MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2681)", Cd(2681) ENDL
#endif

	Cd(2684) = 5*MStgl2(2) - 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2684)", Cd(2684) ENDL
#endif

	Cd(2688) = 3*MGl2 + MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2688)", Cd(2688) ENDL
#endif

	Cd(2703) = 8*MStgl2(2) - 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2703)", Cd(2703) ENDL
#endif

	Cd(267) = 4*MGlpT2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(267)", Cd(267) ENDL
#endif

	Cd(2711) = 13*MGl2 - 8*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2711)", Cd(2711) ENDL
#endif

	Cd(2718) = 9*MTgl2 + 10*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2718)", Cd(2718) ENDL
#endif

	Cd(2719) = Cd(2718)*MStgl2(1) + 3*Cc(1835)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2719)", Cd(2719) ENDL
#endif

	Cd(2722) = -(MGl2*Cc(131)) + Cd(2719)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2722)", Cd(2722) ENDL
#endif

	Cd(2727) = Cd(134)*UStgl(1,1) - M_3*MTgl*Cd(128)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2727)", Cd(2727) ENDL
#endif

        Cd(269) = Cc(1154)*MGlpTmSt2(2) + 
     &    Cc(1076)*MGlpTmSt2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(269)", Cd(269) ENDL
#endif

        Cd(2732) = 2*Cd(2631)*MStgl2(1) + 
     &    Cc(296)*Cc(646)*MStgl2(3)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2732)", Cd(2732) ENDL
#endif

	Cd(2751) = 5*MGl2 + 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2751)", Cd(2751) ENDL
#endif

	Cd(272) = MStgl2(4) + 2*Cc(619)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(272)", Cd(272) ENDL
#endif

	Cd(2760) = 2*MStgl2(1) + Cc(296)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2760)", Cd(2760) ENDL
#endif

	Cd(2761) = 6*MTgl2 - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2761)", Cd(2761) ENDL
#endif

	Cd(2762) = 26*MStgl2(2) - 27*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2762)", Cd(2762) ENDL
#endif

	Cd(2763) = 18*MTgl2 + Cd(2762)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2763)", Cd(2763) ENDL
#endif

	Cd(2764) = MTgl2*Cd(2763) - 3*MStgl2(1)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2764)", Cd(2764) ENDL
#endif

	Cd(2773) = MTgl2**2 + 7*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2773)", Cd(2773) ENDL
#endif

	Cd(26) = -1 + 2*Log(MTgl2/Q2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(26)", Cd(26) ENDL
#endif

	Cd(274) = MTgl2 + 2*Cr(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(274)", Cd(274) ENDL
#endif

	Cd(2779) = 2*Cc(1835)*MStgl2(1)*MStgl2(2) + MTgl2**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2779)", Cd(2779) ENDL
#endif

	Cd(2780) = 4*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2780)", Cd(2780) ENDL
#endif

	Cd(2786) = Cd(1602) + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2786)", Cd(2786) ENDL
#endif

	Cd(275) = 3*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(275)", Cd(275) ENDL
#endif

	Cd(2788) = MTgl2**2*Cc(131) - Cd(1557)*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2788)", Cd(2788) ENDL
#endif

	Cd(2796) = 9*MTgl2 + 14*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2796)", Cd(2796) ENDL
#endif

	Cd(2797) = Cd(2796)*MStgl2(1) - 3*Cc(1835)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2797)", Cd(2797) ENDL
#endif

	Cd(276) = MTgl2*Cd(274) - Cd(275)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(276)", Cd(276) ENDL
#endif

	Cd(2800) = 4*MStgl2(2) - 9*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2800)", Cd(2800) ENDL
#endif

	Cd(2802) = 12*Cc(427)*MStgl2(1) + Cd(1602)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2802)", Cd(2802) ENDL
#endif

	Cd(2804) = -(MGl2*Cc(131)) + Cd(2802)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2804)", Cd(2804) ENDL
#endif

	Cd(2809) = 2*MTgl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2809)", Cd(2809) ENDL
#endif

	Cd(2813) = 8*MTgl2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2813)", Cd(2813) ENDL
#endif

	Cd(2817) = 4*MTgl2 - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2817)", Cd(2817) ENDL
#endif

	Cd(2818) = 20*MStgl2(2) - 21*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2818)", Cd(2818) ENDL
#endif

	Cd(2819) = 12*MTgl2 + Cd(2818)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2819)", Cd(2819) ENDL
#endif

	Cd(2820) = MTgl2*Cd(2819) - 3*MStgl2(1)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2820)", Cd(2820) ENDL
#endif

	Cd(2823) = -(MGl2*Cd(2817)) + Cd(2820)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2823)", Cd(2823) ENDL
#endif

	Cd(2830) = 2*Cc(427) + MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2830)", Cd(2830) ENDL
#endif

	Cd(2833) = 6*Cc(427)*MStgl2(1) - Cd(1602)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2833)", Cd(2833) ENDL
#endif

	Cd(2839) = Cd(2833) - MGl2*Cr(91)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2839)", Cd(2839) ENDL
#endif

	Cd(2843) = MTgl2**2 + 3*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2843)", Cd(2843) ENDL
#endif

	Cd(2845) = 12*MTgl2 + Cd(1092)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2845)", Cd(2845) ENDL
#endif

	Cd(2846) = MTgl2*Cd(2845) + 9*MStgl2(1)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2846)", Cd(2846) ENDL
#endif

	Cd(2847) = 4*MTgl2 + 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2847)", Cd(2847) ENDL
#endif

	Cd(2848) = MTgl2 + 6*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2848)", Cd(2848) ENDL
#endif

	Cd(2854) = 4*MTgl2 - 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2854)", Cd(2854) ENDL
#endif

	Cd(2855) = 12*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2855)", Cd(2855) ENDL
#endif

	Cd(2856) = 12*MTgl2 + Cd(2855)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2856)", Cd(2856) ENDL
#endif

	Cd(2857) = MTgl2*Cd(2856) - 9*MStgl2(1)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2857)", Cd(2857) ENDL
#endif

	Cd(282) = MGl2 - MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(282)", Cd(282) ENDL
#endif

	Cd(2860) = 3*MGl2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2860)", Cd(2860) ENDL
#endif

	Cd(2861) = 16*MTgl2*MGlpTmSt2(1) - 3*Cd(2860)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2861)", Cd(2861) ENDL
#endif

	Cd(2863) = 4*MTgl2 + 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2863)", Cd(2863) ENDL
#endif

	Cd(2874) = 6*MStgl2(2) + 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2874)", Cd(2874) ENDL
#endif

	Cd(2876) = MTgl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2876)", Cd(2876) ENDL
#endif

	Cd(284) = 2*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(284)", Cd(284) ENDL
#endif

	Cd(2878) = 4*MTgl2*Cc(1152) + MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2878)", Cd(2878) ENDL
#endif

	Cd(2880) = 24*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2880)", Cd(2880) ENDL
#endif

	Cd(2881) = 18*MTgl2 + Cd(2880)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2881)", Cd(2881) ENDL
#endif

	Cd(2882) = MTgl2*Cd(2881) - 4*MStgl2(1)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2882)", Cd(2882) ENDL
#endif

	Cd(2883) = 5*MTgl2 - 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2883)", Cd(2883) ENDL
#endif

	Cd(2884) = 5*MTgl2 + 17*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2884)", Cd(2884) ENDL
#endif

	Cd(2889) = -3*MGl2 + 2*Cd(2863)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2889)", Cd(2889) ENDL
#endif

	Cd(2890) = Cc(1152)*Cd(2883) - MGl2*Cd(2889)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2890)", Cd(2890) ENDL
#endif

	Cd(2895) = MTgl2**2 - 3*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2895)", Cd(2895) ENDL
#endif

	Cd(2898) = 11*MGl2 + 3*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2898)", Cd(2898) ENDL
#endif

	Cd(2902) = (MGl2*Cc(131) + 4*MStgl2(1)**2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2902)", Cd(2902) ENDL
#endif

	Cd(2903) = 72*MStgl2(2) - 31*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2903)", Cd(2903) ENDL
#endif

	Cd(2904) = 8*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2904)", Cd(2904) ENDL
#endif

	Cd(2905) = 9*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2905)", Cd(2905) ENDL
#endif

	Cd(2907) = 48*MStgl2(2) - 23*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2907)", Cd(2907) ENDL
#endif

	Cd(2908) = 8*MStgl2(2) + 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2908)", Cd(2908) ENDL
#endif

	Cd(2910) = 16*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2910)", Cd(2910) ENDL
#endif

	Cd(2911) = 72*MStgl2(2) - 41*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2911)", Cd(2911) ENDL
#endif

	Cd(2915) = (12*MGl2 + Cc(131))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2915)", Cd(2915) ENDL
#endif

	Cd(2916) = 4*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2916)", Cd(2916) ENDL
#endif

	Cd(2919) = 4*MStgl2(2) - 19*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2919)", Cd(2919) ENDL
#endif

	Cd(2920) = 6*MStgl2(2) - 11*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2920)", Cd(2920) ENDL
#endif

	Cd(2925) = 7*MGlpT2*MTgl2 + 3*MGl2*MGlpTmSt2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2925)", Cd(2925) ENDL
#endif

	Cd(2927) = 4*MGl2 + MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2927)", Cd(2927) ENDL
#endif

	Cd(2928) = Cc(1152)**2 + MGl2*Cd(2927)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2928)", Cd(2928) ENDL
#endif

	Cd(2945) = 4*MGl2**3 + Cc(1152)**2*Cd(1960)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2945)", Cd(2945) ENDL
#endif

	Cd(2954) = MTgl2*Cd(1568) - 2*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2954)", Cd(2954) ENDL
#endif

	Cd(3) = 2*Cd(1) - Cd(2)*Cr(35)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3)", Cd(3) ENDL
#endif

	Cd(2990) = -MGl2 + Cd(2863)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2990)", Cd(2990) ENDL
#endif

	Cd(3005) = MTgl2**2 + MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3005)", Cd(3005) ENDL
#endif

	Cd(3006) = 3*Cd(3005) + 2*MTgl2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3006)", Cd(3006) ENDL
#endif

	Cd(3007) = 3*MGl2**2 + Cc(434)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3007)", Cd(3007) ENDL
#endif

	Cd(3014) = 3*MTgl2 + 4*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3014)", Cd(3014) ENDL
#endif

	Cd(3017) = -MGl2 + Cd(3014)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3017)", Cd(3017) ENDL
#endif

	Cd(3021) = 8*MTgl2 + 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3021)", Cd(3021) ENDL
#endif

	Cd(3023) = 11*MTgl2 - 2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3023)", Cd(3023) ENDL
#endif

	Cd(3024) = 14*MTgl2 - 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3024)", Cd(3024) ENDL
#endif

	Cd(3026) = 3*MGl2 - 2*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3026)", Cd(3026) ENDL
#endif

	Cd(3031) = 3*MTgl2 - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3031)", Cd(3031) ENDL
#endif

	Cd(3032) = MTgl2*Cd(3031) - 3*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3032)", Cd(3032) ENDL
#endif

	Cd(3033) = 9*MTgl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3033)", Cd(3033) ENDL
#endif

	Cd(3038) = -MGl2 + 3*Cc(1074)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3038)", Cd(3038) ENDL
#endif

	Cd(3044) = 2*Cc(486)*MStgl2(2) + 3*MTgl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3044)", Cd(3044) ENDL
#endif

	Cd(3045) = 2*Cc(1077)*MStgl2(1)*MStgl2(2) + MTgl2**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3045)", Cd(3045) ENDL
#endif

	Cd(3047) = Cd(3044) - MGl2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3047)", Cd(3047) ENDL
#endif

	Cd(3048) = 3*Cd(3045) - MGl2*Cd(3047)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3048)", Cd(3048) ENDL
#endif

	Cd(3052) = 6*Cc(1074)*MStgl2(2) - Cd(1748)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3052)", Cd(3052) ENDL
#endif

	Cd(3054) = -(MTgl2*Cd(1851)) + MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3054)", Cd(3054) ENDL
#endif

	Cd(3055) = 2*Cd(3054)*MStgl2(2) + Cc(1074)*Cd(2559)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3055)", Cd(3055) ENDL
#endif

	Cd(3056) = Cd(3052) - MGl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3056)", Cd(3056) ENDL
#endif

	Cd(3060) = (MGl2*Cc(543) + 4*MStgl2(2)**2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3060)", Cd(3060) ENDL
#endif

	Cd(3061) = MGl2**2 + MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3061)", Cd(3061) ENDL
#endif

        Cd(3062) = (3*Cc(543)*Cd(3061) + 8*MGl2*MStgl2(2)**2)*
     &    MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3062)", Cd(3062) ENDL
#endif

        Cd(3063) = MGl2*
     &    (MGl2**2*Cd(1067)*MStgl2(2) + Cd(1362)*MStgl2(2)**3)*
     &    MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3063)", Cd(3063) ENDL
#endif

	Cd(3064) = MGl2*Cc(543) - 2*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3064)", Cd(3064) ENDL
#endif

        Cd(3078) = 2*M_3C*MTgl*Cc(344)*UStgl(1,1) - 
     &    Cc(1078)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3078)", Cd(3078) ENDL
#endif

	Cd(3086) = 9*MGl2 + 2*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3086)", Cd(3086) ENDL
#endif

	Cd(3094) = Cd(153)*UStgl(1,1) - M_3*MTgl*Cd(154)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3094)", Cd(3094) ENDL
#endif

	Cd(3109) = MTgl2**2*Cc(497) - 3*MStgl2(2)**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3109)", Cd(3109) ENDL
#endif

        Cd(308) = M_3C*Cc(295)*UCStgl(1,3) - 
     &    M_3*Cc(1152)*UCStglC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(308)", Cd(308) ENDL
#endif

	Cd(3121) = 24*MGl2 - 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3121)", Cd(3121) ENDL
#endif

	Cd(3122) = 9*MGl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3122)", Cd(3122) ENDL
#endif

	Cd(3127) = 2*MStgl2(2) + Cc(344)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3127)", Cd(3127) ENDL
#endif

	Cd(3128) = 26*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3128)", Cd(3128) ENDL
#endif

	Cd(3129) = 18*MTgl2 + Cd(3128)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3129)", Cd(3129) ENDL
#endif

	Cd(3130) = MTgl2*Cd(3129) + 3*MStgl2(2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3130)", Cd(3130) ENDL
#endif

	Cd(3131) = 6*MTgl2 + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3131)", Cd(3131) ENDL
#endif

	Cd(3132) = 3*MGl2 - MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3132)", Cd(3132) ENDL
#endif

	Cd(3133) = 6*MTgl2*Cd(3132) + MGlmT2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3133)", Cd(3133) ENDL
#endif

	Cd(3134) = 27*MGl2 - MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3134)", Cd(3134) ENDL
#endif

	Cd(3135) = MTgl2*Cd(3134) - Cc(1084)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3135)", Cd(3135) ENDL
#endif

	Cd(3138) = 3*MGl2 - MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3138)", Cd(3138) ENDL
#endif

	Cd(3148) = 6*MTgl2 - 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3148)", Cd(3148) ENDL
#endif

	Cd(3150) = 4*MTgl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3150)", Cd(3150) ENDL
#endif

	Cd(3157) = Cd(1748) + MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3157)", Cd(3157) ENDL
#endif

	Cd(3169) = MTgl2**2 - 3*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3169)", Cd(3169) ENDL
#endif

	Cd(3170) = 4*MStgl2(2) + 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3170)", Cd(3170) ENDL
#endif

	Cd(3172) = MTgl2**2*Cc(543) - Cc(486)*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3172)", Cd(3172) ENDL
#endif

	Cd(3173) = 12*Cc(1074)*MStgl2(2) - Cd(1748)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3173)", Cd(3173) ENDL
#endif

	Cd(3178) = -(MGl2*Cc(543)) + Cd(3173)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3178)", Cd(3178) ENDL
#endif

	Cd(3183) = 12*MStgl2(2) + 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3183)", Cd(3183) ENDL
#endif

	Cd(3185) = 6*MTgl2 + 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3185)", Cd(3185) ENDL
#endif

	Cd(315) = 2*MGl2*MTgl*UStgl(1,1) + M_3*Cc(436)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(315)", Cd(315) ENDL
#endif

	Cd(3187) = 23*MTgl2 - 2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3187)", Cd(3187) ENDL
#endif

	Cd(3189) = 8*MTgl2 - 3*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3189)", Cd(3189) ENDL
#endif

	Cd(3192) = 20*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3192)", Cd(3192) ENDL
#endif

	Cd(3193) = 12*MTgl2 + Cd(3192)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3193)", Cd(3193) ENDL
#endif

	Cd(3194) = MTgl2*Cd(3193) + 3*MStgl2(2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3194)", Cd(3194) ENDL
#endif

	Cd(316) = Cc(1399)*UStgl(1,1) + M_3*MTgl*Cc(435)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(316)", Cd(316) ENDL
#endif

	Cd(3205) = MTgl2**2*Cd(284) - Cd(1103)*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3205)", Cd(3205) ENDL
#endif

	Cd(3206) = 6*Cc(1074)*MStgl2(2) + Cd(1748)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3206)", Cd(3206) ENDL
#endif

	Cd(317) = 2*Cc(1399)*UStgl(1,1) + M_3*MTgl*Cc(435)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(317)", Cd(317) ENDL
#endif

	Cd(3209) = -(MGl2*Cd(284)) + Cd(3206)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3209)", Cd(3209) ENDL
#endif

	Cd(3213) = MTgl2**2 + 3*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3213)", Cd(3213) ENDL
#endif

	Cd(3215) = 12*MStgl2(2) - 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3215)", Cd(3215) ENDL
#endif

	Cd(3216) = 12*MTgl2 + Cd(3215)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3216)", Cd(3216) ENDL
#endif

	Cd(318) = Cd(316)*UStgl2(1,1) + Cd(317)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(318)", Cd(318) ENDL
#endif

	Cd(3217) = MTgl2*Cd(3216) - 9*MStgl2(2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3217)", Cd(3217) ENDL
#endif

	Cd(3221) = Cd(2595) - 2*MTgl2*Cc(336)*MStgl2(2)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3221)", Cd(3221) ENDL
#endif

	Cd(3223) = 12*MGl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3223)", Cd(3223) ENDL
#endif

	Cd(3224) = 9*MGl2 + 13*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3224)", Cd(3224) ENDL
#endif

	Cd(3226) = 4*MStgl2(2) - 15*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3226)", Cd(3226) ENDL
#endif

	Cd(319) = -(MTgl*Cd(318)) + Cd(315)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(319)", Cd(319) ENDL
#endif

	Cd(3238) = MGl2 - 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3238)", Cd(3238) ENDL
#endif

	Cd(3242) = 24*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3242)", Cd(3242) ENDL
#endif

	Cd(3243) = 18*MTgl2 + Cd(3242)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3243)", Cd(3243) ENDL
#endif

	Cd(3244) = MTgl2*Cd(3243) + 4*MStgl2(2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3244)", Cd(3244) ENDL
#endif

	Cd(3245) = 8*MTgl2 - MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3245)", Cd(3245) ENDL
#endif

	Cd(3247) = 12*MTgl2 - 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3247)", Cd(3247) ENDL
#endif

	Cd(3249) = 4*MTgl2*Cc(434) + MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3249)", Cd(3249) ENDL
#endif

	Cd(3251) = 4*MTgl2 + 3*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3251)", Cd(3251) ENDL
#endif

	Cd(3252) = 5*MTgl2 - 3*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3252)", Cd(3252) ENDL
#endif

	Cd(3253) = 18*MTgl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3253)", Cd(3253) ENDL
#endif

	Cd(3254) = 13*MTgl2 + 17*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3254)", Cd(3254) ENDL
#endif

	Cd(3258) = -3*MGl2 + 2*Cd(3251)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3258)", Cd(3258) ENDL
#endif

	Cd(3259) = Cc(434)*Cd(3252) - MGl2*Cd(3258)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3259)", Cd(3259) ENDL
#endif

	Cd(3267) = 3*MGl2*MGlmT2 + MTgl2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3267)", Cd(3267) ENDL
#endif

	Cd(3268) = 3*MGl2 + 2*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3268)", Cd(3268) ENDL
#endif

	Cd(3271) = (MGl2*Cc(95) + 2*MStgl2(2)**2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3271)", Cd(3271) ENDL
#endif

	Cd(3272) = 36*MStgl2(2) - 31*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3272)", Cd(3272) ENDL
#endif

	Cd(3274) = 9*MStgl2(2) - 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3274)", Cd(3274) ENDL
#endif

	Cd(3275) = 36*MStgl2(2) - 41*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3275)", Cd(3275) ENDL
#endif

	Cd(3278) = 4*MStgl2(2) - 11*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3278)", Cd(3278) ENDL
#endif

	Cd(3279) = 24*MStgl2(2) - 25*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3279)", Cd(3279) ENDL
#endif

	Cd(3283) = 4*MTgl2**4 + 3*MGl2**3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3283)", Cd(3283) ENDL
#endif

	Cd(3284) = 4*MStgl2(2) + 13*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3284)", Cd(3284) ENDL
#endif

	Cd(3286) = MStgl2(2)**2 + 4*MGl2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3286)", Cd(3286) ENDL
#endif

	Cd(3287) = -3*Cd(3286) + Cd(2464)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3287)", Cd(3287) ENDL
#endif

	Cd(3289) = 6*MStgl2(2) + 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3289)", Cd(3289) ENDL
#endif

	Cd(3290) = 4*MStgl2(2) + 15*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3290)", Cd(3290) ENDL
#endif

	Cd(3295) = 7*MGlpT2*MTgl2 + 3*MGl2*MGlpTmSt2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3295)", Cd(3295) ENDL
#endif

	Cd(3297) = Cc(434)**2 + MGl2*Cd(2927)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3297)", Cd(3297) ENDL
#endif

	Cd(3300) = 12*MTgl2 + Cd(3183)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3300)", Cd(3300) ENDL
#endif

	Cd(3301) = MTgl2*Cd(3300) + 9*MStgl2(2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3301)", Cd(3301) ENDL
#endif

	Cd(3302) = 4*MTgl2*Cd(3132) - MGlpT2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3302)", Cd(3302) ENDL
#endif

	Cd(3303) = MTgl2*Cd(2477) - 3*Cc(1084)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3303)", Cd(3303) ENDL
#endif

	Cd(3310) = 13*MTgl2 - MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3310)", Cd(3310) ENDL
#endif

	Cd(3315) = 4*MGl2**3 + Cc(434)**2*Cd(3310)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3315)", Cd(3315) ENDL
#endif

	Cd(3325) = 12*MTgl2 + Cc(543)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3325)", Cd(3325) ENDL
#endif

	Cd(3326) = MTgl2*Cd(3325) - 3*MStgl2(2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3326)", Cd(3326) ENDL
#endif

	Cd(3327) = 4*MTgl2*Cd(3132) - MGlmT2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3327)", Cd(3327) ENDL
#endif

	Cd(3328) = 7*MGl2 - 11*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3328)", Cd(3328) ENDL
#endif

	Cd(3329) = MTgl2*Cd(3328) - Cc(1084)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3329)", Cd(3329) ENDL
#endif

	Cd(3333) = Cd(2609) - 2*MTgl2*Cc(336)*MStgl2(2)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3333)", Cd(3333) ENDL
#endif

	Cd(3341) = MGl2**2 + Cd(3006)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3341)", Cd(3341) ENDL
#endif

	Cd(3342) = Cc(1074)*Cd(3007) - MGl2*Cd(3341)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3342)", Cd(3342) ENDL
#endif

	Cd(3346) = 8*MTgl2*MGlpTmSt2(2) - Cd(3138)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3346)", Cd(3346) ENDL
#endif

	Cd(3354) = -MGl2 + Cd(3251)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3354)", Cd(3354) ENDL
#endif

	Cd(3366) = MTgl2*Cd(1585) - 2*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3366)", Cd(3366) ENDL
#endif

	Cd(3367) = 2*Cd(3366)*MStgl2(2) - Cc(1074)*Cd(2559)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3367)", Cd(3367) ENDL
#endif

	Cd(32) = 2*M_3*MTgl*MGlpTmSt2(1) - MGlpTmSt4(1)*UCStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(32)", Cd(32) ENDL
#endif

	Cd(3384) = 7*MTgl2 + 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3384)", Cd(3384) ENDL
#endif

	Cd(3397) = 2*MStgl2(2) + 13*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3397)", Cd(3397) ENDL
#endif

	Cd(3398) = 2*MStgl2(1)**2 + Cd(1020)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3398)", Cd(3398) ENDL
#endif

	Cd(3400) = 15*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3400)", Cd(3400) ENDL
#endif

	Cd(3401) = 3*MStgl2(1)**2 + Cd(3400)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3401)", Cd(3401) ENDL
#endif

	Cd(3402) = 8*MStgl2(3) - 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3402)", Cd(3402) ENDL
#endif

	Cd(3403) = 2*MStgl2(2)**2 - Cd(3402)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3403)", Cd(3403) ENDL
#endif

	Cd(3405) = MStgl2(2) + 9*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3405)", Cd(3405) ENDL
#endif

	Cd(3406) = 7*MStgl2(3) - 8*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3406)", Cd(3406) ENDL
#endif

	Cd(3407) = 2*MStgl2(2)**2 - Cd(3406)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3407)", Cd(3407) ENDL
#endif

	Cd(3408) = 9*MStgl2(3) - 8*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3408)", Cd(3408) ENDL
#endif

	Cd(3409) = 2*MStgl2(2)**2 - Cd(3408)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3409)", Cd(3409) ENDL
#endif

	Cd(3411) = MStgl2(3) - MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3411)", Cd(3411) ENDL
#endif

	Cd(3412) = MStgl2(2)**2 - 4*Cd(3411)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3412)", Cd(3412) ENDL
#endif

	Cd(3414) = MStgl2(2)**2 - Cd(1709)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3414)", Cd(3414) ENDL
#endif

	Cd(3415) = MGlmT2*MTgl2 - Cc(427)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3415)", Cd(3415) ENDL
#endif

	Cd(338) = CA*MUE - AtglC*SA

#ifdef DETAILED_DEBUG
	DTLHR "Cd(338)", Cd(338) ENDL
#endif

	Cd(339) = CA*MUEC - Atgl*SA

#ifdef DETAILED_DEBUG
	DTLHR "Cd(339)", Cd(339) ENDL
#endif

	Cd(3462) = MGl2 - 4*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3462)", Cd(3462) ENDL
#endif

	Cd(33) = -(M_3C*UCStgl(1,3)**2) + M_3*UStgl2(1,1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(33)", Cd(33) ENDL
#endif

	Cd(3487) = 8*MStgl2(2)**2 - Cd(2155)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3487)", Cd(3487) ENDL
#endif

	Cd(3488) = 2*MTgl2*Cc(543) + Cd(3487)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3488)", Cd(3488) ENDL
#endif

	Cd(3496) = Cd(3488) - 2*MGl2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3496)", Cd(3496) ENDL
#endif

	Cd(3555) = MTgl2 - 6*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3555)", Cd(3555) ENDL
#endif

	Cd(3557) = MTgl2 - 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3557)", Cd(3557) ENDL
#endif

	Cd(3559) = 3*MStgl2(2) + 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3559)", Cd(3559) ENDL
#endif

	Cd(3560) = 6*MStgl2(2)**2 - Cd(3559)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3560)", Cd(3560) ENDL
#endif

	Cd(3562) = -(MTgl2*Cd(1851)) + MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3562)", Cd(3562) ENDL
#endif

	Cd(3570) = 4*MTgl2**4 - 3*MGl2**3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3570)", Cd(3570) ENDL
#endif

	Cd(3576) = 2*UUStgl(1,1) - UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3576)", Cd(3576) ENDL
#endif

	Cd(3577) = Cd(3576)*MStgl2(1) - 2*MStgl2(2)*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3577)", Cd(3577) ENDL
#endif

	Cd(3578) = 48*UUStgl(1,1) + UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3578)", Cd(3578) ENDL
#endif

	Cd(3579) = Cd(3578)*MStgl2(2) - MStgl2(1)*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3579)", Cd(3579) ENDL
#endif

	Cd(3580) = Cd(3579)*MStgl2(1) + 48*MGl2*MStgl2(2)*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3580)", Cd(3580) ENDL
#endif

	Cd(3581) = 25*UUStgl(1,1) + UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3581)", Cd(3581) ENDL
#endif

	Cd(3582) = 25*UUStgl(1,1) + 2*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3582)", Cd(3582) ENDL
#endif

	Cd(3584) = 45*UUStgl(1,1) + UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3584)", Cd(3584) ENDL
#endif

	Cd(3585) = 45*UUStgl(1,1) + 2*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3585)", Cd(3585) ENDL
#endif

	Cd(3588) = 39*UUStgl(1,1) - UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3588)", Cd(3588) ENDL
#endif

	Cd(3589) = 66*UUStgl(1,1) - UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3589)", Cd(3589) ENDL
#endif

	Cd(3591) = 14*UUStgl(1,1) - 3*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3591)", Cd(3591) ENDL
#endif

	Cd(3592) = 19*UUStgl(1,1) - 3*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3592)", Cd(3592) ENDL
#endif

	Cd(3594) = 25*UUStgl(1,1) + 3*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3594)", Cd(3594) ENDL
#endif

	Cd(3595) = 26*UUStgl(1,1) + 3*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3595)", Cd(3595) ENDL
#endif

	Cd(3598) = 17*UUStgl(1,1) - UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3598)", Cd(3598) ENDL
#endif

	Cd(3599) = 29*UUStgl(1,1) - 2*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3599)", Cd(3599) ENDL
#endif

	Cd(3601) = UUStgl(1,1) - UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3601)", Cd(3601) ENDL
#endif

	Cd(3602) = 5*UUStgl(1,1) + 2*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3602)", Cd(3602) ENDL
#endif

	Cd(3608) = Cc(1152)**2 + MGl2*Cd(3026)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3608)", Cd(3608) ENDL
#endif

	Cd(3614) = 5*MTgl2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3614)", Cd(3614) ENDL
#endif

        Cd(3615) = 2*Cd(3614)*MStgl2(3)*UUStgl(1,2) + 
     &    Cc(1152)**2*UUStgl(2,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3615)", Cd(3615) ENDL
#endif

	Cd(3620) = MGlpT2 - 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3620)", Cd(3620) ENDL
#endif

	Cd(3636) = -3*MGl2 + 2*Cd(132)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3636)", Cd(3636) ENDL
#endif

	Cd(3637) = Cc(1152)*Cd(2076) - MGl2*Cd(3636)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3637)", Cd(3637) ENDL
#endif

	Cd(3651) = 3*MTgl2 + 2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3651)", Cd(3651) ENDL
#endif

	Cd(3655) = 5*MTgl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3655)", Cd(3655) ENDL
#endif

	Cd(3673) = 16*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3673)", Cd(3673) ENDL
#endif

	Cd(3677) = MStgl2(2) + 6*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3677)", Cd(3677) ENDL
#endif

	Cd(3678) = MStgl2(2)**2 + Cc(497)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3678)", Cd(3678) ENDL
#endif

	Cd(3680) = 2*MStgl2(2)**2 + Cd(1676)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3680)", Cd(3680) ENDL
#endif

	Cd(3681) = 2*MStgl2(2)**2 + Cd(1674)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3681)", Cd(3681) ENDL
#endif

	Cd(3682) = 5*MStgl2(3) + 6*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3682)", Cd(3682) ENDL
#endif

	Cd(3683) = 3*MStgl2(2)**2 + Cd(3682)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3683)", Cd(3683) ENDL
#endif

	Cd(3686) = MStgl2(2)**2 + 2*Cd(1669)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3686)", Cd(3686) ENDL
#endif

	Cd(3725) = MStgl2(3) - 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3725)", Cd(3725) ENDL
#endif

	Cd(3726) = 8*MStgl2(2)**2 + Cd(3725)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3726)", Cd(3726) ENDL
#endif

	Cd(3730) = 5*MStgl2(2) - 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3730)", Cd(3730) ENDL
#endif

	Cd(3739) = MTgl2 - 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3739)", Cd(3739) ENDL
#endif

	Cd(3743) = 2*MTgl2 - 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3743)", Cd(3743) ENDL
#endif

	Cd(3749) = 4*MStgl2(2)**2 - Cd(1085)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3749)", Cd(3749) ENDL
#endif

	Cd(3753) = 3*MTgl2 - 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3753)", Cd(3753) ENDL
#endif

	Cd(3755) = 7*MTgl2 + 2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3755)", Cd(3755) ENDL
#endif

	Cd(3770) = 24*MGl2 + 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3770)", Cd(3770) ENDL
#endif

	Cd(3775) = 4*MStgl2(2)**2 - Cc(79)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3775)", Cd(3775) ENDL
#endif

	Cd(3785) = MGl2 + 18*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3785)", Cd(3785) ENDL
#endif

	Cd(373) = Cd(338)*UCStgl(3,3) + Cd(339)*UCStgl(3,4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(373)", Cd(373) ENDL
#endif

	Cd(374) = Cd(339)*UCStglC(3,3) + Cd(338)*UCStglC(3,4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(374)", Cd(374) ENDL
#endif

	Cd(375) = Cd(373)*Conjugate(dY33eps(-1)) + Cd(374)*dY33eps(-1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(375)", Cd(375) ENDL
#endif

	Cd(376) = Cd(373)*Conjugate(dY33eps(0)) + Cd(374)*dY33eps(0)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(376)", Cd(376) ENDL
#endif

	Cd(377) = Cd(373)*Conjugate(dY33eps(1)) + Cd(374)*dY33eps(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(377)", Cd(377) ENDL
#endif

	Cd(3837) = Cd(3576)*MStgl2(2) - 2*MStgl2(1)*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3837)", Cd(3837) ENDL
#endif

	Cd(3838) = 24*UUStgl(1,1) + UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3838)", Cd(3838) ENDL
#endif

	Cd(3839) = 72*UUStgl(1,1) + UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3839)", Cd(3839) ENDL
#endif

	Cd(3840) = Cd(3838)*MStgl2(1) - Cd(3839)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3840)", Cd(3840) ENDL
#endif

	Cd(3841) = Cd(3840)*MStgl2(2) - 24*MGl2*Cd(284)*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3841)", Cd(3841) ENDL
#endif

	Cd(3842) = 7*UUStgl(1,1) + UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3842)", Cd(3842) ENDL
#endif

	Cd(378) = -2*Cd(377) + Cd(376)*Cr(14)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(378)", Cd(378) ENDL
#endif

	Cd(3843) = 61*UUStgl(1,1) + 2*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3843)", Cd(3843) ENDL
#endif

	Cd(3845) = 33*UUStgl(1,1) + UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3845)", Cd(3845) ENDL
#endif

	Cd(3846) = 69*UUStgl(1,1) + 2*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3846)", Cd(3846) ENDL
#endif

	Cd(3849) = 45*UUStgl(1,1) - UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3849)", Cd(3849) ENDL
#endif

	Cd(3850) = 48*UUStgl(1,1) - UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3850)", Cd(3850) ENDL
#endif

	Cd(3852) = 31*UUStgl(1,1) - 3*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3852)", Cd(3852) ENDL
#endif

	Cd(379) = A0delStgl(1)*Cd(375) - 2*Cd(378)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(379)", Cd(379) ENDL
#endif

	Cd(3853) = 22*UUStgl(1,1) + 3*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3853)", Cd(3853) ENDL
#endif

	Cd(3855) = 10*UUStgl(1,1) - 3*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3855)", Cd(3855) ENDL
#endif

	Cd(3856) = 37*UUStgl(1,1) + 3*UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3856)", Cd(3856) ENDL
#endif

	Cd(3859) = 5*UUStgl(1,1) - UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3859)", Cd(3859) ENDL
#endif

	Cd(3861) = 7*UUStgl(1,1) - UUStgl(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3861)", Cd(3861) ENDL
#endif

	Cd(380) = -2*Cd(377) + Cd(376)*Cr(35)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(380)", Cd(380) ENDL
#endif

	Cd(3867) = Cc(434)**2 + MGl2*Cd(3026)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3867)", Cd(3867) ENDL
#endif

	Cd(3870) = 5*MTgl2 - MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3870)", Cd(3870) ENDL
#endif

        Cd(3871) = 2*Cd(3870)*MStgl2(3)*UUStgl(1,2) - 
     &    Cc(434)**2*UUStgl(2,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3871)", Cd(3871) ENDL
#endif

	Cd(381) = A0delStgl(2)*Cd(375) - 2*Cd(380)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(381)", Cd(381) ENDL
#endif

	Cd(3876) = MGlpT2 - 4*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3876)", Cd(3876) ENDL
#endif

	Cd(3877) = MGl2 - 4*Cc(1074)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3877)", Cd(3877) ENDL
#endif

	Cd(3891) = 2*MTgl2 + 3*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3891)", Cd(3891) ENDL
#endif

	Cd(3892) = 13*MTgl2 + 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3892)", Cd(3892) ENDL
#endif

	Cd(3896) = -3*MGl2 + 2*Cd(3891)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3896)", Cd(3896) ENDL
#endif

	Cd(3897) = Cc(434)*Cd(2559) - MGl2*Cd(3896)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3897)", Cd(3897) ENDL
#endif

	Cd(3900) = 4*MGl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3900)", Cd(3900) ENDL
#endif

	Cd(3901) = 13*MGl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3901)", Cd(3901) ENDL
#endif

	Cd(3930) = 3*MGl2 + 5*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3930)", Cd(3930) ENDL
#endif

	Cd(3931) = 4*MGl2 + 7*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3931)", Cd(3931) ENDL
#endif

	Cd(3953) = -3*MGl2 + Cc(427)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3953)", Cd(3953) ENDL
#endif

	Cd(3954) = -(MGl2**2*Cd(1790)) + Cc(1152)**2*Cd(3953)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3954)", Cd(3954) ENDL
#endif

	Cd(4) = A0delStgl(2)*dMSfsq1233eps(-1) - Cd(3)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4)", Cd(4) ENDL
#endif

	Cd(3977) = 2*MGl2 + 9*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3977)", Cd(3977) ENDL
#endif

	Cd(394) = Cr(29)*MStgl2(2) + MStgl2(3)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(394)", Cd(394) ENDL
#endif

	Cd(4008) = MTgl2 - 2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4008)", Cd(4008) ENDL
#endif

	Cd(395) = AtglC**2*UCStgl(1,3)**2 + Atgl**2*UCStglC(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(395)", Cd(395) ENDL
#endif

	Cd(396) = AtglC*MUE*UCStgl(1,3)**2 + Atgl*MUEC*UCStglC(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(396)", Cd(396) ENDL
#endif

	Cd(397) = MUE**2*UCStgl(1,3)**2 + MUEC**2*UCStglC(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(397)", Cd(397) ENDL
#endif

	Cd(4040) = -3*MGl2 + Cc(1074)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4040)", Cd(4040) ENDL
#endif

	Cd(4058) = 3*MTgl2 - MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4058)", Cd(4058) ENDL
#endif

	Cd(4072) = 5*MTgl2 + 3*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4072)", Cd(4072) ENDL
#endif

	Cd(402) = 2*Atgl*CA2 + MUEC*S2A

#ifdef DETAILED_DEBUG
	DTLHR "Cd(402)", Cd(402) ENDL
#endif

	Cd(4092) = -MGl2 + Cd(2083)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4092)", Cd(4092) ENDL
#endif

	Cd(4098) = -(MGl2*Cc(427)) + Cd(2197)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4098)", Cd(4098) ENDL
#endif

	Cd(4101) = 12*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4101)", Cd(4101) ENDL
#endif

	Cd(4114) = MTgl2*Cc(134) + 3*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4114)", Cd(4114) ENDL
#endif

	Cd(4115) = 2*MTgl2*MStgl2(1) + Cd(2076)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4115)", Cd(4115) ENDL
#endif

	Cd(4117) = Cc(134)*Cd(2196) + 2*MTgl2*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4117)", Cd(4117) ENDL
#endif

	Cd(4118) = -(MGl2*Cd(4114)) + 3*Cd(4117)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4118)", Cd(4118) ENDL
#endif

	Cd(4121) = 2*Cc(1152)*MStgl2(1) + Cd(2076)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4121)", Cd(4121) ENDL
#endif

	Cd(4124) = MTgl2*Cd(1600) - Cc(427)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4124)", Cd(4124) ENDL
#endif

	Cd(4125) = 2*Cd(4124)*MStgl2(1) + Cc(1152)*Cd(2083)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4125)", Cd(4125) ENDL
#endif

	Cd(4129) = MTgl2**4 + 3*MGl2**2*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4129)", Cd(4129) ENDL
#endif

	Cd(4130) = MGl2*(MGl2**2 - 3*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4130)", Cd(4130) ENDL
#endif

	Cd(4133) = 10*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4133)", Cd(4133) ENDL
#endif

	Cd(4138) = MGl2 + 3*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4138)", Cd(4138) ENDL
#endif

	Cd(4142) = 9*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4142)", Cd(4142) ENDL
#endif

        Cd(4150) = 2*M_3C*MTgl*Cc(295)*UStgl(1,1) + 
     &    Cc(1575)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4150)", Cd(4150) ENDL
#endif

	Cd(4153) = Cd(1600)*MStgl2(1) + Cd(2076)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4153)", Cd(4153) ENDL
#endif

	Cd(4155) = 3*Cc(131)*Cd(2196) + 8*MTgl2*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4155)", Cd(4155) ENDL
#endif

	Cd(4164) = MTgl2*Cc(131) + 4*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4164)", Cd(4164) ENDL
#endif

	Cd(4168) = Cd(4155) - MGl2*Cd(4164)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4168)", Cd(4168) ENDL
#endif

	Cd(4171) = Cc(1575)*UStgl(1,1) - M_3*MTgl*Cd(138)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4171)", Cd(4171) ENDL
#endif

	Cd(4181) = MGl2*MTgl2 - 3*Cd(2196)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4181)", Cd(4181) ENDL
#endif

	Cd(4184) = 6*Cc(1152)*MStgl2(1) + Cd(2076)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4184)", Cd(4184) ENDL
#endif

	Cd(4194) = 11*MTgl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4194)", Cd(4194) ENDL
#endif

        Cd(4200) = MGlpTmSt2(1)*MStgl2(1) + 
     &    MTgl2*Cc(295)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4200)", Cd(4200) ENDL
#endif

	Cd(4211) = -5*MGl2 + 12*Cc(427)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4211)", Cd(4211) ENDL
#endif

	Cd(4215) = Cc(427)*MStgl2(1) + Cd(2076)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4215)", Cd(4215) ENDL
#endif

	Cd(4217) = 4*MTgl2*MStgl2(1)**2 + 3*Cd(2196)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4217)", Cd(4217) ENDL
#endif

	Cd(4221) = 4*Cc(1152)*MStgl2(1) + Cd(2076)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4221)", Cd(4221) ENDL
#endif

	Cd(4229) = 3*MTgl2 - 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4229)", Cd(4229) ENDL
#endif

	Cd(4230) = Cd(4229)*MStgl2(1) - Cd(2076)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4230)", Cd(4230) ENDL
#endif

	Cd(4231) = 3*Cc(261)*Cd(2196) + 4*MTgl2*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4231)", Cd(4231) ENDL
#endif

	Cd(4243) = MTgl2*Cd(1979) + Cd(2863)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4243)", Cd(4243) ENDL
#endif

	Cd(4245) = 12*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4245)", Cd(4245) ENDL
#endif

	Cd(4259) = -(MTgl2*Cd(2817)) + Cd(1382)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4259)", Cd(4259) ENDL
#endif

	Cd(4260) = 12*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4260)", Cd(4260) ENDL
#endif

	Cd(40) = 2*M_3*MTgl*MGlpTmSt2(2) + MGlpTmSt4(2)*UCStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(40)", Cd(40) ENDL
#endif

	Cd(4282) = Cd(1144)*MStgl2(1) + 3*MGl2*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4282)", Cd(4282) ENDL
#endif

	Cd(4284) = MGl2*Cc(1126) + Cd(1122)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4284)", Cd(4284) ENDL
#endif

	Cd(4285) = -(Cd(4284)*MStgl2(1)) + MGl2**2*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4285)", Cd(4285) ENDL
#endif

	Cd(4289) = Cc(1513)*MStgl2(1) + MStgl2(2)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4289)", Cd(4289) ENDL
#endif

	Cd(4291) = Cc(1515)*MStgl2(1) + Cr(57)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4291)", Cd(4291) ENDL
#endif

	Cd(4293) = Cd(2313)*MStgl2(1) + 3*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4293)", Cd(4293) ENDL
#endif

	Cd(4294) = MTgl2*Cd(4289) + Cd(4293)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4294)", Cd(4294) ENDL
#endif

	Cd(4295) = 1 + 6*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4295)", Cd(4295) ENDL
#endif

	Cd(4296) = 7*MStgl2(1) - Cd(4295)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4296)", Cd(4296) ENDL
#endif

	Cd(4303) = 2*Cc(1152)*MStgl2(1) - Cd(2076)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4303)", Cd(4303) ENDL
#endif

	Cd(4304) = 2*Cd(2137)*MStgl2(1) - 3*Cc(427)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4304)", Cd(4304) ENDL
#endif

	Cd(4305) = Cd(4304) - MGl2*Cr(91)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4305)", Cd(4305) ENDL
#endif

	Cd(4310) = 13*MTgl2 + 2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4310)", Cd(4310) ENDL
#endif

	Cd(4328) = MGl2 + 4*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4328)", Cd(4328) ENDL
#endif

	Cd(4332) = 9*MStgl2(2) - 11*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4332)", Cd(4332) ENDL
#endif

	Cd(4348) = 3*Cc(427) - 2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4348)", Cd(4348) ENDL
#endif

	Cd(4349) = -MGl2 + Cd(4348)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4349)", Cd(4349) ENDL
#endif

	Cd(4355) = 48*MStgl2(2) - 43*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4355)", Cd(4355) ENDL
#endif

	Cd(4356) = 24*MStgl2(2) - 37*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4356)", Cd(4356) ENDL
#endif

	Cd(4358) = 32*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4358)", Cd(4358) ENDL
#endif

	Cd(4359) = 6*MGl2*Cc(131) + Cd(4358)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4359)", Cd(4359) ENDL
#endif

	Cd(4360) = 72*MStgl2(2) - 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4360)", Cd(4360) ENDL
#endif

	Cd(4361) = 36*MStgl2(2) - 11*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4361)", Cd(4361) ENDL
#endif

	Cd(4363) = 48*MStgl2(2) - 83*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4363)", Cd(4363) ENDL
#endif

	Cd(4364) = 72*MStgl2(2) - 89*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4364)", Cd(4364) ENDL
#endif

	Cd(4365) = 16*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4365)", Cd(4365) ENDL
#endif

	Cd(4366) = MGl2**3*Cc(131) + Cd(4365)*MStgl2(1)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4366)", Cd(4366) ENDL
#endif

	Cd(4369) = 12*MStgl2(2) - 25*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4369)", Cd(4369) ENDL
#endif

	Cd(4370) = 8*MStgl2(2) - 33*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4370)", Cd(4370) ENDL
#endif

	Cd(4372) = 11*MGl2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4372)", Cd(4372) ENDL
#endif

	Cd(4373) = 12*MStgl2(2) - 19*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4373)", Cd(4373) ENDL
#endif

	Cd(4374) = (12*MGl2 + Cd(4373))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4374)", Cd(4374) ENDL
#endif

	Cd(4376) = 2*MStgl2(2) + 9*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4376)", Cd(4376) ENDL
#endif

	Cd(4377) = 4*MStgl2(2) + 25*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4377)", Cd(4377) ENDL
#endif

	Cd(432) = -7*MTgl2 + 6*Cr(69)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(432)", Cd(432) ENDL
#endif

	Cd(4382) = 9*MTgl2 - 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4382)", Cd(4382) ENDL
#endif

	Cd(4390) = 9*MTgl2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4390)", Cd(4390) ENDL
#endif

	Cd(4392) = 7*MTgl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4392)", Cd(4392) ENDL
#endif

	Cd(4393) = 5*MTgl2 + 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4393)", Cd(4393) ENDL
#endif

	Cd(4394) = 13*MTgl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4394)", Cd(4394) ENDL
#endif

	Cd(4395) = Cd(4392)*Cd(4393) - MGl2*Cd(4394)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4395)", Cd(4395) ENDL
#endif

	Cd(4424) = -MGl2 + Cd(2137)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4424)", Cd(4424) ENDL
#endif

	Cd(437) = MStgl2(3)**2 + 4*MTgl2*MStgl2(2)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(437)", Cd(437) ENDL
#endif

	Cd(4431) = -(MGl2*Cc(1074)) + Cd(3006)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4431)", Cd(4431) ENDL
#endif

	Cd(4433) = -2*MTgl2*Cd(2651) + Cc(497)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4433)", Cd(4433) ENDL
#endif

	Cd(438) = Cd(437) - 4*MTgl2*MStgl2(2)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(438)", Cd(438) ENDL
#endif

	Cd(439) = Cd(438)*UStgl2(1,1) + MStgl2(3)**2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(439)", Cd(439) ENDL
#endif

	Cd(4450) = 2*MStgl2(2)**2 + MTgl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4450)", Cd(4450) ENDL
#endif

	Cd(4452) = 4*MTgl2*MStgl2(2)**2 + 3*Cd(3005)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4452)", Cd(4452) ENDL
#endif

	Cd(4453) = -(MGl2*Cd(4450)) + Cd(4452)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4453)", Cd(4453) ENDL
#endif

	Cd(4458) = 2*Cc(434)*MStgl2(2) - Cd(2559)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4458)", Cd(4458) ENDL
#endif

	Cd(440) = Cd(395) - Atgl*AtglC*Cr(29)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(440)", Cd(440) ENDL
#endif

	Cd(4459) = 2*Cd(4124)*MStgl2(2) - Cc(434)*Cd(2137)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4459)", Cd(4459) ENDL
#endif

	Cd(4464) = 3*MGl2*Cc(543) + 2*Cd(1067)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4464)", Cd(4464) ENDL
#endif

	Cd(4465) = MTgl2**4 + 3*MGl2**2*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4465)", Cd(4465) ENDL
#endif

	Cd(4466) = MGl2**2 - 3*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4466)", Cd(4466) ENDL
#endif

	Cd(42) = 3*MGlpT2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(42)", Cd(42) ENDL
#endif

	Cd(441) = Cd(439) + Cd(440)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(441)", Cd(441) ENDL
#endif

	Cd(4475) = 9*MStgl2(2) - 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4475)", Cd(4475) ENDL
#endif

	Cd(442) = -2*Cd(396) + Cc(1312)*Cr(29)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(442)", Cd(442) ENDL
#endif

        Cd(4484) = 2*M_3C*MTgl*Cc(336)*UStgl(1,1) - 
     &    Cc(1399)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4484)", Cd(4484) ENDL
#endif

	Cd(4487) = -(MGl2*MTgl2) + 3*Cd(3005)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4487)", Cd(4487) ENDL
#endif

	Cd(443) = Cd(397) - MUE2*Cr(29)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(443)", Cd(443) ENDL
#endif

	Cd(4494) = Cc(1399)*UStgl(1,1) - M_3*MTgl*Cc(435)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4494)", Cd(4494) ENDL
#endif

	Cd(444) = S2A*Cd(442) - 2*SA2*Cd(443)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(444)", Cd(444) ENDL
#endif

	Cd(4508) = 6*Cc(434)*MStgl2(2) - Cd(2559)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4508)", Cd(4508) ENDL
#endif

	Cd(445) = 2*CA2*Cd(441) - Cd(444)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(445)", Cd(445) ENDL
#endif

	Cd(4517) = 24*MTgl2 - 11*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4517)", Cd(4517) ENDL
#endif

        Cd(446) = Cr(120)*MStgl2(1) - 
     &    MStgl2(2)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(446)", Cd(446) ENDL
#endif

	Cd(4519) = 12*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4519)", Cd(4519) ENDL
#endif

        Cd(4523) = MGlpTmSt2(2)*MStgl2(2) + 
     &    MTgl2*Cc(336)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4523)", Cd(4523) ENDL
#endif

	Cd(447) = MStgl2(1) + 2*MTgl2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(447)", Cd(447) ENDL
#endif

	Cd(448) = 4*MTgl2*Cd(159) + MStgl2(1)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(448)", Cd(448) ENDL
#endif

	Cd(4544) = Cd(4452) - 2*MGl2*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4544)", Cd(4544) ENDL
#endif

	Cd(449) = Cd(448) - 2*MTgl2*MStgl2(4)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(449)", Cd(449) ENDL
#endif

	Cd(4548) = 4*Cc(434)*MStgl2(2) - Cd(2559)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4548)", Cd(4548) ENDL
#endif

	Cd(4557) = 3*Cd(284)*Cd(3005) + 4*MTgl2*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4557)", Cd(4557) ENDL
#endif

	Cd(450) = 2*AtglC*MTgl*UCStgl(1,3) + Cd(447)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(450)", Cd(450) ENDL
#endif

	Cd(451) = Cd(450)*MStgl2(3) + Cd(449)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(451)", Cd(451) ENDL
#endif

	Cd(4571) = 12*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4571)", Cd(4571) ENDL
#endif

	Cd(4585) = 17*MTgl2 - 2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4585)", Cd(4585) ENDL
#endif

	Cd(4587) = 7*Cc(1401) - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4587)", Cd(4587) ENDL
#endif

	Cd(454) = Cc(115)*Cc(1312) - Cd(396)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(454)", Cd(454) ENDL
#endif

	Cd(4601) = 9*MTgl2 - 2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4601)", Cd(4601) ENDL
#endif

	Cd(455) = -((Cd(454) - 2*MTgl*Cc(1645)*MStgl2(3))/MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(455)", Cd(455) ENDL
#endif

	Cd(4611) = Cd(1144)*MStgl2(2) + 3*MGl2*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4611)", Cd(4611) ENDL
#endif

	Cd(4613) = MGl2*Cc(1126) + Cd(1122)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4613)", Cd(4613) ENDL
#endif

	Cd(4614) = -(Cd(4613)*MStgl2(2)) + MGl2**2*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4614)", Cd(4614) ENDL
#endif

	Cd(4617) = Cc(1513)*MStgl2(2) + MStgl2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4617)", Cd(4617) ENDL
#endif

	Cd(456) = 2*MUE2*Cd(446) - Cd(397)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(456)", Cd(456) ENDL
#endif

	Cd(4620) = 2*MStgl2(1) + Cc(1519)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4620)", Cd(4620) ENDL
#endif

	Cd(4621) = Cr(57)*MStgl2(1) + Cc(1515)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4621)", Cd(4621) ENDL
#endif

	Cd(4623) = 3*MStgl2(1) + Cd(2313)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4623)", Cd(4623) ENDL
#endif

	Cd(4624) = MTgl2*Cd(4617) + Cd(4623)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4624)", Cd(4624) ENDL
#endif

	Cd(4625) = Cd(4295)*MStgl2(1) - 7*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4625)", Cd(4625) ENDL
#endif

	Cd(4629) = 2*Cc(434)*MStgl2(2) + Cd(2559)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4629)", Cd(4629) ENDL
#endif

	Cd(4630) = 2*Cd(2083)*MStgl2(2) + 3*Cc(1074)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4630)", Cd(4630) ENDL
#endif

	Cd(4632) = -(MGl2*Cd(284)) + Cd(4630)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4632)", Cd(4632) ENDL
#endif

	Cd(459) = Cc(562)*UStgl2(1,1) - UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(459)", Cd(459) ENDL
#endif

	Cd(4651) = MGl2 + 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4651)", Cd(4651) ENDL
#endif

	Cd(4655) = 31*MTgl2**2 - 3*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4655)", Cd(4655) ENDL
#endif

	Cd(4657) = 4*MTgl2 - MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4657)", Cd(4657) ENDL
#endif

	Cd(460) = MTgl2*Cd(459) - AtglC*MTgl*UCStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(460)", Cd(460) ENDL
#endif

	Cd(44) = 4*MTgl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(44)", Cd(44) ENDL
#endif

	Cd(4672) = 3*Cc(1074) - 2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4672)", Cd(4672) ENDL
#endif

	Cd(4674) = -MGl2 + Cd(4672)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4674)", Cd(4674) ENDL
#endif

	Cd(4681) = 16*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4681)", Cd(4681) ENDL
#endif

	Cd(4682) = Cd(4681)*MStgl2(2) + 6*MGl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4682)", Cd(4682) ENDL
#endif

	Cd(4683) = 36*MStgl2(2) - 67*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4683)", Cd(4683) ENDL
#endif

	Cd(4684) = 18*MStgl2(2) - 25*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4684)", Cd(4684) ENDL
#endif

	Cd(4686) = 36*MStgl2(2) + 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4686)", Cd(4686) ENDL
#endif

	Cd(4687) = 24*MStgl2(2) + 35*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4687)", Cd(4687) ENDL
#endif

	Cd(463) = Cd(397) + 2*MUE2*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(463)", Cd(463) ENDL
#endif

	Cd(4688) = Cd(1297)*MStgl2(2)**3 + MGl2**3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4688)", Cd(4688) ENDL
#endif

	Cd(4691) = 12*MStgl2(2) + 13*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4691)", Cd(4691) ENDL
#endif

	Cd(4692) = 24*MStgl2(2) - 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4692)", Cd(4692) ENDL
#endif

	Cd(4696) = 12*MStgl2(2) + 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4696)", Cd(4696) ENDL
#endif

	Cd(4697) = (12*MGl2 + Cd(4696))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4697)", Cd(4697) ENDL
#endif

	Cd(4698) = 8*MStgl2(2) + 25*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4698)", Cd(4698) ENDL
#endif

	Cd(4701) = 2*MStgl2(2) - 11*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4701)", Cd(4701) ENDL
#endif

	Cd(4702) = 4*MStgl2(2) - 29*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4702)", Cd(4702) ENDL
#endif

	Cd(4707) = MTgl2 - 9*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4707)", Cd(4707) ENDL
#endif

	Cd(465) = 2*MTgl + AtglC*UCStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(465)", Cd(465) ENDL
#endif

	Cd(4717) = MTgl2 - 4*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4717)", Cd(4717) ENDL
#endif

	Cd(4718) = 4*MTgl2 + 5*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4718)", Cd(4718) ENDL
#endif

	Cd(4722) = 9*MTgl2 - MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4722)", Cd(4722) ENDL
#endif

	Cd(4723) = 7*MTgl2 + MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4723)", Cd(4723) ENDL
#endif

	Cd(4725) = 13*MTgl2 + MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4725)", Cd(4725) ENDL
#endif

	Cd(4726) = Cd(4072)*Cd(4723) - MGl2*Cd(4725)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4726)", Cd(4726) ENDL
#endif

	Cd(467) = MTgl2*UStgl(1,2) + AtglC*MTgl*UStgl(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(467)", Cd(467) ENDL
#endif

	Cd(4757) = 5*MGl2 - 11*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4757)", Cd(4757) ENDL
#endif

	Cd(4758) = 6*MTgl2*Cd(2204) - Cd(4757)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4758)", Cd(4758) ENDL
#endif

	Cd(45) = 3*MGlpT2 - MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(45)", Cd(45) ENDL
#endif

	Cd(4770) = 20*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4770)", Cd(4770) ENDL
#endif

	Cd(4771) = 20*MStgl2(2)**2 - Cd(4770)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4771)", Cd(4771) ENDL
#endif

	Cd(4772) = 2*Cd(1502)*MStgl2(2) - 7*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4772)", Cd(4772) ENDL
#endif

	Cd(472) = Cr(90) - UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(472)", Cd(472) ENDL
#endif

	Cd(4779) = 9*MTgl2 + 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4779)", Cd(4779) ENDL
#endif

        Cd(473) = Cd(472)*UStgl2(1,1)**3 + 
     &    2*UStgl2(1,1)*UStgl2(1,2)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(473)", Cd(473) ENDL
#endif

	Cd(4787) = 60*MStgl2(2) - 11*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4787)", Cd(4787) ENDL
#endif

	Cd(4795) = 26*MTgl2**2 + 9*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4795)", Cd(4795) ENDL
#endif

        Cd(474) = Cd(473)*MStgl2(1) - 
     &    2*MStgl2(3)*UStgl2(1,1)**2*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(474)", Cd(474) ENDL
#endif

	Cd(4799) = 3*MGl2 + 14*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4799)", Cd(4799) ENDL
#endif

	Cd(4801) = MGl2 - 2*Cd(2083)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4801)", Cd(4801) ENDL
#endif

	Cd(4806) = 7*MTgl2 + 11*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4806)", Cd(4806) ENDL
#endif

	Cd(475) = -1 + 3*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(475)", Cd(475) ENDL
#endif

	Cd(4809) = 26*MTgl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4809)", Cd(4809) ENDL
#endif

	Cd(476) = Cd(475)*MStgl2(1) - 2*MStgl2(2)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(476)", Cd(476) ENDL
#endif

	Cd(4825) = 15*MGl2 + 22*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4825)", Cd(4825) ENDL
#endif

	Cd(477) = Cd(476) + MStgl2(1)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(477)", Cd(477) ENDL
#endif

	Cd(4831) = 17*MStgl2(3) + 30*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4831)", Cd(4831) ENDL
#endif

	Cd(4833) = 18*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4833)", Cd(4833) ENDL
#endif

	Cd(4834) = 2*Cd(4833)*MStgl2(2) - 19*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4834)", Cd(4834) ENDL
#endif

	Cd(4836) = 4*MStgl2(3) - 23*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4836)", Cd(4836) ENDL
#endif

	Cd(478) = Cd(477)*UStgl2(1,1) - 2*MStgl2(3)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(478)", Cd(478) ENDL
#endif

        Cd(4837) = 17*Cc(40)*Cd(1221) - 
     &    53*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4837)", Cd(4837) ENDL
#endif

	Cd(4839) = 55*MStgl2(3) + 18*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4839)", Cd(4839) ENDL
#endif

	Cd(4840) = 36*MStgl2(2)**2 - Cd(4839)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4840)", Cd(4840) ENDL
#endif

	Cd(4842) = 24*MStgl2(2)**2 - Cd(4692)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4842)", Cd(4842) ENDL
#endif

	Cd(4843) = 10*MStgl2(3) - 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4843)", Cd(4843) ENDL
#endif

	Cd(479) = Cr(1) - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(479)", Cd(479) ENDL
#endif

	Cd(4849) = MStgl2(3) - 18*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4849)", Cd(4849) ENDL
#endif

	Cd(4850) = 36*MStgl2(2)**2 + Cd(4849)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4850)", Cd(4850) ENDL
#endif

	Cd(4851) = 26*MStgl2(3)**3 - 7*Cd(3411)**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4851)", Cd(4851) ENDL
#endif

	Cd(4853) = 35*MStgl2(3) + 18*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4853)", Cd(4853) ENDL
#endif

	Cd(4854) = 36*MStgl2(2)**2 - Cd(4853)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4854)", Cd(4854) ENDL
#endif

	Cd(480) = MStgl2(1) - MStgl2(2)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(480)", Cd(480) ENDL
#endif

	Cd(4858) = -MGl2 + 3*Cd(170)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4858)", Cd(4858) ENDL
#endif

	Cd(4866) = 5*MGlpT2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4866)", Cd(4866) ENDL
#endif

	Cd(481) = Cd(480)*MStgl2(1) - MStgl2(2)**2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(481)", Cd(481) ENDL
#endif

	Cd(4868) = 7*MTgl2 - 10*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4868)", Cd(4868) ENDL
#endif

	Cd(4869) = 2*MTgl2 - 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4869)", Cd(4869) ENDL
#endif

	Cd(4872) = 12*MTgl2 + 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4872)", Cd(4872) ENDL
#endif

	Cd(4873) = 7*MStgl2(1)**2 + Cc(131)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4873)", Cd(4873) ENDL
#endif

	Cd(4875) = 7*MGlmT2 - 17*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4875)", Cd(4875) ENDL
#endif

	Cd(482) = Cd(481) + MStgl2(1)*MStgl2(3)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(482)", Cd(482) ENDL
#endif

	Cd(4881) = 11*MTgl2 + 24*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4881)", Cd(4881) ENDL
#endif

	Cd(4886) = 3*MTgl2 + 11*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4886)", Cd(4886) ENDL
#endif

        Cd(483) = AtglC*MUE*MStgl2(4)*UCStgl(1,3)**2 + 
     &    MTgl*MUEC*Cd(479)*UCStglC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(483)", Cd(483) ENDL
#endif

	Cd(484) = MTgl*MUE*Cd(478)*UCStgl(1,3) - Cd(483)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(484)", Cd(484) ENDL
#endif

	Cd(4905) = 24*MStgl2(2) - 13*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4905)", Cd(4905) ENDL
#endif

	Cd(485) = Cc(1312)*Cd(474) + 2*Cd(484)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(485)", Cd(485) ENDL
#endif

	Cd(4907) = MStgl2(2) - 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4907)", Cd(4907) ENDL
#endif

	Cd(4908) = MStgl2(2)**2 - 2*MTgl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4908)", Cd(4908) ENDL
#endif

	Cd(4911) = 12*MTgl2 + 17*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4911)", Cd(4911) ENDL
#endif

	Cd(4915) = 2*MStgl2(1)**2 + MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4915)", Cd(4915) ENDL
#endif

        Cd(486) = Cd(485)*MStgl2(3) + 
     &    2*Atgl*MUEC*Cd(482)*UCStglC(1,3)**2*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(486)", Cd(486) ENDL
#endif

	Cd(487) = 2*MUE2*Cc(115) - Cd(397)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(487)", Cd(487) ENDL
#endif

	Cd(4931) = 5*MTgl2 + 18*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4931)", Cd(4931) ENDL
#endif

	Cd(4932) = 9*MStgl2(1)**2 + MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4932)", Cd(4932) ENDL
#endif

	Cd(488) = Cc(563) - UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(488)", Cd(488) ENDL
#endif

	Cd(4938) = 7*MTgl2 - 27*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4938)", Cd(4938) ENDL
#endif

	Cd(489) = Cr(90)*MStgl2(1) - Cr(1)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(489)", Cd(489) ENDL
#endif

	Cd(4947) = 20*MTgl2 + 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4947)", Cd(4947) ENDL
#endif

	Cd(4955) = 8*MStgl2(3) + 15*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4955)", Cd(4955) ENDL
#endif

        Cd(490) = Cd(488)*MStgl2(1)*UStgl2(1,1)**2 + 
     &    2*Cd(489)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(490)", Cd(490) ENDL
#endif

	Cd(4958) = 8*MStgl2(3) + 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4958)", Cd(4958) ENDL
#endif

	Cd(4959) = 6*MStgl2(2)**2 - Cd(4958)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4959)", Cd(4959) ENDL
#endif

	Cd(4966) = MTgl2**2 + Cc(226)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4966)", Cd(4966) ENDL
#endif

	Cd(5) = AtglC*CA + MUE*SA

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5)", Cd(5) ENDL
#endif

	Cd(491) = 2*Cd(480)*MStgl2(1) - Cc(226)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(491)", Cd(491) ENDL
#endif

	Cd(492) = Cd(491) + 2*MStgl2(1)*MStgl2(3)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(492)", Cd(492) ENDL
#endif

	Cd(4986) = 7*MStgl2(2)**2 - Cc(543)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4986)", Cd(4986) ENDL
#endif

	Cd(493) = MStgl2(1) + Cr(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(493)", Cd(493) ENDL
#endif

	Cd(4992) = MTgl2 + Cr(89)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4992)", Cd(4992) ENDL
#endif

	Cd(4994) = 5*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4994)", Cd(4994) ENDL
#endif

	Cd(4996) = 5*MStgl2(3) + 4*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4996)", Cd(4996) ENDL
#endif

	Cd(494) = UStgl2(1,1)**2 + 4*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(494)", Cd(494) ENDL
#endif

	Cd(4997) = 7*MStgl2(2)**2 - 2*Cd(4996)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4997)", Cd(4997) ENDL
#endif

	Cd(5000) = 5*MStgl2(2)**2 - 6*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5000)", Cd(5000) ENDL
#endif

	Cd(5002) = 5*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5002)", Cd(5002) ENDL
#endif

	Cd(5004) = 8*MTgl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5004)", Cd(5004) ENDL
#endif

	Cd(5008) = Cr(2)*MStgl2(2)**2 - Cc(79)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5008)", Cd(5008) ENDL
#endif

	Cd(5009) = MStgl2(1)**2 - 2*MTgl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5009)", Cd(5009) ENDL
#endif

	Cd(496) = 2*MTgl2 + MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(496)", Cd(496) ENDL
#endif

	Cd(5020) = 7*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5020)", Cd(5020) ENDL
#endif

	Cd(5022) = 35*MStgl2(2) - 66*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5022)", Cd(5022) ENDL
#endif

	Cd(5023) = Cd(5022)*MStgl2(2)**2 + 3*Cd(1674)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5023)", Cd(5023) ENDL
#endif

	Cd(5025) = 7*MStgl2(3) + 15*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5025)", Cd(5025) ENDL
#endif

	Cd(5026) = 49*MStgl2(2)**2 - 2*Cd(5025)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5026)", Cd(5026) ENDL
#endif

	Cd(5028) = 49*MStgl2(2) - 30*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5028)", Cd(5028) ENDL
#endif

	Cd(5029) = 41*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5029)", Cd(5029) ENDL
#endif

	Cd(5030) = 49*MStgl2(2)**2 - Cd(5029)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5030)", Cd(5030) ENDL
#endif

	Cd(5033) = 5*MStgl2(3) - 6*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5033)", Cd(5033) ENDL
#endif

	Cd(5036) = 2*MStgl2(3) - 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5036)", Cd(5036) ENDL
#endif

        Cd(498) = AtglC*Cd(490) - 
     &    2*Atgl*MStgl2(4)*UCStglC(1,3)**2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(498)", Cd(498) ENDL
#endif

	Cd(5039) = 63*MStgl2(2) - 34*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5039)", Cd(5039) ENDL
#endif

	Cd(5040) = 19*MStgl2(2) - 14*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5040)", Cd(5040) ENDL
#endif

	Cd(5041) = 49*MStgl2(1)**2 + 3*Cd(5040)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5041)", Cd(5041) ENDL
#endif

	Cd(5042) = 7*MStgl2(3) + 31*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5042)", Cd(5042) ENDL
#endif

	Cd(5043) = 105*MStgl2(2)**2 - 2*Cd(5042)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5043)", Cd(5043) ENDL
#endif

	Cd(5045) = 63*MStgl2(2) - 118*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5045)", Cd(5045) ENDL
#endif

	Cd(5046) = 55*MStgl2(3) + 24*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5046)", Cd(5046) ENDL
#endif

	Cd(5047) = Cd(5045)*MStgl2(2)**2 + Cd(5046)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5047)", Cd(5047) ENDL
#endif

	Cd(5049) = 61*MStgl2(3) + 34*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5049)", Cd(5049) ENDL
#endif

	Cd(5052) = 63*MStgl2(2) - 38*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5052)", Cd(5052) ENDL
#endif

	Cd(5055) = 3*MStgl2(3) + MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5055)", Cd(5055) ENDL
#endif

	Cd(5056) = 244*MStgl2(2)**2 - 3*Cd(5055)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5056)", Cd(5056) ENDL
#endif

	Cd(5060) = 7*MStgl2(2) - 16*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5060)", Cd(5060) ENDL
#endif

	Cd(5061) = Cd(5060)*MStgl2(2)**2 + Cd(1503)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5061)", Cd(5061) ENDL
#endif

	Cd(5064) = MGl2**5 + MTgl2**5

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5064)", Cd(5064) ENDL
#endif

	Cd(5066) = 3*MGl2 - 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5066)", Cd(5066) ENDL
#endif

	Cd(5067) = 3*MStgl2(2) + 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5067)", Cd(5067) ENDL
#endif

	Cd(5071) = MStgl2(2)**2 - 2*MGl2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5071)", Cd(5071) ENDL
#endif

	Cd(5072) = MStgl2(2)**2 + 2*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5072)", Cd(5072) ENDL
#endif

	Cd(5082) = 2*MTgl2 + 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5082)", Cd(5082) ENDL
#endif

	Cd(5084) = -2*MGl2 + Cd(5082)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5084)", Cd(5084) ENDL
#endif

	Cd(503) = MStgl2(2) + MStgl2(4)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(503)", Cd(503) ENDL
#endif

	Cd(5087) = 13*MTgl2 + 12*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5087)", Cd(5087) ENDL
#endif

	Cd(5090) = 14*MTgl2 + 27*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5090)", Cd(5090) ENDL
#endif

	Cd(5091) = 20*MStgl2(2) + 9*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5091)", Cd(5091) ENDL
#endif

	Cd(504) = 2*UStgl2(1,1)**2 + UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(504)", Cd(504) ENDL
#endif

	Cd(5100) = 24*MTgl2 + 19*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5100)", Cd(5100) ENDL
#endif

	Cd(505) = UStgl2(1,1)*(UStgl2(1,1)**3 - 2*UStgl2(1,2)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(505)", Cd(505) ENDL
#endif

        Cd(5123) = 3*Cc(40)*Cd(1221) + 
     &    17*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5123)", Cd(5123) ENDL
#endif

        Cd(507) = MStgl2(1)*
     &    (Cr(29)*MStgl2(1) - 2*Cc(79)*UStgl2(1,1)*UStgl2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(507)", Cd(507) ENDL
#endif

	Cd(5128) = 17*MTgl2 + 23*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5128)", Cd(5128) ENDL
#endif

	Cd(5130) = 7*MStgl2(3) + 12*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5130)", Cd(5130) ENDL
#endif

	Cd(5131) = 24*MStgl2(2)**2 - Cd(5130)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5131)", Cd(5131) ENDL
#endif

	Cd(5133) = 4*MStgl2(3) + 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5133)", Cd(5133) ENDL
#endif

	Cd(5136) = 3*MStgl2(3) - 2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5136)", Cd(5136) ENDL
#endif

	Cd(5141) = 60*MStgl2(2) - 13*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5141)", Cd(5141) ENDL
#endif

	Cd(5151) = 26*MStgl2(3) + 45*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5151)", Cd(5151) ENDL
#endif

	Cd(5153) = 14*MStgl2(3) + 9*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5153)", Cd(5153) ENDL
#endif

	Cd(5154) = 18*MStgl2(2)**2 - Cd(5153)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5154)", Cd(5154) ENDL
#endif

	Cd(5156) = MStgl2(3) - 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5156)", Cd(5156) ENDL
#endif

	Cd(5157) = 7*MStgl2(2) + 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5157)", Cd(5157) ENDL
#endif

	Cd(5160) = 46*MStgl2(3) + 15*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5160)", Cd(5160) ENDL
#endif

	Cd(5161) = 30*MStgl2(2)**2 - Cd(5160)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5161)", Cd(5161) ENDL
#endif

	Cd(511) = Cr(29)*MStgl2(1) - 2*Cc(79)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(511)", Cd(511) ENDL
#endif

	Cd(5171) = 90*MStgl2(2) - 19*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5171)", Cd(5171) ENDL
#endif

	Cd(512) = Cd(397)*Cd(507) - MUE2*Cd(511)*Cr(29)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(512)", Cd(512) ENDL
#endif

	Cd(5180) = 26*MStgl2(3)**3 + 7*Cc(215)**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5180)", Cd(5180) ENDL
#endif

	Cd(5182) = -MGl2 + Cd(5082)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5182)", Cd(5182) ENDL
#endif

	Cd(513) = Cc(563)*MStgl2(2) + 2*MStgl2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(513)", Cd(513) ENDL
#endif

	Cd(5194) = 11*MTgl2**2 + MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5194)", Cd(5194) ENDL
#endif

	Cd(5195) = 2*MStgl2(3) + 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5195)", Cd(5195) ENDL
#endif

	Cd(5196) = 14*MStgl2(2)**2 - Cd(5195)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5196)", Cd(5196) ENDL
#endif

	Cd(514) = 2*Cr(90)*MStgl2(2) + 3*MStgl2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(514)", Cd(514) ENDL
#endif

        Cd(5200) = 11*Cc(40)*Cd(1221) + 
     &    34*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5200)", Cd(5200) ENDL
#endif

	Cd(5201) = 20*MStgl2(3) + 51*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5201)", Cd(5201) ENDL
#endif

	Cd(5202) = 102*MStgl2(2)**2 - Cd(5201)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5202)", Cd(5202) ENDL
#endif

	Cd(5204) = 29*MTgl2 + 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5204)", Cd(5204) ENDL
#endif

	Cd(5205) = 52*MTgl2 + 29*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5205)", Cd(5205) ENDL
#endif

	Cd(515) = Cd(514) - 2*MStgl2(4)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(515)", Cd(515) ENDL
#endif

	Cd(5207) = 7*MStgl2(1)**2 + Cd(5020)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5207)", Cd(5207) ENDL
#endif

	Cd(5219) = 9*MGl2 + 65*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5219)", Cd(5219) ENDL
#endif

	Cd(5222) = MGl2 + 5*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5222)", Cd(5222) ENDL
#endif

	Cd(517) = 5*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(517)", Cd(517) ENDL
#endif

	Cd(5228) = 10*MTgl2 + 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5228)", Cd(5228) ENDL
#endif

	Cd(5234) = 8*MStgl2(3) + 11*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5234)", Cd(5234) ENDL
#endif

	Cd(5235) = 22*MStgl2(2)**2 - Cd(5234)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5235)", Cd(5235) ENDL
#endif

	Cd(5236) = 5*Cc(40)*Cd(1221) - 4*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5236)", Cd(5236) ENDL
#endif

	Cd(518) = 2*MStgl2(2) + MStgl2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(518)", Cd(518) ENDL
#endif

	Cd(5238) = 31*MTgl2 - 14*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5238)", Cd(5238) ENDL
#endif

	Cd(5239) = Cd(5235) - MTgl2*Cd(5238)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5239)", Cd(5239) ENDL
#endif

	Cd(5241) = 5*MStgl2(2) + 8*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5241)", Cd(5241) ENDL
#endif

	Cd(5242) = 2*Cd(5241)*MStgl2(2) - 13*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5242)", Cd(5242) ENDL
#endif

	Cd(5249) = 3*Cc(226) + 2*MTgl2*Cd(2675)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5249)", Cd(5249) ENDL
#endif

	Cd(520) = 7*MStgl2(2) - 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(520)", Cd(520) ENDL
#endif

	Cd(5258) = Cd(5082) + Cd(5228)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5258)", Cd(5258) ENDL
#endif

	Cd(5260) = 3*MStgl2(2) + 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5260)", Cd(5260) ENDL
#endif

	Cd(5261) = 3*MStgl2(1)**2 + Cd(5260)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5261)", Cd(5261) ENDL
#endif

	Cd(5262) = 6*MStgl2(2)**2 - Cd(1502)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5262)", Cd(5262) ENDL
#endif

	Cd(5263) = 78*MStgl2(2) - 19*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5263)", Cd(5263) ENDL
#endif

	Cd(5264) = 78*MStgl2(2)**2 - Cd(5263)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5264)", Cd(5264) ENDL
#endif

	Cd(5265) = 28*MStgl2(2) - 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5265)", Cd(5265) ENDL
#endif

        Cd(521) = -(Cr(120)*MStgl2(1)) + 
     &    Cd(520)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(521)", Cd(521) ENDL
#endif

	Cd(5269) = 42*MGl2 + 19*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5269)", Cd(5269) ENDL
#endif

	Cd(5270) = 28*MStgl2(3) + 51*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5270)", Cd(5270) ENDL
#endif

        Cd(5273) = 7*Cc(40)*Cd(1221) - 
     &    10*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5273)", Cd(5273) ENDL
#endif

	Cd(5274) = 36*MStgl2(3) + MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5274)", Cd(5274) ENDL
#endif

	Cd(5275) = 2*MStgl2(2)**2 - Cd(5274)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5275)", Cd(5275) ENDL
#endif

	Cd(522) = MStgl2(2) + MStgl2(3)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(522)", Cd(522) ENDL
#endif

	Cd(5277) = 33*MStgl2(2) - 26*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5277)", Cd(5277) ENDL
#endif

	Cd(5278) = 33*MStgl2(1)**2 + Cd(5277)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5278)", Cd(5278) ENDL
#endif

	Cd(5279) = 13*MStgl2(2) - 10*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5279)", Cd(5279) ENDL
#endif

	Cd(5280) = 13*MStgl2(1)**2 + Cd(5279)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5280)", Cd(5280) ENDL
#endif

	Cd(5281) = 12*MStgl2(3) - 19*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5281)", Cd(5281) ENDL
#endif

	Cd(5282) = 38*MStgl2(2)**2 + Cd(5281)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5282)", Cd(5282) ENDL
#endif

	Cd(5283) = Cc(40)*Cd(5280) + MGl2*Cd(5282)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5283)", Cd(5283) ENDL
#endif

	Cd(5287) = 4*MStgl2(3) + 67*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5287)", Cd(5287) ENDL
#endif

	Cd(5288) = 134*MStgl2(2)**2 - Cd(5287)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5288)", Cd(5288) ENDL
#endif

	Cd(5291) = 3*MStgl2(1)**2 + Cc(134)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5291)", Cd(5291) ENDL
#endif

	Cd(5294) = 4*MStgl2(3) - 9*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5294)", Cd(5294) ENDL
#endif

	Cd(5295) = 18*MStgl2(1)**2 - Cd(5294)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5295)", Cd(5295) ENDL
#endif

	Cd(5296) = 44*MStgl2(3) + 95*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5296)", Cd(5296) ENDL
#endif

	Cd(523) = 2*MStgl2(1)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(523)", Cd(523) ENDL
#endif

	Cd(5297) = 190*MStgl2(2)**2 - Cd(5296)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5297)", Cd(5297) ENDL
#endif

	Cd(5302) = MTgl2 + 10*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5302)", Cd(5302) ENDL
#endif

	Cd(5304) = 16*MTgl2**4 - 5*MStgl2(1)*MStgl2(2)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5304)", Cd(5304) ENDL
#endif

	Cd(5305) = 24*MStgl2(2)**2 - Cd(2231)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5305)", Cd(5305) ENDL
#endif

	Cd(5309) = MTgl2 + 34*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5309)", Cd(5309) ENDL
#endif

	Cd(5312) = 10*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5312)", Cd(5312) ENDL
#endif

	Cd(5313) = 10*MStgl2(2)**2 - Cd(5312)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5313)", Cd(5313) ENDL
#endif

	Cd(5316) = 22*MStgl2(2) - 25*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5316)", Cd(5316) ENDL
#endif

	Cd(5320) = 7*MStgl2(3) + 24*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5320)", Cd(5320) ENDL
#endif

	Cd(5321) = 48*MStgl2(2)**2 - Cd(5320)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5321)", Cd(5321) ENDL
#endif

	Cd(5327) = 12*MTgl2*Cd(170) + 5*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5327)", Cd(5327) ENDL
#endif

	Cd(5328) = 2*MTgl2 - 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5328)", Cd(5328) ENDL
#endif

	Cd(5331) = 3*MStgl2(2) + 2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5331)", Cd(5331) ENDL
#endif

	Cd(5332) = 7*MStgl2(2)**2 - Cd(5331)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5332)", Cd(5332) ENDL
#endif

	Cd(5333) = MTgl2**2 + Cd(5332)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5333)", Cd(5333) ENDL
#endif

	Cd(5334) = 2*Cd(5333) - 5*MTgl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5334)", Cd(5334) ENDL
#endif

	Cd(5335) = 2*MTgl2*Cd(5334) - Cd(1168)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5335)", Cd(5335) ENDL
#endif

	Cd(5339) = 60*MStgl2(2) - 19*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5339)", Cd(5339) ENDL
#endif

	Cd(5341) = 72*MTgl2**2 + 25*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5341)", Cd(5341) ENDL
#endif

	Cd(5342) = 120*MTgl2**3 + Cd(5341)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5342)", Cd(5342) ENDL
#endif

	Cd(5344) = MTgl2*(3*MTgl2**2 + MStgl2(1)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5344)", Cd(5344) ENDL
#endif

	Cd(5346) = 5*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5346)", Cd(5346) ENDL
#endif

	Cd(5347) = Cd(5346)*MStgl2(2) - 3*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5347)", Cd(5347) ENDL
#endif

	Cd(5353) = 23*MStgl2(2) - 9*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5353)", Cd(5353) ENDL
#endif

	Cd(5354) = 5*MStgl2(2)**2 - Cd(5353)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5354)", Cd(5354) ENDL
#endif

	Cd(5355) = 29*MTgl2**4 + 9*MStgl2(1)**2*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5355)", Cd(5355) ENDL
#endif

        Cd(5356) = 9*Cc(40)*Cd(1221) - 
     &    47*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5356)", Cd(5356) ENDL
#endif

	Cd(5358) = 2*MTgl2 + 9*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5358)", Cd(5358) ENDL
#endif

	Cd(5364) = 7*MStgl2(3) - 12*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5364)", Cd(5364) ENDL
#endif

	Cd(5365) = 24*MStgl2(2)**2 + Cd(5364)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5365)", Cd(5365) ENDL
#endif

	Cd(528) = AtglC*UUStgl(1,1) - 2*Atgl*UUStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(528)", Cd(528) ENDL
#endif

	Cd(5368) = 16*MTgl2**4 + 5*MStgl2(1)*MStgl2(2)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5368)", Cd(5368) ENDL
#endif

	Cd(5369) = MStgl2(3) + 8*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5369)", Cd(5369) ENDL
#endif

	Cd(5370) = 16*MStgl2(2)**2 - Cd(5369)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5370)", Cd(5370) ENDL
#endif

	Cd(5371) = 22*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5371)", Cd(5371) ENDL
#endif

	Cd(529) = MUEC*Cd(528) + Atgl*MUE*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(529)", Cd(529) ENDL
#endif

	Cd(5378) = 17*MTgl2 + 66*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5378)", Cd(5378) ENDL
#endif

	Cd(5381) = 9*MStgl2(2)**2 - Cd(2905)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5381)", Cd(5381) ENDL
#endif

	Cd(5382) = 7*MStgl2(3) - 24*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5382)", Cd(5382) ENDL
#endif

	Cd(5383) = 48*MStgl2(2)**2 + Cd(5382)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5383)", Cd(5383) ENDL
#endif

        Cd(5386) = 7*Cc(40)*Cd(1221) - 
     &    19*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5386)", Cd(5386) ENDL
#endif

	Cd(530) = 2*MUE*UUStgl(1,1) - MUEC*UUStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(530)", Cd(530) ENDL
#endif

	Cd(5388) = 12*MTgl2*Cd(170) - 5*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5388)", Cd(5388) ENDL
#endif

	Cd(531) = AtglC*Cd(530) - Atgl*MUE*UUStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(531)", Cd(531) ENDL
#endif

	Cd(5399) = 11*MTgl2 + 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5399)", Cd(5399) ENDL
#endif

	Cd(5400) = 9*MStgl2(2)**2 - MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5400)", Cd(5400) ENDL
#endif

	Cd(5405) = 40*MTgl2 + 63*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5405)", Cd(5405) ENDL
#endif

	Cd(5406) = 5*MStgl2(2) + 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5406)", Cd(5406) ENDL
#endif

	Cd(532) = Cd(529)*UUStglC(1,1) - Cd(531)*UUStglC(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(532)", Cd(532) ENDL
#endif

	Cd(5415) = 23*MTgl2 + 16*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5415)", Cd(5415) ENDL
#endif

	Cd(5423) = 13*MStgl2(3) + 30*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5423)", Cd(5423) ENDL
#endif

	Cd(5425) = 20*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5425)", Cd(5425) ENDL
#endif

	Cd(534) = MStgl2(3)**2 - 4*MTgl2*MStgl2(1)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(534)", Cd(534) ENDL
#endif

	Cd(5427) = 12*MStgl2(2)**2 - Cd(4519)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5427)", Cd(5427) ENDL
#endif

	Cd(5432) = 9*MStgl2(2)**2 - Cd(1503)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5432)", Cd(5432) ENDL
#endif

	Cd(5433) = 12*MStgl2(2)**2 - Cd(2229)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5433)", Cd(5433) ENDL
#endif

	Cd(535) = Cd(534) + 4*MTgl2*MStgl2(1)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(535)", Cd(535) ENDL
#endif

	Cd(536) = Cd(535)*UStgl2(1,1) + MStgl2(3)**2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(536)", Cd(536) ENDL
#endif

	Cd(5450) = 20*MStgl2(2) - 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5450)", Cd(5450) ENDL
#endif

	Cd(5451) = 20*MStgl2(2)**2 - Cd(5450)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5451)", Cd(5451) ENDL
#endif

	Cd(5456) = 11*MTgl2 + 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5456)", Cd(5456) ENDL
#endif

	Cd(537) = Cd(536) + Cd(440)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(537)", Cd(537) ENDL
#endif

	Cd(5458) = 13*MTgl2 - 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5458)", Cd(5458) ENDL
#endif

        Cd(5460) = 11*Cc(40)*Cd(1221) - 
     &    31*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5460)", Cd(5460) ENDL
#endif

	Cd(538) = 2*CA2*Cd(537) - Cd(444)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(538)", Cd(538) ENDL
#endif

	Cd(5469) = 4*MStgl2(3) + 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5469)", Cd(5469) ENDL
#endif

	Cd(5471) = 17*MTgl2**2 + MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5471)", Cd(5471) ENDL
#endif

	Cd(5473) = 7*MStgl2(2)**2 - Cd(1003)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5473)", Cd(5473) ENDL
#endif

	Cd(5474) = 87*MStgl2(3) + 170*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5474)", Cd(5474) ENDL
#endif

	Cd(5475) = 340*MStgl2(2)**2 - Cd(5474)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5475)", Cd(5475) ENDL
#endif

	Cd(5479) = 25*MTgl2 - 8*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5479)", Cd(5479) ENDL
#endif

        Cd(5481) = 12*Cc(40)*Cd(1221) - 
     &    127*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5481)", Cd(5481) ENDL
#endif

	Cd(5482) = 29*MStgl2(3) + 16*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5482)", Cd(5482) ENDL
#endif

	Cd(5483) = 32*MStgl2(2)**2 - Cd(5482)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5483)", Cd(5483) ENDL
#endif

	Cd(5493) = 20*MTgl2 - 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5493)", Cd(5493) ENDL
#endif

	Cd(5497) = 2*MGl2 + Cd(5493)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5497)", Cd(5497) ENDL
#endif

	Cd(542) = MStgl2(2) + 2*MTgl2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(542)", Cd(542) ENDL
#endif

	Cd(5509) = 60*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5509)", Cd(5509) ENDL
#endif

	Cd(543) = 4*MTgl2 + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(543)", Cd(543) ENDL
#endif

	Cd(5517) = 151*MTgl2 + 72*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5517)", Cd(5517) ENDL
#endif

	Cd(5519) = 14*MStgl2(2)**2 - Cd(5469)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5519)", Cd(5519) ENDL
#endif

	Cd(5523) = 47*MTgl2 - 17*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5523)", Cd(5523) ENDL
#endif

	Cd(5524) = 11*MTgl2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5524)", Cd(5524) ENDL
#endif

	Cd(544) = Cd(543)*MStgl2(2) - 4*MTgl2*MStgl2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(544)", Cd(544) ENDL
#endif

	Cd(5527) = 303*MTgl2 + 397*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5527)", Cd(5527) ENDL
#endif

	Cd(5528) = 191*MTgl2 - 25*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5528)", Cd(5528) ENDL
#endif

	Cd(5533) = 92*MTgl2 - 15*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5533)", Cd(5533) ENDL
#endif

	Cd(5535) = 108*MStgl2(2) + 25*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5535)", Cd(5535) ENDL
#endif

	Cd(5536) = 97*MStgl2(2) - 15*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5536)", Cd(5536) ENDL
#endif

	Cd(545) = Cd(544) - 2*MTgl2*MStgl2(4)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(545)", Cd(545) ENDL
#endif

	Cd(5539) = MStgl2(2) + 46*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5539)", Cd(5539) ENDL
#endif

	Cd(5545) = 4*MStgl2(3) - 17*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5545)", Cd(5545) ENDL
#endif

	Cd(5546) = 30*MStgl2(2)**2 - Cd(5545)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5546)", Cd(5546) ENDL
#endif

	Cd(546) = Cd(545)*UStgl2(1,1) + Cd(542)*MStgl2(3)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(546)", Cd(546) ENDL
#endif

	Cd(5547) = 220*MStgl2(3) - 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5547)", Cd(5547) ENDL
#endif

	Cd(5553) = 54*MTgl2 + 61*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5553)", Cd(5553) ENDL
#endif

	Cd(5556) = 11*MStgl2(3) + 30*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5556)", Cd(5556) ENDL
#endif

	Cd(547) = Atgl*AtglC*Cd(394) + Cd(546)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(547)", Cd(547) ENDL
#endif

	Cd(5557) = 60*MStgl2(2)**2 - Cd(5556)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5557)", Cd(5557) ENDL
#endif

	Cd(5562) = 48*MTgl2**4 - 5*Cd(5313)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5562)", Cd(5562) ENDL
#endif

	Cd(5565) = 47*MStgl2(3)**3 - 5*Cc(215)**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5565)", Cd(5565) ENDL
#endif

	Cd(548) = 2*Cd(547) - Cd(395)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(548)", Cd(548) ENDL
#endif

	Cd(5573) = 9*MTgl2 + 2*Cd(3274)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5573)", Cd(5573) ENDL
#endif

	Cd(5575) = 3*MStgl2(2)**2 - 2*Cd(1669)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5575)", Cd(5575) ENDL
#endif

	Cd(5576) = 9*MStgl2(2) - 20*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5576)", Cd(5576) ENDL
#endif

	Cd(549) = -((Cd(548) - 4*MTgl*Cc(1144)*MStgl2(3))/MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(549)", Cd(549) ENDL
#endif

	Cd(5577) = 9*MStgl2(3) + 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5577)", Cd(5577) ENDL
#endif

	Cd(5578) = Cd(5576)*MStgl2(2)**2 + Cd(5577)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5578)", Cd(5578) ENDL
#endif

	Cd(5579) = 17*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5579)", Cd(5579) ENDL
#endif

	Cd(5580) = 45*MStgl2(2) - 67*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5580)", Cd(5580) ENDL
#endif

	Cd(5581) = Cd(5580)*MStgl2(2)**2 + Cd(5579)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5581)", Cd(5581) ENDL
#endif

	Cd(5582) = 9*MStgl2(2) + 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5582)", Cd(5582) ENDL
#endif

	Cd(5584) = 7*MStgl2(2) - 9*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5584)", Cd(5584) ENDL
#endif

	Cd(5585) = 15*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5585)", Cd(5585) ENDL
#endif

	Cd(5586) = 5*Cd(5584)*MStgl2(2)**2 + Cd(5585)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5586)", Cd(5586) ENDL
#endif

	Cd(550) = Cc(1312)*Cd(394) - Cd(396)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(550)", Cd(550) ENDL
#endif

	Cd(5588) = 12*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5588)", Cd(5588) ENDL
#endif

	Cd(5589) = 9*MStgl2(2)**2 - Cd(5588)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5589)", Cd(5589) ENDL
#endif

	Cd(5590) = 7*MStgl2(2) - 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5590)", Cd(5590) ENDL
#endif

	Cd(5592) = 15*MStgl2(2)**2 - 2*Cd(1669)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5592)", Cd(5592) ENDL
#endif

	Cd(5593) = 5*MTgl2 + Cd(5582)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5593)", Cd(5593) ENDL
#endif

	Cd(5594) = Cd(5592) + MTgl2*Cd(5593)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5594)", Cd(5594) ENDL
#endif

	Cd(5595) = 7*MStgl2(2) + 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5595)", Cd(5595) ENDL
#endif

	Cd(551) = -((Cd(550) - 2*MTgl*Cc(1645)*MStgl2(3))/MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(551)", Cd(551) ENDL
#endif

	Cd(552) = Cc(175)*UStgl2(1,1) + MStgl2(2)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(552)", Cd(552) ENDL
#endif

	Cd(553) = 2*MUE2*Cd(552) - Cd(397)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(553)", Cd(553) ENDL
#endif

	Cd(554) = CA2*Cd(549) + S2A*Cd(551)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(554)", Cd(554) ENDL
#endif

	Cd(5630) = 14*MTgl2 + 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5630)", Cd(5630) ENDL
#endif

        Cd(555) = -(1/Pi**3*
     &      (Alfas2L*Cr(10)**2*(SA2*Cd(553) - Cd(554)*MStgl2(3)))/
     &       (SB2*SW2*MStgl2(3)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(555)", Cd(555) ENDL
#endif

	Cd(5641) = 5*MTgl2 + 16*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5641)", Cd(5641) ENDL
#endif

	Cd(556) = 5*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(556)", Cd(556) ENDL
#endif

	Cd(557) = 5*MStgl2(2) - 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(557)", Cd(557) ENDL
#endif

	Cd(5658) = 15*MStgl2(2) - 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5658)", Cd(5658) ENDL
#endif

	Cd(558) = 3 + UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(558)", Cd(558) ENDL
#endif

	Cd(5667) = MStgl2(4) + 2*Cc(619)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5667)", Cd(5667) ENDL
#endif

	Cd(5669) = 7*MStgl2(3) + 2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5669)", Cd(5669) ENDL
#endif

	Cd(5670) = 4*MStgl2(2)**2 - Cd(5669)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5670)", Cd(5670) ENDL
#endif

	Cd(5672) = 2*MGlmT2 - 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5672)", Cd(5672) ENDL
#endif

	Cd(559) = Cd(558)*MStgl2(1) + 2*MStgl2(2)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(559)", Cd(559) ENDL
#endif

	Cd(5676) = 15*MStgl2(2)**2 - Cd(5658)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5676)", Cd(5676) ENDL
#endif

	Cd(5680) = 34*MGl2 + 23*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5680)", Cd(5680) ENDL
#endif

	Cd(5681) = 95*MStgl2(2) - 18*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5681)", Cd(5681) ENDL
#endif

	Cd(5683) = 13*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5683)", Cd(5683) ENDL
#endif

	Cd(5684) = 13*MStgl2(2)**2 - Cd(5683)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5684)", Cd(5684) ENDL
#endif

        Cd(5685) = 13*Cc(40)*Cd(1221) - 
     &    59*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5685)", Cd(5685) ENDL
#endif

	Cd(560) = Cd(559) - Cd(557)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(560)", Cd(560) ENDL
#endif

	Cd(5687) = 20*MStgl2(3) + 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5687)", Cd(5687) ENDL
#endif

	Cd(5688) = 6*MStgl2(2)**2 - Cd(5687)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5688)", Cd(5688) ENDL
#endif

	Cd(5690) = 3*MStgl2(1)**2 + Cd(2464)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5690)", Cd(5690) ENDL
#endif

	Cd(5691) = 2*MStgl2(3) + 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5691)", Cd(5691) ENDL
#endif

	Cd(5692) = 10*MStgl2(2)**2 - Cd(5691)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5692)", Cd(5692) ENDL
#endif

	Cd(5693) = MGl2**2*Cd(5692) + Cd(5690)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5693)", Cd(5693) ENDL
#endif

	Cd(5694) = 19*MStgl2(2) - 16*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5694)", Cd(5694) ENDL
#endif

	Cd(5695) = 19*MStgl2(1)**2 + Cd(5694)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5695)", Cd(5695) ENDL
#endif

	Cd(561) = 2*UStgl2(1,1)**3 - UStgl2(1,2)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(561)", Cd(561) ENDL
#endif

	Cd(5696) = 22*MStgl2(2) - 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5696)", Cd(5696) ENDL
#endif

	Cd(5697) = 22*MStgl2(2)**2 - Cd(5696)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5697)", Cd(5697) ENDL
#endif

	Cd(5698) = 16*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5698)", Cd(5698) ENDL
#endif

	Cd(562) = Cd(561)*MStgl2(2) + Cd(560)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(562)", Cd(562) ENDL
#endif

	Cd(5706) = 9*MTgl2 + 16*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5706)", Cd(5706) ENDL
#endif

	Cd(5708) = 11*MStgl2(2) + 2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5708)", Cd(5708) ENDL
#endif

	Cd(5709) = 15*MStgl2(2)**2 - Cd(5708)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5709)", Cd(5709) ENDL
#endif

	Cd(5710) = 2*MStgl2(3) - 17*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5710)", Cd(5710) ENDL
#endif

	Cd(5713) = MTgl2*(MTgl2**2 + 5*MStgl2(1)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5713)", Cd(5713) ENDL
#endif

	Cd(5719) = 58*MStgl2(3)**3 - 13*Cc(215)**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5719)", Cd(5719) ENDL
#endif

	Cd(564) = 5*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(564)", Cd(564) ENDL
#endif

	Cd(5727) = 10*MTgl2 + 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5727)", Cd(5727) ENDL
#endif

	Cd(5729) = 5*MTgl2 + 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5729)", Cd(5729) ENDL
#endif

	Cd(5735) = 6*MStgl2(2)**2 + Cd(5036)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5735)", Cd(5735) ENDL
#endif

	Cd(565) = MStgl2(1) + MStgl2(4)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(565)", Cd(565) ENDL
#endif

	Cd(5736) = MStgl2(2)**2 - Cr(1)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5736)", Cd(5736) ENDL
#endif

	Cd(5737) = -(3/8.D0*(Cc(215)**2*Cd(3411)**2)) + MStgl2(3)**4

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5737)", Cd(5737) ENDL
#endif

	Cd(5739) = 9*MTgl2 + 8*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5739)", Cd(5739) ENDL
#endif

	Cd(5745) = MGl2**7 + MTgl2**7

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5745)", Cd(5745) ENDL
#endif

	Cd(566) = Cd(565) - MStgl2(4)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(566)", Cd(566) ENDL
#endif

	Cd(5746) = 10*MGl2 + 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5746)", Cd(5746) ENDL
#endif

	Cd(5747) = 21*MStgl2(2) - 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5747)", Cd(5747) ENDL
#endif

	Cd(5751) = 3*MStgl2(2) + 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5751)", Cd(5751) ENDL
#endif

	Cd(5752) = 3*MStgl2(2)**2 - Cd(5751)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5752)", Cd(5752) ENDL
#endif

        Cd(5755) = 27*Cc(40)*Cd(1221) + 
     &    43*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5755)", Cd(5755) ENDL
#endif

        Cd(567) = Cd(561)*MStgl2(2) + 
     &    2*Cd(566)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(567)", Cd(567) ENDL
#endif

	Cd(5757) = 106*MStgl2(3)**3 + 5*Cc(215)**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5757)", Cd(5757) ENDL
#endif

	Cd(5759) = 4*MStgl2(3) - 15*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5759)", Cd(5759) ENDL
#endif

	Cd(5760) = 30*MStgl2(2)**2 + Cd(5759)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5760)", Cd(5760) ENDL
#endif

	Cd(5761) = 4*MStgl2(3) - 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5761)", Cd(5761) ENDL
#endif

	Cd(5762) = 14*MStgl2(1)**2 - Cd(5761)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5762)", Cd(5762) ENDL
#endif

	Cd(5764) = 48*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5764)", Cd(5764) ENDL
#endif

	Cd(5767) = 7*MStgl2(2) - 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5767)", Cd(5767) ENDL
#endif

	Cd(5768) = 7*MStgl2(2)**2 - Cd(5767)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5768)", Cd(5768) ENDL
#endif

	Cd(5769) = 8*MStgl2(3) + 21*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5769)", Cd(5769) ENDL
#endif

	Cd(5770) = 42*MStgl2(2)**2 - Cd(5769)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5770)", Cd(5770) ENDL
#endif

	Cd(5772) = 16*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5772)", Cd(5772) ENDL
#endif

	Cd(569) = 3*MStgl2(1) + Cc(79)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(569)", Cd(569) ENDL
#endif

	Cd(5776) = 13*MStgl2(3) + 6*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5776)", Cd(5776) ENDL
#endif

	Cd(5781) = 5*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5781)", Cd(5781) ENDL
#endif

	Cd(5782) = 5*MStgl2(1)**2 + Cd(5781)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5782)", Cd(5782) ENDL
#endif

	Cd(5785) = 22*MStgl2(2) + 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5785)", Cd(5785) ENDL
#endif

	Cd(5789) = 11*MStgl2(3) - 15*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5789)", Cd(5789) ENDL
#endif

	Cd(5790) = 15*MStgl2(1)**2 - Cd(5789)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5790)", Cd(5790) ENDL
#endif

	Cd(571) = 2*MStgl2(1) + MStgl2(2)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(571)", Cd(571) ENDL
#endif

	Cd(5797) = MTgl2*(11*MTgl2**2 + 5*MStgl2(1)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5797)", Cd(5797) ENDL
#endif

	Cd(5802) = 10*MTgl2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5802)", Cd(5802) ENDL
#endif

	Cd(5803) = 18*MTgl2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5803)", Cd(5803) ENDL
#endif

        Cd(5804) = 11*Cc(40)*Cd(1221) - 
     &    45*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5804)", Cd(5804) ENDL
#endif

	Cd(5806) = 4*MTgl2 + 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5806)", Cd(5806) ENDL
#endif

	Cd(5823) = -MGl2 + 2*Cd(170)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5823)", Cd(5823) ENDL
#endif

	Cd(574) = 2*Cr(90)*MStgl2(1) + 3*MStgl2(2)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(574)", Cd(574) ENDL
#endif

	Cd(5828) = 6*MTgl2 + MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5828)", Cd(5828) ENDL
#endif

	Cd(5829) = 5*MTgl2 + 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5829)", Cd(5829) ENDL
#endif

	Cd(5833) = 5*MTgl2**2 - MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5833)", Cd(5833) ENDL
#endif

	Cd(575) = MStgl2(2) + Cd(556)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(575)", Cd(575) ENDL
#endif

	Cd(5844) = MTgl2*Cd(2675) + 3*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5844)", Cd(5844) ENDL
#endif

	Cd(5850) = -MGl2 + Cd(5828)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5850)", Cd(5850) ENDL
#endif

	Cd(5876) = 3*MStgl2(2)**2 - Cd(5067)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5876)", Cd(5876) ENDL
#endif

	Cd(5881) = 23*MTgl2 + 17*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5881)", Cd(5881) ENDL
#endif

	Cd(5883) = 7*MTgl2 - 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5883)", Cd(5883) ENDL
#endif

	Cd(5896) = MStgl2(2)**2 + MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5896)", Cd(5896) ENDL
#endif

	Cd(5902) = 22*MTgl2 + 39*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5902)", Cd(5902) ENDL
#endif

	Cd(5903) = 5*MStgl2(2) + 36*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5903)", Cd(5903) ENDL
#endif

	Cd(582) = MStgl2(1) + Cd(557)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(582)", Cd(582) ENDL
#endif

	Cd(5907) = 7*MTgl2 + 10*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5907)", Cd(5907) ENDL
#endif

	Cd(5929) = 3*MStgl2(2)**2 - Cd(5156)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5929)", Cd(5929) ENDL
#endif

	Cd(5930) = 2*MStgl2(3) + 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5930)", Cd(5930) ENDL
#endif

	Cd(5932) = 7*MStgl2(2)**2 - Cd(5036)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5932)", Cd(5932) ENDL
#endif

	Cd(5934) = 9*MStgl2(2) - 19*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5934)", Cd(5934) ENDL
#endif

	Cd(5935) = 25*MStgl2(2) - 6*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5935)", Cd(5935) ENDL
#endif

	Cd(585) = MStgl2(3)**2 - MTgl2*MStgl2(1)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(585)", Cd(585) ENDL
#endif

	Cd(5936) = 7*MStgl2(2) + 9*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5936)", Cd(5936) ENDL
#endif

	Cd(5937) = 15*MStgl2(2)**2 - Cd(5691)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5937)", Cd(5937) ENDL
#endif

	Cd(5939) = 9*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5939)", Cd(5939) ENDL
#endif

	Cd(5940) = 5*MStgl2(2)**2 - Cd(5346)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5940)", Cd(5940) ENDL
#endif

	Cd(5943) = 25*MStgl2(2) - 23*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5943)", Cd(5943) ENDL
#endif

	Cd(586) = Cd(585) + MTgl2*MStgl2(1)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(586)", Cd(586) ENDL
#endif

	Cd(5947) = 11*MStgl2(3) + 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5947)", Cd(5947) ENDL
#endif

	Cd(5951) = 2*MStgl2(3) - 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5951)", Cd(5951) ENDL
#endif

	Cd(5952) = 3*MStgl2(2)**2 - Cd(5951)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5952)", Cd(5952) ENDL
#endif

	Cd(587) = Cd(586)*UStgl2(1,1) + MStgl2(3)**2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(587)", Cd(587) ENDL
#endif

	Cd(5956) = 9*MStgl2(2) + 23*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5956)", Cd(5956) ENDL
#endif

	Cd(5957) = 33*MStgl2(2) + 34*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5957)", Cd(5957) ENDL
#endif

	Cd(5958) = Cd(5956)*MStgl2(2)**2 - Cd(5957)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5958)", Cd(5958) ENDL
#endif

	Cd(6) = Atgl*CA + MUEC*SA

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6)", Cd(6) ENDL
#endif

        Cd(5969) = -((Cc(1076)**2 - Cc(1154)**2)/
     &      (Cc(1076)**2*Cc(1154)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5969)", Cd(5969) ENDL
#endif

	Cd(5970) = Cc(1076) + Cc(1154)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5970)", Cd(5970) ENDL
#endif

	Cd(5972) = (Cc(1076) + Cc(1154))/(Cc(1076)*Cc(1154))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5972)", Cd(5972) ENDL
#endif

        Cd(5976) = (Cc(1076)**2 + Cc(1154)**2)/
     &    (Cc(1076)**2*Cc(1154)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5976)", Cd(5976) ENDL
#endif

	Cd(5977) = (2*MStgl2(2) - MStgl2(3))/MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5977)", Cd(5977) ENDL
#endif

	Cd(5978) = 2*Cc(1154)*Cd(5977) - MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5978)", Cd(5978) ENDL
#endif

	Cd(5982) = Cc(1076)**2 + Cc(1154)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5982)", Cd(5982) ENDL
#endif

	Cd(591) = 2*MStgl2(2) + MStgl2(4)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(591)", Cd(591) ENDL
#endif

	Cd(6007) = 5*MTgl2 - 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6007)", Cd(6007) ENDL
#endif

	Cd(593) = UStgl2(1,1)**3 - 2*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(593)", Cd(593) ENDL
#endif

	Cd(6017) = 13*MTgl2 + 15*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6017)", Cd(6017) ENDL
#endif

	Cd(6024) = 16*MTgl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6024)", Cd(6024) ENDL
#endif

        Cd(594) = 2*Cd(593)*MStgl2(2)*UStgl2(1,1) - 
     &    Cd(591)*UStgl2(1,1)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(594)", Cd(594) ENDL
#endif

	Cd(6033) = 11*MTgl2 + 32*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6033)", Cd(6033) ENDL
#endif

	Cd(596) = 8*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(596)", Cd(596) ENDL
#endif

	Cd(6047) = 10*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6047)", Cd(6047) ENDL
#endif

	Cd(6049) = 5*MTgl2 + Cc(134)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6049)", Cd(6049) ENDL
#endif

	Cd(6050) = Cd(1158) + MTgl2*Cd(6049)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6050)", Cd(6050) ENDL
#endif

	Cd(6052) = 3*MStgl2(2)**2 - Cd(1085)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6052)", Cd(6052) ENDL
#endif

	Cd(6054) = 3*MStgl2(2)**2 - 2*Cc(517)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6054)", Cd(6054) ENDL
#endif

	Cd(6055) = 2*MStgl2(3) - 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6055)", Cd(6055) ENDL
#endif

	Cd(6056) = 15*MStgl2(1)**2 - 2*Cd(6055)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6056)", Cd(6056) ENDL
#endif

	Cd(6058) = 21*MStgl2(2) - 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6058)", Cd(6058) ENDL
#endif

	Cd(6060) = 14*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6060)", Cd(6060) ENDL
#endif

	Cd(6061) = 14*MStgl2(2)**2 - Cd(6060)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6061)", Cd(6061) ENDL
#endif

	Cd(6064) = MTgl2**3 + Cc(226)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6064)", Cd(6064) ENDL
#endif

	Cd(6068) = 3*MStgl2(2)**2 - Cd(275)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6068)", Cd(6068) ENDL
#endif

	Cd(6073) = 2*MStgl2(3) + 9*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6073)", Cd(6073) ENDL
#endif

	Cd(6074) = 18*MStgl2(2)**2 - Cd(6073)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6074)", Cd(6074) ENDL
#endif

	Cd(599) = Cc(97)*MStgl2(2) - MStgl2(1)**2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(599)", Cd(599) ENDL
#endif

	Cd(600) = Cd(599) - MStgl2(2)*MStgl2(3)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(600)", Cd(600) ENDL
#endif

	Cd(6090) = MTgl2*(7*MTgl2**2 + 3*MStgl2(1)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6090)", Cd(6090) ENDL
#endif

        Cd(6092) = 3*Cc(40)*Cd(1221) + 
     &    16*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6092)", Cd(6092) ENDL
#endif

	Cd(6110) = 5*MStgl2(3) + MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6110)", Cd(6110) ENDL
#endif

	Cd(6112) = 2*Cd(1665)*MStgl2(2) + 7*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6112)", Cd(6112) ENDL
#endif

	Cd(6113) = MStgl2(1)**2 + Cd(226)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6113)", Cd(6113) ENDL
#endif

	Cd(603) = 3*MStgl2(2) - 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(603)", Cd(603) ENDL
#endif

	Cd(604) = 4*UStgl2(1,1)**2 + Cd(558)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(604)", Cd(604) ENDL
#endif

	Cd(6131) = MGl2*(MGl2**4 + MStgl2(1)**2*MStgl2(2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6131)", Cd(6131) ENDL
#endif

	Cd(6132) = MGl2**2*(MGl2**2 + MStgl2(1)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6132)", Cd(6132) ENDL
#endif

	Cd(6133) = 10*MStgl2(1)**2 + Cd(6047)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6133)", Cd(6133) ENDL
#endif

	Cd(6134) = (MGl2**3 - Cc(40)*Cd(6133))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6134)", Cd(6134) ENDL
#endif

	Cd(6135) = -3 + 4*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6135)", Cd(6135) ENDL
#endif

        Cd(605) = -(Cd(604)*MStgl2(2)) + 
     &    Cd(603)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(605)", Cd(605) ENDL
#endif

	Cd(6136) = -25 + 8*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6136)", Cd(6136) ENDL
#endif

	Cd(6137) = -15 + 8*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6137)", Cd(6137) ENDL
#endif

	Cd(6138) = -5 + 8*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6138)", Cd(6138) ENDL
#endif

	Cd(6140) = -7 + 6*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6140)", Cd(6140) ENDL
#endif

	Cd(6141) = -7 + 10*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6141)", Cd(6141) ENDL
#endif

	Cd(6142) = (2*MGl2*Cd(6140) + Cc(95)*Cd(6141))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6142)", Cd(6142) ENDL
#endif

	Cd(6143) = -1 + 2*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6143)", Cd(6143) ENDL
#endif

	Cd(6144) = -3 + 10*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6144)", Cd(6144) ENDL
#endif

	Cd(6145) = 5 + 2*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6145)", Cd(6145) ENDL
#endif

	Cd(606) = Cr(90)*MStgl2(2) - Cd(226)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(606)", Cd(606) ENDL
#endif

	Cd(6148) = -1 + 4*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6148)", Cd(6148) ENDL
#endif

	Cd(6149) = 3 + 4*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6149)", Cd(6149) ENDL
#endif

	Cd(6150) = 7 + 20*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6150)", Cd(6150) ENDL
#endif

	Cd(6151) = Cc(226)*Cd(6149) - Cd(6150)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6151)", Cd(6151) ENDL
#endif

	Cd(6152) = 5 + 12*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6152)", Cd(6152) ENDL
#endif

	Cd(6153) = Cc(226)*Cd(6135) - 8*Cd(6148)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6153)", Cd(6153) ENDL
#endif

	Cd(6154) = MGl2*(MGl2**3*Cd(6152) - Cc(95)*Cd(6153))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6154)", Cd(6154) ENDL
#endif

	Cd(607) = 2*MStgl2(2)*UStgl2(1,1)**2 + Cd(606)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(607)", Cd(607) ENDL
#endif

	Cd(6157) = 1 + 6*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6157)", Cd(6157) ENDL
#endif

	Cd(6158) = Cc(226)*Cd(6143) + Cd(6157)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6158)", Cd(6158) ENDL
#endif

	Cd(6159) = 5 + 6*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6159)", Cd(6159) ENDL
#endif

	Cd(6160) = Cc(226)*Cd(6143) + Cd(6159)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6160)", Cd(6160) ENDL
#endif

        Cd(6161) = MGl2*
     &    (2*MGl2**2*Cd(6158) + Cd(6160)*MStgl2(1)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6161)", Cd(6161) ENDL
#endif

	Cd(6164) = 21*MStgl2(2)**2 - Cd(5747)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6164)", Cd(6164) ENDL
#endif

	Cd(6165) = MGl2 + MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6165)", Cd(6165) ENDL
#endif

	Cd(608) = 3*MStgl2(2) + Cr(28)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(608)", Cd(608) ENDL
#endif

	Cd(6168) = -8 + 11*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6168)", Cd(6168) ENDL
#endif

	Cd(6169) = -13 + 10*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6169)", Cd(6169) ENDL
#endif

	Cd(6170) = Cc(226)*Cd(6169) + 2*Cd(6168)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6170)", Cd(6170) ENDL
#endif

	Cd(6171) = -10 + 9*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6171)", Cd(6171) ENDL
#endif

	Cd(6172) = -4 + 7*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6172)", Cd(6172) ENDL
#endif

	Cd(6174) = -9 + 5*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6174)", Cd(6174) ENDL
#endif

	Cd(6175) = 3*Cc(226)*Cd(6174) + 8*Cd(1178)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6175)", Cd(6175) ENDL
#endif

	Cd(609) = Cd(608) - 3*MStgl2(2)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(609)", Cd(609) ENDL
#endif

	Cd(6176) = Cc(226)*Cd(1097) + Cd(2328)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6176)", Cd(6176) ENDL
#endif

	Cd(6178) = -3 + 4*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6178)", Cd(6178) ENDL
#endif

	Cd(6181) = -19 + 22*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6181)", Cd(6181) ENDL
#endif

	Cd(6182) = Cc(226)*Cd(6181) - 2*Cd(6172)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6182)", Cd(6182) ENDL
#endif

	Cd(6185) = -11 + 9*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6185)", Cd(6185) ENDL
#endif

	Cd(610) = MStgl2(2) + 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(610)", Cd(610) ENDL
#endif

	Cd(6186) = Cc(226)*Cd(1097) - Cd(6185)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6186)", Cd(6186) ENDL
#endif

	Cd(6187) = -11 + 14*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6187)", Cd(6187) ENDL
#endif

	Cd(6191) = -2 + 9*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6191)", Cd(6191) ENDL
#endif

	Cd(6192) = Cc(226)*Cd(4295) - 2*Cd(6191)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6192)", Cd(6192) ENDL
#endif

	Cd(6193) = -20 + 19*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6193)", Cd(6193) ENDL
#endif

	Cd(6195) = -1 + 11*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6195)", Cd(6195) ENDL
#endif

	Cd(611) = Cd(610) - MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(611)", Cd(611) ENDL
#endif

	Cd(6196) = Cc(226)*Cd(6195) - 20*Cc(1332)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6196)", Cd(6196) ENDL
#endif

	Cd(6199) = -9 + 11*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6199)", Cd(6199) ENDL
#endif

	Cd(6201) = -17 + 19*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6201)", Cd(6201) ENDL
#endif

	Cd(6202) = -3 + 11*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6202)", Cd(6202) ENDL
#endif

	Cd(6204) = -9 + 8*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6204)", Cd(6204) ENDL
#endif

	Cd(612) = 2*Cc(97)*MStgl2(2) - Cc(226)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(612)", Cd(612) ENDL
#endif

	Cd(6206) = -9 + 14*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6206)", Cd(6206) ENDL
#endif

	Cd(6207) = -4 + 9*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6207)", Cd(6207) ENDL
#endif

	Cd(6208) = Cc(226)*Cd(6207) - 2*Cd(6206)*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6208)", Cd(6208) ENDL
#endif

	Cd(613) = Cd(612) - 2*MStgl2(2)*MStgl2(3)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(613)", Cd(613) ENDL
#endif

	Cd(6218) = 16*MTgl2 + 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6218)", Cd(6218) ENDL
#endif

	Cd(6219) = 13*MGlmT2 - 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6219)", Cd(6219) ENDL
#endif

	Cd(6223) = 8*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6223)", Cd(6223) ENDL
#endif

	Cd(6224) = 24*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6224)", Cd(6224) ENDL
#endif

        Cd(614) = -2*MUEC*Cd(613)*UCStglC(1,3)**2 + 
     &    MUE*Cd(607)*MStgl2(3)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(614)", Cd(614) ENDL
#endif

	Cd(6226) = 5*MStgl2(2) - 16*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6226)", Cd(6226) ENDL
#endif

	Cd(6233) = 7*MTgl2 + 13*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6233)", Cd(6233) ENDL
#endif

        Cd(615) = 2*MUE*Cd(609)*UCStgl(1,3)**2 + 
     &    MUEC*Cd(605)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(615)", Cd(615) ENDL
#endif

	Cd(6237) = 9*MStgl2(1)**2 + Cd(5020)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6237)", Cd(6237) ENDL
#endif

	Cd(6238) = 9*MStgl2(2)**2 - Cd(6060)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6238)", Cd(6238) ENDL
#endif

	Cd(6239) = 6*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6239)", Cd(6239) ENDL
#endif

	Cd(6240) = 4*Cd(6239)*MStgl2(1)**2 - 3*MStgl2(3)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6240)", Cd(6240) ENDL
#endif

	Cd(6245) = 8*MGl2*MTgl2 - MGlpTmSt4(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6245)", Cd(6245) ENDL
#endif

        Cd(616) = 2*MUE*MStgl2(3)*UCStgl(1,3) + 
     &    MUEC*Cd(611)*UCStglC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(616)", Cd(616) ENDL
#endif

	Cd(6247) = 5*MGl2 + 6*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6247)", Cd(6247) ENDL
#endif

	Cd(617) = AtglC*Cd(615) + 4*MTgl*Cd(616)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(617)", Cd(617) ENDL
#endif

	Cd(618) = 2*Atgl*Cd(614) - Cd(617)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(618)", Cd(618) ENDL
#endif

	Cd(619) = Cd(558) - 3*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(619)", Cd(619) ENDL
#endif

	Cd(6280) = 16*MTgl2 + 21*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6280)", Cd(6280) ENDL
#endif

        Cd(620) = Cd(619)*UStgl2(1,1)**3 + 
     &    4*UStgl2(1,1)*UStgl2(1,2)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(620)", Cd(620) ENDL
#endif

        Cd(621) = Cd(620)*MStgl2(2) + 
     &    4*MStgl2(3)*UStgl2(1,1)**2*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(621)", Cd(621) ENDL
#endif

	Cd(622) = MStgl2(2) + Cc(134)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(622)", Cd(622) ENDL
#endif

	Cd(6306) = 5*MTgl2 - 8*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6306)", Cd(6306) ENDL
#endif

	Cd(6310) = 5*MGlmT2 - 13*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6310)", Cd(6310) ENDL
#endif

	Cd(623) = Cd(622) - MStgl2(2)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(623)", Cd(623) ENDL
#endif

	Cd(6318) = 7*MGl2 + 10*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6318)", Cd(6318) ENDL
#endif

	Cd(6320) = 4*MGl2 + 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6320)", Cd(6320) ENDL
#endif

	Cd(6325) = 4*MTgl2 + 19*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6325)", Cd(6325) ENDL
#endif

	Cd(624) = -1 + 7*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(624)", Cd(624) ENDL
#endif

	Cd(6330) = MTgl2 + 15*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6330)", Cd(6330) ENDL
#endif

	Cd(625) = Cd(624)*MStgl2(2) - 4*MStgl2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(625)", Cd(625) ENDL
#endif

	Cd(6337) = 8*MStgl2(2)**2 - MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6337)", Cd(6337) ENDL
#endif

	Cd(6346) = 25*MTgl2 + 37*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6346)", Cd(6346) ENDL
#endif

	Cd(6349) = 13*MTgl2 + 35*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6349)", Cd(6349) ENDL
#endif

	Cd(628) = Cr(90)*MStgl2(2) - 4*MStgl2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(628)", Cd(628) ENDL
#endif

	Cd(6366) = 8*MStgl2(3) + 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6366)", Cd(6366) ENDL
#endif

	Cd(629) = UStgl2(1,1)**2 - 2*Cr(90)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(629)", Cd(629) ENDL
#endif

	Cd(6394) = 8*MTgl2 + 13*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6394)", Cd(6394) ENDL
#endif

	Cd(631) = MTgl2 + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(631)", Cd(631) ENDL
#endif

	Cd(6397) = 5*MTgl2 + 11*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6397)", Cd(6397) ENDL
#endif

	Cd(6398) = 3*MStgl2(2) - 13*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6398)", Cd(6398) ENDL
#endif

	Cd(632) = MStgl2(2) - 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(632)", Cd(632) ENDL
#endif

	Cd(6409) = MTgl2 + 12*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6409)", Cd(6409) ENDL
#endif

	Cd(633) = Cd(631)*MStgl2(2) - MTgl2*Cd(632)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(633)", Cd(633) ENDL
#endif

	Cd(6416) = MTgl2 + 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6416)", Cd(6416) ENDL
#endif

	Cd(6418) = Cd(496) - MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6418)", Cd(6418) ENDL
#endif

	Cd(6419) = Cd(496) + MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6419)", Cd(6419) ENDL
#endif

	Cd(6420) = MTgl2 - 16*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6420)", Cd(6420) ENDL
#endif

	Cd(634) = Cd(633) - MTgl2*Cr(28)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(634)", Cd(634) ENDL
#endif

	Cd(6430) = 11*MTgl2 - 15*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6430)", Cd(6430) ENDL
#endif

	Cd(6435) = 11*MTgl2 + 19*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6435)", Cd(6435) ENDL
#endif

	Cd(635) = Cd(634)*UStgl2(1,1) + Cd(542)*MStgl2(3)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(635)", Cd(635) ENDL
#endif

	Cd(6440) = 17*MTgl2 + 19*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6440)", Cd(6440) ENDL
#endif

	Cd(6441) = MStgl2(1)**2 + MTgl2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6441)", Cd(6441) ENDL
#endif

	Cd(6444) = MTgl2 - 34*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6444)", Cd(6444) ENDL
#endif

	Cd(6445) = 34*MStgl2(3) - 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6445)", Cd(6445) ENDL
#endif

	Cd(6460) = 15*MTgl2 + 8*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6460)", Cd(6460) ENDL
#endif

	Cd(6497) = 21*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6497)", Cd(6497) ENDL
#endif

	Cd(6499) = 9*MTgl2 + 11*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6499)", Cd(6499) ENDL
#endif

	Cd(6514) = 19*MTgl2 + 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6514)", Cd(6514) ENDL
#endif

	Cd(6517) = 10*MTgl2 + 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6517)", Cd(6517) ENDL
#endif

	Cd(6520) = 22*MTgl2 + 31*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6520)", Cd(6520) ENDL
#endif

	Cd(6522) = 31*MTgl2 - 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6522)", Cd(6522) ENDL
#endif

	Cd(644) = -(MTgl2*UStgl(1,2)) + AtglC*MTgl*UStgl(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(644)", Cd(644) ENDL
#endif

	Cd(6545) = 27*MGl2 + 4*MTgl2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6545)", Cd(6545) ENDL
#endif

	Cd(6548) = 4*Cc(79)*MStgl2(3)**2 + 3*Cc(215)**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6548)", Cd(6548) ENDL
#endif

	Cd(6556) = 12*MTgl2 + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6556)", Cd(6556) ENDL
#endif

	Cd(648) = 2*CA*MTgl*UStgl(2,1) + Cd(6)*UStgl(2,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(648)", Cd(648) ENDL
#endif

	Cd(6571) = MGl2**2 + MTgl2**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6571)", Cd(6571) ENDL
#endif

	Cd(6574) = 6*MTgl2 + 11*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6574)", Cd(6574) ENDL
#endif

	Cd(649) = Cd(5)*UStgl(2,1) + 2*CA*MTgl*UStgl(2,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(649)", Cd(649) ENDL
#endif

	Cd(650) = Cd(648)*UStglC(1,1) + Cd(649)*UStglC(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(650)", Cd(650) ENDL
#endif

        Cd(651) = Cd(648)*Cd(650)*MStgl2(1) - 
     &    CA2*MStgl2(2)*MStgl2(3)*UStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(651)", Cd(651) ENDL
#endif

	Cd(6602) = 6*MTgl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6602)", Cd(6602) ENDL
#endif

	Cd(652) = 2*CA*MTgl*UStgl(1,1) + Cd(6)*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(652)", Cd(652) ENDL
#endif

	Cd(6606) = 6*MTgl2 + Cc(131)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6606)", Cd(6606) ENDL
#endif

	Cd(6608) = 4*MStgl2(1)**2 + Cc(261)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6608)", Cd(6608) ENDL
#endif

	Cd(6609) = -4*MTgl2 + Cc(131)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6609)", Cd(6609) ENDL
#endif

	Cd(6610) = Cd(6608) + MTgl2*Cd(6609)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6610)", Cd(6610) ENDL
#endif

	Cd(653) = Cd(5)*UStgl(1,1) + 2*CA*MTgl*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(653)", Cd(653) ENDL
#endif

	Cd(654) = MUE*SA*Cr(96) + 4*CA*MTgl*UUStgl(3,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(654)", Cd(654) ENDL
#endif

	Cd(6625) = MTgl2 + 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6625)", Cd(6625) ENDL
#endif

	Cd(6628) = -(MTgl2*Cr(1)) + MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6628)", Cd(6628) ENDL
#endif

	Cd(6629) = Cd(6628)*MStgl2(1) + MTgl2**2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6629)", Cd(6629) ENDL
#endif

	Cd(655) = MUE*SA*UUStgl(3,1) + Atgl*CA*UUStgl(3,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(655)", Cd(655) ENDL
#endif

	Cd(6636) = 15*MTgl2 + 4*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6636)", Cd(6636) ENDL
#endif

	Cd(6643) = 11*MTgl2 + 39*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6643)", Cd(6643) ENDL
#endif

	Cd(6646) = 22*MTgl2 - 103*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6646)", Cd(6646) ENDL
#endif

	Cd(6647) = 6*MStgl2(2) - 13*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6647)", Cd(6647) ENDL
#endif

	Cd(6650) = 4*MTgl2 - 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6650)", Cd(6650) ENDL
#endif

	Cd(657) = Atgl*Cr(96) + 4*MTgl*UUStgl(3,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(657)", Cd(657) ENDL
#endif

	Cd(658) = CA*Cd(657) + MUEC*SA*Cr(96)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(658)", Cd(658) ENDL
#endif

	Cd(6669) = 8*MTgl2 + 17*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6669)", Cd(6669) ENDL
#endif

	Cd(6682) = 10*MTgl2 + 19*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6682)", Cd(6682) ENDL
#endif

	Cd(6685) = 3*MTgl2 - 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6685)", Cd(6685) ENDL
#endif

	Cd(661) = Cd(652)*UStglC(1,1) + Cd(653)*UStglC(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(661)", Cd(661) ENDL
#endif

	Cd(6695) = 54*MStgl2(2) - 35*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6695)", Cd(6695) ENDL
#endif

	Cd(6696) = 21*MStgl2(2) - 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6696)", Cd(6696) ENDL
#endif

	Cd(6699) = 8*MTgl2 - 53*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6699)", Cd(6699) ENDL
#endif

	Cd(6700) = 25*MStgl2(2) - 21*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6700)", Cd(6700) ENDL
#endif

	Cd(6714) = 14*MTgl2 - 11*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6714)", Cd(6714) ENDL
#endif

	Cd(6717) = 15*MTgl2 + 13*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6717)", Cd(6717) ENDL
#endif

	Cd(6721) = 7*MStgl2(2) - 15*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6721)", Cd(6721) ENDL
#endif

	Cd(665) = 2*AtglC*CA2 + MUE*S2A

#ifdef DETAILED_DEBUG
	DTLHR "Cd(665)", Cd(665) ENDL
#endif

	Cd(6741) = 7*MTgl2 + 19*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6741)", Cd(6741) ENDL
#endif

	Cd(6744) = 11*MTgl2 - 26*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6744)", Cd(6744) ENDL
#endif

	Cd(6745) = 5*MStgl2(2) - 6*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6745)", Cd(6745) ENDL
#endif

	Cd(6754) = 8*MTgl2 - 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6754)", Cd(6754) ENDL
#endif

	Cd(6763) = 8*MTgl2**2 + 11*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6763)", Cd(6763) ENDL
#endif

	Cd(6768) = 5*MTgl2 - 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6768)", Cd(6768) ENDL
#endif

	Cd(670) = CA2*MStgl2(3)*UCStglC(3,1) - Cd(653)**2*UUStglC(3,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(670)", Cd(670) ENDL
#endif

	Cd(6786) = 17*MTgl2 + 12*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6786)", Cd(6786) ENDL
#endif

        Cd(671) = CA2*MStgl2(3)*UCStglC(3,1) + 
     &    Cd(652)*Cd(653)*UUStglC(3,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(671)", Cd(671) ENDL
#endif

	Cd(6797) = MTgl2 + Cd(556)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6797)", Cd(6797) ENDL
#endif

	Cd(6801) = 10*MTgl2 + MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6801)", Cd(6801) ENDL
#endif

	Cd(6803) = 7*MStgl2(3) + MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6803)", Cd(6803) ENDL
#endif

	Cd(672) = Cd(670) - Cd(671)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(672)", Cd(672) ENDL
#endif

	Cd(6804) = 2*MStgl2(2)**2 - Cd(6803)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6804)", Cd(6804) ENDL
#endif

	Cd(6805) = 3*Cc(40)*Cd(1221) - 5*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6805)", Cd(6805) ENDL
#endif

	Cd(6806) = 25*MTgl2 - 6*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6806)", Cd(6806) ENDL
#endif

	Cd(6807) = Cd(6804) - MTgl2*Cd(6806)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6807)", Cd(6807) ENDL
#endif

	Cd(6808) = Cd(6805) + MTgl2*Cd(6807)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6808)", Cd(6808) ENDL
#endif

	Cd(6811) = 5*MTgl2**4 + MStgl2(1)**2*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6811)", Cd(6811) ENDL
#endif

        Cd(673) = Cd(672)*MStgl2(2) + 
     &    Cd(649)*Cd(653)*MStgl2(1)*UUStglC(2,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(673)", Cd(673) ENDL
#endif

	Cd(6853) = 13*MGl2 - 21*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6853)", Cd(6853) ENDL
#endif

        Cd(677) = 2*Conjugate(dY33eps(0))*MStgl2(1) + 
     &    Conjugate(dY33eps(-1))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(677)", Cd(677) ENDL
#endif

	Cd(6865) = MTgl2 + Cc(261)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6865)", Cd(6865) ENDL
#endif

	Cd(6866) = MTgl2*Cd(6865) - Cc(134)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6866)", Cd(6866) ENDL
#endif

	Cd(6891) = 9*MGlmT2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6891)", Cd(6891) ENDL
#endif

	Cd(6898) = MGlmT2 - 3*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6898)", Cd(6898) ENDL
#endif

        Cd(683) = 2*Conjugate(dY33eps(1))*MStgl2(1) + 
     &    Conjugate(dY33eps(0))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(683)", Cd(683) ENDL
#endif

	Cd(6924) = 7*MTgl2 - MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6924)", Cd(6924) ENDL
#endif

	Cd(6927) = MTgl2*Cc(261) - MStgl2(1)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6927)", Cd(6927) ENDL
#endif

	Cd(6944) = 4*MTgl2 + 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6944)", Cd(6944) ENDL
#endif

	Cd(6945) = 3*MStgl2(1)**2 + MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6945)", Cd(6945) ENDL
#endif

	Cd(6949) = 3*MGlmT2 - 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6949)", Cd(6949) ENDL
#endif

	Cd(6954) = MTgl2 + 18*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6954)", Cd(6954) ENDL
#endif

	Cd(6957) = 5*MStgl2(2) - 33*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6957)", Cd(6957) ENDL
#endif

	Cd(67) = MGl2 + Cc(1152)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(67)", Cd(67) ENDL
#endif

	Cd(688) = Cd(648)*Cd(650) - CA2*MStgl2(3)*UStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(688)", Cd(688) ENDL
#endif

	Cd(6966) = 4*MTgl2 - 21*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6966)", Cd(6966) ENDL
#endif

	Cd(689) = Cd(653)*UUStglC(3,2) + Cd(652)*UUStglC(3,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(689)", Cd(689) ENDL
#endif

	Cd(6982) = 3*MStgl2(2)**2 + MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6982)", Cd(6982) ENDL
#endif

	Cd(690) = Cd(689)*MStgl2(2) - Cd(649)*MStgl2(1)*UUStglC(2,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(690)", Cd(690) ENDL
#endif

	Cd(691) = Cd(649)*UUStglC(3,2) + Cd(648)*UUStglC(3,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(691)", Cd(691) ENDL
#endif

	Cd(6998) = 30*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6998)", Cd(6998) ENDL
#endif

	Cd(7000) = 7*MStgl2(2) - 10*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7000)", Cd(7000) ENDL
#endif

	Cd(7002) = 21*MStgl2(2)**2 - 4*Cd(1503)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7002)", Cd(7002) ENDL
#endif

	Cd(7003) = 79*MStgl2(3) + 98*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7003)", Cd(7003) ENDL
#endif

	Cd(692) = Cd(649)*Cd(691) + CA2*MStgl2(3)*UCStgl(3,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(692)", Cd(692) ENDL
#endif

	Cd(7004) = 35*MStgl2(2) - 78*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7004)", Cd(7004) ENDL
#endif

	Cd(7005) = 7*MStgl2(3) + 6*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7005)", Cd(7005) ENDL
#endif

	Cd(7006) = Cd(7004)*MStgl2(2)**2 + 3*Cd(7005)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7006)", Cd(7006) ENDL
#endif

	Cd(7008) = 21*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7008)", Cd(7008) ENDL
#endif

	Cd(7009) = 13*MStgl2(2) - 3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7009)", Cd(7009) ENDL
#endif

	Cd(7010) = 7*MStgl2(2) - 20*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7010)", Cd(7010) ENDL
#endif

	Cd(7011) = 7*MStgl2(3) + 20*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7011)", Cd(7011) ENDL
#endif

	Cd(7012) = 21*MStgl2(2)**2 - Cd(7011)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7012)", Cd(7012) ENDL
#endif

	Cd(7014) = 49*MStgl2(2) - 102*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7014)", Cd(7014) ENDL
#endif

	Cd(7015) = 21*MStgl2(2) - 10*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7015)", Cd(7015) ENDL
#endif

	Cd(7016) = 101*MStgl2(3) + 150*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7016)", Cd(7016) ENDL
#endif

	Cd(7017) = 7*MStgl2(3) + 33*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7017)", Cd(7017) ENDL
#endif

	Cd(7018) = 105*MStgl2(2)**2 - 2*Cd(7017)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7018)", Cd(7018) ENDL
#endif

	Cd(7020) = 68*MStgl2(2) + 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7020)", Cd(7020) ENDL
#endif

	Cd(7021) = 21*MStgl2(2) - 46*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7021)", Cd(7021) ENDL
#endif

	Cd(7022) = 3*Cd(7021)*MStgl2(2)**2 + Cd(7020)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7022)", Cd(7022) ENDL
#endif

	Cd(7027) = 89*MStgl2(3) + 86*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7027)", Cd(7027) ENDL
#endif

	Cd(7034) = 3*MStgl2(3) - 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7034)", Cd(7034) ENDL
#endif

	Cd(7039) = MGl2**3*(3*MGl2 - 4*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7039)", Cd(7039) ENDL
#endif

	Cd(7045) = (2*MTgl2 + 3*Cc(40))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7045)", Cd(7045) ENDL
#endif

	Cd(7046) = MTgl2 + 8*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7046)", Cd(7046) ENDL
#endif

	Cd(697) = Cd(653)*Cd(689) + Cd(652)*Cd(661)*UStglC(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(697)", Cd(697) ENDL
#endif

	Cd(68) = Cd(67)*UStgl(1,1) - 2*M_3*MTgl*UStgl(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(68)", Cd(68) ENDL
#endif

	Cd(7073) = 46*MTgl2 + 99*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7073)", Cd(7073) ENDL
#endif

	Cd(7074) = 20*MStgl2(2) + 51*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7074)", Cd(7074) ENDL
#endif

	Cd(7091) = 29*MTgl2 - 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7091)", Cd(7091) ENDL
#endif

	Cd(7099) = MStgl2(3) + 18*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7099)", Cd(7099) ENDL
#endif

	Cd(7100) = 36*MStgl2(2)**2 - Cd(7099)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7100)", Cd(7100) ENDL
#endif

	Cd(7102) = 4*MStgl2(3) - 5*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7102)", Cd(7102) ENDL
#endif

	Cd(7103) = 8*MStgl2(2)**2 - Cd(1066)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7103)", Cd(7103) ENDL
#endif

	Cd(7105) = 6*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7105)", Cd(7105) ENDL
#endif

	Cd(7106) = 41*MStgl2(3) + 18*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7106)", Cd(7106) ENDL
#endif

	Cd(7107) = 36*MStgl2(2)**2 - Cd(7106)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7107)", Cd(7107) ENDL
#endif

	Cd(7109) = 19*MStgl2(2) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7109)", Cd(7109) ENDL
#endif

	Cd(7112) = 5*MStgl2(3)**4 - 9*MStgl2(4)**4

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7112)", Cd(7112) ENDL
#endif

	Cd(7128) = 5*MTgl2 + 42*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7128)", Cd(7128) ENDL
#endif

	Cd(7131) = 30*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7131)", Cd(7131) ENDL
#endif

	Cd(7132) = 30*MStgl2(2)**2 - Cd(7131)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7132)", Cd(7132) ENDL
#endif

	Cd(7137) = MTgl2**2 - 7*MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7137)", Cd(7137) ENDL
#endif

	Cd(7139) = MTgl2**2*(MTgl2**2 - 14*MStgl2(1)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7139)", Cd(7139) ENDL
#endif

	Cd(7140) = MStgl2(3) + 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7140)", Cd(7140) ENDL
#endif

	Cd(7144) = 50*MStgl2(2) - 11*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7144)", Cd(7144) ENDL
#endif

	Cd(7145) = 50*MStgl2(2)**2 - Cd(7144)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7145)", Cd(7145) ENDL
#endif

	Cd(7153) = 14*MStgl2(3)**3 + Cc(215)**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7153)", Cd(7153) ENDL
#endif

	Cd(707) = Cc(1519) + UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(707)", Cd(707) ENDL
#endif

	Cd(7154) = 42*MStgl2(3) - 23*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7154)", Cd(7154) ENDL
#endif

	Cd(708) = Cd(707)*UStgl2(1,1) + 2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(708)", Cd(708) ENDL
#endif

	Cd(7171) = 27*MTgl2**2 + MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7171)", Cd(7171) ENDL
#endif

	Cd(7172) = 2*MStgl2(3) + 15*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7172)", Cd(7172) ENDL
#endif

	Cd(7173) = 30*MStgl2(2)**2 - Cd(7172)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7173)", Cd(7173) ENDL
#endif

	Cd(7175) = 34*MStgl2(2)**2 + Cd(5545)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7175)", Cd(7175) ENDL
#endif

	Cd(7176) = 15*MStgl2(2)**2 - Cd(5585)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7176)", Cd(7176) ENDL
#endif

        Cd(710) = MUE*Cd(708)*UCStgl(1,3) - 
     &    2*MUEC*Cr(117)*UCStglC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(710)", Cd(710) ENDL
#endif

	Cd(7197) = -MGl2 + Cd(5228)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7197)", Cd(7197) ENDL
#endif

	Cd(7202) = 45*MStgl2(2) - 34*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7202)", Cd(7202) ENDL
#endif

	Cd(7203) = 45*MStgl2(1)**2 + Cd(7202)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7203)", Cd(7203) ENDL
#endif

	Cd(7204) = 90*MGl2 + 43*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7204)", Cd(7204) ENDL
#endif

	Cd(7205) = 74*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7205)", Cd(7205) ENDL
#endif

	Cd(7206) = 74*MStgl2(2)**2 - Cd(7205)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7206)", Cd(7206) ENDL
#endif

	Cd(7208) = 19*MStgl2(1)**2 + Cd(5040)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7208)", Cd(7208) ENDL
#endif

	Cd(7210) = 7*MStgl2(3) - 10*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7210)", Cd(7210) ENDL
#endif

	Cd(7212) = 4*MStgl2(3) - MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7212)", Cd(7212) ENDL
#endif

	Cd(7213) = 2*MStgl2(2)**2 + Cd(7212)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7213)", Cd(7213) ENDL
#endif

	Cd(713) = 2*MTgl - AtglC*UCStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(713)", Cd(713) ENDL
#endif

	Cd(7215) = 92*MStgl2(2) - 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7215)", Cd(7215) ENDL
#endif

	Cd(7217) = 36*MStgl2(3) - 19*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7217)", Cd(7217) ENDL
#endif

	Cd(7218) = 38*MStgl2(2)**2 + Cd(7217)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7218)", Cd(7218) ENDL
#endif

        Cd(7219) = 11*Cc(40)*Cd(1221) - 
     &    2*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7219)", Cd(7219) ENDL
#endif

	Cd(7221) = 68*MStgl2(3) + 179*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7221)", Cd(7221) ENDL
#endif

	Cd(7222) = 358*MStgl2(2)**2 - Cd(7221)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7222)", Cd(7222) ENDL
#endif

	Cd(714) = -(MTgl*UCStglC(1,3)) + AtglC*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(714)", Cd(714) ENDL
#endif

	Cd(7224) = 11*MStgl2(2) - 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7224)", Cd(7224) ENDL
#endif

	Cd(7225) = 11*MStgl2(1)**2 + Cd(7224)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7225)", Cd(7225) ENDL
#endif

	Cd(7226) = 26*MStgl2(2) - 17*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7226)", Cd(7226) ENDL
#endif

	Cd(7227) = 26*MStgl2(1)**2 + Cd(7226)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7227)", Cd(7227) ENDL
#endif

	Cd(7229) = 3*MStgl2(3) - 10*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7229)", Cd(7229) ENDL
#endif

	Cd(7231) = MStgl2(3) - 6*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7231)", Cd(7231) ENDL
#endif

	Cd(7233) = 12*MStgl2(3) + 91*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7233)", Cd(7233) ENDL
#endif

	Cd(7234) = 182*MStgl2(2)**2 - Cd(7233)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7234)", Cd(7234) ENDL
#endif

	Cd(7238) = 29*MTgl2 + 5*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7238)", Cd(7238) ENDL
#endif

	Cd(7241) = 38*MStgl2(2) - 9*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7241)", Cd(7241) ENDL
#endif

	Cd(716) = Cd(396) + Cc(1312)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(716)", Cd(716) ENDL
#endif

        Cd(7244) = 23*Cc(40)*Cd(1221) - 
     &    39*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7244)", Cd(7244) ENDL
#endif

	Cd(7245) = 17*MStgl2(3) + 12*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7245)", Cd(7245) ENDL
#endif

	Cd(7246) = 24*MStgl2(2)**2 - Cd(7245)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7246)", Cd(7246) ENDL
#endif

	Cd(7250) = 7*MTgl2 - 74*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7250)", Cd(7250) ENDL
#endif

	Cd(7253) = 48*MStgl2(2) - MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7253)", Cd(7253) ENDL
#endif

	Cd(717) = -((MTgl*Cc(1645) - Cd(716))*Cr(117))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(717)", Cd(717) ENDL
#endif

	Cd(7254) = 48*MStgl2(2)**2 - Cd(7253)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7254)", Cd(7254) ENDL
#endif

	Cd(7255) = 12*MStgl2(3) + 23*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7255)", Cd(7255) ENDL
#endif

	Cd(7259) = 67*MStgl2(3)**3 - 7*Cc(215)**2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7259)", Cd(7259) ENDL
#endif

	Cd(70) = 2*MTgl2 - MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(70)", Cd(70) ENDL
#endif

	Cd(7269) = 5*MStgl2(2) + 9*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7269)", Cd(7269) ENDL
#endif

	Cd(7270) = 23*MStgl2(2)**2 - Cd(7269)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7270)", Cd(7270) ENDL
#endif

	Cd(7272) = 23*MStgl2(2) - 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7272)", Cd(7272) ENDL
#endif

	Cd(7273) = 9*MStgl2(2)**2 - Cd(7272)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7273)", Cd(7273) ENDL
#endif

        Cd(7274) = 19*Cc(40)*Cd(1221) - 
     &    5*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7274)", Cd(7274) ENDL
#endif

	Cd(7276) = 21*MStgl2(2) - 19*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7276)", Cd(7276) ENDL
#endif

	Cd(7277) = 17*MStgl2(2)**2 + Cd(7276)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7277)", Cd(7277) ENDL
#endif

	Cd(7278) = 107*MTgl2**4 + 15*MStgl2(1)**2*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7278)", Cd(7278) ENDL
#endif

        Cd(7279) = 23*Cc(40)*Cd(1221) - 
     &    49*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7279)", Cd(7279) ENDL
#endif

	Cd(7281) = 22*MTgl2 + 15*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7281)", Cd(7281) ENDL
#endif

	Cd(720) = Cc(1519)*UStgl2(1,1) + 2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(720)", Cd(720) ENDL
#endif

	Cd(7288) = 5*MTgl2 - 27*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7288)", Cd(7288) ENDL
#endif

	Cd(7291) = 5*MStgl2(3) - 12*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7291)", Cd(7291) ENDL
#endif

	Cd(7292) = 24*MStgl2(2)**2 + Cd(7291)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7292)", Cd(7292) ENDL
#endif

        Cd(7293) = 31*Cc(40)*Cd(1221) - 
     &    15*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7293)", Cd(7293) ENDL
#endif

	Cd(721) = Cd(720)*MStgl2(2) + Cc(134)*UStgl2(1,1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(721)", Cd(721) ENDL
#endif

        Cd(7298) = 3*Cc(40)*Cd(1221) - 
     &    11*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7298)", Cd(7298) ENDL
#endif

	Cd(7299) = 74*MStgl2(3) - 53*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7299)", Cd(7299) ENDL
#endif

	Cd(722) = Cd(721) - 2*MStgl2(1)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(722)", Cd(722) ENDL
#endif

	Cd(7306) = 14*MTgl2 + 59*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7306)", Cd(7306) ENDL
#endif

	Cd(7310) = 30*MStgl2(2) - 41*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7310)", Cd(7310) ENDL
#endif

	Cd(7312) = 72*MTgl2**2 - 25*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7312)", Cd(7312) ENDL
#endif

	Cd(7313) = 120*MTgl2**3 + Cd(7312)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7313)", Cd(7313) ENDL
#endif

	Cd(7318) = 4*MTgl2 + 11*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7318)", Cd(7318) ENDL
#endif

	Cd(7320) = 12*MStgl2(2)**2 - Cd(5588)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7320)", Cd(7320) ENDL
#endif

        Cd(724) = MUE*Cd(722)*UCStgl(1,3) - 
     &    2*MUEC*Cr(117)*MStgl2(3)*UCStglC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(724)", Cd(724) ENDL
#endif

	Cd(7327) = MGl2 - 3*Cd(2003)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7327)", Cd(7327) ENDL
#endif

	Cd(7336) = 44*MTgl2 + 81*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7336)", Cd(7336) ENDL
#endif

	Cd(7337) = 5*MStgl2(2) + 18*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7337)", Cd(7337) ENDL
#endif

	Cd(726) = UCStgl(3,1)**2 + UCStglC(3,1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(726)", Cd(726) ENDL
#endif

	Cd(7350) = MTgl2 - 30*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7350)", Cd(7350) ENDL
#endif

	Cd(7358) = 19*MStgl2(3) + 30*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7358)", Cd(7358) ENDL
#endif

	Cd(7360) = MStgl2(3) + 10*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7360)", Cd(7360) ENDL
#endif

	Cd(7361) = 3*MStgl2(3) + 19*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7361)", Cd(7361) ENDL
#endif

	Cd(71) = MGl2 - 2*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(71)", Cd(71) ENDL
#endif

	Cd(727) = 4*AtglC*MTgl*Cr(117)*UCStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(727)", Cd(727) ENDL
#endif

	Cd(7364) = 12*MStgl2(2)**2 + Cd(7231)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7364)", Cd(7364) ENDL
#endif

	Cd(7365) = 6*MStgl2(1)**2 - MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7365)", Cd(7365) ENDL
#endif

	Cd(7366) = 2*Cd(7365)*MStgl2(2)**2 + MStgl2(3)**3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7366)", Cd(7366) ENDL
#endif

	Cd(7382) = 33*MTgl2**2 + MStgl2(1)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7382)", Cd(7382) ENDL
#endif

	Cd(7383) = 5*MStgl2(3) + 18*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7383)", Cd(7383) ENDL
#endif

	Cd(7384) = 36*MStgl2(2)**2 - Cd(7383)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7384)", Cd(7384) ENDL
#endif

	Cd(7386) = 87*MStgl2(3) + 130*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7386)", Cd(7386) ENDL
#endif

	Cd(7387) = 260*MStgl2(2)**2 - Cd(7386)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7387)", Cd(7387) ENDL
#endif

	Cd(7391) = 9*MTgl2 - 8*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7391)", Cd(7391) ENDL
#endif

	Cd(7403) = 4*MTgl2 - 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7403)", Cd(7403) ENDL
#endif

	Cd(7405) = 2*Cc(755)*MStgl2(2) - 3*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7405)", Cd(7405) ENDL
#endif

	Cd(7407) = 9*MStgl2(2) + 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7407)", Cd(7407) ENDL
#endif

	Cd(7408) = 9*MStgl2(2)**2 - Cd(7407)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7408)", Cd(7408) ENDL
#endif

	Cd(7409) = 17*MStgl2(2) - 19*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7409)", Cd(7409) ENDL
#endif

	Cd(7410) = 17*MStgl2(2)**2 - Cd(7409)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7410)", Cd(7410) ENDL
#endif

	Cd(7412) = MTgl2 + Cd(5228)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7412)", Cd(7412) ENDL
#endif

	Cd(7413) = 2*Cd(7412) + 9*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7413)", Cd(7413) ENDL
#endif

	Cd(732) = MStgl2(2) - 5*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(732)", Cd(732) ENDL
#endif

	Cd(7414) = 2*MGl2 + Cd(7403)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7414)", Cd(7414) ENDL
#endif

	Cd(733) = MStgl2(3) - 2*Cd(732)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(733)", Cd(733) ENDL
#endif

	Cd(7431) = -((2*MTgl2 - 5*Cc(95))*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7431)", Cd(7431) ENDL
#endif

	Cd(7432) = 70*MStgl2(2) - 11*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7432)", Cd(7432) ENDL
#endif

	Cd(734) = Cd(558)*MStgl2(1) - Cc(563)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(734)", Cd(734) ENDL
#endif

	Cd(7438) = 7*MTgl2 - 6*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7438)", Cd(7438) ENDL
#endif

	Cd(7440) = 13*MStgl2(2)**2 - Cd(7009)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7440)", Cd(7440) ENDL
#endif

	Cd(7447) = -5*MGl2 + 6*Cd(170)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7447)", Cd(7447) ENDL
#endif

	Cd(736) = 1 + 4*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(736)", Cd(736) ENDL
#endif

	Cd(7462) = 3*MTgl2**2 - MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7462)", Cd(7462) ENDL
#endif

	Cd(72) = Cc(1152)**2 + MGl2*Cd(71)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(72)", Cd(72) ENDL
#endif

	Cd(737) = Cd(736)*MStgl2(1) - 3*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(737)", Cd(737) ENDL
#endif

	Cd(7466) = MTgl2 + 13*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7466)", Cd(7466) ENDL
#endif

	Cd(7471) = 2*MTgl2 - 9*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7471)", Cd(7471) ENDL
#endif

	Cd(738) = -5 + UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(738)", Cd(738) ENDL
#endif

	Cd(7475) = 22*MStgl2(3) + MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7475)", Cd(7475) ENDL
#endif

	Cd(7476) = Cd(7475)*MStgl2(2)**2 - 7*Cc(79)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7476)", Cd(7476) ENDL
#endif

	Cd(7482) = 5*MTgl2 + 32*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7482)", Cd(7482) ENDL
#endif

	Cd(739) = -3 + 7*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(739)", Cd(739) ENDL
#endif

	Cd(7506) = 4*MGlmT2 - 7*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7506)", Cd(7506) ENDL
#endif

	Cd(7510) = 18*MGl2 + 11*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7510)", Cd(7510) ENDL
#endif

	Cd(7512) = 35*MStgl2(2) - 29*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7512)", Cd(7512) ENDL
#endif

	Cd(7513) = 35*MStgl2(1)**2 + Cd(7512)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7513)", Cd(7513) ENDL
#endif

	Cd(7514) = 6*MStgl2(2)**2 + Cd(1717)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7514)", Cd(7514) ENDL
#endif

	Cd(7516) = 10*MStgl2(1)**2 - Cd(6055)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7516)", Cd(7516) ENDL
#endif

	Cd(7517) = 27*MStgl2(2) - 2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7517)", Cd(7517) ENDL
#endif

        Cd(7519) = 13*Cc(40)*Cd(1221) - 
     &    67*MStgl2(1)*MStgl2(2)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7519)", Cd(7519) ENDL
#endif

	Cd(7521) = 18*MStgl2(2)**2 - Cd(4833)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7521)", Cd(7521) ENDL
#endif

	Cd(7523) = 3*MStgl2(3) + 2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7523)", Cd(7523) ENDL
#endif

	Cd(743) = 6*MStgl2(1) + MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(743)", Cd(743) ENDL
#endif

	Cd(7526) = 11*MStgl2(3) + 8*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7526)", Cd(7526) ENDL
#endif

	Cd(745) = 2*UStgl2(1,1)**3 + Cr(90)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(745)", Cd(745) ENDL
#endif

	Cd(7550) = MTgl2*(MTgl2**2 + MStgl2(1)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7550)", Cd(7550) ENDL
#endif

	Cd(7552) = MTgl2**2*(3*MTgl2**2 - 2*MStgl2(1)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7552)", Cd(7552) ENDL
#endif

        Cd(746) = Cd(745)*MStgl2(4) - 
     &    Cd(743)*UStgl2(1,1)**2*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(746)", Cd(746) ENDL
#endif

	Cd(7562) = 15*MStgl2(2) - 8*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7562)", Cd(7562) ENDL
#endif

	Cd(7563) = 15*MStgl2(2)**2 - Cd(7562)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7563)", Cd(7563) ENDL
#endif

	Cd(7564) = 70*MStgl2(2) - 57*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7564)", Cd(7564) ENDL
#endif

	Cd(7565) = 70*MStgl2(1)**2 + Cd(7564)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7565)", Cd(7565) ENDL
#endif

	Cd(7568) = 6*MStgl2(2)**2 - Cd(2874)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7568)", Cd(7568) ENDL
#endif

	Cd(7571) = 5*MStgl2(1)**2 + Cd(1265)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7571)", Cd(7571) ENDL
#endif

	Cd(7573) = 9*MStgl2(2) - 10*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7573)", Cd(7573) ENDL
#endif

	Cd(7579) = 2*MStgl2(1)**2 + Cc(517)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7579)", Cd(7579) ENDL
#endif

	Cd(7582) = 26*MStgl2(2) + 7*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7582)", Cd(7582) ENDL
#endif

	Cd(7585) = 16*MStgl2(3) - 9*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7585)", Cd(7585) ENDL
#endif

	Cd(7586) = 18*MStgl2(1)**2 - Cd(7585)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7586)", Cd(7586) ENDL
#endif

	Cd(7589) = 7*MStgl2(2) + 4*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7589)", Cd(7589) ENDL
#endif

	Cd(7591) = 8*MStgl2(2)**2 - Cd(1674)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7591)", Cd(7591) ENDL
#endif

	Cd(7602) = 8*MTgl2 + 3*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7602)", Cd(7602) ENDL
#endif

	Cd(753) = MStgl2(2) - Cd(226)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(753)", Cd(753) ENDL
#endif

	Cd(755) = MStgl2(2) + 4*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(755)", Cd(755) ENDL
#endif

	Cd(7647) = 33*MStgl2(2) + 2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7647)", Cd(7647) ENDL
#endif

	Cd(7648) = 37*MStgl2(2)**2 - Cd(7647)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7648)", Cd(7648) ENDL
#endif

	Cd(7649) = MStgl2(3) + 39*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7649)", Cd(7649) ENDL
#endif

	Cd(7650) = MStgl2(3) + 59*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7650)", Cd(7650) ENDL
#endif

	Cd(756) = 2*Cr(1) + 3*MStgl2(3)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(756)", Cd(756) ENDL
#endif

	Cd(7658) = 22*MTgl2 + 27*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7658)", Cd(7658) ENDL
#endif

	Cd(757) = MStgl2(3) - MStgl2(1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(757)", Cd(757) ENDL
#endif

	Cd(7667) = 26*MTgl2 + 57*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7667)", Cd(7667) ENDL
#endif

	Cd(7668) = 5*MStgl2(2) + 78*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7668)", Cd(7668) ENDL
#endif

	Cd(7674) = MTgl2 + 16*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7674)", Cd(7674) ENDL
#endif

	Cd(759) = -2 + 3*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(759)", Cd(759) ENDL
#endif

	Cd(760) = Cd(759) + 3*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(760)", Cd(760) ENDL
#endif

	Cd(7700) = 5*MTgl2 + 7*Cr(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7700)", Cd(7700) ENDL
#endif

	Cd(7701) = 9*MStgl2(2) - 23*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7701)", Cd(7701) ENDL
#endif

	Cd(7702) = 135*MStgl2(2) - 32*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7702)", Cd(7702) ENDL
#endif

	Cd(7704) = MStgl2(3) - 7*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7704)", Cd(7704) ENDL
#endif

	Cd(7706) = MStgl2(3) - 9*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7706)", Cd(7706) ENDL
#endif

	Cd(7707) = 3*MStgl2(2)**2 - Cd(7706)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7707)", Cd(7707) ENDL
#endif

	Cd(7709) = MStgl2(2) + 13*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7709)", Cd(7709) ENDL
#endif

	end
