* TLhr_abbr_d6.F
* this file is part of FeynHiggs
* generated 2-Aug-2016 18:15

#include "externals.h"
#include "types.h"


	subroutine TLhr_abbr_d6
	implicit none

#include "TLhr.h"

        Cd(7359) = 60*(MTgl2**2 + MStgl2(2)**2) - 
     &    Cd(7358)*MStgl2(3) + 36*MTgl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7359)", Cd(7359) ENDL
#endif

	Cd(7368) = MGl2 - 5*MTgl2 - Cd(1003)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7368)", Cd(7368) ENDL
#endif

        Cd(7388) = 88*MTgl2**3 + MTgl2*Cd(7387) + 
     &    (69*MTgl2**2 - 5*Cd(5473))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7388)", Cd(7388) ENDL
#endif

        Cd(7389) = -8*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(20*MTgl2 - 108*MStgl2(1)) + 111*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7389)", Cd(7389) ENDL
#endif

        Cd(7395) = -9*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(11*MTgl2 - 159*MStgl2(1)) + 129*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7395)", Cd(7395) ENDL
#endif

        Cd(7401) = 4*MStgl2(1)**3 - 
     &    MTgl2*(47*MStgl2(1)**2 - MTgl2*(13*MTgl2 + 94*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7401)", Cd(7401) ENDL
#endif

        Cd(7406) = -5*MStgl2(1)**2*MStgl2(2)**2 + 
     &    MTgl2**2*(3*Cd(7405) + MTgl2*(27*MTgl2 - 32*MStgl2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7406)", Cd(7406) ENDL
#endif

        Cd(7433) = -70*MStgl2(2)**2 + Cd(7432)*MStgl2(3) + 
     &    MTgl2*(26*MTgl2 + 6*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7433)", Cd(7433) ENDL
#endif

        Cd(7436) = 6*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(MTgl2 - 32*MStgl2(1)) - 16*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7436)", Cd(7436) ENDL
#endif

        Cd(7441) = -14*MTgl2**3 + 19*MTgl2*Cc(226) + 
     &    (MTgl2**2 - Cd(7440))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7441)", Cd(7441) ENDL
#endif

        Cd(7442) = 2*Cc(226) + MTgl2*(3*MTgl2 + MStgl2(1)) + 
     &    Cc(1152)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7442)", Cd(7442) ENDL
#endif

        Cd(7443) = MTgl2*
     &    (4*MTgl2**3 - 4*MTgl2*MStgl2(1)*MStgl2(2) - 
     &      (2*MTgl2**2 - Cc(518))*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7443)", Cd(7443) ENDL
#endif

        Cd(7464) = 9*MStgl2(1)**3 - 
     &    MTgl2*(17*MStgl2(1)**2 - MTgl2*(10*MTgl2 + 8*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7464)", Cd(7464) ENDL
#endif

        Cd(7468) = 7*MStgl2(1)**4 - 
     &    MTgl2*(28*MStgl2(1)**3 - 
     &       MTgl2*(30*MTgl2**2 + 34*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7468)", Cd(7468) ENDL
#endif

        Cd(7469) = -2*MStgl2(1)**3 - 
     &    MTgl2*(2*MStgl2(1)**2 - MTgl2*(10*MTgl2 + 25*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7469)", Cd(7469) ENDL
#endif

        Cd(7473) = -10*MGlmT2*MTgl2 + 
     &    MGl2*(5*MGlmT2 - 4*MStgl2(1)) - 7*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7473)", Cd(7473) ENDL
#endif

        Cd(7490) = -MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(9*MTgl2 - 13*MStgl2(1)) + 3*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7490)", Cd(7490) ENDL
#endif

        Cd(7515) = Cc(40)*Cd(7513) + 
     &    MGl2*(Cd(7514) + MGl2*(34*MGl2 + 9*MStgl2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7515)", Cd(7515) ENDL
#endif

        Cd(7522) = 2*Cc(517)*MStgl2(1)**2 - 
     &    MStgl2(3)**2*(MStgl2(3) - 14*MStgl2(4)) - 11*MStgl2(4)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7522)", Cd(7522) ENDL
#endif

        Cd(7534) = 20*MTgl2**3 + 12*MTgl2*Cd(784) + 
     &    (18*MTgl2**2 + 7*Cd(5313))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7534)", Cd(7534) ENDL
#endif

        Cd(7538) = -26*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(8*MTgl2 - 15*MStgl2(1)) + 124*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7538)", Cd(7538) ENDL
#endif

        Cd(7544) = 5*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(MTgl2 - 4*MStgl2(1)) - 12*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7544)", Cd(7544) ENDL
#endif

        Cd(7547) = 2*(MTgl2**2 + Cd(632)*MStgl2(2)) - 
     &    (2*MTgl2 - 3*MStgl2(3))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7547)", Cd(7547) ENDL
#endif

        Cd(7549) = 5*(MTgl2**2 + MStgl2(2)**2) - 
     &    Cd(3730)*MStgl2(3) - MTgl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7549)", Cd(7549) ENDL
#endif

        Cd(7556) = MTgl2*(6*MTgl2**2*Cd(7553) + Cd(7555)) + 
     &    3*Cc(40)*Cd(1221)*MStgl2(1)*MStgl2(2) - 
     &    3*Cd(7552)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7556)", Cd(7556) ENDL
#endif

	Cd(7557) = Cd(5692) + 2*MTgl2*(5*MTgl2 + 3*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7557)", Cd(7557) ENDL
#endif

        Cd(7566) = Cc(40)*Cd(7565) + 
     &    2*MTgl2*(2*Cd(7563) + MTgl2*(10*MTgl2 + 9*MStgl2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7566)", Cd(7566) ENDL
#endif

	Cd(7570) = Cd(5519) + 6*MTgl2*(MTgl2 + MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7570)", Cd(7570) ENDL
#endif

        Cd(7580) = Cc(40)*Cd(7579) - 
     &    MTgl2*(4*Cd(6068) + MTgl2*(4*MTgl2 - 6*MStgl2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7580)", Cd(7580) ENDL
#endif

        Cd(7590) = 15*MStgl2(2)**2 - Cd(7589)*MStgl2(3) + 
     &    MTgl2*(33*MTgl2 + 8*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7590)", Cd(7590) ENDL
#endif

        Cd(7594) = -5*MStgl2(1)**3 + 
     &    MTgl2*(35*MStgl2(1)**2 + MTgl2*(20*MTgl2 + 14*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7594)", Cd(7594) ENDL
#endif

        Cd(7599) = MStgl2(1)**3 - 
     &    MTgl2*(10*MStgl2(1)**2 - MTgl2*(34*MTgl2 + 53*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7599)", Cd(7599) ENDL
#endif

	Cd(7603) = Cd(5313) + 2*MTgl2*(5*MTgl2 + 3*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7603)", Cd(7603) ENDL
#endif

        Cd(7604) = 10*MTgl2**3 + MTgl2*Cd(1168) + 
     &    (3*MTgl2**2 + Cd(5940))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7604)", Cd(7604) ENDL
#endif

        Cd(7610) = 3*MStgl2(1)**3 - 
     &    MTgl2*(20*MStgl2(1)**2 - MTgl2*(MTgl2 + 4*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7610)", Cd(7610) ENDL
#endif

        Cd(7614) = -20*MTgl2**3 + 4*MTgl2*Cd(5940) + 
     &    (10*MTgl2**2 - Cd(5313))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7614)", Cd(7614) ENDL
#endif

        Cd(7624) = Cc(434)**2*Cc(1152)**2 + 
     &    MGl2*(2*Cc(434)*Cc(1152)*Cd(70) + 
     &       MGl2*(MGl2**2 - Cd(5830)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7624)", Cd(7624) ENDL
#endif

        Cd(7645) = 12*MTgl2*(MTgl2**2 + 7*MStgl2(1)*MStgl2(2)) + 
     &    5*(2*MTgl2**2 - 3*Cd(1168))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7645)", Cd(7645) ENDL
#endif

        Cd(7653) = 2*MStgl2(1)**4 + 
     &    MTgl2*(MTgl2**2*(22*MTgl2 - 17*MStgl2(1)) + MStgl2(1)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7653)", Cd(7653) ENDL
#endif

        Cd(758) = MStgl2(2) - Cd(756)*UStgl2(1,1) + 
     &    Cd(755)*UStgl2(1,1)**2 + Cd(757)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(758)", Cd(758) ENDL
#endif

        Cd(7678) = -9*MStgl2(1)**3 - 
     &    MTgl2*(15*MStgl2(1)**2 - MTgl2*(2*MTgl2 + 19*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7678)", Cd(7678) ENDL
#endif

        Cd(7684) = MStgl2(1)**3 - 
     &    MTgl2*(10*MStgl2(1)**2 - MTgl2*(MTgl2 + 28*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7684)", Cd(7684) ENDL
#endif

	Cd(7686) = MGl2 - 7*MStgl2(2) - 5*(MTgl2 + MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7686)", Cd(7686) ENDL
#endif

        Cd(7738) = (6*Cd(5970) + 
     &      Cc(1076)*Cc(1154)*Cd(8484)*MStgl2(3))/
     &    (Cc(1076)*Cc(1154)*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7738)", Cd(7738) ENDL
#endif

        Cd(7739) = (2*Cd(5970) + 
     &      Cc(1076)*Cc(1154)*Cd(8490)*MStgl2(3))/
     &    (Cc(1076)*Cc(1154)*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7739)", Cd(7739) ENDL
#endif

        Cd(7767) = -MStgl2(1)**3 + 
     &    MTgl2*(12*MStgl2(1)**2 + MTgl2*(22*MTgl2 + 20*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7767)", Cd(7767) ENDL
#endif

        Cd(7771) = 72*MTgl2**5 + 21*MTgl2*MStgl2(1)**4 - 
     &    2*MStgl2(1)**2*(MTgl2**3 + MStgl2(1)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7771)", Cd(7771) ENDL
#endif

        Cd(7776) = -MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(14*MTgl2 - 12*MStgl2(1)) + 3*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7776)", Cd(7776) ENDL
#endif

        Cd(7778) = MStgl2(1)**3 + 
     &    MTgl2*(MStgl2(1)**2 + MTgl2*(18*MTgl2 + 32*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7778)", Cd(7778) ENDL
#endif

        Cd(7783) = 3*MStgl2(1)**4 + 
     &    MTgl2*(4*MStgl2(1)**3 + 
     &       MTgl2*(54*MTgl2**2 - 2*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7783)", Cd(7783) ENDL
#endif

	Cd(7784) = Cd(6290) - 8*MTgl2*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7784)", Cd(7784) ENDL
#endif

        Cd(7787) = -18*MGlmT2*MTgl2 + 
     &    MGl2*(9*MGlmT2 - 16*MStgl2(1)) + 7*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7787)", Cd(7787) ENDL
#endif

        Cd(7812) = -5*MStgl2(1)**3 + 
     &    MTgl2*(15*MStgl2(1)**2 + MTgl2*(2*MTgl2 + 10*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7812)", Cd(7812) ENDL
#endif

        Cd(7823) = 26*MStgl2(1)**3 - 
     &    MTgl2*(66*MStgl2(1)**2 - MTgl2*(5*MTgl2 + 15*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7823)", Cd(7823) ENDL
#endif

        Cd(7824) = 10*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(5*MTgl2 - 9*MStgl2(1)) - 26*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7824)", Cd(7824) ENDL
#endif

        Cd(7842) = MStgl2(1)**3 - 
     &    MTgl2*(16*MStgl2(1)**2 - MTgl2*(38*MTgl2 + 67*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7842)", Cd(7842) ENDL
#endif

        Cd(777) = (MStgl2(3)*
     &       (Cd(776)*MStgl2(2) + 4*AtglC*MTgl*Cr(117)*UCStgl(1,3)))/
     &     MStgl2(2) - 8*MTgl2*UStgl2(1,1)**2*UStgl2(1,2) + 
     &    Cd(775)*UUStglC(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(777)", Cd(777) ENDL
#endif

	Cd(7864) = Cd(5768) + 3*MGl2*(MGl2 + MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7864)", Cd(7864) ENDL
#endif

	Cd(7929) = 2*Cd(254) + Cd(287)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7929)", Cd(7929) ENDL
#endif

        Cd(7940) = -2*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(5*MTgl2 - 8*MStgl2(1)) + 10*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7940)", Cd(7940) ENDL
#endif

        Cd(7941) = 3*MStgl2(1)**3 - 
     &    MTgl2*(17*MStgl2(1)**2 - MTgl2*(6*MTgl2 + 30*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7941)", Cd(7941) ENDL
#endif

	Cd(7945) = 2*Cc(434) + Cd(2692)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7945)", Cd(7945) ENDL
#endif

        Cd(7948) = -5*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(24*MTgl2 - 30*MStgl2(1)) + 15*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7948)", Cd(7948) ENDL
#endif

        Cd(7971) = 7*MStgl2(1)**3 + 
     &    MTgl2*(10*MStgl2(1)**2 + MTgl2*(40*MTgl2 + 26*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7971)", Cd(7971) ENDL
#endif

        Cd(7972) = -2*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(2*MTgl2 - 10*MStgl2(1)) - 7*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7972)", Cd(7972) ENDL
#endif

        Cd(7975) = -14*MStgl2(1)**3 + 
     &    MTgl2*(20*MStgl2(1)**2 + MTgl2*(51*MTgl2 + 48*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7975)", Cd(7975) ENDL
#endif

        Cd(7976) = 3*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(10*MTgl2 - 17*MStgl2(1)) - 6*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7976)", Cd(7976) ENDL
#endif

        Cd(7987) = -2*MStgl2(1)**3 + 
     &    MTgl2*(8*MStgl2(1)**2 + MTgl2*(22*MTgl2 + 33*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7987)", Cd(7987) ENDL
#endif

        Cd(7988) = -2*MStgl2(1)**3 + 
     &    MTgl2*(2*MStgl2(1)**2 + MTgl2*(11*MTgl2 + 38*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7988)", Cd(7988) ENDL
#endif

        Cd(8017) = 7*(MTgl2**2 + MStgl2(2)**2) - 
     &    Cd(8016)*MStgl2(3) - 7*MTgl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8017)", Cd(8017) ENDL
#endif

        Cd(8022) = -23*MStgl2(1)**3 + 
     &    MTgl2*(43*MStgl2(1)**2 + MTgl2*(18*MTgl2 + 74*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8022)", Cd(8022) ENDL
#endif

        Cd(8028) = 13*MStgl2(1)**3 - 
     &    MTgl2*(34*MStgl2(1)**2 - MTgl2*(28*MTgl2 + 41*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8028)", Cd(8028) ENDL
#endif

        Cd(8041) = 3*Cd(8040) + 
     &    MTgl2*(27*MTgl2 + 31*MStgl2(1)) + Cd(8039)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8041)", Cd(8041) ENDL
#endif

        Cd(8046) = 21*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(9*MTgl2 - 13*MStgl2(1)) - 39*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8046)", Cd(8046) ENDL
#endif

        Cd(8055) = -45*MStgl2(1)**3 + 
     &    MTgl2*(126*MStgl2(1)**2 + MTgl2*(14*MTgl2 + 34*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8055)", Cd(8055) ENDL
#endif

        Cd(8065) = 9*MStgl2(1)**3 - 
     &    MTgl2*(19*MStgl2(1)**2 - MTgl2*(14*MTgl2 + 16*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8065)", Cd(8065) ENDL
#endif

        Cd(8068) = 7*MStgl2(1)**4 - 
     &    MTgl2*(28*MStgl2(1)**3 - 
     &       MTgl2*(42*MTgl2**2 + 38*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8068)", Cd(8068) ENDL
#endif

        Cd(8069) = -2*MStgl2(1)**3 - 
     &    MTgl2*(4*MStgl2(1)**2 - MTgl2*(14*MTgl2 + 35*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8069)", Cd(8069) ENDL
#endif

	Cd(8072) = 2*(MGl2 - 5*MTgl2 - 7*MStgl2(2)) + 9*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8072)", Cd(8072) ENDL
#endif

        Cd(8097) = 3*Cc(226) + MTgl2*(10*MTgl2 + 2*MStgl2(1)) + 
     &    2*Cd(1652)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8097)", Cd(8097) ENDL
#endif

        Cd(8098) = -10*MTgl2**3 + MTgl2*Cc(518) + 
     &    (3*MTgl2**2 + Cr(1)*Cr(28))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8098)", Cd(8098) ENDL
#endif

        Cd(8101) = MTgl2*(Cc(79)*Cr(1) + MTgl2*(MTgl2 + Cr(1))) - 
     &    Cd(784)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8101)", Cd(8101) ENDL
#endif

        Cd(801) = UStgl2(1,1)**2*
     &     (Cd(797) - Cc(489)*UStgl2(1,1)) - 
     &    Cd(800)*UStgl2(1,1)*UStgl2(1,2) + 
     &    2*Cd(795)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(801)", Cd(801) ENDL
#endif

        Cd(8103) = Cd(8102)*MStgl2(2)**2 + 
     &    MTgl2**2*(MTgl2*(MTgl2 + 3*MStgl2(3)) - Cd(5067)*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8103)", Cd(8103) ENDL
#endif

        Cd(8109) = 3*Cc(226) + 
     &    2*(MTgl2*(MTgl2 + MStgl2(1)) + Cc(1835)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8109)", Cd(8109) ENDL
#endif

        Cd(8112) = MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(MTgl2 - 2*MStgl2(1)) - MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8112)", Cd(8112) ENDL
#endif

        Cd(8161) = MTgl2**2 - 6*Cd(8160) - MStgl2(1)**2 + 
     &    4*Cd(1652)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8161)", Cd(8161) ENDL
#endif

        Cd(8163) = MTgl2*Cd(8162) + 
     &    MStgl2(2)*(Cd(1768) + (Cd(1656) - MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8163)", Cd(8163) ENDL
#endif

	Cd(8187) = Cd(6793) - 4*Cc(427)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8187)", Cd(8187) ENDL
#endif

        Cd(8221) = -17*MStgl2(1)**3 + 
     &    MTgl2*(31*MStgl2(1)**2 + MTgl2*(6*MTgl2 + 32*MStgl2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8221)", Cd(8221) ENDL
#endif

        Cd(8224) = -3*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(2*MTgl2 - 12*MStgl2(1)) + 9*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8224)", Cd(8224) ENDL
#endif

        Cd(8226) = -11*MStgl2(1)**4 + 
     &    MTgl2*(60*MStgl2(1)**3 + 
     &       MTgl2*(18*MTgl2**2 - 62*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8226)", Cd(8226) ENDL
#endif

	Cd(8252) = Cd(1666) + MTgl2*(MTgl2 - 2*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8252)", Cd(8252) ENDL
#endif

	Cd(8283) = Cd(6727) - 2*Cc(427)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8283)", Cd(8283) ENDL
#endif

        Cd(8292) = -(MStgl2(3)*
     &      (Cd(8290) - MTgl2*(2*MTgl2 - 2*MStgl2(4))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8292)", Cd(8292) ENDL
#endif

        Cd(8306) = -((Cd(557)*MStgl2(2)**2 - 
     &        MTgl2*(MTgl2*(MTgl2 + Cr(2)) + Cd(5067)*MStgl2(2)))*
     &      MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8306)", Cd(8306) ENDL
#endif

        Cd(8349) = -2*MStgl2(2)**2 + Cd(8348)*MStgl2(3) + 
     &    MTgl2*(30*MTgl2 + 2*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8349)", Cd(8349) ENDL
#endif

        Cd(8350) = Cc(40)*Cd(6113) + 
     &    MTgl2*(Cc(226) + MTgl2*(6*MTgl2 - 5*MStgl2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8350)", Cd(8350) ENDL
#endif

        Cd(8358) = MTgl2**2*(11*MTgl2**2 + 3*Cc(226)) - 
     &    MStgl2(1)**2*MStgl2(2)**2 - 2*Cd(8357)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8358)", Cd(8358) ENDL
#endif

        Cd(8379) = 4*MTgl2**3 - 4*MTgl2*MStgl2(1)*MStgl2(2) - 
     &    (2*MTgl2**2 - Cc(518))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8379)", Cd(8379) ENDL
#endif

        Cd(8392) = 10*(MTgl2**2 + MStgl2(2)**2) + 
     &    (6*MTgl2 - 5*MStgl2(3))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8392)", Cd(8392) ENDL
#endif

        Cd(8394) = -4*MTgl2**3 + 12*MTgl2*Cd(785) + 
     &    (22*MTgl2**2 + Cd(5313))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8394)", Cd(8394) ENDL
#endif

        Cd(8424) = -4*MTgl2**3 + 4*MTgl2*Cd(1221) + 
     &    (2*MTgl2**2 - Cc(226))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8424)", Cd(8424) ENDL
#endif

        Cd(8438) = -20*MTgl2**3 + 4*MTgl2*Cd(5736) + 
     &    (6*MTgl2**2 + Cc(226))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8438)", Cd(8438) ENDL
#endif

        Cd(8439) = -6*MStgl2(2)**2 + Cd(5930)*MStgl2(3) + 
     &    MTgl2*(10*MTgl2 + 6*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8439)", Cd(8439) ENDL
#endif

        Cd(8441) = Cc(434)**2*Cc(1152)**2 + 
     &    MGl2**2*(MGl2**2 - Cd(8439)) + 2*Cd(70)*Cd(8440)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8441)", Cd(8441) ENDL
#endif

        Cd(8443) = -3*MTgl2**3 + 
     &    MGl2*(MGl2*(2*MGl2 - 3*MTgl2) - 4*MTgl2**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8443)", Cd(8443) ENDL
#endif

        Cd(8459) = MTgl2*
     &     (MTgl2**2*(10*MTgl2**2 + 2*Cd(1168)) + Cd(5737)) - 
     &    4*Cd(8458)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8459)", Cd(8459) ENDL
#endif

	Cd(8460) = -Cd(1168) + 2*MTgl2*(5*MTgl2 + 3*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8460)", Cd(8460) ENDL
#endif

        Cd(8462) = Cc(434)**2*Cc(1152)**2 + 
     &    2*Cd(70)*Cd(8440) + MGl2**2*(MGl2**2 - Cd(8460))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8462)", Cd(8462) ENDL
#endif

        Cd(8500) = -10*MStgl2(2)**2 + Cd(5133)*MStgl2(3) + 
     &    MTgl2*(6*MTgl2 + 10*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8500)", Cd(8500) ENDL
#endif

        Cd(8501) = -2*MGl2*(MGl2**2 + 2*Cd(8499)) - 
     &    Cd(70)*(5*MGl2**2 - Cd(8500))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8501)", Cd(8501) ENDL
#endif

        Cd(8523) = -4*MTgl2**3*Cd(2262) + 4*MTgl2*Cd(8522) - 
     &    (2*MTgl2**2*Cd(8520) + Cd(8521))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8523)", Cd(8523) ENDL
#endif

        Cd(8538) = 2*MTgl2*Cd(284) + 
     &    6*(MTgl2**2 + MStgl2(2)**2) - 3*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8538)", Cd(8538) ENDL
#endif

	Cd(8542) = -8*MTgl2 - Cd(1622)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8542)", Cd(8542) ENDL
#endif

        Cd(8549) = 2*Cc(427)*Cc(434)**2 + 
     &    MGl2*(MGl2*(MGl2 - 2*Cc(427)) - Cd(1439))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8549)", Cd(8549) ENDL
#endif

        Cd(8589) = MTgl2*(5*MStgl2(1) - 6*MStgl2(2)) + 
     &    MStgl2(2)**2 - Cd(1210)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8589)", Cd(8589) ENDL
#endif

	Cd(8605) = Cd(3401) + MGl2*(3*MStgl2(1) - 5*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8605)", Cd(8605) ENDL
#endif

        Cd(8606) = MTgl2**4*Cd(3405) + 
     &    MGl2*MStgl2(1)*(MGl2*(MGl2**2 + 2*Cd(8605)) - 
     &       2*Cd(8604)*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8606)", Cd(8606) ENDL
#endif

	Cd(8613) = -Cd(3403) - 3*MTgl2*(MStgl2(2) + 4*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8613)", Cd(8613) ENDL
#endif

        Cd(8617) = -Cc(1152)**3 + 
     &    MGl2*(MGl2*(MGl2 - Cd(2083)) + Cd(8616))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8617)", Cd(8617) ENDL
#endif

	Cd(8623) = Cd(899) - 2*MTgl2*(MStgl2(2) + MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8623)", Cd(8623) ENDL
#endif

	Cd(8640) = 3*MGl2 - 9*MTgl2 - Cd(1522)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8640)", Cd(8640) ENDL
#endif

        Cd(856) = 2*Cd(854)*MStgl2(1)*MStgl2(2) + 
     &    4*AtglC*MTgl*Cd(844)*UCStgl(1,3) - 
     &    2*Cd(845)*MStgl2(3)*UStgl2(1,1) + Cd(855)*UUStglC(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(856)", Cd(856) ENDL
#endif

        Cd(8728) = 3*MStgl2(2)**2 - MStgl2(3)**2 - 
     &    3*MTgl2*(MStgl2(2) + MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8728)", Cd(8728) ENDL
#endif

        Cd(8732) = MTgl2*(3*MTgl2 - 3*MStgl2(1)) - 
     &    2*MStgl2(1)**2 + Cc(427)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8732)", Cd(8732) ENDL
#endif

        Cd(8754) = Cd(8752)*MStgl2(1)**2 - 
     &    Cd(8753)*MStgl2(1)*MStgl2(2) + 
     &    2*(Cd(8751) + 6*MTgl2*Cr(2))*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8754)", Cd(8754) ENDL
#endif

        Cd(8769) = -3*Cd(8765)*MStgl2(1)**2 + 
     &    MGl2*(Cd(8762)*MStgl2(1) + 
     &       MGl2*(Cd(8768) + 24*MGl2*MStgl2(2)*UUStgl(1,1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8769)", Cd(8769) ENDL
#endif

        Cd(8777) = MGl2**2*Cd(8774) + 
     &    MStgl2(1)*(2*Cd(8776)*MStgl2(1) + 
     &       3*MGl2*(2*MGl2**2 + Cd(8771))*UUStgl(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8777)", Cd(8777) ENDL
#endif

        Cd(8781) = 3*Cc(1152)**3 + 
     &    MGl2*(MGl2*(3*MGl2 + Cd(3739)) - Cd(8780))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8781)", Cd(8781) ENDL
#endif

        Cd(8788) = Cc(1152)**3 + MGl2**2*(3*MGl2 - Cd(2159)) - 
     &    MGl2*Cc(1152)*Cd(2876)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8788)", Cd(8788) ENDL
#endif

        Cd(8833) = 3*MTgl2*Cd(1785)*MStgl2(1) - 
     &    MStgl2(2)*(Cd(8831) + MStgl2(2)*(Cd(8832) + 8*MStgl2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8833)", Cd(8833) ENDL
#endif

        Cd(8861) = 3*MTgl2*MStgl2(1)**2 + 
     &    MStgl2(2)*(Cd(8859) + 
     &       MStgl2(2)*(Cd(8860) + 11*MStgl2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8861)", Cd(8861) ENDL
#endif

        Cd(8889) = 3*MTgl2*Cd(1785)*MStgl2(1) + 
     &    MStgl2(2)*(Cd(8888) + MStgl2(2)*(Cd(6625) + 7*MStgl2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8889)", Cd(8889) ENDL
#endif

        Cd(8900) = MTgl2*Cd(6602)*MStgl2(1) + 
     &    MStgl2(2)*(Cd(8898) + MStgl2(2)*(Cd(8899) + 7*MStgl2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8900)", Cd(8900) ENDL
#endif

        Cd(8904) = MTgl2**2*Cd(3247) + 
     &    MStgl2(2)*(MTgl2*Cd(1652) + 
     &       (Cd(2135) - 11*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8904)", Cd(8904) ENDL
#endif

        Cd(8913) = 3*MTgl2*Cd(496)*MStgl2(1) + 
     &    MStgl2(2)*(Cd(5899) + MStgl2(2)*(Cd(8912) + 5*MStgl2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8913)", Cd(8913) ENDL
#endif

        Cd(8927) = Cd(4519)*MStgl2(2)**2 - 
     &    3*MTgl2*(MTgl2*(8*MTgl2 - Cc(131)) + 2*MStgl2(2)*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8927)", Cd(8927) ENDL
#endif

        Cd(8937) = Cd(8934)*MStgl2(1) - 
     &    MStgl2(2)*(Cd(8935) - (Cd(8936) - 7*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8937)", Cd(8937) ENDL
#endif

        Cd(8973) = 3*MTgl2*MStgl2(1)**2 + 
     &    MStgl2(2)*(Cd(8971) + MStgl2(2)*(Cd(8972) + 8*MStgl2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8973)", Cd(8973) ENDL
#endif

        Cd(8988) = -(MTgl2**2*(3*MTgl2*Cd(8985) - Cd(8987))) + 
     &    MStgl2(3)*(Cd(8984) - Cd(8983)*MStgl2(2)*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8988)", Cd(8988) ENDL
#endif

        Cd(8991) = -((Cd(8989)*MStgl2(2)**2 + 
     &        MGl2*(MGl2*(4*MGl2 - Cd(8990)) - 2*Cd(284)*MStgl2(2))
     &        )*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8991)", Cd(8991) ENDL
#endif

        Cd(8997) = Cd(8996)*MStgl2(1)*MStgl2(2) - 
     &    Cd(8752)*MStgl2(2)**2 + 
     &    2*(6*MTgl2*Cd(610) + Cd(8995))*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8997)", Cd(8997) ENDL
#endif

        Cd(9011) = 3*Cd(9007)*MStgl2(2)**2 + 
     &    MGl2*(Cd(9005)*MStgl2(2) + 
     &       MGl2*(Cd(9010) + 12*MGl2*Cd(284)*UUStgl(1,1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9011)", Cd(9011) ENDL
#endif

        Cd(9017) = MGl2**2*Cd(9016) - 
     &    MStgl2(2)*(2*Cd(9013)*MStgl2(2) - 
     &       3*MGl2*(2*MGl2**2 + Cd(9012))*UUStgl(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9017)", Cd(9017) ENDL
#endif

        Cd(9023) = Cc(434)**3 - MGl2*Cc(434)*Cd(9021) + 
     &    MGl2**2*(3*MGl2 - Cd(9022))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9023)", Cd(9023) ENDL
#endif

        Cd(9042) = 18*MTgl2**3 - 2*MTgl2*Cd(3274)*MStgl2(2) + 
     &    (19*MTgl2**2 - 3*MStgl2(2)**2)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9042)", Cd(9042) ENDL
#endif

        Cd(9135) = -4*MStgl2(1)**2 + MTgl2*(MTgl2 + MStgl2(1)) + 
     &    Cc(427)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9135)", Cd(9135) ENDL
#endif

        Cd(907) = 3*Cc(95)*MStgl2(3) + 2*Cd(901)*UStgl2(1,1) - 
     &    Cd(897)*UStgl2(1,1)**2 - Cc(489)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(907)", Cd(907) ENDL
#endif

        Cd(9156) = MTgl2**2*(Cd(9154) + MTgl2*Cd(9155)) - 
     &    4*MTgl2**4*MStgl2(3) - 3*Cc(394)**3*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9156)", Cd(9156) ENDL
#endif

        Cd(9176) = 2*MStgl2(1)**2 + 
     &    MTgl2*(4*MTgl2 + 19*MStgl2(1)) - Cd(9175)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9176)", Cd(9176) ENDL
#endif

        Cd(9190) = MTgl2*
     &     (MTgl2*(6*MTgl2 + Cd(4101)) - 6*Cc(79)*MStgl2(1)) + 
     &    3*MStgl2(1)**2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9190)", Cd(9190) ENDL
#endif

        Cd(9203) = MTgl2*(4*MTgl2 - 3*MStgl2(1)) - 
     &    26*MStgl2(1)**2 + Cd(9175)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9203)", Cd(9203) ENDL
#endif

        Cd(9226) = Cc(1152)**5 + 
     &    MGl2*(MGl2*(MGl2**3 + 2*Cd(67)*Cd(1699)) - 
     &       Cd(1602)*Cd(9225))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9226)", Cd(9226) ENDL
#endif

        Cd(9238) = 3*MGl2*Cd(9237) + 5*Cd(9233)*MStgl2(1)**2 - 
     &    Cd(9234)*MStgl2(1)*MStgl2(2) - 2*Cd(9232)*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9238)", Cd(9238) ENDL
#endif

        Cd(9245) = 2*MGl2*Cd(9240) + Cd(9244)*MStgl2(1) + 
     &    MGl2**2*(Cd(9242) + 12*MGl2*UUStgl(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9245)", Cd(9245) ENDL
#endif

        Cd(9254) = 2*MGl2*Cd(9250) - Cd(9253)*MStgl2(1) - 
     &    3*MGl2**2*(Cd(9248) + 4*MGl2*UUStgl(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9254)", Cd(9254) ENDL
#endif

        Cd(9273) = 4*MGl2**2*Cd(9269) - Cd(9272)*MStgl2(1) - 
     &    MGl2*(8*MGl2**2 + Cd(9266))*UUStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9273)", Cd(9273) ENDL
#endif

        Cd(920) = 3*Cd(917)*UStgl2(1,1) + 
     &    MTgl2*UStgl2(1,1)**2*(2*Cd(918) - 2*UStgl2(1,1)**2) + 
     &    Cd(919)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(920)", Cd(920) ENDL
#endif

        Cd(9293) = -(Cd(9286)*MStgl2(1)) + 
     &    MGl2*(Cd(9292) + 2*MGl2*(Cd(9289) - 16*MGl2*UUStgl(1,3)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9293)", Cd(9293) ENDL
#endif

        Cd(9298) = 3*MTgl2*Cd(2710) + 
     &    MStgl2(1)*(Cd(9297) - 3*(Cd(4138) - MStgl2(1))*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9298)", Cd(9298) ENDL
#endif

	Cd(9332) = Cd(1769) - 3*Cc(427)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9332)", Cd(9332) ENDL
#endif

        Cd(9341) = -5*MStgl2(1)**2 + 
     &    MTgl2*(6*MTgl2 + 13*MStgl2(1)) - 7*Cc(427)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9341)", Cd(9341) ENDL
#endif

        Cd(9350) = 4*MTgl2*Cd(1512) + 
     &    48*(MTgl2**2 + MStgl2(2)**2) - Cd(9349)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9350)", Cd(9350) ENDL
#endif

        Cd(9353) = 4*MTgl2*Cc(131) - 
     &    8*(MTgl2**2 + MStgl2(2)**2) + Cd(4519)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9353)", Cd(9353) ENDL
#endif

        Cd(9417) = MTgl2**2*(MTgl2*Cd(9414) + Cd(9416)) - 
     &    4*MTgl2**4*MStgl2(3) + 3*Cc(1080)**3*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9417)", Cd(9417) ENDL
#endif

        Cd(9418) = (Cd(3284)*MStgl2(2)**2 - 
     &      MGl2*(MGl2*(4*MGl2 - Cd(5588)) + 2*Cd(2874)*MStgl2(2)))
     &     *MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9418)", Cd(9418) ENDL
#endif

        Cd(9433) = 4*MTgl2*(MTgl2 - MStgl2(2)) + 
     &    (7*MTgl2 - 3*MStgl2(2))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9433)", Cd(9433) ENDL
#endif

        Cd(9447) = MTgl2*
     &     (MTgl2*(6*MTgl2 + Cd(4519)) - 6*Cc(134)*MStgl2(2)) - 
     &    3*MStgl2(2)**2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9447)", Cd(9447) ENDL
#endif

        Cd(9477) = 3*MTgl2**2 + 2*Cd(2083)*MStgl2(2) + 
     &    13*MStgl2(2)**2 + MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9477)", Cd(9477) ENDL
#endif

        Cd(9478) = MTgl2*Cd(2196) + 
     &    MStgl2(2)*(Cc(1152)**2 + 
     &       2*(Cd(1785) - 2*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9478)", Cd(9478) ENDL
#endif

        Cd(9480) = 3*Cd(9479) - 2*MTgl2*MStgl2(1)**2 - 
     &    MStgl2(2)*(Cd(6400) + Cd(8832)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9480)", Cd(9480) ENDL
#endif

        Cd(9482) = MTgl2*Cd(9481) - 
     &    MStgl2(2)*(MTgl2*Cd(1975) + 
     &       (Cd(1468) - 5*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9482)", Cd(9482) ENDL
#endif

        Cd(9501) = 3*MGl2*Cd(9237) + 
     &    Cd(9499)*MStgl2(1)*MStgl2(2) - Cd(9500)*MStgl2(2)**2 - 
     &    2*Cd(9498)*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9501)", Cd(9501) ENDL
#endif

        Cd(9508) = 2*MGl2*Cd(9503) - Cd(9507)*MStgl2(2) - 
     &    MGl2**2*(Cd(9504) + 12*MGl2*UUStgl(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9508)", Cd(9508) ENDL
#endif

        Cd(9512) = 3*MGl2*Cd(9259) + 
     &    Cd(9510)*MStgl2(1)*MStgl2(2) + Cd(9511)*MStgl2(2)**2 - 
     &    36*MStgl2(1)**2*UUStgl(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9512)", Cd(9512) ENDL
#endif

        Cd(9513) = -(Cd(9512)*MStgl2(2)**2) + 
     &    MGl2**2*(Cd(9509) + 
     &       MGl2*(Cd(9257) + 18*MGl2*UUStgl(1,1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9513)", Cd(9513) ENDL
#endif

        Cd(9520) = 2*MGl2*Cd(9517) + Cd(9519)*MStgl2(2) - 
     &    3*MGl2**2*(Cd(9515) + 4*MGl2*UUStgl(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9520)", Cd(9520) ENDL
#endif

        Cd(9529) = 4*MGl2**2*Cd(9525) + Cd(9528)*MStgl2(2) - 
     &    MGl2*(8*MGl2**2 + Cd(9523))*UUStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9529)", Cd(9529) ENDL
#endif

        Cd(9549) = Cd(9548)*MStgl2(2) + 
     &    MGl2*(Cd(9546) - 2*MGl2*(Cd(9543) - 16*MGl2*UUStgl(1,3)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9549)", Cd(9549) ENDL
#endif

        Cd(9553) = 3*MTgl2*Cd(2710) + 
     &    MStgl2(2)*(Cd(9297) - 3*(Cd(4138) - MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9553)", Cd(9553) ENDL
#endif

        Cd(9581) = MTgl2*Cd(9578) - 
     &    MStgl2(2)*(2*Cd(9579) + 
     &       (Cd(9580) - 34*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9581)", Cd(9581) ENDL
#endif

        Cd(9610) = 4*MTgl2*Cd(596) + 
     &    48*(MTgl2**2 + MStgl2(2)**2) - Cd(9609)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9610)", Cd(9610) ENDL
#endif

        Cd(9620) = MTgl2*Cd(9617) - 
     &    MStgl2(2)*(14*Cd(9618) + 
     &       (5*Cd(9619) - 6*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9620)", Cd(9620) ENDL
#endif

	Cd(9682) = Cd(9655) + Cd(9654)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9682)", Cd(9682) ENDL
#endif

	Cd(9789) = Cd(645) + 4*Cd(9788)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9789)", Cd(9789) ENDL
#endif

        Cd(972) = 4*Cd(971) + Cd(969)*MStgl2(1)**2 + 
     &    (4*Cd(970) - 11*MStgl2(2))*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(972)", Cd(972) ENDL
#endif

	Cd(9882) = Cd(1253) + UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9882)", Cd(9882) ENDL
#endif

        Cd(982) = UStgl2(1,1)**2*
     &     (Cd(978) - 2*Cd(960)*UStgl2(1,1)) - 
     &    Cd(981)*UStgl2(1,2) + 2*MStgl2(1)**2*UStgl2(1,2)**4

#ifdef DETAILED_DEBUG
	DTLHR "Cd(982)", Cd(982) ENDL
#endif

        Cd(9918) = 2*(Atgl*UCStglC(1,3)**2 + 
     &       UStgl2(1,1)*(M_3C + 2*AtglC*UStgl2(1,1))) + 
     &    AtglC*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9918)", Cd(9918) ENDL
#endif

        Cd(9955) = Cd(11493) + 2*Cc(1217)*UStgl2(1,1) - 
     &    2*(Cc(1217) - 3*UStgl2(1,1))*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9955)", Cd(9955) ENDL
#endif

        Cd(10040) = -((2*M_3*AtglC + Atgl*Cd(9880))*Cr(29)) + 
     &    AtglC*Cd(10039)*UCStgl(1,3)**2 + 
     &    Atgl*(4*M_3 + Atgl)*UCStglC(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10040)", Cd(10040) ENDL
#endif

        Cd(10180) = -(Cc(296)*Cc(646)*Cd(10179)) + 
     &    4*(Cd(10177) + 2*M_3*MTgl2*Cc(1639)*MGlpTmSt2(1))*
     &     MStgl2(1)**2 + MTgl*
     &     (MUE*Cc(1154)**2*UCStgl(1,3) + 
     &       MUEC*Cd(10178)*UCStglC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10180)", Cd(10180) ENDL
#endif

        Cd(10193) = MTgl2 + 
     &    2*MTgl*(M_3C*UCStgl(1,3) + M_3*UCStglC(1,3)) + 
     &    (MGl2 - MStgl2(2))*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10193)", Cd(10193) ENDL
#endif

	Cd(10199) = Cd(10164) + 2*MTgl*UCStglC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10199)", Cd(10199) ENDL
#endif

        Cd(10423) = AtglC*(2*M_3C + AtglC)*UCStgl(1,3)**2 + 
     &    Atgl*Cd(9907)*UCStglC(1,3)**2 - 
     &    2*(M_3C*Atgl*Cc(1217) + AtglC*Cd(10422))*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10423)", Cd(10423) ENDL
#endif

        Cd(10464) = Atgl*Cd(10461) - Cc(1217)*Cd(10463) + 
     &    2*(AtglC*Cc(1154) - Cd(10462))*UCStgl(1,3)**2 - 
     &    2*M_3*MGlmT2*MStgl2(3)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10464)", Cd(10464) ENDL
#endif

        Cd(10467) = AtglC*Cd(10461) - Cc(1217)*Cd(10466) + 
     &    2*(Atgl*Cc(1154) - Cd(10465))*UCStglC(1,3)**2 - 
     &    2*M_3C*MGlmT2*MStgl2(3)*UStgl2(1,1)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10467)", Cd(10467) ENDL
#endif

        Cd(10763) = MUE*
     &     (8*M_3C*UCStgl(1,3)**2 + 4*M_3*UStgl2(1,1)**2) + 
     &    MUEC*(4*M_3C*UStgl2(1,1)**2 + 
     &       AtglC*(3*UStgl2(1,1)**2 + UStgl2(1,2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10763)", Cd(10763) ENDL
#endif

        Cd(11510) = -8*MTgl2*Cd(11504) + 4*Cd(11509) - 
     &    4*Cd(11395)*MStgl2(2)*UStgl2(1,1) - 
     &    AtglC**2*Cd(1382)*UCStgl(1,3)**2*UUStgl(2,1) + 
     &    Atgl**2*Cd(11505)*UUStgl(2,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11510)", Cd(11510) ENDL
#endif

        Cd(11544) = Cd(1155) - 
     &    2*UStgl2(1,1)*UStgl2(1,2)*
     &     (UStgl2(1,1)*(UStgl2(1,1) - 5*UStgl2(1,2)) + 
     &       UStgl2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11544)", Cd(11544) ENDL
#endif

        Cd(11613) = Cd(1253) - UStgl2(1,1)*UStgl2(1,2)**2 + 
     &    UStgl2(1,1)**2*(2*Cc(1217) + UStgl2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11613)", Cd(11613) ENDL
#endif

        Cd(11635) = -((4*M_3*AtglC*Cc(394) + Atgl*Cd(11633))*
     &       Cr(29)) + AtglC*Cd(11634)*UCStgl(1,3)**2 + 
     &    Atgl*(Atgl*MGlmT2 + 8*M_3*Cc(394))*UCStglC(1,3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11635)", Cd(11635) ENDL
#endif

        Cd(11641) = Cd(12226) + 4*Cc(296)*Cr(29) - 
     &    2*Cc(1217)*Cd(11640)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11641)", Cd(11641) ENDL
#endif

        Cd(11665) = Cd(1253) + Cd(1373)*UStgl2(1,1) + 
     &    Cc(1217)*(1 - 3*UStgl2(1,1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11665)", Cd(11665) ENDL
#endif

        Cd(11682) = Cd(11681)/MStgl2(3) + 
     &    (Cd(11678) - 4*UStgl2(1,1))*UStgl2(1,1)**2 - 
     &    2*Cd(7872)*UStgl2(1,1)*UStgl2(1,2) - 
     &    Cd(2242)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11682)", Cd(11682) ENDL
#endif

        Cd(1170) = -(UStgl2(1,1)*
     &       (UStgl2(1,1)**2*(Cd(1166) - Cd(1163)*UStgl2(1,1)) + 
     &         2*Cd(1167)*UStgl2(1,2)**2)) + 
     &    2*(Cd(1169)*UStgl2(1,1)**2 + 
     &       MStgl2(1)*MStgl2(2)*UStgl2(1,2)**4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1170)", Cd(1170) ENDL
#endif

        Cd(11782) = Cd(12226) + 4*Cc(344)*Cr(29) - 
     &    2*Cc(1217)*Cd(11781)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11782)", Cd(11782) ENDL
#endif

        Cd(11801) = Cc(1217)*Cd(11670) + 
     &    UStgl2(1,1)*(Cd(11672) + 
     &       UStgl2(1,1)*(Cd(11671) + 4*UStgl2(1,1))) + 
     &    Cd(2328)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11801)", Cd(11801) ENDL
#endif

        Cd(11926) = AtglC*(2*M_3C + AtglC)*UCStgl(1,3)**2 + 
     &    Atgl*Cd(9907)*UCStglC(1,3)**2 - 
     &    2*(M_3C*Atgl*Cc(1217) + AtglC*Cd(9875))*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11926)", Cd(11926) ENDL
#endif

        Cd(11977) = Cc(1217)*Cd(11974) - 
     &    Cd(11976)*UStgl2(1,1) + 
     &    2*(Cd(11975) - 4*UStgl2(1,1))*UStgl2(1,1)**2 - 
     &    2*Cd(2266)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11977)", Cd(11977) ENDL
#endif

        Cd(11981) = Cc(1217)*Cd(11980) - 
     &    UStgl2(1,1)*(Cd(11976) - 
     &       2*(7 - 4*UStgl2(1,1))*UStgl2(1,1)) - 
     &    2*Cd(2266)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11981)", Cd(11981) ENDL
#endif

        Cd(12143) = 2*MTgl2**2*(MTgl2 - 2*Cc(1202)) + 
     &    MGl2**2*Cd(1585) - MTgl2*Cd(12142) + 
     &    Cc(1504)*MStgl2(1)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12143)", Cd(12143) ENDL
#endif

        Cd(1412) = 4*Cd(1228) - 2*Cd(1294) + 
     &    Cd(1409)*MStgl2(3) + 2*Cd(1410)*UStgl2(1,2) + 
     &    Cd(1411)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1412)", Cd(1412) ENDL
#endif

        Cd(1426) = 4*Cd(1259) + 2*Cd(1347) - 4*Cd(1423) - 
     &    Cr(29)*MStgl2(3)**2 - 2*Cd(1425)*UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1426)", Cd(1426) ENDL
#endif

	Cd(1435) = MGl2*MGlmT2 - Cd(2895) - 3*Cc(1401)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1435)", Cd(1435) ENDL
#endif

        Cd(1453) = MTgl2*(-7*MGlpT2 - 6*MStgl2(1)) + 
     &    MGl2*(7*MGl2 - 3*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1453)", Cd(1453) ENDL
#endif

        Cd(1540) = -8*MTgl2**2 + MGl2*(4*MGl2 - 13*MStgl2(1)) - 
     &    Cd(1539)*MStgl2(1) - 3*MGlmT2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1540)", Cd(1540) ENDL
#endif

        Cd(1560) = -2*MTgl2**2 + MGl2*(MGl2 - 3*MStgl2(1)) - 
     &    Cd(1559)*MStgl2(1) - MGlmT2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1560)", Cd(1560) ENDL
#endif

        Cd(1601) = MTgl2**2 + 4*MTgl2*MStgl2(1) - 
     &    MStgl2(2)*(2*Cd(1600) + MStgl2(2)) + 
     &    3*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1601)", Cd(1601) ENDL
#endif

        Cd(1603) = (MTgl2 - 5*MStgl2(1))*(MTgl2 + MStgl2(1)) + 
     &    2*Cd(1602)*MStgl2(2) + MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1603)", Cd(1603) ENDL
#endif

        Cd(1605) = MTgl2**3 + 7*MTgl2**2*MStgl2(1) + 
     &    10*MStgl2(1)**3 - 
     &    3*MStgl2(2)*(2*Cd(1604) + Cc(427)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1605)", Cd(1605) ENDL
#endif

        Cd(1627) = Cd(3005) + 
     &    MTgl2*(4*MStgl2(1) - 6*MStgl2(2)) + 2*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1627)", Cd(1627) ENDL
#endif

        Cd(1628) = MTgl2*(MTgl2 - 4*MStgl2(1)) + 
     &    6*Cc(1152)*MStgl2(2) + 11*MStgl2(2)**2 + 
     &    MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1628)", Cd(1628) ENDL
#endif

        Cd(1670) = Cd(3005) + 
     &    MTgl2*(8*MStgl2(1) - 10*MStgl2(2)) + 2*Cd(1669)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1670)", Cd(1670) ENDL
#endif

        Cd(1672) = 5*MStgl2(2)**2 + 
     &    MTgl2*(MTgl2 - 8*MStgl2(1) + 10*MStgl2(2)) + 
     &    Cd(1671)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1672)", Cd(1672) ENDL
#endif

        Cd(1702) = Cc(1152)**5 + MGl2**4*(MGl2 - Cd(1602)) - 
     &    MGl2*Cc(1152)**3*Cd(1602) + 2*MGl2**2*Cd(67)*Cd(1699)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1702)", Cd(1702) ENDL
#endif

        Cd(1707) = 5*MStgl2(1)**2 + 
     &    MTgl2*(MTgl2 - 8*MStgl2(1) + 10*MStgl2(2)) + 
     &    Cd(1706)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1707)", Cd(1707) ENDL
#endif

        Cd(1710) = Cd(3005) + 
     &    MTgl2*(8*MStgl2(1) - 10*MStgl2(2)) - Cd(1709)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1710)", Cd(1710) ENDL
#endif

	Cd(1734) = Cd(8431) - 3*MGlpT2*MStgl2(1) + MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1734)", Cd(1734) ENDL
#endif

        Cd(1753) = 6*MTgl2**3 - 3*MTgl2*MStgl2(1)**2 - 
     &    MStgl2(2)*(Cd(1751) + (Cd(1752) - 7*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1753)", Cd(1753) ENDL
#endif

        Cd(1756) = 4*MTgl2**3 + 3*MTgl2*MStgl2(1)**2 + 
     &    MStgl2(2)*(Cd(1754) + 
     &       (3*Cd(1755) - 17*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1756)", Cd(1756) ENDL
#endif

        Cd(1865) = MGl2*(MGl2 + 3*MTgl2) - Cd(2107) - 
     &    3*Cc(1401)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1865)", Cd(1865) ENDL
#endif

        Cd(190) = -(MTgl2*Cc(1202)) + Cd(146) - 
     &    2*MGl2*MStgl2(1) + MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(190)", Cd(190) ENDL
#endif

        Cd(1926) = MTgl2**2*Cd(1922) - 
     &    MStgl2(2)*(2*MTgl2*Cd(1923) + 
     &       MStgl2(2)*(3*Cd(1924) - 2*Cd(1925)*MStgl2(2) + 
     &          5*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1926)", Cd(1926) ENDL
#endif

        Cd(1966) = -4*MTgl2**2 + MGl2*(2*MGl2 - 5*MStgl2(1)) - 
     &    Cd(1965)*MStgl2(1) - 3*MGlmT2*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1966)", Cd(1966) ENDL
#endif

        Cd(1996) = Cc(434)**3*Cd(1619) + 
     &    MGl2*(Cc(434)*Cd(1989) + MGl2*(2*MGl2**2 - Cd(1995))) - 
     &    Cd(1993)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1996)", Cd(1996) ENDL
#endif

        Cd(2082) = 5*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(24*MTgl2 - 3*MStgl2(1)) - 18*MStgl2(1)**2) - 
     &    Cd(2081)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2082)", Cd(2082) ENDL
#endif

        Cd(2206) = 2*MGl2**2*Cd(2204) + 
     &    4*MTgl2**2*MGlpTmSt2(2) - 
     &    MStgl2(1)*(4*Cd(2205) - 11*MGlpT2*MStgl2(1) + 
     &       5*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2206)", Cd(2206) ENDL
#endif

	Cd(2212) = MGl2*MGlmT2 - Cd(2895) - Cd(2211)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2212)", Cd(2212) ENDL
#endif

        Cd(2289) = 2*MGl2**2 - 4*MTgl2**2 - 
     &    9*MGlpT2*MStgl2(1) + 17*MStgl2(1)**2 + Cd(1968)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2289)", Cd(2289) ENDL
#endif

        Cd(2297) = -((Cd(1007)*MStgl2(1)**3 - 
     &        MTgl2*(Cd(2155)*MStgl2(1)**2 - 
     &           MTgl2*(MTgl2*(2*MTgl2 - Cd(1362)) + 
     &              3*Cc(543)*MStgl2(1))))*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2297)", Cd(2297) ENDL
#endif

        Cd(228) = 2*(MGl2*Cd(227) + 
     &       MTgl*MStgl2(3)*
     &        (M_3C*Cc(336)*UCStgl(1,3) - 
     &          M_3*Cc(434)*UCStglC(1,3))) - 
     &    Cc(434)**2*(Cd(161) - Cd(226)*UStgl2(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(228)", Cd(228) ENDL
#endif

        Cd(2354) = 2*MGl2**2 - 4*MTgl2**2 + MGlpT2*MStgl2(1) - 
     &    Cd(2353)*MStgl2(2) + 17*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2354)", Cd(2354) ENDL
#endif

        Cd(2368) = -((Cr(91)*MStgl2(2)**3 - 
     &        MTgl2*(Cd(2101)*MStgl2(2)**2 - 
     &           MTgl2*(MTgl2*(2*MTgl2 - Cd(1067)) + 
     &              3*Cc(131)*MStgl2(2))))*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2368)", Cd(2368) ENDL
#endif

        Cd(2401) = 2*MTgl2*(MTgl2 - MStgl2(1)) - 
     &    2*MStgl2(2)*(Cd(1652) + MStgl2(2)) + MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2401)", Cd(2401) ENDL
#endif

        Cd(2491) = MGl2*MGlmT2*
     &     (MGlmT2**2 - Cd(2476)*MStgl2(1)) + 
     &    MStgl2(1)**2*(Cd(2489) - 
     &       (Cd(2490) - 2*MStgl2(1))*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2491)", Cd(2491) ENDL
#endif

        Cd(2568) = MGl2*MGlmT2*
     &     (MGlmT2**2 - Cd(2476)*MStgl2(2)) + 
     &    MStgl2(2)**2*(Cd(2489) - 
     &       (Cd(2490) - 2*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2568)", Cd(2568) ENDL
#endif

        Cd(2646) = 13*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(4*MTgl2 - 11*MStgl2(1)) - 14*MStgl2(1)**2) + 
     &    Cd(2645)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2646)", Cd(2646) ENDL
#endif

        Cd(270) = MGlmT2*(2*MGlmT2**2 - Cd(266)*MStgl2(1)) - 
     &    Cd(268)*MStgl2(2) + Cc(295)*MStgl2(2)**2 + 
     &    Cd(269)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(270)", Cd(270) ENDL
#endif

        Cd(2755) = -(MTgl2*
     &       (Cc(394)**2*Cd(2753) - 
     &         MTgl2*(Cd(2752) - MTgl2*Cd(2754)))*MStgl2(1)) - 
     &    (2*MTgl2*Cd(2509) - Cc(394)**3*MStgl2(1))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2755)", Cd(2755) ENDL
#endif

        Cd(2774) = (MTgl2 + MStgl2(1))*
     &     (MTgl2*(2*MTgl2 - 7*MStgl2(1)) + MStgl2(1)**2) + 
     &    Cd(2773)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2774)", Cd(2774) ENDL
#endif

        Cd(2791) = -(MGl2*
     &       (MGl2*(3*Cd(2663) + MGl2*(MGl2 - Cd(2786))) - 
     &         Cd(2787))) - 3*Cc(1152)**2*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2791)", Cd(2791) ENDL
#endif

        Cd(2811) = 15*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(2*MTgl2 - 3*MStgl2(1)) - 6*MStgl2(1)**2) - 
     &    Cd(2773)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2811)", Cd(2811) ENDL
#endif

	Cd(2866) = Cd(3425) + Cd(2645)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2866)", Cd(2866) ENDL
#endif

        Cd(2877) = 3*MStgl2(1)**3 + 
     &    MTgl2*(MTgl2*(2*MTgl2 - 5*MStgl2(1)) - 12*MStgl2(1)**2) + 
     &    Cc(427)*Cd(2876)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2877)", Cd(2877) ENDL
#endif

        Cd(285) = -2*(MGl2**2 + MStgl2(2)**2) + 
     &    MStgl2(3)*MStgl2(4) + 
     &    2*(MGl2*Cd(284) + Cc(1154)*UStgl2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(285)", Cd(285) ENDL
#endif

        Cd(2913) = MTgl2**2*
     &     (Cd(2906) - MTgl2*(6*MTgl2*Cd(2902) - Cd(2912))) + 
     &    MTgl2*Cc(394)**2*Cd(2909)*MStgl2(3) - 
     &    Cc(394)**4*MStgl2(1)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2913)", Cd(2913) ENDL
#endif

        Cd(2918) = MTgl2**2*(MTgl2*Cd(2915) + Cd(2917)) - 
     &    4*MTgl2**4*MStgl2(3) + 
     &    3*(MGl2**3 - Cd(2914)*MStgl2(1))*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2918)", Cd(2918) ENDL
#endif

        Cd(295) = MGlmT2**2 - 2*MGlpT2*MStgl2(2) + 
     &    MStgl2(2)**2 - Cc(1076)*UStgl2(1,1) + 
     &    Cc(1154)*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(295)", Cd(295) ENDL
#endif

        Cd(3025) = 4*MTgl2**3 + 3*MTgl2**2*MStgl2(1) - 
     &    MTgl2*Cd(3023)*MStgl2(2) - 
     &    (Cd(3024) - 13*MStgl2(2))*MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3025)", Cd(3025) ENDL
#endif

        Cd(3126) = Cc(1080)**3*MStgl2(3) + 
     &    MTgl2*(Cc(1080)**2*Cd(3124) - 
     &       MTgl2*(Cd(3123) - MTgl2*Cd(3125)) + 
     &       2*Cd(3008)*UStgl2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3126)", Cd(3126) ENDL
#endif

	Cd(3152) = -(MGl2*(2*MGl2 - Cd(3151))) - Cd(3338)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3152)", Cd(3152) ENDL
#endif

        Cd(3229) = MTgl2*Cc(1080)*Cd(3227) - 
     &    MTgl2**2*(Cd(3225) + MTgl2*(4*MTgl2 - Cd(3228))) + 
     &    3*Cc(1080)**3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3229)", Cd(3229) ENDL
#endif

	Cd(3237) = Cd(2710) + (-5*MGl2 + 4*MTgl2)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3237)", Cd(3237) ENDL
#endif

        Cd(3269) = MGlmT2**3 - MGlmT2*MTgl2*MStgl2(1) - 
     &    MStgl2(2)*(Cd(3267) - (Cd(3268) - MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3269)", Cd(3269) ENDL
#endif

        Cd(3335) = -(MTgl2*
     &       (Cc(1080)**2*Cd(3124) - 
     &         MTgl2*(Cd(3123) - MTgl2*Cd(3125)))*MStgl2(2)) + 
     &    (2*MTgl2*Cd(2584) - Cc(1080)**3*MStgl2(2))*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3335)", Cd(3335) ENDL
#endif

        Cd(3464) = MGl2**2 - 3*MGl2*Cc(427) + MTgl2*MStgl2(1) + 
     &    3*(MTgl2**2 + MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3464)", Cd(3464) ENDL
#endif

	Cd(3519) = Cd(2710) - (5*MGlmT2 - 9*MStgl2(1))*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3519)", Cd(3519) ENDL
#endif

        Cd(3563) = 2*MGl2*Cd(3561) - 
     &    MGl2**2*(2*Cd(3556) + 
     &       MGl2*(2*Cd(3554) + 3*MGl2*Cr(1))) - 
     &    Cc(1152)**2*Cd(3553)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3563)", Cd(3563) ENDL
#endif

        Cd(3569) = Cc(1152)*Cd(3568) - 
     &    MGl2*(MGl2*(MGl2 - 3*Cc(427)) + 3*Cd(2834) - 
     &       MTgl2*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3569)", Cd(3569) ENDL
#endif

        Cd(3609) = -(Cd(3608)*MStgl2(1)) + 
     &    MGl2*(MGlmT2*(MGl2 - 3*MTgl2) + 3*MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3609)", Cd(3609) ENDL
#endif

        Cd(3656) = MTgl2**2*Cd(132)*MStgl2(1) - 
     &    MStgl2(2)*(2*MTgl2*Cd(1948) - 
     &       MStgl2(2)*(Cd(3654) + 2*Cd(3655)*MStgl2(2) - 
     &          7*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3656)", Cd(3656) ENDL
#endif

        Cd(3695) = 3*MTgl2**2*MStgl2(1)**2 - 
     &    2*MTgl2*Cc(427)*Cd(2156)*MStgl2(2) + 
     &    MStgl2(2)**2*(Cd(3694) + 
     &       (2*Cd(2883) - 5*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3695)", Cd(3695) ENDL
#endif

        Cd(3719) = MTgl2**2*Cd(496)*MStgl2(1) + 
     &    MStgl2(2)*(2*MTgl2*Cd(3717) - 
     &       MStgl2(2)*(Cd(3718) - 2*Cc(427)*MStgl2(2) - 
     &          3*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3719)", Cd(3719) ENDL
#endif

        Cd(3744) = MTgl2**2*Cd(1977)*MStgl2(1) + 
     &    2*MTgl2*Cd(3741)*MStgl2(2) - 
     &    MStgl2(2)**2*(Cd(3742) + 
     &       MStgl2(2)*(2*Cd(3743) + 3*MStgl2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3744)", Cd(3744) ENDL
#endif

        Cd(3754) = MTgl2**2*Cd(1785)*MStgl2(1) + 
     &    2*MTgl2*Cd(3751)*MStgl2(2) - 
     &    MStgl2(2)**2*(Cd(3752) + 
     &       MStgl2(2)*(2*Cd(3753) + 3*MStgl2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3754)", Cd(3754) ENDL
#endif

        Cd(3818) = 3*MTgl2**2*MStgl2(1)**2 - 
     &    2*MTgl2*Cd(3816)*MStgl2(2) + 
     &    MStgl2(2)**2*(Cd(3817) + 
     &       (2*Cd(1656) - 3*MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3818)", Cd(3818) ENDL
#endif

        Cd(3868) = -(Cd(3867)*MStgl2(2)) + 
     &    MGl2*(MGlmT2*(MGl2 - 3*MTgl2) + 3*MStgl2(2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3868)", Cd(3868) ENDL
#endif

        Cd(3886) = MGl2**2 - 3*MGl2*Cc(1074) + MTgl2*Cd(2083) + 
     &    MStgl2(2)*(MTgl2 + 3*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3886)", Cd(3886) ENDL
#endif

        Cd(3903) = -(MTgl2**2*
     &       (MTgl2*(4*MTgl2 - Cd(3228)) + Cd(3899))) + 
     &    MTgl2*Cc(1080)*Cd(3902) + 3*Cc(1080)**3*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3903)", Cd(3903) ENDL
#endif

        Cd(3920) = MGl2*(MGl2 - 3*MTgl2) + Cd(7462) - 
     &    Cd(3268)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3920)", Cd(3920) ENDL
#endif

        Cd(3932) = 5*MGl2*MTgl2 + 9*MTgl2**2 - 
     &    Cd(3931)*MStgl2(1) + 2*(MGl2**2 + MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3932)", Cd(3932) ENDL
#endif

        Cd(3941) = MGl2**2 - 3*MGl2*Cc(427) - 
     &    2*MTgl2*MStgl2(1) + 3*(MTgl2**2 + MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3941)", Cd(3941) ENDL
#endif

        Cd(3978) = 4*MGl2**2 - 3*MGl2*MTgl2 - 33*MTgl2**2 + 
     &    (3*Cd(3977) - 8*MStgl2(1))*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3978)", Cd(3978) ENDL
#endif

        Cd(3980) = 3*MGl2**2 + 6*MGl2*MTgl2 - MTgl2**2 - 
     &    (Cd(2688) - MStgl2(1))*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3980)", Cd(3980) ENDL
#endif

        Cd(3984) = -4*MGl2*MTgl2 + 3*MTgl2**2 + Cd(2681) - 
     &    2*Cc(1401)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3984)", Cd(3984) ENDL
#endif

	Cd(4006) = Cd(2710) - Cd(3268)*MStgl2(2) - MStgl2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4006)", Cd(4006) ENDL
#endif

        Cd(4017) = 5*MGl2*MTgl2 + 9*MTgl2**2 - 
     &    Cd(3931)*MStgl2(2) + 2*(MGl2**2 + MStgl2(2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4017)", Cd(4017) ENDL
#endif

	Cd(4029) = MGl2*(MGl2 - 3*Cc(1074)) + Cd(4083)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4029)", Cd(4029) ENDL
#endif

        Cd(4063) = 4*MGl2**2 - 3*MGl2*MTgl2 - 33*MTgl2**2 + 
     &    (3*Cd(3977) - 8*MStgl2(2))*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4063)", Cd(4063) ENDL
#endif

        Cd(4065) = 3*MGl2**2 + 6*MGl2*MTgl2 - MTgl2**2 - 
     &    (Cd(2688) - MStgl2(2))*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4065)", Cd(4065) ENDL
#endif

        Cd(4069) = -4*MGl2*MTgl2 + 3*MTgl2**2 + Cd(3061) - 
     &    2*Cc(1401)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4069)", Cd(4069) ENDL
#endif

        Cd(4103) = 4*MGl2*Cc(427) - Cd(4101)*MStgl2(1) - 
     &    MTgl2*(12*MTgl2 + 11*MStgl2(1) - 3*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4103)", Cd(4103) ENDL
#endif

        Cd(4146) = Cc(1152)**3*Cd(2692) - 
     &    MGl2*Cc(1152)*Cd(4143) + 
     &    MGl2**2*(MTgl2*(9*MTgl2 - 3*Cd(4144)) - Cd(4145)*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4146)", Cd(4146) ENDL
#endif

        Cd(4271) = -(MTgl2*(6*MTgl2 - 4*MStgl2(1))) + 
     &    MGl2*(2*MTgl2 - MStgl2(1)) + Cd(4212)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4271)", Cd(4271) ENDL
#endif

	Cd(427) = (MTgl*Cd(403) + Cd(426))/MTgl

#ifdef DETAILED_DEBUG
	DTLHR "Cd(427)", Cd(427) ENDL
#endif

	Cd(4329) = Cd(4650) - 3*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4329)", Cd(4329) ENDL
#endif

        Cd(4525) = MGl2*(MGl2 + 9*MTgl2 - 5*MStgl2(1)) + 
     &    MTgl2*(3*MTgl2 + 2*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4525)", Cd(4525) ENDL
#endif

	Cd(4573) = Cd(8904) + 6*Cc(434)**2*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4573)", Cd(4573) ENDL
#endif

        Cd(4598) = MGl2*(2*MTgl2 + 3*MStgl2(1)) - 
     &    MTgl2*(6*MTgl2 + 8*MStgl2(1)) - Cd(4597)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4598)", Cd(4598) ENDL
#endif

	Cd(4678) = MGl2*(MGl2 - Cd(2083)) - Cd(8976)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4678)", Cd(4678) ENDL
#endif

        Cd(4690) = MTgl2**2*Cd(4689) + 
     &    MStgl2(3)*(MTgl2**3*
     &        (3*MTgl2*(2*MTgl2*Cc(95) - Cd(4682)) + Cd(4685)) - 
     &       Cc(1080)**3*MStgl2(2)**2*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4690)", Cd(4690) ENDL
#endif

        Cd(4700) = -(MTgl2**2*(MTgl2*Cd(4697) - Cd(4699))) + 
     &    4*MTgl2**4*MStgl2(3) + 
     &    (11*MGl2**3 - Cd(4695)*MStgl2(2))*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4700)", Cd(4700) ENDL
#endif

        Cd(4781) = 8*MTgl2**3*MStgl2(1) - 
     &    42*MTgl2**2*MStgl2(1)**2 - MStgl2(1)**4 + 
     &    36*MTgl2*(MTgl2**3 + MStgl2(1)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4781)", Cd(4781) ENDL
#endif

        Cd(4805) = -Cd(5896) + MTgl2*(2*MTgl2 - 5*MStgl2(1)) + 
     &    Cd(1519)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4805)", Cd(4805) ENDL
#endif

        Cd(4815) = 3*MStgl2(1)**4 - 
     &    MTgl2*(9*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(5*MTgl2 - 6*MStgl2(1)) + 3*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4815)", Cd(4815) ENDL
#endif

        Cd(4816) = -MStgl2(1)**4 + 
     &    MTgl2*(14*MStgl2(1)**3 - 
     &       MTgl2*(50*MStgl2(1)**2 - MTgl2*(7*MTgl2 + 14*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4816)", Cd(4816) ENDL
#endif

        Cd(4819) = MTgl2*Cd(4815) - 
     &    MStgl2(2)*(Cd(4816) - 
     &       MStgl2(2)*(Cd(4817) - 2*Cd(4818)*MStgl2(2) - 
     &          Cd(1519)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4819)", Cd(4819) ENDL
#endif

        Cd(4820) = 19*MStgl2(1)**4 - 
     &    MTgl2*(128*MStgl2(1)**3 - 
     &       MTgl2*(220*MStgl2(1)**2 + 
     &          MTgl2*(29*MTgl2 + 36*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4820)", Cd(4820) ENDL
#endif

        Cd(4835) = 120*MTgl2**3 + 9*Cc(40)*Cd(1221) + 
     &    2*MTgl2*Cd(4834) + 
     &    (36*MTgl2**2 + 51*MStgl2(1)*MStgl2(2))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4835)", Cd(4835) ENDL
#endif

        Cd(46) = -(MGl2*(2*MGl2 - Cd(44))) - 
     &    MTgl2*(2*MTgl2 - MStgl2(1)) + Cd(45)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(46)", Cd(46) ENDL
#endif

        Cd(4882) = 50*MTgl2*MStgl2(1) + 2*Cd(4881)*MStgl2(2) + 
     &    36*(MTgl2**2 + MStgl2(2)**2) - 33*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4882)", Cd(4882) ENDL
#endif

        Cd(4892) = 22*MStgl2(1)**4 - 
     &    MTgl2*(140*MStgl2(1)**3 - 
     &       MTgl2*(218*MStgl2(1)**2 + MTgl2*(7*MTgl2 + 32*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4892)", Cd(4892) ENDL
#endif

        Cd(4900) = -17*MStgl2(1)**4 + 
     &    MTgl2*(108*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(9*MTgl2 - 60*MStgl2(1)) - 120*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4900)", Cd(4900) ENDL
#endif

        Cd(4909) = -(MTgl2**2*(4*MTgl2 - 3*Cc(131))) + 
     &    3*Cd(4908)*MStgl2(1) + Cd(4907)*MStgl2(1)**2 - 
     &    Cc(134)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4909)", Cd(4909) ENDL
#endif

        Cd(4917) = 4*MStgl2(1)**4 - 
     &    MTgl2*(8*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(24*MTgl2 - 39*MStgl2(1)) + 28*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4917)", Cd(4917) ENDL
#endif

        Cd(4918) = -4*MStgl2(1)**4 + 
     &    MTgl2*(32*MStgl2(1)**3 - 
     &       MTgl2*(28*MStgl2(1)**2 - MTgl2*(33*MTgl2 + 4*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4918)", Cd(4918) ENDL
#endif

        Cd(4944) = -16*MStgl2(1)**4 + 
     &    MTgl2*(96*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(23*MTgl2 - 24*MStgl2(1)) - 
     &          106*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4944)", Cd(4944) ENDL
#endif

        Cd(4951) = 11*MStgl2(1)**4 - 
     &    MTgl2*(64*MStgl2(1)**3 - 
     &       MTgl2*(90*MStgl2(1)**2 + MTgl2*(7*MTgl2 + 36*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4951)", Cd(4951) ENDL
#endif

        Cd(5093) = MStgl2(1)**4 + 
     &    MTgl2*(5*MStgl2(1)**3 + 
     &       MTgl2*(MStgl2(1)**2 + MTgl2*(5*MTgl2 + 10*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5093)", Cd(5093) ENDL
#endif

        Cd(5096) = Cd(5093) - 
     &    MStgl2(2)*(Cd(5094) + 
     &       MStgl2(2)*(2*MStgl2(2)**2 + 
     &          3*(Cd(5095) + Cd(1602)*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5096)", Cd(5096) ENDL
#endif

        Cd(5097) = -7*MStgl2(1)**4 + 
     &    MTgl2*(52*MStgl2(1)**3 - 
     &       MTgl2*(70*MStgl2(1)**2 - MTgl2*(46*MTgl2 + 32*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5097)", Cd(5097) ENDL
#endif

        Cd(5104) = MStgl2(1)**4 + 
     &    MTgl2*(12*MStgl2(1)**3 - 
     &       MTgl2*(60*MStgl2(1)**2 - MTgl2*(21*MTgl2 + 66*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5104)", Cd(5104) ENDL
#endif

        Cd(5125) = MStgl2(1)**4 + 
     &    MTgl2*(17*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(90*MTgl2 - 36*MStgl2(1)) + 37*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5125)", Cd(5125) ENDL
#endif

        Cd(5129) = Cd(5125) - 
     &    MStgl2(2)*(Cd(5126) - 
     &       MStgl2(2)*(Cd(5127) + Cd(5128)*MStgl2(2) + 
     &          MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5129)", Cd(5129) ENDL
#endif

        Cd(5155) = -6*MTgl2**3 + 2*Cc(40)*Cd(1221) - 
     &    MTgl2*Cd(5154) - (3*MTgl2**2 - 13*MStgl2(1)*MStgl2(2))*
     &     MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5155)", Cd(5155) ENDL
#endif

        Cd(5163) = 3*MStgl2(1)**4 - 
     &    MTgl2*(12*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(6*MTgl2 - 3*MStgl2(1)) + 10*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5163)", Cd(5163) ENDL
#endif

        Cd(5164) = -MStgl2(1)**4 + 
     &    MTgl2*(12*MStgl2(1)**3 - 
     &       MTgl2*(54*MStgl2(1)**2 - MTgl2*(3*MTgl2 + 56*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5164)", Cd(5164) ENDL
#endif

        Cd(5167) = MTgl2*Cd(5163) - 
     &    MStgl2(2)*(Cd(5164) - 
     &       MStgl2(2)*(2*Cd(5165) - 4*Cd(5166)*MStgl2(2) + 
     &          Cd(2083)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5167)", Cd(5167) ENDL
#endif

        Cd(5210) = MTgl2*
     &     (MTgl2*(218*MTgl2**3 + 2*Cd(5206)) + Cd(5209)) - 
     &    (89*MTgl2**4 + 3*Cd(5207)*MStgl2(1)*MStgl2(2))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5210)", Cd(5210) ENDL
#endif

        Cd(5211) = 17*MStgl2(1)**4 - 
     &    MTgl2*(52*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(74*MTgl2 - 114*MStgl2(1)) + 
     &          107*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5211)", Cd(5211) ENDL
#endif

        Cd(5212) = -9*MStgl2(1)**4 + 
     &    MTgl2*(56*MStgl2(1)**3 - 
     &       MTgl2*(68*MStgl2(1)**2 - MTgl2*(57*MTgl2 + 28*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5212)", Cd(5212) ENDL
#endif

        Cd(5213) = -3*MStgl2(1)**4 + 
     &    MTgl2*(44*MStgl2(1)**3 - 
     &       MTgl2*(92*MStgl2(1)**2 - 
     &          MTgl2*(107*MTgl2 + 136*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5213)", Cd(5213) ENDL
#endif

        Cd(5216) = MTgl2**2*Cd(5211) - 
     &    MStgl2(2)*(2*MTgl2*Cd(5212) - 
     &       MStgl2(2)*(Cd(5213) - 4*Cd(5214)*MStgl2(2) + 
     &          Cd(5215)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5216)", Cd(5216) ENDL
#endif

	Cd(5223) = Cd(5218) - 6*(4*Cd(5222) - 5*MStgl2(1))*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5223)", Cd(5223) ENDL
#endif

        Cd(5289) = 210*MGl2**3 + 13*Cc(40)*Cd(1221) + 
     &    MGl2*Cd(5288) + (73*MGl2**2 + 62*MStgl2(1)*MStgl2(2))*
     &     MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5289)", Cd(5289) ENDL
#endif

        Cd(5303) = Cc(427)*MStgl2(1)**3 + 
     &    MStgl2(2)*(5*Cd(3651)*MStgl2(1)**2 + 
     &       MStgl2(2)*(15*Cd(1652)*MStgl2(1) + 
     &          Cd(5302)*MStgl2(2) + MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5303)", Cd(5303) ENDL
#endif

        Cd(5357) = -(MTgl2*
     &       (MTgl2*(MTgl2*(30*MTgl2**2 - 4*Cd(5354)) - Cd(5356)) - 
     &         10*Cd(1221)*MStgl2(1)*MStgl2(2))) + 
     &    Cd(5355)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5357)", Cd(5357) ENDL
#endif

	Cd(5359) = MGl2*(3*MGl2 - Cd(5358)) + Cd(5494)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5359)", Cd(5359) ENDL
#endif

        Cd(5389) = 4*MGl2**2 + 9*Cc(226) + 
     &    MTgl2*(60*MTgl2 + 36*MStgl2(1)) + 6*Cd(3185)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5389)", Cd(5389) ENDL
#endif

        Cd(5412) = -7*MStgl2(1)**4 + 
     &    MTgl2*(48*MStgl2(1)**3 - 
     &       MTgl2*(46*MStgl2(1)**2 - MTgl2*(50*MTgl2 + 24*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5412)", Cd(5412) ENDL
#endif

        Cd(5419) = MStgl2(1)**4 + 
     &    MTgl2*(10*MStgl2(1)**3 - 
     &       MTgl2*(45*MStgl2(1)**2 - MTgl2*(20*MTgl2 + 54*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5419)", Cd(5419) ENDL
#endif

        Cd(5428) = 3*Cc(226)*Cd(784) + 
     &    MTgl2*(30*MTgl2**3 - 3*MTgl2*Cd(3749) - 
     &       (12*MTgl2**2 + Cd(5427))*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5428)", Cd(5428) ENDL
#endif

	Cd(5429) = Cd(7553) - MTgl2*MStgl2(1) - Cc(427)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5429)", Cd(5429) ENDL
#endif

        Cd(5453) = MStgl2(1)**4 + 
     &    MTgl2*(22*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(28*MTgl2 - 8*MStgl2(1)) - 34*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5453)", Cd(5453) ENDL
#endif

        Cd(5457) = Cd(5453) - 
     &    MStgl2(2)*(2*Cd(5454) + 
     &       MStgl2(2)*(2*Cd(5455) - 2*Cd(5456)*MStgl2(2) - 
     &          MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5457)", Cd(5457) ENDL
#endif

        Cd(5461) = MTgl2**2*
     &     (Cd(5460) - MTgl2*(8*MTgl2**2 + 14*MStgl2(3)**2)) + 
     &    (10*MTgl2**4 - Cd(5459))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5461)", Cd(5461) ENDL
#endif

	Cd(539) = 4*MTgl2 + Cd(645) - 4*AtglC*MTgl*UCStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(539)", Cd(539) ENDL
#endif

        Cd(5488) = 17*MStgl2(1)**4 - 
     &    MTgl2*(58*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(62*MTgl2 - 72*MStgl2(1)) + 83*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5488)", Cd(5488) ENDL
#endif

        Cd(5489) = -9*MStgl2(1)**4 + 
     &    MTgl2*(62*MStgl2(1)**3 - 
     &       MTgl2*(137*MStgl2(1)**2 - 
     &          MTgl2*(36*MTgl2 + 112*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5489)", Cd(5489) ENDL
#endif

        Cd(5490) = -3*MStgl2(1)**4 + 
     &    MTgl2*(62*MStgl2(1)**3 - 
     &       MTgl2*(224*MStgl2(1)**2 - 
     &          MTgl2*(83*MTgl2 + 274*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5490)", Cd(5490) ENDL
#endif

        Cd(5492) = MTgl2**2*Cd(5488) - 
     &    MStgl2(2)*(2*MTgl2*Cd(5489) - 
     &       MStgl2(2)*(Cd(5490) - 2*Cd(5491)*MStgl2(2) + 
     &          Cd(5215)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5492)", Cd(5492) ENDL
#endif

        Cd(5518) = -43*MTgl2*MStgl2(1) + Cd(5517)*MStgl2(2) + 
     &    54*(MTgl2**2 + MStgl2(2)**2) + 41*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5518)", Cd(5518) ENDL
#endif

        Cd(5530) = 15*MStgl2(1)**4 - 
     &    MTgl2*(212*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(330*MTgl2 - 96*MStgl2(1)) + 
     &          486*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5530)", Cd(5530) ENDL
#endif

        Cd(5550) = -147*MStgl2(1)**4 + 
     &    MTgl2*(686*MStgl2(1)**3 - 
     &       MTgl2*(682*MStgl2(1)**2 - 
     &          MTgl2*(338*MTgl2 + 96*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5550)", Cd(5550) ENDL
#endif

        Cd(5559) = 5*Cd(784)*MStgl2(3)**2 + 
     &    MTgl2*(Cd(5123) + 
     &       MTgl2*(Cd(5131) + 4*MTgl2*(10*MTgl2 + 3*MStgl2(4))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5559)", Cd(5559) ENDL
#endif

        Cd(5587) = -(Cd(5586)*MStgl2(1)) + 
     &    MTgl2*(MTgl2*(MTgl2*(5*MTgl2 + 4*Cd(632)) + 2*Cd(5575)) + 
     &       4*Cd(5000)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5587)", Cd(5587) ENDL
#endif

        Cd(5632) = 6*MTgl2**2 + 
     &    MGl2*(3*MGl2 - 9*MTgl2 - 4*MStgl2(1)) - 5*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5632)", Cd(5632) ENDL
#endif

        Cd(5639) = 3*MStgl2(1)**4 - 
     &    MTgl2*(8*MStgl2(1)**3 - 
     &       MTgl2*(2*MStgl2(1)**2 + MTgl2*(20*MTgl2 + 32*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5639)", Cd(5639) ENDL
#endif

        Cd(5642) = Cd(5639) - 
     &    MStgl2(2)*(4*Cd(5640) - 
     &       MStgl2(2)*(2*MTgl2*Cd(5641) + 4*Cd(1600)*MStgl2(2) - 
     &          3*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5642)", Cd(5642) ENDL
#endif

        Cd(5643) = MStgl2(1)**4 + 
     &    MTgl2*(2*MStgl2(1)**3 - 
     &       MTgl2*(14*MStgl2(1)**2 - MTgl2*(MTgl2 + 8*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5643)", Cd(5643) ENDL
#endif

        Cd(5644) = -MStgl2(1)**4 + 
     &    MTgl2*(8*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(12*MTgl2 - 3*MStgl2(1)) - 24*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5644)", Cd(5644) ENDL
#endif

        Cd(5647) = MTgl2*Cd(5643) - 
     &    MStgl2(2)*(Cd(5644) - 
     &       MStgl2(2)*(Cd(5645) - 
     &          MStgl2(2)*(Cd(5646) + Cc(427)*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5647)", Cd(5647) ENDL
#endif

        Cd(5648) = -4*MStgl2(1)**4 + 
     &    MTgl2*(32*MStgl2(1)**3 - 
     &       MTgl2*(66*MStgl2(1)**2 - MTgl2*(55*MTgl2 + 16*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5648)", Cd(5648) ENDL
#endif

        Cd(5653) = -MStgl2(1)**5 + 
     &    MTgl2*(10*MStgl2(1)**4 - 
     &       MTgl2*(46*MStgl2(1)**3 - 
     &          MTgl2*(23*MTgl2**2 + 80*MStgl2(1)**2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5653)", Cd(5653) ENDL
#endif

        Cd(5654) = -MStgl2(1)**4 - 
     &    MTgl2*(4*MStgl2(1)**3 + 
     &       MTgl2*(4*MStgl2(1)**2 - MTgl2*(41*MTgl2 + 176*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5654)", Cd(5654) ENDL
#endif

        Cd(5689) = 14*MGl2**3 + 2*Cc(40)*Cd(1221) - 
     &    MGl2*Cd(5688) + (3*MGl2**2 + 23*MStgl2(1)*MStgl2(2))*
     &     MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5689)", Cd(5689) ENDL
#endif

        Cd(5723) = -3*MStgl2(1)**4 + 
     &    MTgl2*(40*MStgl2(1)**3 - 
     &       MTgl2*(96*MStgl2(1)**2 - MTgl2*(3*MTgl2 + 16*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5723)", Cd(5723) ENDL
#endif

        Cd(5731) = MStgl2(1)**4 + 
     &    MTgl2*(12*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(30*MTgl2 - 12*MStgl2(1)) + 26*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5731)", Cd(5731) ENDL
#endif

        Cd(5734) = Cd(5731) - 
     &    MStgl2(2)*(4*Cd(5732) - 
     &       MStgl2(2)*(2*Cd(5733) + 4*Cd(3651)*MStgl2(2) + 
     &          MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5734)", Cd(5734) ENDL
#endif

        Cd(5796) = 32*MTgl2**3 + 3*Cc(40)*Cd(1221) + 
     &    (2*MTgl2**2 + 7*MStgl2(1)*MStgl2(2))*MStgl2(4) - 
     &    6*MTgl2*MStgl2(4)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5796)", Cd(5796) ENDL
#endif

        Cd(5812) = -3*MStgl2(1)**4 + 
     &    MTgl2*(4*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(6*MTgl2 - 9*MStgl2(1)) - 2*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5812)", Cd(5812) ENDL
#endif

        Cd(5813) = MStgl2(1)**4 - 
     &    MTgl2*(8*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(9*MTgl2 - 16*MStgl2(1)) - 2*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5813)", Cd(5813) ENDL
#endif

        Cd(5815) = MTgl2*Cd(5812) - 
     &    MStgl2(2)*(Cd(5813) + 
     &       MStgl2(2)*(2*Cd(5814) - 4*Cc(427)**2*MStgl2(2) + 
     &          Cd(2083)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5815)", Cd(5815) ENDL
#endif

        Cd(5877) = 4*MTgl2**3 + 7*Cc(40)*Cd(1221) - 
     &    12*MTgl2*Cd(5876) - 
     &    (2*MTgl2**2 - 43*MStgl2(1)*MStgl2(2))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5877)", Cd(5877) ENDL
#endif

        Cd(5878) = MStgl2(1)**4 + 
     &    MTgl2*(23*MStgl2(1)**3 - 
     &       MTgl2*(48*MStgl2(1)**2 - MTgl2*(11*MTgl2 + 2*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5878)", Cd(5878) ENDL
#endif

        Cd(5882) = Cd(5878) + 
     &    MStgl2(2)*(Cd(5879) - 
     &       MStgl2(2)*(Cd(5880) - Cd(5881)*MStgl2(2) - 
     &          MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5882)", Cd(5882) ENDL
#endif

        Cd(5885) = -2*MStgl2(1)**4 + 
     &    MTgl2*(22*MStgl2(1)**3 - 
     &       MTgl2*(85*MStgl2(1)**2 - MTgl2*(13*MTgl2 + 84*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5885)", Cd(5885) ENDL
#endif

        Cd(5888) = MTgl2*Cd(5883)*Cd(5884) - 
     &    MStgl2(2)*(Cd(5885) - 
     &       MStgl2(2)*(Cd(5886) - Cd(5887)*MStgl2(2) + 
     &          2*Cd(2083)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5888)", Cd(5888) ENDL
#endif

        Cd(5915) = MStgl2(1)**4 - 
     &    MTgl2*(11*MStgl2(1)**3 - 
     &       MTgl2*(22*MStgl2(1)**2 + MTgl2*(6*MTgl2 + 2*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5915)", Cd(5915) ENDL
#endif

        Cd(5916) = 4*MStgl2(1)**4 - 
     &    MTgl2*(14*MStgl2(1)**3 + 
     &       MTgl2*(15*MStgl2(1)**2 - MTgl2*(11*MTgl2 + 54*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5916)", Cd(5916) ENDL
#endif

        Cd(5931) = MTgl2*(MTgl2*(MTgl2 - Cd(3559)) + Cd(5929)) - 
     &    Cd(1069)*MStgl2(2)**2 + Cd(5930)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5931)", Cd(5931) ENDL
#endif

        Cd(5938) = MTgl2*
     &     (MTgl2*(5*MTgl2 + Cd(5934)) + Cd(5937)) + 
     &    5*Cd(5936)*MStgl2(2)**2 - 3*Cd(5935)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5938)", Cd(5938) ENDL
#endif

        Cd(5979) = -(MTgl2*(2*Cd(5975) - MTgl2*Cd(5976))) - 
     &    Cd(5978)/Cc(1154)**2 - 
     &    (2*Cc(1076) - MStgl2(2)**2)/Cc(1076)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5979)", Cd(5979) ENDL
#endif

        Cd(5997) = 3*MStgl2(1)**4 + 
     &    MTgl2*(10*MStgl2(1)**3 + 
     &       MTgl2*(34*MStgl2(1)**2 + MTgl2*(80*MTgl2 + 64*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5997)", Cd(5997) ENDL
#endif

        Cd(5999) = Cd(5997) - 
     &    MStgl2(2)*(2*Cd(5998) - 
     &       MStgl2(2)*(-3*MStgl2(2)**2 + 
     &          2*(MTgl2*Cd(4806) + Cd(1979)*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5999)", Cd(5999) ENDL
#endif

        Cd(6001) = -MStgl2(1)**4 + 
     &    MTgl2*(MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(11*MTgl2 - 12*MStgl2(1)) - 3*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6001)", Cd(6001) ENDL
#endif

        Cd(6003) = MTgl2**2*Cd(6000) - 
     &    MStgl2(2)*(Cd(6001) - 
     &       MStgl2(2)*(Cd(6002) - Cd(1652)*Cd(2083)*MStgl2(2) - 
     &          MStgl2(1)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6003)", Cd(6003) ENDL
#endif

        Cd(6004) = -4*MStgl2(1)**4 - 
     &    MTgl2*(14*MStgl2(1)**3 - 
     &       MTgl2*(84*MStgl2(1)**2 + MTgl2*(59*MTgl2 + 64*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6004)", Cd(6004) ENDL
#endif

        Cd(6010) = -2*MStgl2(1)**5 + 
     &    MTgl2*(11*MStgl2(1)**4 + 
     &       MTgl2*(8*MStgl2(1)**3 + 
     &          MTgl2*(52*MTgl2**2 + 10*MStgl2(1)**2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6010)", Cd(6010) ENDL
#endif

        Cd(6011) = -MStgl2(1)**4 + 
     &    MTgl2*(24*MStgl2(1)**3 - 
     &       MTgl2*(16*MStgl2(1)**2 - MTgl2*(45*MTgl2 + 74*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6011)", Cd(6011) ENDL
#endif

        Cd(6076) = -18*MTgl2**4*MStgl2(1) - 
     &    9*MTgl2*MStgl2(1)**4 + 3*MStgl2(1)**5 + 
     &    10*MTgl2**2*(MTgl2**3 + MStgl2(1)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6076)", Cd(6076) ENDL
#endif

        Cd(6089) = 28*MTgl2**3 + 3*Cc(40)*Cd(1221) - 
     &    2*MTgl2*Cd(5697) - 
     &    (2*MTgl2**2 - 7*MStgl2(1)*MStgl2(2))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6089)", Cd(6089) ENDL
#endif

        Cd(6094) = -33*MTgl2**3*MStgl2(1) - 
     &    13*MTgl2*MStgl2(1)**3 + MStgl2(1)**4 + 
     &    34*MTgl2**2*(MTgl2**2 + MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6094)", Cd(6094) ENDL
#endif

        Cd(6095) = -2*MStgl2(1)**4 + 
     &    MTgl2*(20*MStgl2(1)**3 - 
     &       MTgl2*(59*MStgl2(1)**2 - MTgl2*(33*MTgl2 + 80*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6095)", Cd(6095) ENDL
#endif

        Cd(6098) = MTgl2*Cd(6094) - 
     &    MStgl2(2)*(Cd(6095) - 
     &       MStgl2(2)*(Cd(6096) - Cd(6097)*MStgl2(2) + 
     &          Cc(1835)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6098)", Cd(6098) ENDL
#endif

        Cd(6220) = -3*MTgl2*Cd(5004) - 
     &    MGl2*(4*MGl2 - Cd(6218)) + 
     &    (Cd(6219) - 15*MStgl2(2))*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6220)", Cd(6220) ENDL
#endif

        Cd(6225) = MTgl2*
     &     (2*Cc(131)*Cc(134) + MTgl2*(8*MTgl2 - Cd(6224))) - 
     &    Cd(6223)*MStgl2(2)**2 - 2*Cd(821)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6225)", Cd(6225) ENDL
#endif

        Cd(6234) = MTgl2*(3*MTgl2 + 8*MStgl2(1)) - 
     &    2*Cd(6233)*MStgl2(2) - 19*MStgl2(2)**2 + 
     &    7*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6234)", Cd(6234) ENDL
#endif

        Cd(6241) = -(Cd(6237)*MStgl2(1)*MStgl2(2)) + 
     &    MTgl2*(Cd(6240) - 
     &       MTgl2*(2*Cd(6238) - MTgl2*(3*MTgl2 - 4*MStgl2(3))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6241)", Cd(6241) ENDL
#endif

        Cd(6274) = MGl2**2 - 11*MGl2*MTgl2 + 3*MTgl2**2 - 
     &    (5*Cc(1401) - 4*MStgl2(1))*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6274)", Cd(6274) ENDL
#endif

        Cd(6283) = -3*MStgl2(1)**4 + 
     &    MTgl2*(20*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(60*MTgl2 - 13*MStgl2(1)) + 32*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6283)", Cd(6283) ENDL
#endif

        Cd(6289) = MStgl2(1)**4 + 
     &    MTgl2*(24*MStgl2(1)**3 - 
     &       MTgl2*(14*MStgl2(1)**2 - MTgl2*(46*MTgl2 + 6*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6289)", Cd(6289) ENDL
#endif

        Cd(6293) = -MStgl2(1)**4 + 
     &    MTgl2*(2*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(4*MTgl2 - 5*MStgl2(1)) - MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6293)", Cd(6293) ENDL
#endif

        Cd(6297) = MTgl2*Cd(6293) - 
     &    MStgl2(2)*(Cd(6294) - 
     &       MStgl2(2)*(2*Cd(6295) - 2*Cd(6296)*MStgl2(2) + 
     &          Cd(3753)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6297)", Cd(6297) ENDL
#endif

        Cd(6319) = 3*MGl2**2 + 5*MGl2*MTgl2 - 3*MTgl2**2 + 
     &    (Cd(6318) - 4*MStgl2(1))*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6319)", Cd(6319) ENDL
#endif

        Cd(6327) = MStgl2(1)**4 + 
     &    MTgl2*(17*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(51*MTgl2 - 18*MStgl2(1)) - 12*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6327)", Cd(6327) ENDL
#endif

        Cd(6331) = Cd(6327) - 
     &    MStgl2(2)*(Cd(6328) - 
     &       MStgl2(2)*(Cd(6329) + 
     &          MStgl2(2)*(Cd(6330) + 3*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6331)", Cd(6331) ENDL
#endif

        Cd(6332) = 6*MStgl2(1)**4 - 
     &    MTgl2*(23*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(20*MTgl2 - 35*MStgl2(1)) + 40*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6332)", Cd(6332) ENDL
#endif

        Cd(6333) = -2*MStgl2(1)**4 + 
     &    MTgl2*(14*MStgl2(1)**3 - 
     &       MTgl2*(21*MStgl2(1)**2 - MTgl2*(29*MTgl2 + 12*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6333)", Cd(6333) ENDL
#endif

        Cd(6335) = MTgl2*Cd(6332) - 
     &    MStgl2(2)*(Cd(6333) - 
     &       MStgl2(2)*(Cd(6334) - Cd(1602)*Cd(3614)*MStgl2(2) + 
     &          4*Cc(427)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6335)", Cd(6335) ENDL
#endif

        Cd(6347) = 27*MTgl2**2 + 29*MTgl2*MStgl2(1) + 
     &    MStgl2(2)*(Cd(6346) + 26*MStgl2(2)) - 
     &    19*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6347)", Cd(6347) ENDL
#endif

        Cd(6355) = 3*MStgl2(1)**4 - 
     &    MTgl2*(2*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(15*MTgl2 - 29*MStgl2(1)) + 9*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6355)", Cd(6355) ENDL
#endif

        Cd(6356) = -9*MStgl2(1)**4 + 
     &    MTgl2*(60*MStgl2(1)**3 - 
     &       MTgl2*(83*MStgl2(1)**2 - MTgl2*(10*MTgl2 + 6*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6356)", Cd(6356) ENDL
#endif

        Cd(6359) = MTgl2*Cd(6355) - 
     &    MStgl2(2)*(Cd(6356) - 
     &       MStgl2(2)*(Cd(6357) + 
     &          MStgl2(2)*(Cd(6358) - Cd(2083)*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6359)", Cd(6359) ENDL
#endif

        Cd(6360) = -6*MStgl2(1)**4 + 
     &    MTgl2*(42*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(54*MTgl2 - 7*MStgl2(1)) - 20*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6360)", Cd(6360) ENDL
#endif

        Cd(6361) = 18*MStgl2(1)**4 - 
     &    MTgl2*(116*MStgl2(1)**3 - 
     &       MTgl2*(242*MStgl2(1)**2 + 
     &          MTgl2*(47*MTgl2 + 28*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6361)", Cd(6361) ENDL
#endif

        Cd(6370) = MStgl2(1)**4 - 
     &    MTgl2*(9*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(15*MTgl2 - 2*MStgl2(1)) + 7*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6370)", Cd(6370) ENDL
#endif

        Cd(6395) = 54*MTgl2**2 + 60*MTgl2*MStgl2(1) + 
     &    6*MStgl2(2)*(Cd(6394) + 8*MStgl2(2)) - 
     &    37*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6395)", Cd(6395) ENDL
#endif

        Cd(6406) = 24*MStgl2(1)**4 - 
     &    MTgl2*(148*MStgl2(1)**3 - 
     &       MTgl2*(250*MStgl2(1)**2 + 
     &          MTgl2*(27*MTgl2 + 40*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6406)", Cd(6406) ENDL
#endif

        Cd(6413) = 3*MStgl2(1)**4 - 
     &    MTgl2*(10*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(10*MTgl2 - 16*MStgl2(1)) + 5*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6413)", Cd(6413) ENDL
#endif

        Cd(6414) = -MStgl2(1)**4 + 
     &    MTgl2*(16*MStgl2(1)**3 - 
     &       MTgl2*(63*MStgl2(1)**2 - MTgl2*(10*MTgl2 + 6*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6414)", Cd(6414) ENDL
#endif

        Cd(6417) = MTgl2*Cd(6413) - 
     &    MStgl2(2)*(Cd(6414) - 
     &       MStgl2(2)*(Cd(6415) + Cd(2083)*Cd(6416)*MStgl2(2) - 
     &          4*Cc(427)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6417)", Cd(6417) ENDL
#endif

        Cd(6425) = -4*MStgl2(1)**4 + 
     &    MTgl2*(2*MStgl2(1)**3 + 
     &       MTgl2*(44*MStgl2(1)**2 + MTgl2*(51*MTgl2 + 32*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6425)", Cd(6425) ENDL
#endif

        Cd(6451) = 3*MStgl2(1)**4 - 
     &    MTgl2*(4*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(15*MTgl2 - 34*MStgl2(1)) + 12*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6451)", Cd(6451) ENDL
#endif

        Cd(6454) = MTgl2*Cd(6451) - 
     &    MStgl2(2)*(Cd(6452) + 
     &       2*MStgl2(2)*(Cd(6453) - Cd(6358)*MStgl2(2) + 
     &          Cd(2083)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6454)", Cd(6454) ENDL
#endif

        Cd(6455) = -3*MStgl2(1)**4 + 
     &    MTgl2*(18*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(27*MTgl2 - 19*MStgl2(1)) - 8*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6455)", Cd(6455) ENDL
#endif

        Cd(6456) = 9*MStgl2(1)**4 - 
     &    MTgl2*(56*MStgl2(1)**3 - 
     &       MTgl2*(110*MStgl2(1)**2 + MTgl2*(8*MTgl2 + 4*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6456)", Cd(6456) ENDL
#endif

        Cd(6461) = 6*MTgl2*(5*MTgl2 + MStgl2(1)) + 
     &    2*MStgl2(2)*(Cd(6460) + 7*MStgl2(2)) + 
     &    3*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6461)", Cd(6461) ENDL
#endif

        Cd(6505) = 2*MStgl2(1)**4 - 
     &    MTgl2*(8*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(15*MTgl2 - 36*MStgl2(1)) + 19*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6505)", Cd(6505) ENDL
#endif

        Cd(6506) = -6*MStgl2(1)**4 + 
     &    MTgl2*(40*MStgl2(1)**3 - 
     &       MTgl2*(71*MStgl2(1)**2 - MTgl2*(3*MTgl2 + 2*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6506)", Cd(6506) ENDL
#endif

        Cd(6509) = MTgl2*Cd(6505) - 
     &    MStgl2(2)*(Cd(6506) + 
     &       MStgl2(2)*(Cd(6507) - Cd(6508)*MStgl2(2) + 
     &          2*Cd(2083)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6509)", Cd(6509) ENDL
#endif

        Cd(6510) = -2*MStgl2(1)**4 + 
     &    MTgl2*(4*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(27*MTgl2 - 36*MStgl2(1)) + 2*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6510)", Cd(6510) ENDL
#endif

        Cd(6511) = -6*MStgl2(1)**4 + 
     &    MTgl2*(32*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(9*MTgl2 - 4*MStgl2(1)) - 42*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6511)", Cd(6511) ENDL
#endif

        Cd(6518) = 90*MTgl2**2 + 48*MTgl2*MStgl2(1) + 
     &    6*MStgl2(2)*(Cd(6517) + 6*MStgl2(2)) - 
     &    13*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6518)", Cd(6518) ENDL
#endif

        Cd(6590) = MTgl2*Cd(6589) + 
     &    MStgl2(2)*(2*Cd(6242) + 
     &       MStgl2(2)*(2*Cd(6243) - 
     &          MStgl2(2)*(2*Cd(5456) + MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6590)", Cd(6590) ENDL
#endif

        Cd(6603) = -Cd(8040) + 6*MTgl2*(MTgl2 + 4*MStgl2(1)) - 
     &    2*Cd(6602)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6603)", Cd(6603) ENDL
#endif

        Cd(6638) = Cd(8040) + 12*MTgl2*(MTgl2 + MStgl2(1)) - 
     &    4*Cc(1152)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6638)", Cd(6638) ENDL
#endif

        Cd(6644) = 27*MTgl2**2 + 43*MTgl2*MStgl2(1) + 
     &    MStgl2(2)*(Cd(6643) + 24*MStgl2(2)) - 
     &    13*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6644)", Cd(6644) ENDL
#endif

        Cd(6655) = -7*MStgl2(1)**4 + 
     &    MTgl2*(12*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(80*MTgl2 - 40*MStgl2(1)) + 
     &          178*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6655)", Cd(6655) ENDL
#endif

        Cd(6661) = MStgl2(1)**4 - 
     &    MTgl2*(8*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(7*MTgl2 - 56*MStgl2(1)) + 96*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6661)", Cd(6661) ENDL
#endif

        Cd(6671) = -7*MStgl2(1)**4 + 
     &    MTgl2*(10*MStgl2(1)**3 + 
     &       MTgl2*(20*MStgl2(1)**2 + MTgl2*(34*MTgl2 + 48*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6671)", Cd(6671) ENDL
#endif

        Cd(6709) = MTgl2*Cd(6706) + 
     &    MStgl2(2)*(2*Cd(6707) + 
     &       MStgl2(2)*(2*Cd(6708) + 16*Cd(1652)*MStgl2(2) - 
     &          MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6709)", Cd(6709) ENDL
#endif

        Cd(6718) = 30*MTgl2**2 + 21*MTgl2*MStgl2(1) + 
     &    MStgl2(2)*(Cd(6717) + 17*MStgl2(2)) - 
     &    11*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6718)", Cd(6718) ENDL
#endif

        Cd(6742) = MTgl2*(27*MTgl2 + 40*MStgl2(1)) + 
     &    2*Cd(6741)*MStgl2(2) + 25*MStgl2(2)**2 - 
     &    11*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6742)", Cd(6742) ENDL
#endif

        Cd(6755) = MTgl2*Cd(6751) + 
     &    MStgl2(2)*(4*Cd(6752) + 
     &       MStgl2(2)*(2*Cd(6753) + 4*Cd(6754)*MStgl2(2) + 
     &          MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6755)", Cd(6755) ENDL
#endif

        Cd(6762) = 45*MTgl2**2 + 30*MTgl2*MStgl2(1) + 
     &    3*MStgl2(2)*(8*Cc(427) + 7*MStgl2(2)) - 
     &    13*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6762)", Cd(6762) ENDL
#endif

        Cd(6787) = 66*MTgl2**2 + 42*MTgl2*MStgl2(1) + 
     &    2*MStgl2(2)*(Cd(6786) + 13*MStgl2(2)) - 
     &    7*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6787)", Cd(6787) ENDL
#endif

        Cd(6790) = 3*MStgl2(1)**4 - 
     &    MTgl2*(10*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(9*MTgl2 - 16*MStgl2(1)) + 18*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6790)", Cd(6790) ENDL
#endif

        Cd(6791) = -MStgl2(1)**4 + 
     &    MTgl2*(8*MStgl2(1)**3 - 
     &       MTgl2*(8*MStgl2(1)**2 - MTgl2*(13*MTgl2 + 4*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6791)", Cd(6791) ENDL
#endif

        Cd(6794) = MTgl2*Cd(6790) - 
     &    MStgl2(2)*(Cd(6791) - 
     &       2*MStgl2(2)*(Cd(6792) - Cd(6793)*MStgl2(2) + 
     &          Cc(427)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6794)", Cd(6794) ENDL
#endif

        Cd(6822) = MStgl2(1)**4 - 
     &    MTgl2*(5*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(5*MTgl2 - 12*MStgl2(1)) + 15*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6822)", Cd(6822) ENDL
#endif

        Cd(6824) = MTgl2**2*Cd(6821) - 
     &    MStgl2(2)*(Cd(6822) - 
     &       MStgl2(2)*(Cd(6823) - Cd(2638)*MStgl2(2) + 
     &          MStgl2(1)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6824)", Cd(6824) ENDL
#endif

        Cd(6825) = -4*MStgl2(1)**4 + 
     &    MTgl2*(18*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(11*MTgl2 - 64*MStgl2(1)) + 20*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6825)", Cd(6825) ENDL
#endif

        Cd(6839) = MTgl2*Cd(6836) - 
     &    MStgl2(2)*(Cd(6837) - 
     &       MStgl2(2)*(Cd(6838) - Cd(3614)*MStgl2(2) + 
     &          2*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6839)", Cd(6839) ENDL
#endif

        Cd(6850) = MGl2*
     &     (24*MGl2 - 11*MStgl2(1) - 61*MStgl2(2)) + 
     &    48*MStgl2(2)**2 - 14*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6850)", Cd(6850) ENDL
#endif

        Cd(6881) = -(MGl2*(2*MGl2 - Cd(5004))) - 
     &    MTgl2*(12*MTgl2 + MStgl2(1)) + Cd(6880)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6881)", Cd(6881) ENDL
#endif

	Cd(6917) = 3*MGlpT2*MTgl2 + Cd(2681) - 2*Cc(1401)*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6917)", Cd(6917) ENDL
#endif

        Cd(6920) = MTgl2*(MTgl2 + 4*MStgl2(1)) - 
     &    2*Cd(2637)*MStgl2(2) - 7*MStgl2(2)**2 + 
     &    6*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6920)", Cd(6920) ENDL
#endif

        Cd(6928) = 2*MTgl2*(MTgl2 + 3*MStgl2(1)) - 
     &    2*MStgl2(2)*(Cc(1835) + MStgl2(2)) + MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6928)", Cd(6928) ENDL
#endif

        Cd(6948) = -(MStgl2(2)**2*
     &       (6*MStgl2(2) - 9*MStgl2(3))) - Cd(821)*MStgl2(3)**2 + 
     &    MTgl2*(6*Cd(6947) - 9*MTgl2*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6948)", Cd(6948) ENDL
#endif

        Cd(6963) = -30*MStgl2(1)**4 + 
     &    MTgl2*(104*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(19*MTgl2 - 24*MStgl2(1)) + 10*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6963)", Cd(6963) ENDL
#endif

        Cd(6970) = 15*MStgl2(1)**4 - 
     &    MTgl2*(48*MStgl2(1)**3 - 
     &       MTgl2*(90*MStgl2(1)**2 + MTgl2*(11*MTgl2 + 12*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6970)", Cd(6970) ENDL
#endif

        Cd(6984) = -(MStgl2(2)**2*
     &       (6*MStgl2(2) - 9*MStgl2(3))) - Cc(497)*MStgl2(3)**2 + 
     &    MTgl2*(6*Cd(6947) - 9*MTgl2*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6984)", Cd(6984) ENDL
#endif

        Cd(6988) = 24*MTgl2**2 + 5*MTgl2*MStgl2(1) + 
     &    MStgl2(2)*(Cd(5456) + 17*MStgl2(2)) - 
     &    4*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6988)", Cd(6988) ENDL
#endif

        Cd(6991) = 16*MTgl2**3 + Cc(79)*Cd(6982) - 
     &    5*MTgl2**2*MStgl2(1) - 
     &    MStgl2(2)*(Cd(6990) + 2*Cd(1600)*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6991)", Cd(6991) ENDL
#endif

        Cd(7013) = MTgl2*
     &     (MTgl2*(7*MTgl2 - Cd(7008)) + Cd(7012)) - 
     &    Cd(7010)*MStgl2(2)**2 - Cd(7009)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7013)", Cd(7013) ENDL
#endif

        Cd(7019) = MTgl2*
     &     (MTgl2*(35*MTgl2 + 3*Cd(7015)) + Cd(7018)) + 
     &    5*Cd(7014)*MStgl2(2)**2 + Cd(7016)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7019)", Cd(7019) ENDL
#endif

        Cd(7052) = Cd(7049)*MStgl2(1) + 
     &    MStgl2(2)*(4*Cd(7050) + 
     &       MStgl2(2)*(2*Cd(7051) - 4*Cd(1979)*MStgl2(2) + 
     &          MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7052)", Cd(7052) ENDL
#endif

        Cd(7058) = Cc(434)**2*Cc(1152)**2*Cd(1947) + 
     &    MGl2**3*(MGl2*(2*MGl2**2 + Cd(7047)) + 4*Cd(7048)) + 
     &    2*MGl2*Cc(434)*Cc(1152)*Cd(7054)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7058)", Cd(7058) ENDL
#endif

        Cd(7071) = Cd(1930) + MTgl2*(6*MTgl2 + 2*MStgl2(1)) + 
     &    2*Cd(5729)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7071)", Cd(7071) ENDL
#endif

        Cd(7081) = -21*MStgl2(1)**4 + 
     &    MTgl2*(60*MStgl2(1)**3 + 
     &       MTgl2*(46*MStgl2(1)**2 + MTgl2*(42*MTgl2 + 32*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7081)", Cd(7081) ENDL
#endif

        Cd(7089) = 3*MStgl2(1)**4 + 
     &    MTgl2*(20*MStgl2(1)**3 - 
     &       MTgl2*(60*MStgl2(1)**2 - MTgl2*(23*MTgl2 + 54*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7089)", Cd(7089) ENDL
#endif

        Cd(7108) = 5*Cd(785)*Cd(1168) + 
     &    MTgl2*(90*MTgl2**3 - MTgl2*Cd(7107) - 
     &       (36*MTgl2**2 + Cd(1502)*Cd(7105))*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7108)", Cd(7108) ENDL
#endif

        Cd(7129) = 10*MTgl2*(MTgl2 - MStgl2(1)) - 
     &    2*MStgl2(2)*(Cd(7128) + 33*MStgl2(2)) + 
     &    33*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7129)", Cd(7129) ENDL
#endif

        Cd(7146) = 3*Cd(7145) + 
     &    10*(MGl2*(MGl2 - Cd(5082)) - MTgl2*(MTgl2 - MStgl2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7146)", Cd(7146) ENDL
#endif

        Cd(7179) = 3*MStgl2(1)**4 + 
     &    MTgl2*(50*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(298*MTgl2 - 121*MStgl2(1)) + 
     &          106*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7179)", Cd(7179) ENDL
#endif

        Cd(7180) = 3*MStgl2(1)**4 - 
     &    MTgl2*(80*MStgl2(1)**3 - 
     &       MTgl2*(180*MStgl2(1)**2 + 
     &          MTgl2*(121*MTgl2 + 336*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7180)", Cd(7180) ENDL
#endif

        Cd(7182) = MTgl2*Cd(7179) - 
     &    MStgl2(2)*(Cd(7180) - 
     &       MStgl2(2)*(3*Cc(1152)*MStgl2(2)**2 + 
     &          2*(Cd(7181) + Cd(2055)*Cd(3614)*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7182)", Cd(7182) ENDL
#endif

        Cd(7183) = 17*MStgl2(1)**4 - 
     &    MTgl2*(20*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(138*MTgl2 - 210*MStgl2(1)) + 
     &          107*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7183)", Cd(7183) ENDL
#endif

        Cd(7184) = -9*MStgl2(1)**4 + 
     &    MTgl2*(88*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(105*MTgl2 - 36*MStgl2(1)) - 
     &          84*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7184)", Cd(7184) ENDL
#endif

        Cd(7185) = -3*MStgl2(1)**4 + 
     &    MTgl2*(76*MStgl2(1)**3 - 
     &       MTgl2*(156*MStgl2(1)**2 - 
     &          MTgl2*(107*MTgl2 + 168*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7185)", Cd(7185) ENDL
#endif

        Cd(7187) = MTgl2**2*Cd(7183) - 
     &    MStgl2(2)*(2*MTgl2*Cd(7184) - 
     &       MStgl2(2)*(Cd(7185) - 4*Cd(3614)*Cd(7186)*MStgl2(2) + 
     &          Cd(5215)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7187)", Cd(7187) ENDL
#endif

        Cd(7188) = 7*MGl2**2 + 14*MGl2*MTgl2 - 111*MTgl2**2 - 
     &    6*(4*Cd(5222) - 5*MStgl2(1))*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7188)", Cd(7188) ENDL
#endif

        Cd(7223) = 370*MGl2**3 + 29*Cc(40)*Cd(1221) + 
     &    MGl2*Cd(7222) + (185*MGl2**2 + 126*MStgl2(1)*MStgl2(2))*
     &     MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7223)", Cd(7223) ENDL
#endif

        Cd(7262) = 4*MGl2**2 + 60*(MTgl2**2 + MStgl2(2)**2) + 
     &    3*Cd(7229)*MStgl2(3) + 36*MTgl2*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7262)", Cd(7262) ENDL
#endif

        Cd(7280) = MTgl2**2*Cd(7279) - 
     &    2*MTgl2*(MTgl2**2*(53*MTgl2**2 + 2*Cd(7277)) + 
     &       Cd(7273)*MStgl2(1)*MStgl2(2)) + Cd(7278)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7280)", Cd(7280) ENDL
#endif

	Cd(7282) = MGl2*(5*MGl2 - Cd(7281)) + Cd(7404)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7282)", Cd(7282) ENDL
#endif

        Cd(7303) = -59*MStgl2(1)**4 + 
     &    MTgl2*(110*MStgl2(1)**3 - 
     &       MTgl2*(46*MStgl2(1)**2 - MTgl2*(36*MTgl2 + 46*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7303)", Cd(7303) ENDL
#endif

        Cd(7347) = -21*MStgl2(1)**4 + 
     &    MTgl2*(56*MStgl2(1)**3 + 
     &       MTgl2*(70*MStgl2(1)**2 + MTgl2*(46*MTgl2 + 24*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7347)", Cd(7347) ENDL
#endif

        Cd(7352) = 2*MStgl2(1)**5 + 
     &    MTgl2*(4*MStgl2(1)**4 + 
     &       MTgl2**2*(MTgl2*(15*MTgl2 - 2*MStgl2(1)) - 
     &          11*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7352)", Cd(7352) ENDL
#endif

        Cd(7354) = 3*MStgl2(1)**4 + 
     &    MTgl2*(18*MStgl2(1)**3 - 
     &       MTgl2*(45*MStgl2(1)**2 - MTgl2*(22*MTgl2 + 42*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7354)", Cd(7354) ENDL
#endif

        Cd(7381) = MTgl2*(34*MTgl2 + 32*MStgl2(1)) + 
     &    8*Cd(1656)*MStgl2(2) - 18*MStgl2(2)**2 + 
     &    9*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7381)", Cd(7381) ENDL
#endif

        Cd(7393) = 3*MStgl2(1)**4 + 
     &    MTgl2*(56*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(196*MTgl2 - 61*MStgl2(1)) + 
     &          22*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7393)", Cd(7393) ENDL
#endif

        Cd(7394) = 3*MStgl2(1)**4 - 
     &    MTgl2*(98*MStgl2(1)**3 - 
     &       MTgl2*(318*MStgl2(1)**2 + 
     &          MTgl2*(61*MTgl2 + 12*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7394)", Cd(7394) ENDL
#endif

        Cd(7397) = MTgl2*Cd(7393) - 
     &    MStgl2(2)*(Cd(7394) - 
     &       MStgl2(2)*(3*Cc(1152)*MStgl2(2)**2 + 
     &          2*(Cd(7395) + Cd(7396)*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7397)", Cd(7397) ENDL
#endif

        Cd(7398) = 17*MStgl2(1)**4 - 
     &    MTgl2*(26*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(126*MTgl2 - 168*MStgl2(1)) + 
     &          83*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7398)", Cd(7398) ENDL
#endif

        Cd(7399) = -9*MStgl2(1)**4 + 
     &    MTgl2*(94*MStgl2(1)**3 - 
     &       MTgl2*(153*MStgl2(1)**2 - 
     &          MTgl2*(84*MTgl2 + 48*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7399)", Cd(7399) ENDL
#endif

        Cd(7400) = -3*MStgl2(1)**4 + 
     &    MTgl2*(94*MStgl2(1)**3 - 
     &       MTgl2*(288*MStgl2(1)**2 - 
     &          MTgl2*(83*MTgl2 + 306*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7400)", Cd(7400) ENDL
#endif

        Cd(7402) = MTgl2**2*Cd(7398) - 
     &    MStgl2(2)*(2*MTgl2*Cd(7399) - 
     &       MStgl2(2)*(Cd(7400) - 2*Cd(7401)*MStgl2(2) + 
     &          Cd(5215)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7402)", Cd(7402) ENDL
#endif

        Cd(7411) = MTgl2**2*Cd(7279) - 
     &    2*MTgl2*(MTgl2**2*(53*MTgl2**2 + 2*Cd(7410)) + 
     &       Cd(7408)*MStgl2(1)*MStgl2(2)) + Cd(7278)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7411)", Cd(7411) ENDL
#endif

        Cd(7484) = -3*MStgl2(1)**4 + 
     &    MTgl2*(14*MStgl2(1)**3 - 
     &       MTgl2*(26*MStgl2(1)**2 - MTgl2*(MTgl2 + 16*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7484)", Cd(7484) ENDL
#endif

        Cd(7485) = -MStgl2(1)**4 + 
     &    MTgl2*(4*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(20*MTgl2 - 3*MStgl2(1)) - 12*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7485)", Cd(7485) ENDL
#endif

        Cd(7488) = MTgl2*Cd(7484) - 
     &    MStgl2(2)*(Cd(7485) - 
     &       MStgl2(2)*(Cd(7486) - Cd(7487)*MStgl2(2) + 
     &          Cd(1600)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7488)", Cd(7488) ENDL
#endif

        Cd(7489) = -4*MStgl2(1)**4 + 
     &    MTgl2*(56*MStgl2(1)**3 - 
     &       MTgl2*(10*MStgl2(1)**2 - 
     &          MTgl2*(103*MTgl2 + 16*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7489)", Cd(7489) ENDL
#endif

        Cd(7494) = -MStgl2(1)**5 + 
     &    MTgl2*(18*MStgl2(1)**4 - 
     &       MTgl2*(46*MStgl2(1)**3 - 
     &          MTgl2*(39*MTgl2**2 + 56*MStgl2(1)**2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7494)", Cd(7494) ENDL
#endif

        Cd(7495) = -MStgl2(1)**4 + 
     &    MTgl2*(12*MStgl2(1)**3 - 
     &       MTgl2*(4*MStgl2(1)**2 - MTgl2*(73*MTgl2 + 128*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7495)", Cd(7495) ENDL
#endif

        Cd(7537) = -9*MStgl2(1)**4 + 
     &    MTgl2*(44*MStgl2(1)**3 + 
     &       MTgl2*(30*MStgl2(1)**2 + MTgl2*(18*MTgl2 + 56*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7537)", Cd(7537) ENDL
#endif

        Cd(7543) = MStgl2(1)**4 + 
     &    MTgl2*(48*MStgl2(1)**3 - 
     &       MTgl2*(120*MStgl2(1)**2 - MTgl2*(7*MTgl2 + 24*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7543)", Cd(7543) ENDL
#endif

        Cd(7592) = 72*MTgl2**3 + 3*Cc(40)*Cd(1221) - 
     &    2*MTgl2*Cd(7591) + 
     &    (10*MTgl2**2 + 7*MStgl2(1)*MStgl2(2))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7592)", Cd(7592) ENDL
#endif

        Cd(7593) = 11*MTgl2**4 + Cd(1221)*MStgl2(1)*MStgl2(2) - 
     &    MTgl2*(17*MTgl2**2 + Cd(5768))*MStgl2(4) + 
     &    9*MTgl2**2*MStgl2(4)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7593)", Cd(7593) ENDL
#endif

        Cd(7597) = 3*MStgl2(1)**4 - 
     &    MTgl2*(11*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(48*MTgl2 - 53*MStgl2(1)) + 34*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7597)", Cd(7597) ENDL
#endif

        Cd(7598) = -2*MStgl2(1)**4 + 
     &    MTgl2*(26*MStgl2(1)**3 - 
     &       MTgl2*(53*MStgl2(1)**2 - MTgl2*(53*MTgl2 + 44*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7598)", Cd(7598) ENDL
#endif

        Cd(7601) = MTgl2*Cd(7597) - 
     &    MStgl2(2)*(Cd(7598) - 
     &       MStgl2(2)*(Cd(7599) - Cd(7600)*MStgl2(2) + 
     &          Cd(3651)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7601)", Cd(7601) ENDL
#endif

        Cd(7608) = -MStgl2(1)**4 - 
     &    MTgl2*(2*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(6*MTgl2 - 9*MStgl2(1)) + 2*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7608)", Cd(7608) ENDL
#endif

        Cd(7609) = 3*MStgl2(1)**4 - 
     &    MTgl2*(12*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(9*MTgl2 - 8*MStgl2(1)) - 8*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7609)", Cd(7609) ENDL
#endif

        Cd(7612) = MTgl2*Cd(7608) - 
     &    MStgl2(2)*(Cd(7609) - 
     &       MStgl2(2)*(2*Cd(7610) - 2*Cd(7611)*MStgl2(2) - 
     &          Cd(1519)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7612)", Cd(7612) ENDL
#endif

        Cd(7654) = -6*MStgl2(1)**4 + 
     &    MTgl2*(54*MStgl2(1)**3 - 
     &       MTgl2*(117*MStgl2(1)**2 - 
     &          MTgl2*(17*MTgl2 + 84*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7654)", Cd(7654) ENDL
#endif

        Cd(7657) = MTgl2*Cd(7653) - 
     &    MStgl2(2)*(Cd(7654) - 
     &       MStgl2(2)*(3*Cd(7655)*MStgl2(1) + 
     &          MStgl2(2)*(Cd(7656) + 2*Cd(1519)*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7657)", Cd(7657) ENDL
#endif

        Cd(7659) = 15*Cc(134)*Cd(2464) + 
     &    MGl2*(9*MGl2 - Cd(7658)) + MTgl2*(7*MTgl2 + 17*MStgl2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7659)", Cd(7659) ENDL
#endif

        Cd(7665) = -14*MTgl2*MStgl2(1) + 4*Cd(3021)*MStgl2(2) + 
     &    9*(MTgl2**2 + MStgl2(2)**2) + 21*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7665)", Cd(7665) ENDL
#endif

        Cd(7677) = -27*MStgl2(1)**4 + 
     &    MTgl2*(96*MStgl2(1)**3 - 
     &       MTgl2*(18*MStgl2(1)**2 - MTgl2*(20*MTgl2 + 8*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7677)", Cd(7677) ENDL
#endif

        Cd(7681) = 2*MStgl2(1)**5 + 
     &    MTgl2*(2*MStgl2(1)**4 - 
     &       MTgl2**2*(15*MStgl2(1)**2 - 
     &          MTgl2*(5*MTgl2 + 14*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7681)", Cd(7681) ENDL
#endif

        Cd(7683) = 6*MStgl2(1)**4 - 
     &    MTgl2*(6*MStgl2(1)**3 + 
     &       MTgl2*(15*MStgl2(1)**2 - MTgl2*(13*MTgl2 + 42*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7683)", Cd(7683) ENDL
#endif

        Cd(7703) = MTgl2*
     &     (Cc(79)*Cd(5346) + MTgl2*(5*MTgl2 + Cd(7701))) + 
     &    35*Cr(2)*MStgl2(2)**2 - Cd(7702)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7703)", Cd(7703) ENDL
#endif

        Cd(7705) = 21*MStgl2(1)**2 + 
     &    MTgl2*(9*MTgl2 - 10*MStgl2(1) + 28*MStgl2(2)) - 
     &    6*Cd(7704)*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7705)", Cd(7705) ENDL
#endif

        Cd(7708) = MTgl2*(Cd(7707) + MTgl2*(MTgl2 - 3*Cr(2))) - 
     &    Cd(3405)*MStgl2(2)**2 + Cd(5691)*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7708)", Cd(7708) ENDL
#endif

        Cd(7762) = -2*MStgl2(1)**4 + 
     &    MTgl2*(5*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(4*MTgl2 - MStgl2(1)) - 5*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7762)", Cd(7762) ENDL
#endif

        Cd(7763) = -MStgl2(1)**4 - 
     &    MTgl2*(MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(15*MTgl2 - 12*MStgl2(1)) + 3*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7763)", Cd(7763) ENDL
#endif

        Cd(7765) = MTgl2*Cd(7762) - 
     &    MStgl2(2)*(Cd(7763) - 
     &       MStgl2(2)*(Cd(7764) - Cd(1979)*Cd(2083)*MStgl2(2) + 
     &          Cd(1785)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7765)", Cd(7765) ENDL
#endif

        Cd(7766) = -4*MStgl2(1)**4 + 
     &    MTgl2*(6*MStgl2(1)**3 + 
     &       MTgl2*(104*MStgl2(1)**2 + 
     &          MTgl2*(99*MTgl2 + 64*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7766)", Cd(7766) ENDL
#endif

        Cd(7770) = MStgl2(1)**5 - 
     &    MTgl2*(MStgl2(1)**4 - 
     &       MTgl2*(6*MStgl2(1)**3 + 
     &          MTgl2*(8*MTgl2**2 - 7*MStgl2(1)**2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7770)", Cd(7770) ENDL
#endif

        Cd(7772) = -MStgl2(1)**4 + 
     &    MTgl2*(32*MStgl2(1)**3 - 
     &       MTgl2*(16*MStgl2(1)**2 - MTgl2*(69*MTgl2 + 62*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7772)", Cd(7772) ENDL
#endif

        Cd(7834) = 68*MTgl2**3 + 3*Cc(40)*Cd(1221) - 
     &    2*MTgl2*Cd(7521) + 
     &    (6*MTgl2**2 + 7*MStgl2(1)*MStgl2(2))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7834)", Cd(7834) ENDL
#endif

        Cd(7837) = Cd(1221)*MStgl2(1)*MStgl2(2) + 
     &    MTgl2*(MTgl2*(2*Cd(7836) + 
     &          MTgl2*(13*MTgl2 - 20*MStgl2(4))) - 2*MStgl2(4)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7837)", Cd(7837) ENDL
#endif

        Cd(7840) = 3*MStgl2(1)**4 - 
     &    MTgl2*(13*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(54*MTgl2 - 57*MStgl2(1)) + 38*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7840)", Cd(7840) ENDL
#endif

        Cd(7841) = -2*MStgl2(1)**4 + 
     &    MTgl2*(28*MStgl2(1)**3 - 
     &       MTgl2*(67*MStgl2(1)**2 - MTgl2*(57*MTgl2 + 64*MStgl2(1)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7841)", Cd(7841) ENDL
#endif

        Cd(7844) = MTgl2*Cd(7840) - 
     &    MStgl2(2)*(Cd(7841) - 
     &       MStgl2(2)*(Cd(7842) - Cd(7843)*MStgl2(2) + 
     &          Cd(3651)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7844)", Cd(7844) ENDL
#endif

        Cd(7865) = 4*Cd(5745) - 
     &    MTgl2**5*(2*MTgl2*Cd(5746) - 12*Cd(7864)) - 
     &    Cc(40)*Cd(7579)*MStgl2(1)**2*MStgl2(2)**2 - 
     &    14*MGl2**6*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7865)", Cd(7865) ENDL
#endif

        Cd(7930) = MTgl2*(5*MTgl2 - 4*MStgl2(1)) - 
     &    6*Cd(6416)*MStgl2(2) - 33*MStgl2(2)**2 + 
     &    9*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7930)", Cd(7930) ENDL
#endif

        Cd(7944) = MTgl2*Cd(7940) - 
     &    MStgl2(2)*(2*Cd(7941) - 
     &       MStgl2(2)*(-3*MStgl2(2)**2 + 
     &          2*(Cd(7942)*MStgl2(1) + Cd(7943)*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7944)", Cd(7944) ENDL
#endif

        Cd(7965) = MGl2**2 - 3*MGl2*MTgl2 - 13*MTgl2**2 - 
     &    (Cd(7964) - 4*MStgl2(1))*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7965)", Cd(7965) ENDL
#endif

        Cd(7974) = MTgl2*Cd(7971) - 
     &    MStgl2(2)*(Cd(7972) - 
     &       MStgl2(2)*(Cd(7973) - 
     &          MStgl2(2)*(Cd(6625) + 2*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7974)", Cd(7974) ENDL
#endif

        Cd(7979) = MStgl2(1)**4 - 
     &    MTgl2*(4*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(4*MTgl2 - 5*MStgl2(1)) + 5*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7979)", Cd(7979) ENDL
#endif

        Cd(7980) = MStgl2(1)**4 - 
     &    MTgl2*(4*MStgl2(1)**3 - 
     &       MTgl2*(MTgl2*(15*MTgl2 - 9*MStgl2(1)) + 2*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7980)", Cd(7980) ENDL
#endif

        Cd(7986) = -5*MStgl2(1)**4 + 
     &    MTgl2*(16*MStgl2(1)**3 + 
     &       MTgl2*(6*MStgl2(1)**2 + MTgl2*(50*MTgl2 + 6*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7986)", Cd(7986) ENDL
#endif

        Cd(8012) = 3*MGl2**2 + MGl2*MTgl2 + 5*MTgl2**2 + 
     &    (Cd(8011) - 4*MStgl2(1))*MStgl2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8012)", Cd(8012) ENDL
#endif

        Cd(8026) = 2*MStgl2(1)**4 + 
     &    MTgl2*(MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(32*MTgl2 - 43*MStgl2(1)) + 16*MStgl2(1)**2)
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8026)", Cd(8026) ENDL
#endif

        Cd(8027) = -6*MStgl2(1)**4 + 
     &    MTgl2*(46*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(49*MTgl2 - 4*MStgl2(1)) - 53*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8027)", Cd(8027) ENDL
#endif

        Cd(8030) = MTgl2*Cd(8026) - 
     &    MStgl2(2)*(Cd(8027) - 
     &       MStgl2(2)*(Cd(8028) - Cd(8029)*MStgl2(2) + 
     &          4*Cc(427)*MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8030)", Cd(8030) ENDL
#endif

        Cd(8049) = -31*MTgl2**3*MStgl2(1) - 
     &    6*MTgl2*MStgl2(1)**3 + 3*MStgl2(1)**4 + 
     &    15*MTgl2**2*(MTgl2**2 + MStgl2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8049)", Cd(8049) ENDL
#endif

        Cd(8050) = -9*MStgl2(1)**4 + 
     &    MTgl2*(60*MStgl2(1)**3 - 
     &       MTgl2*(93*MStgl2(1)**2 - MTgl2*(8*MTgl2 + 18*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8050)", Cd(8050) ENDL
#endif

        Cd(8052) = MTgl2*Cd(8049) - 
     &    MStgl2(2)*(Cd(8050) - 
     &       MStgl2(2)*(3*Cd(2076)*Cd(5166) - 
     &          MStgl2(2)*(Cd(8051) + Cd(1519)*MStgl2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8052)", Cd(8052) ENDL
#endif

        Cd(8053) = -6*MStgl2(1)**4 + 
     &    MTgl2*(30*MStgl2(1)**3 + 
     &       MTgl2*(MTgl2*(54*MTgl2 - 5*MStgl2(1)) - 12*MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8053)", Cd(8053) ENDL
#endif

        Cd(8054) = 18*MStgl2(1)**4 - 
     &    MTgl2*(108*MStgl2(1)**3 - 
     &       MTgl2*(198*MStgl2(1)**2 + 
     &          MTgl2*(49*MTgl2 + 52*MStgl2(1))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8054)", Cd(8054) ENDL
#endif

        Cd(8059) = 30*MTgl2**2 - 6*MTgl2*MStgl2(1) + 
     &    2*MStgl2(2)*(Cd(8058) + 7*MStgl2(2)) + 
     &    13*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8059)", Cd(8059) ENDL
#endif

        Cd(8086) = 6*MTgl2*(MTgl2 + MStgl2(1)) - 
     &    2*(Cd(6625)*MStgl2(2) + MStgl2(2)**2) + 
     &    7*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8086)", Cd(8086) ENDL
#endif

        Cd(8089) = -Cd(823) + MTgl2*(3*MTgl2 + 4*MStgl2(1)) - 
     &    2*Cc(427)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8089)", Cd(8089) ENDL
#endif

        Cd(8100) = MTgl2*(MTgl2 - 6*MStgl2(1)) + 
     &    4*Cd(1652)*MStgl2(2) - 7*MStgl2(2)**2 + 
     &    MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8100)", Cd(8100) ENDL
#endif

        Cd(8107) = MTgl2**2*Cd(8104) - 
     &    MStgl2(2)*(4*MTgl2*Cd(8105) + 
     &       MStgl2(2)*(2*Cd(8106) - 4*Cd(1979)*MStgl2(2) + 
     &          MStgl2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8107)", Cd(8107) ENDL
#endif

        Cd(8148) = 2*(MTgl2*(MTgl2 - MStgl2(1)) + 
     &       (Cd(1979) - MStgl2(2))*MStgl2(2)) + 
     &    MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8148)", Cd(8148) ENDL
#endif

        Cd(8164) = Cd(8107) - 
     &    MGl2*(MGl2*(MGl2*(MGl2 - 2*Cd(254)) - Cd(8161)) + 
     &       4*Cd(8163))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8164)", Cd(8164) ENDL
#endif

	Cd(8186) = Cd(6922) - Cd(2645)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8186)", Cd(8186) ENDL
#endif

        Cd(8191) = Cc(434)*Cc(1152)**4 + 
     &    MGl2**4*(MGl2 - Cd(2000)) + 2*MGl2**2*Cd(8186) - 
     &    MGl2*Cc(1152)**2*Cd(8187)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8191)", Cd(8191) ENDL
#endif

        Cd(8203) = 4*MTgl2*Cd(8092) - 
     &    2*(MTgl2**2*(2*MTgl2*Cd(631) + Cd(8094)) + 
     &       Cd(8090)*MStgl2(2)**2) + Cd(4519)*MStgl2(3)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8203)", Cd(8203) ENDL
#endif

        Cd(8228) = 6*MTgl2**2 + 
     &    MGl2*(3*MGl2 - 9*MTgl2 - 16*MStgl2(1)) + 25*MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8228)", Cd(8228) ENDL
#endif

        Cd(8242) = Cd(823) + MTgl2*(2*MTgl2 - MStgl2(1)) - 
     &    Cd(2083)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8242)", Cd(8242) ENDL
#endif

        Cd(8304) = (Cd(564)*MStgl2(2)**3 - 
     &      MTgl2*(2*Cd(557)*MStgl2(2)**2 - 
     &         MTgl2*(MTgl2*(MTgl2 - Cd(517)) + 2*Cd(3730)*MStgl2(2)))
     &      )*MStgl2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8304)", Cd(8304) ENDL
#endif

        Cd(8305) = -((Cd(564)*MStgl2(2)**3 - 
     &        MTgl2*(4*Cc(79)*MStgl2(2)**2 + 
     &           MTgl2*(MTgl2*(3*MTgl2 - 4*MStgl2(1)) - 
     &              2*Cd(5067)*MStgl2(2))))*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8305)", Cd(8305) ENDL
#endif

        Cd(8372) = 38*MTgl2**5 + 4*MTgl2**3*Cd(8371) + 
     &    2*MTgl2*Cd(8366)*MStgl2(1)*MStgl2(2) - 
     &    (3*Cd(8367) + MTgl2**2*Cd(8369))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8372)", Cd(8372) ENDL
#endif

        Cd(8425) = MTgl2*(3*MTgl2 + MStgl2(1)) - 
     &    Cc(296)*MStgl2(2) + 2*MStgl2(2)**2 - MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8425)", Cd(8425) ENDL
#endif

        Cd(8429) = 6*MTgl2**2 + MGl2*(6*MGl2 + 4*MTgl2) - 
     &    4*MGlpT2*MStgl2(1) + MStgl2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8429)", Cd(8429) ENDL
#endif

        Cd(8432) = MGlmT2**3*Cd(3930) + 
     &    MStgl2(1)*(8*MGlmT2**2*MGlpT2 - 
     &       MStgl2(1)*(2*Cd(8431) - 4*MGlpT2*MStgl2(1) + 
     &          MStgl2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8432)", Cd(8432) ENDL
#endif

        Cd(8453) = 5*MTgl2**3 + 
     &    MGl2*(13*MTgl2**2 + 7*MGl2*(MGl2 + MTgl2)) - 
     &    MGlpT2*Cd(8452)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8453)", Cd(8453) ENDL
#endif

        Cd(8457) = 10*MTgl2**3 - MTgl2*Cc(518) + 
     &    2*Cc(40)*Cd(1221) - 
     &    3*(MTgl2**2 + MStgl2(1)*MStgl2(2))*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8457)", Cd(8457) ENDL
#endif

        Cd(8461) = MTgl2*(3*MTgl2 + MStgl2(1)) + 
     &    MStgl2(2)*(Cc(427) + 2*MStgl2(2)) - MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8461)", Cd(8461) ENDL
#endif

        Cd(8515) = -(MStgl2(2)*
     &       (Cd(8513)*MStgl2(1) + 2*Cr(90)*MStgl2(2))) + 
     &    Cr(90)*MStgl2(3)*MStgl2(4) + 
     &    MTgl2*(MTgl2*Cd(8514) + 5*MStgl2(4)*UStgl2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8515)", Cd(8515) ENDL
#endif

        Cd(8516) = Cd(759)*MStgl2(1)*MStgl2(2) + 
     &    MTgl2*Cd(1178)*(MTgl2 - MStgl2(4)) + 
     &    (2*MStgl2(2)**2 - MStgl2(3)*MStgl2(4))*UStgl2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8516)", Cd(8516) ENDL
#endif

        Cd(8535) = -2*MTgl2**2 - 
     &    (MGl2 - 2*MStgl2(1))*MStgl2(2) + 
     &    MTgl2*(MGl2 + 2*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8535)", Cd(8535) ENDL
#endif

        Cd(8552) = 4*MTgl2*Cd(8092) - 
     &    2*(MTgl2**2*(2*MTgl2*Cd(631) + Cd(8094)) + 
     &       Cd(8551)*MStgl2(1)**2) + Cc(131)*MStgl2(3)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8552)", Cd(8552) ENDL
#endif

        Cd(8671) = -11*MStgl2(1)**3 + 
     &    MTgl2*(6*MStgl2(1)**2 + MTgl2*(12*MTgl2 + MStgl2(1))) - 
     &    Cd(4247)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8671)", Cd(8671) ENDL
#endif

        Cd(8713) = -(MGl2**2*(2*MGl2*Cd(8708) - Cd(8712))) + 
     &    (Cc(1152)**3*Cd(8653) + 
     &       MGl2*(2*Cc(1152)*Cd(8646) - 2*MGl2**3*MStgl2(1)))*
     &     UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8713)", Cd(8713) ENDL
#endif

        Cd(8744) = -(MTgl2**2*(3*MTgl2*Cd(8740) - Cd(8743))) + 
     &    4*MTgl2**4*MStgl2(3) - 
     &    (7*MGl2**3 - Cd(8739)*MStgl2(1))*MStgl2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8744)", Cd(8744) ENDL
#endif

        Cd(8884) = -(MGl2*(2*MGl2 - 6*Cc(427))) + 
     &    MStgl2(1)**2 - MTgl2*(6*MTgl2 + 14*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8884)", Cd(8884) ENDL
#endif

        Cd(8952) = MGl2**2*(2*MGl2*Cd(8948) + Cd(8951)) + 
     &    (Cc(434)**3*Cd(8880) - 
     &       MGl2*(2*Cc(434)*Cd(8881) - 2*MGl2**3*MStgl2(2)))*
     &     UStgl2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8952)", Cd(8952) ENDL
#endif

        Cd(9148) = -((Cd(9146)*MStgl2(1)**3 - 
     &        MGl2*(3*Cd(3673)*MStgl2(1)**2 - 
     &           MGl2*(MGl2*(12*MGl2 - Cd(9147)) + 
     &              3*Cd(9145)*MStgl2(1))))*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9148)", Cd(9148) ENDL
#endif

        Cd(9158) = MStgl2(3)*
     &    (Cd(2916)*MStgl2(1)**2 - 
     &      MGl2*(MGl2*(4*MGl2 - Cd(9157)) + 
     &         2*Cd(6647)*MStgl2(1)) + 
     &      4*Cc(1154)*MStgl2(3)*UStgl2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9158)", Cd(9158) ENDL
#endif

        Cd(909) = Cd(908)*MStgl2(1)**2 - 3*MStgl2(2)**2 + 
     &    Cc(489)*UStgl2(1,1)**2 - 
     &    2*MStgl2(4)**2*UStgl2(1,1)*UStgl2(1,2) + 
     &    Cd(899)*UStgl2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(909)", Cd(909) ENDL
#endif

        Cd(9284) = 4*MGl2*Cd(9283) + Cd(9280)*MStgl2(1)**2 + 
     &    2*Cd(9281)*MStgl2(1)*MStgl2(2) + 
     &    3*(16*MGl2**2 - MStgl2(2)**2)*UUStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9284)", Cd(9284) ENDL
#endif

        Cd(9294) = Cc(394)**3*Cd(9276)*MStgl2(3) + 
     &    MTgl2**2*(Cd(9293) + 
     &       MTgl2*(Cd(9284) - MTgl2*(Cd(9279) - 8*MTgl2*UUStgl(1,3)))
     &       )

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9294)", Cd(9294) ENDL
#endif

        Cd(9311) = -2*MGl2*MTgl2 - 9*MTgl2**2 + 
     &    3*(MGl2**2 + (Cd(4138) - MStgl2(1))*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9311)", Cd(9311) ENDL
#endif

        Cd(9315) = 8*MTgl2**2 - 12*MTgl2*MStgl2(1) - 
     &    2*(Cd(496) - 5*MStgl2(2))*MStgl2(2) - 
     &    7*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9315)", Cd(9315) ENDL
#endif

        Cd(9318) = 48*MTgl2**2 + 28*MTgl2*MStgl2(1) + 
     &    2*MStgl2(2)*(Cd(496) + 23*MStgl2(2)) - 
     &    41*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9318)", Cd(9318) ENDL
#endif

        Cd(9404) = -(MGl2*(2*MGl2 - Cd(9397))) + 
     &    2*(-4*MStgl2(2)**2 + Cc(427)*(MTgl2 + MStgl2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9404)", Cd(9404) ENDL
#endif

        Cd(932) = 2*Cd(931)*UStgl2(1,1) - 
     &    Cc(131)*MStgl2(4)*UStgl2(1,1)**2 - 
     &    Cd(930)*UStgl2(1,2)**2 + 
     &    MStgl2(3)*(3*Cc(95) - 2*MStgl2(1)*UStgl2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(932)", Cd(932) ENDL
#endif

        Cd(9411) = 2*MTgl2**3*Cd(9409) - 
     &    MStgl2(3)*(MTgl2**2*
     &        (MTgl2**2*(12*MTgl2 - Cd(9406)) - 16*Cd(9410)) + 
     &       Cc(1080)**4*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9411)", Cd(9411) ENDL
#endif

        Cd(9412) = -((Cd(956)*MStgl2(2)**3 - 
     &        MGl2*(3*Cd(1297)*MStgl2(2)**2 - 
     &           MGl2*(MGl2*(6*MGl2 - Cd(9145)) + 
     &              3*Cd(9157)*MStgl2(2))))*MStgl2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9412)", Cd(9412) ENDL
#endif

        Cd(9492) = MGl2*(7*MGl2 - 3*MStgl2(1)) + 
     &    MTgl2*(-7*MGlpT2 + 2*MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9492)", Cd(9492) ENDL
#endif

        Cd(941) = 2*Cd(940)*UStgl2(1,1) - 
     &    Cd(939)*UStgl2(1,1)**2 - Cd(930)*UStgl2(1,2)**2 + 
     &    MStgl2(3)*(3*Cc(95) - 2*MStgl2(1)*UStgl2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(941)", Cd(941) ENDL
#endif

        Cd(9540) = 4*MGl2*Cd(9539) + 
     &    MStgl2(2)*(2*Cd(9536)*MStgl2(1) + Cd(9537)*MStgl2(2)) + 
     &    3*(16*MGl2**2 - MStgl2(1)**2)*UUStgl(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9540)", Cd(9540) ENDL
#endif

        Cd(9550) = -(MTgl2**3*Cd(9540)) + MTgl2**2*Cd(9549) + 
     &    Cc(1080)**3*Cd(9532)*MStgl2(3) + 
     &    MTgl2**4*(Cd(9535) - 8*MTgl2*UUStgl(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9550)", Cd(9550) ENDL
#endif

        Cd(9567) = -2*MGl2*MTgl2 - 9*MTgl2**2 + 
     &    3*(MGl2**2 + (Cd(4138) - MStgl2(2))*MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9567)", Cd(9567) ENDL
#endif

        Cd(9571) = 8*MTgl2**2 - 4*MTgl2*MStgl2(1) - 
     &    2*(Cd(2399) - 5*MStgl2(2))*MStgl2(2) - 
     &    3*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9571)", Cd(9571) ENDL
#endif

        Cd(9575) = 4*MTgl2*(12*MTgl2 + MStgl2(1)) + 
     &    2*MStgl2(2)*(Cd(9574) + 23*MStgl2(2)) - 
     &    5*MStgl2(3)*MStgl2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9575)", Cd(9575) ENDL
#endif

        Cd(9614) = -Cd(921) + MTgl2*(8*MTgl2 - 4*MStgl2(1)) - 
     &    2*Cd(9613)*MStgl2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9614)", Cd(9614) ENDL
#endif

        Cd(9860) = 3*MGlpT2 - 
     &    2*(MGl2*Log(MGl2/Q2) + MTgl2*Log(MTgl2/Q2)) - 
     &    Cc(587)*MStgl2(1) - T134(MGl2,MTgl2,MStgl2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9860)", Cd(9860) ENDL
#endif

        Cd(9861) = 3*MGlpT2 - 
     &    2*(MGl2*Log(MGl2/Q2) + MTgl2*Log(MTgl2/Q2)) - 
     &    Cc(825)*MStgl2(2) - T134(MGl2,MTgl2,MStgl2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9861)", Cd(9861) ENDL
#endif

	Cd(9884) = Cd(9974) + Cc(1217)*UStgl2(1,1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9884)", Cd(9884) ENDL
#endif

        Cd(10195) = -((4*M_3C*MTgl - AtglC*Cd(10194))*
     &       UCStgl(1,3)) - (4*M_3 - Atgl)*MTgl*UCStglC(1,3) + 
     &    2*(Cr(29)*MStgl2(2) + M_3*Atgl*UCStglC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10195)", Cd(10195) ENDL
#endif

        Cd(10430) = Cd(440) + 
     &    MStgl2(3)*(2*Cc(1217) - UStgl2(1,1) + UStgl2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10430)", Cd(10430) ENDL
#endif

        Cd(10531) = Cc(1217)*Cd(10527) + Atgl*Cd(10530) - 
     &    MGlmT2*Cr(29) + Cd(10524)*MStgl2(2) + 
     &    AtglC*(Cd(10525) + Cd(10526)*UCStgl(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10531)", Cd(10531) ENDL
#endif

	Cd(10728) = Cd(11785) - 4*MStgl2(2)*(Cc(1217) - UStgl2(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10728)", Cd(10728) ENDL
#endif

	end
