* TLhr_abbr_d5.F
* this file is part of FeynHiggs
* generated 2-Aug-2016 18:14

#include "externals.h"
#include "types.h"


	subroutine TLhr_abbr_d5
	implicit none

#include "TLhr.h"

        Cd(867) = CA2*MStop2(3)*UStop(1,2) - 
     &    Cd(649)*(Cd(652)*UStopC(2,1) + Cd(653)*UStopC(2,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(867)", Cd(867) ENDL
#endif

        Cd(8762) = Cd(8760)*MStop2(1)**2 - 
     &    MStop2(2)*(2*Cd(8761)*MStop2(1) - 
     &       23*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8762)", Cd(8762) ENDL
#endif

        Cd(8765) = Cd(8764)*MStop2(1)**2 - 
     &    MStop2(2)*(Cd(8763)*MStop2(1) + 12*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8765)", Cd(8765) ENDL
#endif

        Cd(8768) = Cd(8766)*MStop2(1)**2 - 
     &    MStop2(2)*(Cd(8767)*MStop2(1) - 41*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8768)", Cd(8768) ENDL
#endif

        Cd(868) = CA2*MStop2(3)*UStop(1,1) - 
     &    Cd(648)*(Cd(652)*UStopC(2,1) + Cd(653)*UStopC(2,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(868)", Cd(868) ENDL
#endif

        Cd(8774) = Cd(8772)*MStop2(1)**2 - 
     &    MStop2(2)*(2*Cd(8773)*MStop2(1) - 
     &       9*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8774)", Cd(8774) ENDL
#endif

        Cd(8776) = Cd(8775)*MStop2(1)**2 + 
     &    MStop2(2)*(Cd(3576)*MStop2(1) - 7*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8776)", Cd(8776) ENDL
#endif

	Cd(8780) = -9*MStop2(1)**2 + MTy2*(7*MTy2 + 10*MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8780)", Cd(8780) ENDL
#endif

	Cd(8782) = -(MTy2*(4*MTy2 - Cc(543))) - 3*MStop2(1)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8782)", Cd(8782) ENDL
#endif

	Cd(8783) = 17*MGl2 - Cd(4310)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8783)", Cd(8783) ENDL
#endif

	Cd(8790) = MTy2*Cd(8789) - (Cd(2207) - 2*MStop2(1))*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8790)", Cd(8790) ENDL
#endif

	Cd(8793) = Cd(8807) + 8*MTy2*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8793)", Cd(8793) ENDL
#endif

	Cd(8795) = 3*MStop2(1)**2 + MTy2*(23*MTy2 + 6*MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8795)", Cd(8795) ENDL
#endif

	Cd(8803) = -(Cc(134)*MStop2(1)) + MTy2*(3*MTy2 - 2*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8803)", Cd(8803) ENDL
#endif

        Cd(8808) = MTy2*(18*MTy2**2 - 2*Cd(1005)*MStop2(1)) - 
     &    Cd(8807)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8808)", Cd(8808) ENDL
#endif

	Cd(8809) = 9*MGl2 - 23*MTy2 - 6*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8809)", Cd(8809) ENDL
#endif

	Cd(8828) = Cd(5072) + MTy2*(4*MStop2(1) - 5*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8828)", Cd(8828) ENDL
#endif

        Cd(8830) = -(Cd(8829)*MStop2(2)) + 
     &    MTy2*(MTy2*Cr(2) + 2*MStop2(3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8830)", Cd(8830) ENDL
#endif

	Cd(8831) = MTy2*(9*MTy2 - 10*MStop2(1)) - MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8831)", Cd(8831) ENDL
#endif

        Cd(8840) = Cc(434)**4*Cr(28) + 
     &    MGl2*(MGl2*Cd(8839) - 2*Cc(434)**2*Cc(1074)*Cr(91))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8840)", Cd(8840) ENDL
#endif

        Cd(8845) = -(Cd(3678)*MStop2(2)) + 
     &    MTy2*(MTy2*Cd(3677) + 2*MStop2(3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8845)", Cd(8845) ENDL
#endif

        Cd(8847) = MTy2*(3*MTy2*Cd(755) + Cd(3681)) + 
     &    Cd(8846)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8847)", Cd(8847) ENDL
#endif

	Cd(8859) = MTy2*(12*MTy2 - 6*MStop2(1)) - MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8859)", Cd(8859) ENDL
#endif

	Cd(8864) = Cd(4124) + MGl2*(MGl2 - Cd(4456))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8864)", Cd(8864) ENDL
#endif

        Cd(8880) = 2*MTy2*MStop2(1) - 2*MStop2(2)**2 + 
     &    MStop2(3)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8880)", Cd(8880) ENDL
#endif

        Cd(8881) = -(Cd(3775)*MStop2(2)) + 
     &    MTy2*(MTy2*Cc(131) - 2*MStop2(3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8881)", Cd(8881) ENDL
#endif

	Cd(8885) = Cd(2927) - 8*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8885)", Cd(8885) ENDL
#endif

	Cd(8888) = MStop2(1)**2 + MTy2*(6*MTy2 + 10*MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8888)", Cd(8888) ENDL
#endif

        Cd(8895) = Cc(427)*MStop2(1) + 
     &    MStop2(2)*(Cd(1600) + 4*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8895)", Cd(8895) ENDL
#endif

        Cd(8896) = 2*MTy2*MStop2(1) - 2*MStop2(2)**2 + 
     &    Cc(517)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8896)", Cd(8896) ENDL
#endif

        Cd(8897) = -(Cd(1085)*Cd(1712)*MStop2(2)) + 
     &    MTy2*(MTy2*Cc(131) + 2*MStop2(3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8897)", Cd(8897) ENDL
#endif

	Cd(8898) = MTy2*(6*MTy2 - 6*MStop2(1)) + MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8898)", Cd(8898) ENDL
#endif

        Cd(8921) = MTy2*(3*MTy2*Cd(755) + Cd(3681)) + 
     &    Cd(3683)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8921)", Cd(8921) ENDL
#endif

	Cd(8928) = MGl2 + 15*MTy2 - 5*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8928)", Cd(8928) ENDL
#endif

	Cd(8935) = 2*Cd(2710) + MStop2(1)*(2*Cd(2204) + MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8935)", Cd(8935) ENDL
#endif

	Cd(8936) = 8*MGl2 - Cd(8899)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8936)", Cd(8936) ENDL
#endif

        Cd(8942) = -3*MStop2(2)**2 + 
     &    MTy2*(Cd(2265)*MStop2(2) + 3*MTy2*UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8942)", Cd(8942) ENDL
#endif

        Cd(8943) = MTy2*Cc(1126)*MStop2(2) + 
     &    3*(MStop2(2)**2 + MTy2**2*UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8943)", Cd(8943) ENDL
#endif

        Cd(8948) = Cd(8946)*MStop2(1) + MStop2(1)**2 + 
     &    Cd(8947)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8948)", Cd(8948) ENDL
#endif

        Cd(8949) = Cd(2262)*MStop2(1)**2 - 
     &    MStop2(2)*(2*Cd(2298)*MStop2(1) + Cr(90)*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8949)", Cd(8949) ENDL
#endif

        Cd(8950) = Cr(90)*MStop2(1)**2 + 
     &    MStop2(2)*(4*Cc(1513)*MStop2(1) + Cd(8710)*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8950)", Cd(8950) ENDL
#endif

        Cd(8951) = -(Cd(8950)*MStop2(2)) + 
     &    MTy2*(Cd(8949) + 6*MTy2*MStop2(4)*UStop2(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8951)", Cd(8951) ENDL
#endif

        Cd(8970) = MStop2(1)**2 + Cd(8969)*MStop2(2) - 
     &    MStop2(3)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8970)", Cd(8970) ENDL
#endif

	Cd(8971) = MTy2*(9*MTy2 - 6*MStop2(1)) - MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8971)", Cd(8971) ENDL
#endif

	Cd(8974) = 3*MTy2**2 - 3*MStop2(2)**2 + MStop2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8974)", Cd(8974) ENDL
#endif

	Cd(8976) = -(MTy2*(3*MTy2 - Cd(284))) + Cr(1)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8976)", Cd(8976) ENDL
#endif

	Cd(8983) = MGl2*(11*MGl2 - MStop2(2)) - 3*MStop2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8983)", Cd(8983) ENDL
#endif

        Cd(890) = Cd(649)**2*UUStopC(2,2) + 
     &    Cd(648)*(Cd(648)*UUStopC(2,1) + 2*Cd(649)*UUStopC(2,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(890)", Cd(890) ENDL
#endif

        Cd(8987) = (MGl2*(12*MGl2 + Cd(8986)) + 
     &      3*Cd(2140)*MStop2(2))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8987)", Cd(8987) ENDL
#endif

	Cd(8994) = Cd(3837) + MGl2*UUStop(2,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8994)", Cd(8994) ENDL
#endif

        Cd(891) = -2*A0delStop(2)*Cd(880) + Cd(887)*Cr(35) + 
     &    Cd(890)*MStop2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(891)", Cd(891) ENDL
#endif

        Cd(8995) = 11*MStop2(1)**2 + 
     &    MGl2*(36*MStop2(1) - 60*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8995)", Cd(8995) ENDL
#endif

        Cd(8998) = Cd(8775)*MStop2(1)*MStop2(2) - 
     &    Cd(8755)*MStop2(2)**2 + 17*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(8998)", Cd(8998) ENDL
#endif

        Cd(9001) = 2*Cd(8999)*MStop2(1)*MStop2(2) + 
     &    Cd(9000)*MStop2(2)**2 - 43*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9001)", Cd(9001) ENDL
#endif

        Cd(9002) = -2*Cd(8998)*MStop2(2) + 
     &    MGl2*(Cd(9001) + 36*MGl2*Cr(1)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9002)", Cd(9002) ENDL
#endif

        Cd(9005) = 2*Cd(9004)*MStop2(1)*MStop2(2) - 
     &    Cd(9003)*MStop2(2)**2 - 23*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9005)", Cd(9005) ENDL
#endif

        Cd(9007) = Cd(9006)*MStop2(1)*MStop2(2) + 
     &    Cd(8764)*MStop2(2)**2 - 12*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9007)", Cd(9007) ENDL
#endif

        Cd(9010) = Cd(9009)*MStop2(1)*MStop2(2) - 
     &    Cd(9008)*MStop2(2)**2 - 41*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9010)", Cd(9010) ENDL
#endif

        Cd(9013) = Cd(9006)*MStop2(1)*MStop2(2) + 
     &    Cd(8775)*MStop2(2)**2 - 7*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9013)", Cd(9013) ENDL
#endif

	Cd(893) = -((12*A0delT - (6 + Pi**2)*MTy2)/MTy2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(893)", Cd(893) ENDL
#endif

        Cd(9016) = 2*Cd(9014)*MStop2(1)*MStop2(2) - 
     &    Cd(9015)*MStop2(2)**2 - 9*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9016)", Cd(9016) ENDL
#endif

	Cd(9024) = MTy2*Cd(8789) - (Cd(2207) - 2*MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9024)", Cd(9024) ENDL
#endif

	Cd(9027) = -3*MStop2(2)**2 + MTy2*(19*MTy2 + 8*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9027)", Cd(9027) ENDL
#endif

	Cd(9029) = 3*MStop2(2)**2 + MTy2*(23*MTy2 + 6*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9029)", Cd(9029) ENDL
#endif

	Cd(9037) = -(Cc(79)*MStop2(2)) + MTy2*(3*MTy2 + 2*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9037)", Cd(9037) ENDL
#endif

        Cd(9038) = 3*MTy2*Cd(1785) + 
     &    MStop2(2)*(Cd(4392) + 5*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9038)", Cd(9038) ENDL
#endif

	Cd(9043) = 15*MGl2 - 35*MTy2 + 6*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9043)", Cd(9043) ENDL
#endif

	Cd(9075) = MTy2*Cd(1785) + (Cd(3614) - 5*MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9075)", Cd(9075) ENDL
#endif

	Cd(9079) = MTy2*Cd(284) + Cd(3169)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9079)", Cd(9079) ENDL
#endif

        Cd(900) = 2*Cd(899)*UStop2(1,2)**2 - 
     &    MStop2(1)*(3*MStop2(3) - 7*MStop2(1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(900)", Cd(900) ENDL
#endif

	Cd(9089) = Cc(1152)**2 + MGl2*(MGl2 - Cd(9088))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9089)", Cd(9089) ENDL
#endif

	Cd(9093) = -3*MGl2*Cd(67)*Cd(2083) + Cd(9225)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9093)", Cd(9093) ENDL
#endif

	Cd(9103) = Cd(1686) - MGl2*Cd(9102)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9103)", Cd(9103) ENDL
#endif

	Cd(9107) = Cc(434)**3 + MGl2*(MGl2**2 - 3*Cc(436)*Cd(2137))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9107)", Cd(9107) ENDL
#endif

	Cd(9117) = Cd(5222) - 5*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9117)", Cd(9117) ENDL
#endif

	Cd(9119) = MGl2**2 - Cc(1152)**2 + Cd(67)**2*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9119)", Cd(9119) ENDL
#endif

	Cd(9121) = -(MGl2*(MGl2 - Cc(1152))) + Cc(1152)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9121)", Cd(9121) ENDL
#endif

	Cd(9128) = -MGl2**2 + Cc(1152)**2 - MGlpTmSt4(1)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9128)", Cd(9128) ENDL
#endif

	Cd(9134) = 2*MTy2 + Cd(7105)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9134)", Cd(9134) ENDL
#endif

        Cd(9144) = (MGl2*
     &       (MGl2*Cd(2085) - 3*Cc(131)*MStop2(1)) + 
     &      6*MStop2(1)**2*MStop2(2))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9144)", Cd(9144) ENDL
#endif

        Cd(9151) = (MGl2*(24*MGl2 + Cd(9149)) - 
     &      Cd(9150)*MStop2(1))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9151)", Cd(9151) ENDL
#endif

        Cd(9154) = (MGl2*(4*MGl2 + Cd(2053)) - 
     &      Cd(9153)*MStop2(1))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9154)", Cd(9154) ENDL
#endif

	Cd(89) = -MGl2**2 + Cc(1152)**2 - MGlpTmSt4(1)*UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(89)", Cd(89) ENDL
#endif

	Cd(9162) = MGl2*(MGl2 - MTy2) + 3*MTy2**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9162)", Cd(9162) ENDL
#endif

	Cd(9165) = -MStop2(1)**2 + MTy2*(5*MTy2 + 8*MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9165)", Cd(9165) ENDL
#endif

	Cd(9166) = Cd(2843) - 12*MTy2*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9166)", Cd(9166) ENDL
#endif

	Cd(9167) = Cd(4328) - 4*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9167)", Cd(9167) ENDL
#endif

	Cd(9172) = 3*MGl2 - Cd(2883)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9172)", Cd(9172) ENDL
#endif

        Cd(9189) = MTy2*
     &     (Cd(8860)*MStop2(1) - Cd(9188)*MStop2(2)) + 
     &    MStop2(1)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9189)", Cd(9189) ENDL
#endif

	Cd(9192) = MTy2*(13*MTy2 - 2*MStop2(1)) - 3*MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9192)", Cd(9192) ENDL
#endif

	Cd(9200) = MTy2*(4*MTy2 + Cd(9157)) + 9*MStop2(1)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9200)", Cd(9200) ENDL
#endif

	Cd(9201) = 4*MTy2 - Cd(3278)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9201)", Cd(9201) ENDL
#endif

	Cd(912) = 3*MStop2(2)**2 - MStop2(3)*(2*MStop2(3) - MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(912)", Cd(912) ENDL
#endif

	Cd(9205) = Cd(9200) - MGl2*(4*MTy2 + 3*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9205)", Cd(9205) ENDL
#endif

        Cd(913) = Cd(912)*UStop2(1,2)**2 - 
     &    MStop2(1)*(3*MStop2(3) - 7*MStop2(1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(913)", Cd(913) ENDL
#endif

	Cd(9215) = 3*MTy2**2 + Cd(8032) + 2*Cd(1602)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9215)", Cd(9215) ENDL
#endif

        Cd(9216) = MTy2*Cc(427)*Cc(1835) - 
     &    MStop2(2)*(2*Cd(1604) + Cc(427)*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9216)", Cd(9216) ENDL
#endif

        Cd(9231) = Cd(9230)*MStop2(1) + Cd(3578)*MStop2(2) + 
     &    36*MGl2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9231)", Cd(9231) ENDL
#endif

        Cd(9240) = Cd(8775)*MStop2(1)**2 + 
     &    MStop2(2)*(Cd(9239)*MStop2(1) - 16*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9240)", Cd(9240) ENDL
#endif

        Cd(9244) = 5*Cd(9233)*MStop2(1)**2 - 
     &    MStop2(2)*(Cd(9243)*MStop2(1) + 34*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9244)", Cd(9244) ENDL
#endif

        Cd(9250) = Cd(9249)*MStop2(1)**2 - 
     &    MStop2(2)*(Cd(9236)*MStop2(1) + 8*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9250)", Cd(9250) ENDL
#endif

        Cd(9253) = Cd(9252)*MStop2(1)**2 + 
     &    MStop2(2)*(Cd(9251)*MStop2(1) - 28*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9253)", Cd(9253) ENDL
#endif

	Cd(90) = MGlmT2 + MStop2(1) + MGlpTmSt2(1)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(90)", Cd(90) ENDL
#endif

        Cd(9258) = Cd(3838)*MStop2(1)**2 + 
     &    MStop2(2)*(Cd(9256)*MStop2(1) - 12*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9258)", Cd(9258) ENDL
#endif

        Cd(9262) = 5*Cd(9260)*MStop2(1)**2 - 
     &    MStop2(2)*(Cd(9261)*MStop2(1) + 36*MStop2(2)*UUStop(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9262)", Cd(9262) ENDL
#endif

        Cd(9272) = Cd(9271)*MStop2(1)**2 - 
     &    MStop2(2)*(2*Cd(9270)*MStop2(1) - 
     &       9*MStop2(2)*UUStop(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9272)", Cd(9272) ENDL
#endif

        Cd(9276) = Cd(9275)*MStop2(1) - 
     &    3*MStop2(2)*UUStop(1,3) - MGl2*UUStop(2,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9276)", Cd(9276) ENDL
#endif

        Cd(9279) = Cd(9277)*MStop2(1) + Cd(9278)*MStop2(2) + 
     &    32*MGl2*UUStop(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9279)", Cd(9279) ENDL
#endif

        Cd(9286) = Cd(9285)*MStop2(1)**2 + 
     &    6*Cd(9268)*MStop2(1)*MStop2(2) - 
     &    9*MStop2(2)**2*UUStop(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9286)", Cd(9286) ENDL
#endif

        Cd(9292) = Cd(9291)*MStop2(1)**2 - 
     &    MStop2(2)*(2*Cd(9290)*MStop2(1) - 
     &       11*MStop2(2)*UUStop(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9292)", Cd(9292) ENDL
#endif

	Cd(9302) = -2*MStop2(1)**2 + 7*MTy2*(MTy2 + MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9302)", Cd(9302) ENDL
#endif

	Cd(9305) = MGl2 + 2*MTy2 - 4*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9305)", Cd(9305) ENDL
#endif

	Cd(9321) = 8*MStop2(1)**2 + MTy2*(2*MTy2 + 15*MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9321)", Cd(9321) ENDL
#endif

	Cd(9331) = 4*MTy2 + Cd(1512)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9331)", Cd(9331) ENDL
#endif

	Cd(9333) = 3*Cc(131)*MStop2(1) + MTy2*(4*MTy2 + 3*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9333)", Cd(9333) ENDL
#endif

	Cd(9356) = MTy2*(2*MTy2 - 7*MStop2(1)) - 20*MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9356)", Cd(9356) ENDL
#endif

	Cd(9380) = Cd(5222) - 5*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9380)", Cd(9380) ENDL
#endif

	Cd(9382) = MGl2**2 - Cc(434)**2 + Cc(436)**2*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9382)", Cd(9382) ENDL
#endif

	Cd(9384) = -(MGl2*(MGl2 - Cc(434))) + Cc(434)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9384)", Cd(9384) ENDL
#endif

	Cd(9392) = -MGl2**2 + Cc(434)**2 - MGlpTmSt4(2)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9392)", Cd(9392) ENDL
#endif

	Cd(9397) = 2*MTy2 + Cd(1502)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9397)", Cd(9397) ENDL
#endif

	Cd(9398) = -4*MStop2(2)**2 + Cc(427)*(MTy2 + MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9398)", Cd(9398) ENDL
#endif

        Cd(9409) = (MGl2*(12*MGl2 + Cd(9407)) - 
     &      Cd(9408)*MStop2(2))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9409)", Cd(9409) ENDL
#endif

        Cd(9410) = MGl2**2*Cd(850) + 
     &    3*MStop2(2)*(Cr(28)*MStop2(2) - MGl2*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9410)", Cd(9410) ENDL
#endif

        Cd(9416) = (MGl2*(4*MGl2 + Cd(2018)) - 
     &      Cd(9415)*MStop2(2))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9416)", Cd(9416) ENDL
#endif

        Cd(934) = 3*MStop2(3) - 
     &    UStop2(1,2)*(2*MStop2(1) - Cc(131)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(934)", Cd(934) ENDL
#endif

	Cd(9425) = Cd(3213) - 12*MTy2*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9425)", Cd(9425) ENDL
#endif

	Cd(9426) = -MStop2(2)**2 + MTy2*(5*MTy2 + 8*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9426)", Cd(9426) ENDL
#endif

	Cd(9427) = Cd(4328) - 4*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9427)", Cd(9427) ENDL
#endif

	Cd(9432) = 3*MGl2 - Cd(3252)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9432)", Cd(9432) ENDL
#endif

	Cd(9437) = MTy2*Cd(9435) + MStop2(2)*(Cd(9436) + 2*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9437)", Cd(9437) ENDL
#endif

	Cd(9448) = 5*MTy2*MStop2(1) - (11*MTy2 - 2*Cd(603))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9448)", Cd(9448) ENDL
#endif

	Cd(9450) = -(MTy2*(6*MTy2 - Cd(6647))) + MStop2(2)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9450)", Cd(9450) ENDL
#endif

	Cd(9452) = MTy2*(13*MTy2 - 2*MStop2(2)) - 3*MStop2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9452)", Cd(9452) ENDL
#endif

        Cd(937) = UStop2(1,1)*
     &     (Cd(934) - Cd(936)*UStop2(1,1)) + Cd(935)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(937)", Cd(937) ENDL
#endif

	Cd(9460) = Cd(543) + 12*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9460)", Cd(9460) ENDL
#endif

	Cd(9462) = 4*MTy2 - 4*MStop2(2) - 7*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9462)", Cd(9462) ENDL
#endif

	Cd(9465) = MTy2*Cd(7318) - MStop2(2)*(Cd(9464) + 26*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9465)", Cd(9465) ENDL
#endif

	Cd(9481) = MTy2*(8*MTy2 - MStop2(1)) - 2*MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9481)", Cd(9481) ENDL
#endif

	Cd(9489) = 3*MStop2(2)**2 + Cd(8969)*(MTy2 + 2*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9489)", Cd(9489) ENDL
#endif

	Cd(9493) = 9*MGl2 + Cd(1468)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9493)", Cd(9493) ENDL
#endif

        Cd(9497) = Cd(3838)*MStop2(1) - Cd(9496)*MStop2(2) - 
     &    36*MGl2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9497)", Cd(9497) ENDL
#endif

        Cd(9503) = Cd(9239)*MStop2(1)*MStop2(2) - 
     &    Cd(9502)*MStop2(2)**2 - 16*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9503)", Cd(9503) ENDL
#endif

        Cd(9507) = Cd(9505)*MStop2(1)*MStop2(2) - 
     &    Cd(9506)*MStop2(2)**2 + 34*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9507)", Cd(9507) ENDL
#endif

        Cd(9509) = Cd(9256)*MStop2(1)*MStop2(2) - 
     &    Cd(3850)*MStop2(2)**2 - 12*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9509)", Cd(9509) ENDL
#endif

        Cd(9517) = Cd(8763)*MStop2(1)*MStop2(2) - 
     &    Cd(9516)*MStop2(2)**2 + 8*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9517)", Cd(9517) ENDL
#endif

        Cd(9519) = Cd(9518)*MStop2(1)*MStop2(2) + 
     &    Cd(9252)*MStop2(2)**2 - 28*MStop2(1)**2*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9519)", Cd(9519) ENDL
#endif

        Cd(9528) = 2*Cd(9527)*MStop2(1)*MStop2(2) - 
     &    Cd(9526)*MStop2(2)**2 - 9*MStop2(1)**2*UUStop(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9528)", Cd(9528) ENDL
#endif

        Cd(9532) = Cd(9531)*MStop2(2) - 
     &    3*MStop2(1)*UUStop(1,3) + MGl2*UUStop(2,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9532)", Cd(9532) ENDL
#endif

        Cd(9535) = Cd(9533)*MStop2(1) + Cd(9534)*MStop2(2) + 
     &    32*MGl2*UUStop(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9535)", Cd(9535) ENDL
#endif

        Cd(9546) = 2*Cd(9544)*MStop2(1)*MStop2(2) - 
     &    Cd(9545)*MStop2(2)**2 - 11*MStop2(1)**2*UUStop(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9546)", Cd(9546) ENDL
#endif

        Cd(9548) = 6*Cd(9524)*MStop2(1)*MStop2(2) + 
     &    Cd(9547)*MStop2(2)**2 - 9*MStop2(1)**2*UUStop(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9548)", Cd(9548) ENDL
#endif

	Cd(9556) = 5*MStop2(2)**2 + MTy2*(MTy2 + 2*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9556)", Cd(9556) ENDL
#endif

	Cd(9558) = -2*MStop2(2)**2 + 7*MTy2*(MTy2 + MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9558)", Cd(9558) ENDL
#endif

	Cd(9561) = MGl2 + 2*MTy2 - 4*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9561)", Cd(9561) ENDL
#endif

	Cd(9578) = MTy2*(32*MTy2 - 4*MStop2(1)) + 11*MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9578)", Cd(9578) ENDL
#endif

	Cd(9579) = -7*MStop2(1)**2 + MTy2*(14*MTy2 + 15*MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9579)", Cd(9579) ENDL
#endif

	Cd(9589) = Cd(2817) + 8*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9589)", Cd(9589) ENDL
#endif

	Cd(9590) = MTy2*Cd(1656) + (Cd(5883) - 5*MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9590)", Cd(9590) ENDL
#endif

	Cd(9591) = 3*Cc(543)*MStop2(2) + MTy2*(4*MTy2 - 3*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9591)", Cd(9591) ENDL
#endif

	Cd(9598) = MTy2*Cd(3148) + (Cd(9597) - 5*MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9598)", Cd(9598) ENDL
#endif

	Cd(9602) = -3*MStop2(2)**2 + MTy2*(9*MTy2 + 2*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9602)", Cd(9602) ENDL
#endif

	Cd(9617) = MTy2*(32*MTy2 - 4*MStop2(1)) - 11*MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9617)", Cd(9617) ENDL
#endif

	Cd(9618) = MTy2*(2*MTy2 - MStop2(1)) + MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9618)", Cd(9618) ENDL
#endif

        Cd(9644) = Cd(9643)*MStop2(2) + 
     &    UCStopC(1,3)*(Cd(9642)*MStop2(3) - 
     &       Cd(339)*MStop2(4)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9644)", Cd(9644) ENDL
#endif

        Cd(9646) = Cd(9643)*MStop2(1) + 
     &    UCStopC(1,3)*(Cd(9645)*MStop2(3) - 
     &       Cd(339)*MStop2(4)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9646)", Cd(9646) ENDL
#endif

        Cd(9650) = Cd(9649)*MStop2(2) + 
     &    UCStop(1,3)*(Cd(9648)*MStop2(3) - 
     &       Cd(338)*MStop2(4)*UCStop(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9650)", Cd(9650) ENDL
#endif

        Cd(9652) = Cd(9649)*MStop2(1) + 
     &    UCStop(1,3)*(Cd(9651)*MStop2(3) - 
     &       Cd(338)*MStop2(4)*UCStop(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9652)", Cd(9652) ENDL
#endif

	Cd(9654) = 2*(CA2*MUE2 + At*AtC*SA2) - S2A*Cc(1312)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9654)", Cd(9654) ENDL
#endif

        Cd(957) = 2*Cc(1519)*MStop2(1)**2 + 
     &    Cd(956)*MStop2(2) - 2*Cd(955)*UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(957)", Cd(957) ENDL
#endif

	Cd(9655) = SA2*Cd(395) - S2A*Cd(396) + CA2*Cd(397)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9655)", Cd(9655) ENDL
#endif

        Cd(9656) = Cd(394)*Cd(9654) + 
     &    2*SA2*MStop2(2)*MStop2(3) - Cd(9655)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9656)", Cd(9656) ENDL
#endif

        Cd(9659) = 8*MTy*SA2 + 
     &    3*(Cd(9657)*UCStop(1,3) + Cd(9658)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9659)", Cd(9659) ENDL
#endif

        Cd(9661) = Cc(115)*Cd(9654) - 
     &    2*SA2*MStop2(1)*MStop2(3) - Cd(9655)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9661)", Cd(9661) ENDL
#endif

        Cd(9662) = 8*MTy*SA2 - 
     &    3*(Cd(9657)*UCStop(1,3) + Cd(9658)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9662)", Cd(9662) ENDL
#endif

        Cd(959) = 8*Cd(958)*UStop2(1,2)**2 - 
     &    MStop2(1)*(5*MStop2(3) - 14*MStop2(1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(959)", Cd(959) ENDL
#endif

        Cd(9703) = (Cr(90) - UStop2(1,1))*UStop2(1,1)**2 + 
     &    2*UStop2(1,2)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9703)", Cd(9703) ENDL
#endif

        Cd(9708) = MStop2(1)*
     &     (MStop2(1) - MStop2(2)*UStop2(1,1)) - 
     &    MStop2(2)**2*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9708)", Cd(9708) ENDL
#endif

	Cd(9717) = -2*(SA2*Cd(440) + CA2*Cd(443)) - S2A*Cd(532)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9717)", Cd(9717) ENDL
#endif

	Cd(9722) = CA2*MUE**2 - AtC*(MUE*S2A - AtC*SA2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9722)", Cd(9722) ENDL
#endif

        Cd(9726) = SA2*MStop2(3)*UCStopC(3,1) + 
     &    Cd(9718)**2*UUStopC(3,1) - Cd(9719)*Cd(9721)*UUStopC(3,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9726)", Cd(9726) ENDL
#endif

        Cd(9741) = SA2*MStop2(3)*UCStop(3,1) - 
     &    Cd(9732)**2*UUStopC(3,1) + Cd(9733)*Cd(9735)*UUStopC(3,4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9741)", Cd(9741) ENDL
#endif

        Cd(9757) = SA2*Cd(715) - 2*S2A*Cd(717) + 
     &    2*CA2*Cc(1645)**2*Cr(117)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9757)", Cd(9757) ENDL
#endif

        Cd(968) = Cd(966)*MStop2(3) + 4*Cd(967)*UStop2(1,1) - 
     &    4*Cd(785)*UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(968)", Cd(968) ENDL
#endif

        Cd(9773) = Cd(736)*MStop2(1)**2 + 
     &    MStop2(2)*(3*MStop2(2) + 2*MStop2(1)*UStop2(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9773)", Cd(9773) ENDL
#endif

        Cd(9776) = Cd(739)*MStop2(1)**2 + 
     &    MStop2(2)*(Cd(738)*MStop2(2) + 2*MStop2(1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9776)", Cd(9776) ENDL
#endif

        Cd(9783) = Cd(9782)*UStop2(1,1)**2 + 
     &    UStop2(1,2)*(Cd(804)*UStop2(1,1) + Cd(803)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9783)", Cd(9783) ENDL
#endif

        Cd(9792) = 2*(At*AtC*Cd(394) + Cd(9791)*MStop2(3)) - 
     &    Cd(395)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9792)", Cd(9792) ENDL
#endif

        Cd(9805) = Cc(1312)*Cr(29) - 
     &    2*(AtC*MUE*UCStop(1,3)**2 + At*MUEC*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9805)", Cd(9805) ENDL
#endif

        Cd(9810) = Cd(396)*Cd(9809) - 
     &    Cr(117)**2*(2*MTy*Cc(1645) - 
     &       Cc(1312)*UStop2(1,1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9810)", Cd(9810) ENDL
#endif

        Cd(9811) = Cd(9809)*
     &     (MUE**2*UCStop(1,3)**2 + MUEC**2*UCStopC(1,3)**2) + 
     &    2*MUE2*Cr(117)**2*UStop2(1,1)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9811)", Cd(9811) ENDL
#endif

        Cd(9813) = Cd(395)*Cd(9809) - 
     &    2*(2*MTy*Cc(1144) - Cd(9812))*Cr(117)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9813)", Cd(9813) ENDL
#endif

	Cd(9814) = -(S2A*Cd(9810)) + CA2*Cd(9811) + SA2*Cd(9813)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9814)", Cd(9814) ENDL
#endif

        Cd(9817) = 2*MUE2*Cd(394)*Cr(117)**2 + 
     &    Cd(9816)*(MUE**2*UCStop(1,3)**2 + 
     &       MUEC**2*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9817)", Cd(9817) ENDL
#endif

        Cd(9820) = AtC**2*Cd(9816)*UCStop(1,3)**2 + 
     &    At*(2*AtC*Cd(9819) + At*Cd(9816)*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9820)", Cd(9820) ENDL
#endif

        Cd(9821) = -2*(2*MTy*Cc(1144) - Cd(1935))*Cr(117)**2 + 
     &    Cd(9820)/MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9821)", Cd(9821) ENDL
#endif

        Cd(9822) = Cc(1312)*Cd(9819) + 
     &    Cd(9816)*(AtC*MUE*UCStop(1,3)**2 + 
     &       At*MUEC*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9822)", Cd(9822) ENDL
#endif

        Cd(9834) = SA2*MStop2(3)*UStop(1,2) + 
     &    Cd(9733)*(Cd(9718)*UStopC(2,1) - Cd(9719)*UStopC(2,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9834)", Cd(9834) ENDL
#endif

        Cd(9835) = SA2*MStop2(3)*UStop(1,1) - 
     &    Cd(9718)*Cd(9732)*UStopC(2,1) + 
     &    Cd(9719)*Cd(9735)*UStopC(2,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9835)", Cd(9835) ENDL
#endif

        Cd(9846) = Cd(9845) + Cd(9719)*Cd(9739)*MStop2(1) - 
     &    SA2*MStop2(3)**2*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9846)", Cd(9846) ENDL
#endif

        Cd(9852) = 2*(Cd(9850) + 
     &       Cd(9719)*Cd(9739)*MStop2(2)) + Cd(9851)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9852)", Cd(9852) ENDL
#endif

        Cd(9862) = Cc(588)*Cc(590) - 2*Cc(586)*MGlpTmSt4(1) + 
     &    4*MGl2*MTy2*T134(MGl2,MTy2,MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9862)", Cd(9862) ENDL
#endif

        Cd(978) = -2*Cd(977)*UStop2(1,2)**2 - 
     &    MStop2(1)*(5*MStop2(3) - 14*MStop2(1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(978)", Cd(978) ENDL
#endif

        Cd(9863) = Cc(826)*Cc(828) - 2*Cc(799)*MGlpTmSt4(2) + 
     &    4*MGl2*MTy2*T134(MGl2,MTy2,MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9863)", Cd(9863) ENDL
#endif

        Cd(9864) = Cc(588)*Cc(590) + 
     &    2*Cc(295)*Cc(586)*MGlpTmSt2(1) - 
     &    2*MGl2*Cc(296)*T134(MGl2,MTy2,MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9864)", Cd(9864) ENDL
#endif

        Cd(9865) = Cc(826)*Cc(828) + 
     &    2*Cc(336)*Cc(799)*MGlpTmSt2(2) - 
     &    2*MGl2*Cc(344)*T134(MGl2,MTy2,MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9865)", Cd(9865) ENDL
#endif

        Cd(9870) = UStop2(1,1)*(UStop2(1,1) - UStop2(1,2)) + 
     &    3*UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9870)", Cd(9870) ENDL
#endif

        Cd(9873) = -(Cc(1217)*Cd(9872)) + 
     &    2*M_3C*UCStop(1,3)**2 + At*Cd(9870)*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9873)", Cd(9873) ENDL
#endif

	Cd(9886) = Cd(10244) + UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9886)", Cd(9886) ENDL
#endif

        Cd(9929) = -3*M_3C*AtC*UCStop(1,3)**3 + 
     &    Cd(9928)*(Cc(1368)*UCStop(1,3) + M_3*At*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9929)", Cd(9929) ENDL
#endif

        Cd(9933) = UStop2(1,1)*(UStop2(1,1) - UStop2(1,2)) + 
     &    UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9933)", Cd(9933) ENDL
#endif

        Cd(9943) = -1 + 2*Cd(9930)*UStop2(1,1) - 
     &    2*Cd(9942)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9943)", Cd(9943) ENDL
#endif

        Cd(9948) = -3*M_3*At*UCStopC(1,3)**3 + 
     &    Cd(9928)*(M_3C*AtC*UCStop(1,3) + Cc(1368)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9948)", Cd(9948) ENDL
#endif

        Cd(9974) = Cd(1253) + 
     &    UStop2(1,1)*(UStop2(1,2) + UStop2(1,1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(9974)", Cd(9974) ENDL
#endif

        Cd(10050) = Cd(1253) + 
     &    UStop2(1,1)*(Cd(10049)*UStop2(1,1) + UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10050)", Cd(10050) ENDL
#endif

        Cd(10104) = 10*Cc(1217)*UStop2(1,1) + 
     &    UStop2(1,1)**2*(Cd(10103) + 4*UStop2(1,1)) + 
     &    Cd(10102)*UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10104)", Cd(10104) ENDL
#endif

	Cd(10145) = -Cd(12228) + 3*Cc(1217)*UStop2(1,1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10145)", Cd(10145) ENDL
#endif

        Cd(10157) = (Cc(296)*Cc(646) + 
     &      MStop2(1)**2*(-8*MGlpTmSt2(1) + 
     &         Cc(295)*(4*Cc(1217) - 4*UStop2(1,1))))/MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10157)", Cd(10157) ENDL
#endif

        Cd(10161) = Cd(561) - 
     &    3*UStop2(1,1)*(UStop2(1,1) + UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10161)", Cd(10161) ENDL
#endif

        Cd(10164) = 4*M_3*UCStopC(1,3)**2 + 
     &    UStop2(1,1)*(AtC*Cc(1315) - 
     &       4*M_3C*(Cc(1217)*UStop2(1,1) - UStop2(1,2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10164)", Cd(10164) ENDL
#endif

        Cd(10209) = -(Cd(10208)*
     &       (AtC*MUE*UCStop(1,3)**2 + At*MUEC*UCStopC(1,3)**2)) + 
     &    (At*MUE + AtC*MUEC)*Cd(10207)*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10209)", Cd(10209) ENDL
#endif

        Cd(10242) = (Cd(440) + 
     &      MStop2(3)*(2*Cc(1217) - UStop2(1,1) + UStop2(1,2)))/
     &    MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10242)", Cd(10242) ENDL
#endif

	Cd(10243) = Cd(440) + MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10243)", Cd(10243) ENDL
#endif

        Cd(10246) = -(Cd(10245)*MStop2(3)) + 
     &    AtC**2*Cd(9886)*UCStop(1,3)**2 + 
     &    At*(AtC*Cc(1313)*Cr(29) + At*Cd(9886)*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10246)", Cd(10246) ENDL
#endif

        Cd(10280) = 2*Cd(10279)*UStop2(1,1) + 
     &    UStop2(1,1)**2*(Cd(10277) + 4*UStop2(1,1)) + 
     &    Cd(10278)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10280)", Cd(10280) ENDL
#endif

        Cd(10281) = (2*MGl2*Cd(10276) + 
     &      (4*Cd(10035)*Cd(10224) + Cc(1154)*Cd(10280))*
     &       MStop2(1)**2 - 4*Cc(295)*Cc(1313)*MStop2(1)**3)/
     &    MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10281)", Cd(10281) ENDL
#endif

        Cd(1026) = 2*Cd(1025) + 6*Cd(1010)*MStop2(1) - 
     &    12*MStop2(2)**2 + MStop2(3)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1026)", Cd(1026) ENDL
#endif

	Cd(10359) = Cd(11493) + (2 + 2*UStop2(1,1))*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10359)", Cd(10359) ENDL
#endif

	Cd(10363) = Cd(12397) - M_3*Cc(1217)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10363)", Cd(10363) ENDL
#endif

        Cd(10438) = Cc(296)*Cd(10073) + 
     &    AtC*(AtC*Cd(9939) + Cd(10437)) + 
     &    At**2*Cd(9957)*UCStopC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10438)", Cd(10438) ENDL
#endif

        Cd(10447) = Cd(395) + 4*Cc(296)*Cr(29) - 
     &    2*Cd(10446)*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10447)", Cd(10447) ENDL
#endif

	Cd(10449) = 4*Cc(296) + Cd(10055)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10449)", Cd(10449) ENDL
#endif

        Cd(10463) = -2*AtC*Cd(10456)*UCStop(1,3)**2 + 
     &    2*M_3*MStop2(1)*MStop2(3)*UStop2(1,1) - 
     &    At*(Cd(10459)*UStop2(1,1)**2 + Cd(10456)*UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10463)", Cd(10463) ENDL
#endif

        Cd(10466) = -2*At*Cd(10456)*UCStopC(1,3)**2 + 
     &    2*M_3C*MStop2(1)*MStop2(3)*UStop2(1,1) - 
     &    AtC*(Cd(10459)*UStop2(1,1)**2 + Cd(10456)*UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10466)", Cd(10466) ENDL
#endif

        Cd(10505) = Cd(10504)*UStop2(1,2)**2 + 
     &    MStop2(1)**2*UStop2(1,2)**3 + 
     &    UStop2(1,1)**2*(Cd(10503) + 
     &       Cc(723)*MStop2(1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10505)", Cd(10505) ENDL
#endif

        Cd(10506) = Cc(1154) + Cd(10385)*MStop2(2) - 
     &    MGlmT2*(Cc(1217)*MStop2(1) + Cc(40)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10506)", Cd(10506) ENDL
#endif

        Cd(10532) = UStop2(1,1)*UStop2(1,2)**2 + 
     &    UStop2(1,2)**3 + 
     &    UStop2(1,1)**2*(Cd(9930) + 2*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10532)", Cd(10532) ENDL
#endif

        Cd(10539) = -2*M_3C*UCStop(1,3)**2 + 
     &    Cd(10538)*UStop2(1,1) + 
     &    At*UStop2(1,2)*(UStop2(1,1)**2 + Cd(9942)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10539)", Cd(10539) ENDL
#endif

	Cd(10552) = Cd(11797) + 2*Cc(1144)*Cd(9867)*Cr(117)*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10552)", Cd(10552) ENDL
#endif

        Cd(10575) = 2*Cc(663) + MGlmT2*Cc(1076)*Cd(10104) + 
     &    Cd(10522)*(4*Cd(10288) - 4*Cc(1217)*Cc(1368)*UStop2(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10575)", Cd(10575) ENDL
#endif

        Cd(10721) = Cc(344)*Cd(10073) + 
     &    AtC*(AtC*Cd(9939) + Cd(10720)) + 
     &    At**2*Cd(9957)*UCStopC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10721)", Cd(10721) ENDL
#endif

        Cd(10726) = Cd(395) + 4*Cc(344)*Cr(29) - 
     &    2*Cd(10725)*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10726)", Cd(10726) ENDL
#endif

        Cd(10771) = Cd(11493) + 2*Cc(1217)*Cr(117) + 
     &    6*UStop2(1,1)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10771)", Cd(10771) ENDL
#endif

        Cd(10807) = MUE2*Cd(9974) + Cc(1217)*Cd(10806) - 
     &    MUEC**2*UCStopC(1,3)**2 - 
     &    MUE**2*UCStop(1,3)**2*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10807)", Cd(10807) ENDL
#endif

	Cd(10825) = 4*MTy2 - Cd(10055)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(10825)", Cd(10825) ENDL
#endif

        Cd(1096) = 4*Cr(57)*MStop2(1)**2 - 
     &    4*Cd(1094)*MStop2(1)*MStop2(2) + 12*MStop2(2)**2 + 
     &    Cd(1095)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1096)", Cd(1096) ENDL
#endif

        Cd(11143) = Cd(11233) - 
     &    2*(UStop2(1,1) - 3*UStop2(1,2))*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11143)", Cd(11143) ENDL
#endif

        Cd(11166) = Cd(10976)*(MStop2(2) + MStop2(3)) + 
     &    MStop2(1)*(At*Cd(11165) - 4*MTy*UStop(1,1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11166)", Cd(11166) ENDL
#endif

        Cd(11303) = At*
     &     (UCStop(3,1)*UStop2(1,2)*UUStop(2,2) + 
     &       Cc(742)*UUStop(3,2)) + 
     &    MTy*(3*Cd(2265)*UUStop(3,3) + Cc(742)*UUStop(3,4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11303)", Cd(11303) ENDL
#endif

        Cd(1128) = Cd(1126)*UStop2(1,1) - 
     &    Cd(1127)*UStop2(1,2)**2 + 
     &    2*MStop2(3)*(Cc(131) + Cd(1066)*UStop2(1,1)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1128)", Cd(1128) ENDL
#endif

	Cd(11367) = Cd(11225) + 2*Cd(11366)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11367)", Cd(11367) ENDL
#endif

	Cd(11415) = Cd(11267) + 2*Cd(11414)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11415)", Cd(11415) ENDL
#endif

	Cd(11437) = Cd(11282) + 2*Cd(11436)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11437)", Cd(11437) ENDL
#endif

        Cd(11447) = At*
     &     (UCStop(3,1)*UStop2(1,2)*UUStop(2,2) + 
     &       Cd(2265)*UUStop(3,2)) + 
     &    MTy*(Cd(1373)*UUStop(3,3) + Cd(2265)*UUStop(3,4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11447)", Cd(11447) ENDL
#endif

        Cd(1148) = 4*MTy2*Cd(1147) - 
     &    At**2*Cd(472)*UCStopC(1,3)**2 - 
     &    AtC*(AtC*Cd(472)*UCStop(1,3)**2 + 
     &       At*Cd(1145)*UStop2(1,1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1148)", Cd(1148) ENDL
#endif

        Cd(11561) = Cd(1253) + 
     &    UStop2(1,1)*(Cc(1568)*UStop2(1,1) - UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11561)", Cd(11561) ENDL
#endif

        Cd(11609) = UStop2(1,1)*
     &     (Cc(1217)*MStop2(2) + Cd(755)*UStop2(1,2)) + 
     &    2*MStop2(3)*(UStop2(1,1)**2 + UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11609)", Cd(11609) ENDL
#endif

        Cd(11627) = AtC*(MGl2*Cc(296)**2 + Cc(394)*Cc(1154)) + 
     &    M_3C*(4*MGl2*MTy2*Cc(296) + 3*Cc(394)*Cc(1154))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11627)", Cd(11627) ENDL
#endif

        Cd(11629) = At*(MGl2*Cc(296)**2 + Cc(394)*Cc(1154)) + 
     &    M_3*(4*MGl2*MTy2*Cc(296) + 3*Cc(394)*Cc(1154))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11629)", Cd(11629) ENDL
#endif

	Cd(11632) = Cd(440) + 2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11632)", Cd(11632) ENDL
#endif

        Cd(11647) = Cc(1217) + 
     &    (Cd(11646) - UStop2(1,1))*UStop2(1,1) - UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11647)", Cd(11647) ENDL
#endif

        Cd(11668) = 4*Cc(296) - AtC*Cd(11666) + 
     &    At*(2*Cd(11667) + At*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11668)", Cd(11668) ENDL
#endif

        Cd(11692) = Cd(396) + 
     &    (At*MUE + AtC*MUEC)*UStop2(1,1)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11692)", Cd(11692) ENDL
#endif

        Cd(11760) = AtC*
     &     (MGl2*Cc(344)**2 + Cc(1076)*Cc(1080)) + 
     &    M_3C*(4*MGl2*MTy2*Cc(344) + 3*Cc(1076)*Cc(1080))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11760)", Cd(11760) ENDL
#endif

        Cd(11762) = At*(MGl2*Cc(344)**2 + Cc(1076)*Cc(1080)) + 
     &    M_3*(4*MGl2*MTy2*Cc(344) + 3*Cc(1076)*Cc(1080))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11762)", Cd(11762) ENDL
#endif

        Cd(11776) = 5*Cc(1217) + Cd(2280)*UStop2(1,1) + 
     &    4*(UStop2(1,1)**2 + UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11776)", Cd(11776) ENDL
#endif

	Cd(11777) = Cd(10530) + AtC*UStop2(1,1)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11777)", Cd(11777) ENDL
#endif

	Cd(11785) = 4*Cc(344) + Cd(10055)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11785)", Cd(11785) ENDL
#endif

        Cd(11791) = Cc(344)*Cd(10073) + 
     &    AtC*(AtC*Cd(9939) - Cd(11790)) + 
     &    At*Cd(10201)*UCStopC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11791)", Cd(11791) ENDL
#endif

        Cd(11802) = 4*Cc(344) - AtC*Cd(11666) + 
     &    At*(2*Cd(11667) + At*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11802)", Cd(11802) ENDL
#endif

        Cd(1179) = Cr(90)*UStop2(1,2)**2 - 
     &    UStop2(1,1)*((4 - 6*UStop2(1,1))*UStop2(1,1) + 
     &       Cd(1178)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1179)", Cd(1179) ENDL
#endif

        Cd(11898) = AtC*
     &     (M_3*Cr(29) - 2*M_3C*UCStop(1,3)**2) + 
     &    At*(M_3C*Cr(29) - 2*M_3*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11898)", Cd(11898) ENDL
#endif

        Cd(11918) = Cc(1217) + Cd(2328)*UStop2(1,1) + 
     &    2*(UStop2(1,1)**2 + UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11918)", Cd(11918) ENDL
#endif

	Cd(11919) = 4*Cc(344) + Cd(10042)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11919)", Cd(11919) ENDL
#endif

	Cd(11920) = 4*Cc(296) + Cd(10042)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11920)", Cd(11920) ENDL
#endif

        Cd(11930) = -2*M_3C*UCStop(1,3)**2 + 
     &    Cd(11929)*UStop2(1,1) + 
     &    At*UStop2(1,2)*(UStop2(1,1)**2 + Cd(9942)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11930)", Cd(11930) ENDL
#endif

        Cd(11961) = UStop2(1,1)**2*
     &     (Cd(11960) + 2*UStop2(1,1)) + 
     &    (Cc(1332) + 2*UStop2(1,1))*UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11961)", Cd(11961) ENDL
#endif

	Cd(11965) = Cd(11960) + 2*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11965)", Cd(11965) ENDL
#endif

        Cd(11979) = 4*Cc(344) - AtC*Cd(11666) - 
     &    At*(2*Cd(11978) - At*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11979)", Cd(11979) ENDL
#endif

        Cd(11982) = 4*Cc(296) - AtC*Cd(11666) - 
     &    At*(2*Cd(11978) - At*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(11982)", Cd(11982) ENDL
#endif

        Cd(12021) = MUEC**2*Cd(12017) - 
     &    (2*MUE2*Cd(12020))/(Cc(1076)**2*MStop2(3)) - 
     &    (MUE*UCStop(1,3)*
     &       (MUE*Cc(1154)**2*Cd(12019)*UCStop(1,3)**2 + 
     &         2*Cd(12011)*UStopC(1,2)))/Cc(1154)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12021)", Cd(12021) ENDL
#endif

        Cd(12089) = 4*MTy2*(MTy2 + MStop2(2)) - 
     &    (5*MTy2 + 2*MStop2(1))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12089)", Cd(12089) ENDL
#endif

        Cd(12116) = 2*MGlmT2**2 - 5*MGlpT2*MStop2(1) + 
     &    3*MStop2(1)**2 + MGlpTmSt2(1)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12116)", Cd(12116) ENDL
#endif

	Cd(12124) = MGlmT2 - Cd(542) + 4*MTy2*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12124)", Cd(12124) ENDL
#endif

        Cd(12145) = MGlmT2**2 - 3*MGlpT2*MStop2(1) + 
     &    2*MStop2(1)**2 + MGlpTmSt2(1)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12145)", Cd(12145) ENDL
#endif

        Cd(1209) = Cd(1155)*MStop2(2)**2 + 
     &    Cd(1205)*UStop2(1,1)**2 + 
     &    UStop2(1,2)*(Cd(1208)*UStop2(1,1) + 
     &       3*MStop2(2)*MStop2(3)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1209)", Cd(1209) ENDL
#endif

	Cd(12191) = 4*MGlpT2 + Cd(12190)*MStop2(1) - 4*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12191)", Cd(12191) ENDL
#endif

        Cd(1214) = 3*Cc(40)*MStop2(3) + 
     &    2*Cd(1213)*UStop2(1,1) + Cd(1211)*UStop2(1,1)**2 + 
     &    Cd(1212)*UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1214)", Cd(1214) ENDL
#endif

        Cd(1216) = Cd(1215)*MStop2(3) + 
     &    Cr(91)*UStop2(1,1)**2 - 
     &    UStop2(1,2)*(4*MStop2(2)*UStop2(1,1) - 
     &       MStop2(4)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1216)", Cd(1216) ENDL
#endif

        Cd(12252) = -(MUE*Cd(9963)*UCStop(1,3)**2) - 
     &    MUEC*Cd(9982)*UCStopC(1,3)**2 + 
     &    Cc(1315)*(MUEC*Cd(9963) + MUE*Cd(9982))*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12252)", Cd(12252) ENDL
#endif

        Cd(12270) = -2*MTy2 + 2*MGl2*Cd(10035) + 
     &    MTy*(Cd(9963)*UCStop(1,3) + Cd(9982)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12270)", Cd(12270) ENDL
#endif

	Cd(12273) = Cd(10213) + 2*M_3*MTy*UCStopC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(12273)", Cd(12273) ENDL
#endif

        Cd(1239) = Cd(1155)*MStop2(2)**2 + 
     &    Cd(1237)*UStop2(1,1)**2 + 
     &    UStop2(1,2)*(Cd(1238)*UStop2(1,1) + 
     &       3*MStop2(2)*MStop2(3)*UStop2(1,2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1239)", Cd(1239) ENDL
#endif

        Cd(1255) = Cd(1253)*MStop2(3) - Cd(1251)*UStop2(1,1) - 
     &    2*MStop2(2)*UStop2(1,1)**3 - Cd(1254)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1255)", Cd(1255) ENDL
#endif

        Cd(126) = MGl2*MGlmT2 - MTy*Cc(296)*Cr(5) - 
     &    (Cc(1084) - MStop2(1))*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(126)", Cd(126) ENDL
#endif

        Cd(1296) = Cd(1294) + 4*Cr(29)*MStop2(3)**2 + 
     &    2*Cd(1295)*UStop2(1,1)*UStop2(1,2) + 
     &    12*MStop2(1)*MStop2(2)*UStop2(1,2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1296)", Cd(1296) ENDL
#endif

        Cd(1317) = 2*Cd(1316) - 
     &    12*MTy2*MStop2(1)*UStop2(1,2) + 
     &    MStop2(2)*(3*Cd(543) + 8*MTy2*UStop2(1,1)*UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1317)", Cd(1317) ENDL
#endif

        Cd(1350) = Cd(1347) + 
     &    2*(Cd(1259) + Cr(29)*MStop2(3)**2) - 
     &    2*Cd(1349)*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1350)", Cd(1350) ENDL
#endif

        Cd(1365) = 8*Cd(1213) + 16*Cd(1273) - 
     &    2*Cd(1363)*MStop2(3) + Cd(1364)*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1365)", Cd(1365) ENDL
#endif

        Cd(1394) = 4*Cd(1207) - 2*Cd(1268) + 
     &    Cd(1356)*MStop2(3) - Cd(1393)*UStop2(1,1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1394)", Cd(1394) ENDL
#endif

        Cd(139) = MTy*(M_3C*Cc(295)*UCStop(1,3) - 
     &       M_3*Cd(138)*UCStopC(1,3)) + Cd(137)*UStop2(1,1) - 
     &    Cd(135)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(139)", Cd(139) ENDL
#endif

        Cd(1418) = 4*Cd(1252) - 2*Cd(1338) + 2*Cd(1415) - 
     &    Cd(1417)*UStop2(1,1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1418)", Cd(1418) ENDL
#endif

        Cd(1425) = 4*Cd(1256) - 2*Cd(1343) + 
     &    Cd(1420)*MStop2(3) - 6*Cd(1424)*MStop2(2)*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1425)", Cd(1425) ENDL
#endif

        Cd(1442) = 2*Cd(1440) + MGl2*Cd(1441) - 
     &    2*(MGl2**2 + Cc(427)*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1442)", Cd(1442) ENDL
#endif

        Cd(1472) = -(MGl2*(4*MGl2 - Cd(1466))) - 
     &    MTy2*Cd(1471) - 3*Cd(596)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1472)", Cd(1472) ENDL
#endif

        Cd(1482) = MTy2*Cd(1479) - 
     &    MStop2(2)*(MTy2*Cd(1480) + 
     &       (Cd(1481) - 15*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1482)", Cd(1482) ENDL
#endif

        Cd(1515) = -13*MStop2(1)**2 + 
     &    MTy2*(8*MTy2 + 11*MStop2(1)) - 3*Cc(427)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1515)", Cd(1515) ENDL
#endif

        Cd(1520) = 9*MStop2(1)**2 + 
     &    MTy2*(12*MTy2 + 7*MStop2(1)) + Cd(1519)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1520)", Cd(1520) ENDL
#endif

        Cd(1524) = -(MTy2*
     &       (MTy2*(24*MTy2 - 3*Cd(1512)) - 2*Cd(1523))) - 
     &    3*Cd(1521)*MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1524)", Cd(1524) ENDL
#endif

	Cd(151) = Cd(6278) + MTy*Cc(344)*Cr(5)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(151)", Cd(151) ENDL
#endif

        Cd(1545) = -8*MStop2(1)**2 + 
     &    MTy2*(3*MTy2 + 7*MStop2(1)) - Cc(427)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1545)", Cd(1545) ENDL
#endif

        Cd(1566) = -3*MStop2(1)**2 + 
     &    MTy2*(2*MTy2 + 3*MStop2(1)) - Cc(427)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1566)", Cd(1566) ENDL
#endif

        Cd(1629) = -3*Cd(1606)*MStop2(2) - 14*MStop2(2)**3 + 
     &    Cc(427)*(MTy2*Cd(1519) + 6*MStop2(2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1629)", Cd(1629) ENDL
#endif

        Cd(1633) = MTy2*Cd(1630) - 
     &    MStop2(2)*(Cd(1631) + 
     &       (Cd(1632) - 15*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1633)", Cd(1633) ENDL
#endif

        Cd(1650) = -(Cd(1649)*MStop2(2)) + 
     &    MTy2*(3*MTy2 - 4*MStop2(1) + 6*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1650)", Cd(1650) ENDL
#endif

        Cd(1653) = 3*Cd(1652)*MStop2(2)**2 + MStop2(2)**3 + 
     &    MTy2**2*(Cd(1652) + 3*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1653)", Cd(1653) ENDL
#endif

        Cd(1657) = MTy2*Cd(1654) - 
     &    MStop2(2)*(MTy2*Cd(1655) + 
     &       (Cd(1656) - 5*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1657)", Cd(1657) ENDL
#endif

        Cd(1678) = -(MTy2*
     &       (MTy2*(3*MTy2 - Cd(1673)) - Cd(1675))) - 
     &    Cd(1677)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1678)", Cd(1678) ENDL
#endif

        Cd(1687) = Cc(434)**4 + 
     &    MGl2*(MGl2*(MGl2**2 - 2*Cc(434)*Cd(1493)) - 
     &       4*Cd(1686)*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1687)", Cd(1687) ENDL
#endif

	Cd(1692) = 4*MGl2 + Cd(1496)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1692)", Cd(1692) ENDL
#endif

        Cd(1715) = -(Cd(1712)*Cd(1714)) + 
     &    MTy2*(MTy2*(MTy2 + Cd(1711)) + 3*Cr(28)*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1715)", Cd(1715) ENDL
#endif

        Cd(1721) = MTy2*
     &     (MTy2*(3*MTy2 - Cd(1716)) - Cd(1718)) + 
     &    Cd(1712)*Cd(1720)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1721)", Cd(1721) ENDL
#endif

	Cd(1728) = Cd(1440) - Cc(427)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1728)", Cd(1728) ENDL
#endif

	Cd(1732) = 5*MGlpT2 - Cd(3730)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1732)", Cd(1732) ENDL
#endif

        Cd(1749) = 4*MTy2**2 + 
     &    2*MStop2(2)*(Cd(44) + 9*MStop2(2)) + MStop2(3)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1749)", Cd(1749) ENDL
#endif

	Cd(1750) = Cd(899) + 2*MTy2*(MTy2 - 2*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1750)", Cd(1750) ENDL
#endif

	Cd(1767) = 4*MTy2**2 + Cd(930) + 2*Cd(1766)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1767)", Cd(1767) ENDL
#endif

        Cd(1843) = -3*MStop2(1)**2 + 
     &    MTy2*(6*MTy2 + MStop2(1)) + 3*Cd(1519)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1843)", Cd(1843) ENDL
#endif

        Cd(1848) = MStop2(1)**3 - 
     &    MTy2*(15*MStop2(1)**2 - 15*MTy2*(MTy2 + MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1848)", Cd(1848) ENDL
#endif

	Cd(1863) = Cd(1793) - 4*MTy2*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1863)", Cd(1863) ENDL
#endif

        Cd(1864) = 3*Cc(1152)**3 + 
     &    MGl2*(3*MGl2*(MGl2 - Cd(1519)) - Cd(1863))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1864)", Cd(1864) ENDL
#endif

        Cd(1877) = MTy2*
     &     (MTy2*(22*MTy2 + 3*Cd(1876)) - 2*Cd(1875)*MStop2(1)) + 
     &    3*MStop2(1)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1877)", Cd(1877) ENDL
#endif

	Cd(1878) = 6*MGl2 + 2*MTy2 - 26*MStop2(2) + 23*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1878)", Cd(1878) ENDL
#endif

        Cd(1885) = 10*MTy2*(MTy2 - MStop2(2)) + 
     &    (7*MTy2 + MStop2(1))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1885)", Cd(1885) ENDL
#endif

	Cd(1886) = 3*MGl2 + Cd(2692)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1886)", Cd(1886) ENDL
#endif

        Cd(1897) = 12*MTy2*(MTy2 - MStop2(2)) + 
     &    (5*MTy2 - MStop2(2))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1897)", Cd(1897) ENDL
#endif

	Cd(1902) = Cd(2847) + 4*(MGl2 - 5*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1902)", Cd(1902) ENDL
#endif

        Cd(1907) = 10*MTy2*(MTy2 - MStop2(2)) + 
     &    (3*MTy2 - MStop2(2))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1907)", Cd(1907) ENDL
#endif

	Cd(1908) = 3*MGl2 + Cd(288)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1908)", Cd(1908) ENDL
#endif

	Cd(1918) = Cd(1820) + Cc(1401)*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1918)", Cd(1918) ENDL
#endif

        Cd(1937) = -9*MStop2(2)**2 + 
     &    MTy2*(3*MTy2 - 4*MStop2(1) + 10*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1937)", Cd(1937) ENDL
#endif

        Cd(1938) = 3*Cc(434)**3 + 
     &    MGl2*(3*MGl2*(MGl2 - Cd(1493)) - Cd(1937))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1938)", Cd(1938) ENDL
#endif

        Cd(1939) = MTy2**2 + MGl2*(7*MGl2 + 3*MTy2) - 
     &    3*Cc(1401)*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1939)", Cd(1939) ENDL
#endif

        Cd(1947) = 2*(MTy2**2 + MStop2(2)**2) - 
     &    (2*MTy2 + MStop2(3))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1947)", Cd(1947) ENDL
#endif

        Cd(1949) = 5*MStop2(1)**3 - 
     &    MTy2*(7*MStop2(1)**2 - MTy2*(6*MTy2 + 2*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1949)", Cd(1949) ENDL
#endif

	Cd(1951) = Cd(1787) - 3*MGlpTmSt2(1)*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1951)", Cd(1951) ENDL
#endif

        Cd(1969) = 2*MGl2**2 - 4*MTy2**2 - 
     &    7*MGlpTmSt2(1)*MStop2(1) - Cd(1968)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1969)", Cd(1969) ENDL
#endif

        Cd(1976) = MTy2*Cd(1973) + 
     &    MStop2(2)*(Cd(1974) - (Cd(1975) - 5*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1976)", Cd(1976) ENDL
#endif

        Cd(196) = MTy*Cd(194) + MGl2*(MGl2 - Cd(195)) - 
     &    Cc(434)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(196)", Cd(196) ENDL
#endif

        Cd(1995) = 4*MTy2**2 + MGlpT2*MStop2(1) + 
     &    (Cd(1994) - 7*MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(1995)", Cd(1995) ENDL
#endif

        Cd(2001) = 2*(MTy2**2 + MStop2(2)**2) - 
     &    Cc(517)*MStop2(3) - 2*MTy2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2001)", Cd(2001) ENDL
#endif

        Cd(2024) = -5*MStop2(1)**2 + 
     &    MTy2*(2*MTy2 + 5*MStop2(1)) - Cc(427)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2024)", Cd(2024) ENDL
#endif

        Cd(2038) = MTy2*Cd(2035) + 
     &    MStop2(2)*(Cd(2036) + 
     &       (3*Cd(2037) - 5*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2038)", Cd(2038) ENDL
#endif

        Cd(2042) = MTy2*Cd(2039) + 
     &    MStop2(2)*(Cd(2040) - Cd(2041)*MStop2(2) - MStop2(2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2042)", Cd(2042) ENDL
#endif

        Cd(2104) = -17*MStop2(1)**2 + 
     &    MTy2*(4*MTy2 + 9*MStop2(1)) - Cd(2102)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2104)", Cd(2104) ENDL
#endif

        Cd(2106) = 8*MTy2*(MTy2 - MStop2(2)) + 
     &    (5*MTy2 + MStop2(1))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2106)", Cd(2106) ENDL
#endif

        Cd(2132) = MTy2*Cd(2129) + 
     &    MStop2(2)*(Cd(2130) + (Cd(2131) - 5*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2132)", Cd(2132) ENDL
#endif

        Cd(2136) = MTy2**2*Cd(2134) - 
     &    MStop2(2)*(3*MTy2*Cc(1835) + 
     &       (3*Cd(2135) - 5*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2136)", Cd(2136) ENDL
#endif

        Cd(211) = Cc(1575) + 
     &    MTy*(M_3C*Cc(295)*UCStop(1,3) - 
     &       M_3*Cd(138)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(211)", Cd(211) ENDL
#endif

        Cd(2152) = -(MGl2*
     &       (MGl2*(2*MGl2 - Cd(1475)) + Cd(2133))) + Cd(2136)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2152)", Cd(2152) ENDL
#endif

        Cd(2187) = -(MGl2*
     &       (Cc(1152)**2*Cd(475) + 
     &         MGl2*(Cc(563)*Cc(1152) + MGl2*Cr(90)))) + 
     &    Cc(1152)**3*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2187)", Cd(2187) ENDL
#endif

        Cd(2228) = 20*MStop2(1)**2 + Cd(1512)*MStop2(3) + 
     &    4*MTy2*(MTy2 + MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2228)", Cd(2228) ENDL
#endif

        Cd(2233) = Cd(1712)*Cd(2230) - 
     &    MTy2*(Cd(2232) - MTy2*(6*MTy2 - 2*Cr(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2233)", Cd(2233) ENDL
#endif

        Cd(2238) = MTy2*Cd(2237) - 
     &    (4*MTy2**2*(MTy2 + Cr(28)) - Cd(2235)*MStop2(1))*
     &     UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2238)", Cd(2238) ENDL
#endif

        Cd(2250) = MGl2**3*Cd(2246) - MGl2**2*Cd(2249) + 
     &    MStop2(1)*(3*MGl2*Cd(2248) - Cd(2247)*MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2250)", Cd(2250) ENDL
#endif

        Cd(2253) = Cd(2252)*MStop2(1)**2 + 
     &    6*Cd(2242)*MStop2(1)*MStop2(2) - MStop2(2)**2 - 
     &    48*MGl2**2*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2253)", Cd(2253) ENDL
#endif

        Cd(225) = Cc(1399) - 
     &    MTy*(M_3C*Cc(336)*UCStop(1,3) - 
     &       M_3*Cc(435)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(225)", Cd(225) ENDL
#endif

        Cd(2344) = -(MGl2*
     &       (Cc(434)**2*Cd(475) + 
     &         MGl2*(Cc(434)*Cc(563) + MGl2*Cr(90)))) + 
     &    Cc(434)**3*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2344)", Cd(2344) ENDL
#endif

        Cd(2421) = 20*MStop2(2)**2 - Cd(596)*MStop2(3) + 
     &    4*MTy2*(MTy2 + MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2421)", Cd(2421) ENDL
#endif

        Cd(2425) = MTy2*
     &     (Cd(2423) - MTy2*(6*MTy2 - 2*Cr(28))) - 
     &    Cd(2424)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2425)", Cd(2425) ENDL
#endif

        Cd(2428) = MTy2*Cd(2427) + 
     &    (4*MTy2**2*(MTy2 + Cr(1)) - Cd(2426)*MStop2(2))*
     &     UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2428)", Cd(2428) ENDL
#endif

        Cd(2479) = Cd(2478)*MStop2(1)**2 - 
     &    MGl2*(7*MStop2(1)**3 - 
     &       MGlmT2*(MGlmT2**2 - Cd(2476)*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2479)", Cd(2479) ENDL
#endif

        Cd(2532) = M_3C*MTy*Cd(2531)*UCStop(1,3) - 
     &    Cd(2479)*UStop2(1,2)**3 + 
     &    2*MStop2(1)**2*(Cc(295)*MGlpTmSt2(1) + 
     &       2*Cd(67)**2*UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2532)", Cd(2532) ENDL
#endif

        Cd(2558) = Cd(2557)*MStop2(2)**2 - 
     &    MGl2*(7*MStop2(2)**3 - 
     &       MGlmT2*(MGlmT2**2 - Cd(2476)*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2558)", Cd(2558) ENDL
#endif

        Cd(2607) = -(M_3C*MTy*Cd(2606)*UCStop(1,3)) - 
     &    Cd(2558)*UStop2(1,2)**3 + 
     &    2*MStop2(2)**2*(Cc(336)*MGlpTmSt2(2) + 
     &       2*Cc(436)**2*UStop2(1,2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2607)", Cd(2607) ENDL
#endif

	Cd(259) = Cd(1257) + 3*MStop2(1) + MGl2*UStop2(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(259)", Cd(259) ENDL
#endif

        Cd(263) = -2*MGl2*Cd(262) + MStop2(1)**2 - 
     &    Cd(261)*UStop2(1,1) - MStop2(2)**2*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(263)", Cd(263) ENDL
#endif

        Cd(2752) = (15*MGl2 - 23*MStop2(1))*
     &     (2*MGl2 + MStop2(1)) - Cd(2751)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2752)", Cd(2752) ENDL
#endif

	Cd(2754) = 30*MGl2 - 10*MTy2 + Cd(1044)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2754)", Cd(2754) ENDL
#endif

        Cd(2781) = -2*MStop2(1)**2*
     &     (2*MTy2**2 - Cd(2780)*MStop2(1)) + 
     &    MTy2*(MTy2**2 - 3*MStop2(1)**2)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2781)", Cd(2781) ENDL
#endif

        Cd(2810) = 17*MStop2(1)**2 + 
     &    MTy2*(6*MTy2 + 8*MStop2(1)) - Cd(2809)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2810)", Cd(2810) ENDL
#endif

        Cd(2812) = -14*MStop2(1)**2 + 
     &    MTy2*(4*MTy2 + 7*MStop2(1)) + Cc(1835)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2812)", Cd(2812) ENDL
#endif

        Cd(2815) = 30*MStop2(1)**2 + 
     &    MTy2*(12*MTy2 + 23*MStop2(1)) + Cd(1652)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2815)", Cd(2815) ENDL
#endif

	Cd(281) = -Cd(1585) + 4*(MGl2 + MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(281)", Cd(281) ENDL
#endif

        Cd(2849) = 6*MStop2(1)**2 + 
     &    MTy2*(12*MTy2 + 7*MStop2(1)) + Cd(2848)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2849)", Cd(2849) ENDL
#endif

        Cd(2850) = MGl2*(Cd(2846) - MGl2*Cd(2847)) - 
     &    MTy2*Cd(2849) - 9*MStop2(1)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2850)", Cd(2850) ENDL
#endif

	Cd(2864) = Cd(3422) + Cd(2863)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2864)", Cd(2864) ENDL
#endif

	Cd(2871) = MGl2*(MGl2 - Cd(2083)) + Cd(7462)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2871)", Cd(2871) ENDL
#endif

        Cd(2885) = 19*MStop2(1)**2 + 
     &    MTy2*(18*MTy2 + 13*MStop2(1)) + Cd(2884)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2885)", Cd(2885) ENDL
#endif

        Cd(2886) = -(MGl2*(MGl2*Cd(2761) - Cd(2882))) - 
     &    MTy2*Cd(2885) + 6*MStop2(1)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2886)", Cd(2886) ENDL
#endif

        Cd(2906) = -((18*MGl2**3*Cc(131) - 
     &        MStop2(1)*(MGl2**2*Cd(2903) + 
     &           MStop2(1)*(8*MGl2*Cd(2905) - 9*Cd(2904)*MStop2(1))
     &           ))*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2906)", Cd(2906) ENDL
#endif

	Cd(289) = 3*MTy2**2 - Cd(823) + 6*Cc(1152)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(289)", Cd(289) ENDL
#endif

        Cd(2929) = -3*Cd(2928)*MStop2(1)**2 - 
     &    MGl2*(MGlmT2**3 - 6*MGl2*MGlmT2*MStop2(1) - 
     &       10*MStop2(1)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2929)", Cd(2929) ENDL
#endif

        Cd(2931) = 3*Cd(2681) + MTy2*(MTy2 - 4*Cd(2930)) - 
     &    6*MGl2*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2931)", Cd(2931) ENDL
#endif

        Cd(2942) = -4*MStop2(1)**3 + 
     &    MTy2*(31*MStop2(1)**2 + MTy2*(3*MTy2 + 2*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2942)", Cd(2942) ENDL
#endif

        Cd(2955) = -(MGl2*
     &       (2*MGl2*(MGl2 - 3*Cc(427)) + Cd(2789))) + 
     &    Cc(1152)*Cd(2954)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2955)", Cd(2955) ENDL
#endif

        Cd(2964) = 7*MStop2(1)**2 + 
     &    MTy2*(6*MTy2 + 4*MStop2(1)) + Cd(2809)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(2964)", Cd(2964) ENDL
#endif

        Cd(3011) = -(Cc(434)*Cd(3009)) + 
     &    MGl2*(MGl2*(MGl2 - 3*Cc(1074)) + Cd(3010))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3011)", Cd(3011) ENDL
#endif

        Cd(3027) = MGl2*(15*MGl2 - 8*MTy2) - 11*MTy2**2 - 
     &    Cd(3026)*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3027)", Cd(3027) ENDL
#endif

        Cd(3046) = -2*MStop2(2)**2*
     &     (2*MTy2**2 - Cd(1408)*MStop2(2)) + 
     &    MTy2*(MTy2**2 - 3*MStop2(2)**2)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3046)", Cd(3046) ENDL
#endif

        Cd(3068) = MGl2**3 - 
     &    (3*MGl2**2 + Cc(434)**2)*Cc(1074) + MGl2*Cd(3067)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3068)", Cd(3068) ENDL
#endif

        Cd(3103) = MTy2**2*Cd(2863) - 
     &    MStop2(2)*(MTy2*Cd(3023) + 
     &       (Cd(3024) - 13*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3103)", Cd(3103) ENDL
#endif

	Cd(3105) = Cd(2710) - 2*MGlmT2*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3105)", Cd(3105) ENDL
#endif

	Cd(3113) = 3*MGl2 - 9*MTy2 - 16*MStop2(2) + 6*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3113)", Cd(3113) ENDL
#endif

        Cd(3137) = MTy2*Cd(3133) + 
     &    MStop2(2)*(Cd(3135) + 
     &       (Cd(3136) - 15*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3137)", Cd(3137) ENDL
#endif

        Cd(3139) = MGl2**2*(Cd(3130) - MGl2*Cd(3131)) - 
     &    MTy2*Cd(3137) - Cd(3138)*MStop2(2)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3139)", Cd(3139) ENDL
#endif

        Cd(3142) = -(MGl2*
     &       (3*MGl2*(MGl2 - 3*Cc(1074)) + Cd(3140))) + 
     &    Cc(434)*Cd(3141)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3142)", Cd(3142) ENDL
#endif

        Cd(3149) = MTy2**2*(Cd(496) - 5*MStop2(2)) - 
     &    Cd(3148)*MStop2(2)**2 + MStop2(2)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3149)", Cd(3149) ENDL
#endif

        Cd(3168) = MTy2**2*MStop2(1) - 
     &    MTy2*Cd(1979)*MStop2(2) - 
     &    4*MStop2(2)**2*(Cc(1152) + 2*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3168)", Cd(3168) ENDL
#endif

        Cd(3186) = MTy2**2*(Cd(1785) - 3*MStop2(2)) - 
     &    Cd(3185)*MStop2(2)**2 + 15*MStop2(2)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3186)", Cd(3186) ENDL
#endif

        Cd(3191) = MTy2*
     &     (MTy2*(4*MTy2 + Cd(596)) - 6*Cc(95)*MStop2(2)) - 
     &    MStop2(2)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3191)", Cd(3191) ENDL
#endif

        Cd(3219) = -(MGl2*(MGl2*Cd(2854) - Cd(3217))) - 
     &    MTy2*Cd(3218) + 9*MStop2(2)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3219)", Cd(3219) ENDL
#endif

        Cd(3227) = MGl2*
     &     (4*MGl2 + 5*MStop2(1) - 13*MStop2(2)) + 
     &    Cd(3226)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3227)", Cd(3227) ENDL
#endif

        Cd(3232) = MTy2**2*Cd(132) - 
     &    MStop2(2)*(MTy2*Cd(1975) + 
     &       (Cd(1468) - 5*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3232)", Cd(3232) ENDL
#endif

        Cd(3248) = MTy2**2*Cd(496) - 
     &    MStop2(2)*(MTy2*Cd(2037) + 
     &       (Cd(3247) - 3*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3248)", Cd(3248) ENDL
#endif

        Cd(3276) = (18*MGl2**3*Cc(95) - 
     &      MStop2(2)*(MGl2**2*Cd(3275) + 
     &         MStop2(2)*(4*MGl2*Cd(3274) - 9*Cd(1876)*MStop2(2))))
     &     *MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3276)", Cd(3276) ENDL
#endif

        Cd(3277) = -(MTy2**3*(6*MTy2*Cd(3271) - Cd(3273))) - 
     &    MTy2**2*Cd(3276) + Cc(1080)**4*MStop2(2)*MStop2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3277)", Cd(3277) ENDL
#endif

        Cd(3288) = MTy2**2*(Cd(3285) - MTy2*Cd(3287)) - 
     &    Cd(3283)*MStop2(3) + 3*Cd(3282)*MStop2(2)*MStop2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3288)", Cd(3288) ENDL
#endif

        Cd(3291) = (Cd(3290)*MStop2(2)**2 - 
     &      MGl2*(MGl2*(4*MGl2 - Cd(3215)) + 2*Cd(3289)*MStop2(2)))
     &     *MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3291)", Cd(3291) ENDL
#endif

        Cd(3298) = -3*Cd(3297)*MStop2(2)**2 - 
     &    MGl2*(MGlmT2**3 - 6*MGl2*MGlmT2*MStop2(2) - 
     &       10*MStop2(2)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3298)", Cd(3298) ENDL
#endif

        Cd(3299) = -4*MGl2*MTy2 + MTy2**2 + 3*Cd(3061) - 
     &    2*Cd(3268)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3299)", Cd(3299) ENDL
#endif

        Cd(3305) = MTy2*Cd(3302) + 
     &    MStop2(2)*(Cd(3303) + (Cd(3304) - 5*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3305)", Cd(3305) ENDL
#endif

        Cd(3306) = -(MGl2**2*(MGl2*Cd(2847) - Cd(3301))) - 
     &    MTy2*Cd(3305) - 3*Cd(3138)*MStop2(2)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3306)", Cd(3306) ENDL
#endif

        Cd(3312) = -4*MStop2(2)**3 + 
     &    MTy2*(31*MStop2(2)**2 + MTy2*(3*MTy2 + 2*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3312)", Cd(3312) ENDL
#endif

        Cd(3322) = MTy2*Cd(496) - MGl2*(3*MGl2 - Cd(1493)) - 
     &    MStop2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3322)", Cd(3322) ENDL
#endif

        Cd(3331) = MTy2*Cd(3327) - 
     &    MStop2(2)*(Cd(3329) + (Cd(3330) - 5*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3331)", Cd(3331) ENDL
#endif

        Cd(3332) = -(MGl2**2*(MGl2*Cd(2817) - Cd(3326))) - 
     &    MTy2*Cd(3331) + Cd(3138)*MStop2(2)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3332)", Cd(3332) ENDL
#endif

        Cd(3347) = MGl2**2*(Cd(3130) - MGl2*Cd(3131)) - 
     &    MTy2*Cd(3137) + Cd(3346)*MStop2(2)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3347)", Cd(3347) ENDL
#endif

        Cd(3389) = 7*MStop2(1)**3 + 
     &    MTy2*(MTy2*(MTy2 - 7*MStop2(1)) - 9*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3389)", Cd(3389) ENDL
#endif

        Cd(3390) = 6*MStop2(1)**3 + 
     &    MTy2*(MTy2*(3*MTy2 - 12*MStop2(1)) - 13*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3390)", Cd(3390) ENDL
#endif

        Cd(3413) = MGl2**4*Cd(3405) - 2*Cd(3410) + 
     &    (MTy2**4 + 6*MGl2**2*Cd(3412))*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3413)", Cd(3413) ENDL
#endif

        Cd(3424) = -5*MStop2(1)**3 + 
     &    MTy2*(6*MStop2(1)**2 + MTy2*(4*MTy2 + 3*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3424)", Cd(3424) ENDL
#endif

        Cd(3425) = 5*MStop2(1)**3 + 
     &    MTy2*(MTy2*(2*MTy2 - 7*MStop2(1)) - 8*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3425)", Cd(3425) ENDL
#endif

        Cd(3453) = Cc(1152)*Cd(2973) - 
     &    MGl2*(3*MGl2*(MGl2 - 3*Cc(427)) + Cd(2974))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3453)", Cd(3453) ENDL
#endif

        Cd(3459) = 3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(6*MTy2 - 3*MStop2(1)) + 2*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3459)", Cd(3459) ENDL
#endif

        Cd(3460) = MStop2(1)**3 + 
     &    MTy2*(MTy2*(MTy2 - 3*MStop2(1)) - 7*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3460)", Cd(3460) ENDL
#endif

        Cd(3481) = -3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(6*MTy2 - 7*MStop2(1)) - 4*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3481)", Cd(3481) ENDL
#endif

        Cd(3482) = 7*MStop2(1)**3 - 
     &    MTy2*(MStop2(1)**2 - MTy2*(MTy2 + MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3482)", Cd(3482) ENDL
#endif

        Cd(3491) = -3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(6*MTy2 - 5*MStop2(1)) - 6*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3491)", Cd(3491) ENDL
#endif

        Cd(3492) = 7*MStop2(1)**3 + 
     &    MTy2*(MTy2*(MTy2 - MStop2(1)) + MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3492)", Cd(3492) ENDL
#endif

        Cd(345) = -(A0delStop(1)*Cd(343)) - 
     &    A0delStop(2)*Cd(344) + 
     &    MTy*(16*A0delT*SA + 8*MTy2*SA*Cr(16))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(345)", Cd(345) ENDL
#endif

        Cd(3518) = -6*MTy2**2 + MGl2*(2*MTy2 - MStop2(1)) + 
     &    3*MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3518)", Cd(3518) ENDL
#endif

	Cd(3536) = 4*MGl2 - Cd(2643)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3536)", Cd(3536) ENDL
#endif

	Cd(3553) = 3*MTy2**2 + Cd(5896) - 2*Cd(1600)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3553)", Cd(3553) ENDL
#endif

        Cd(3572) = MTy2**2*(MTy2*Cd(2915) + Cd(3571)) - 
     &    MStop2(3)*(Cd(3570) + 3*Cd(2914)*MStop2(1)*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3572)", Cd(3572) ENDL
#endif

        Cd(3573) = (Cc(131)*MStop2(1)**2 - 
     &      MGl2*(MGl2*(4*MGl2 - Cd(1092)) + 6*Cc(40)*MStop2(1)))*
     &    MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3573)", Cd(3573) ENDL
#endif

        Cd(3597) = -(Cd(3596)*MStop2(1)**2) + 
     &    MGl2*(2*Cd(3590)*MStop2(1) + 
     &       MGl2*(Cd(3593) + 24*MGl2*Cd(610)*UUStop(1,1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3597)", Cd(3597) ENDL
#endif

        Cd(3610) = -4*MGl2*MTy2 + MTy2**2 + 3*Cd(2681) - 
     &    2*Cd(3268)*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3610)", Cd(3610) ENDL
#endif

        Cd(3618) = -4*MStop2(1)**3 + 
     &    MTy2*(15*MStop2(1)**2 + MTy2*(3*MTy2 + 18*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3618)", Cd(3618) ENDL
#endif

        Cd(3633) = 27*MStop2(1)**2 + 
     &    MTy2*(18*MTy2 + 13*MStop2(1)) + Cd(2055)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3633)", Cd(3633) ENDL
#endif

        Cd(3634) = -(MGl2*(MGl2*Cd(2761) - Cd(2882))) - 
     &    MTy2*Cd(3633) + 6*MStop2(1)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3634)", Cd(3634) ENDL
#endif

        Cd(3650) = MTy2*(6*MStop2(1) - 8*MStop2(2)) - 
     &    2*MStop2(2)**2 - Cd(596)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3650)", Cd(3650) ENDL
#endif

        Cd(3653) = MStop2(2)*
     &    (2*MTy2*Cd(3651)*MStop2(1) - 
     &      MStop2(2)*(Cd(3652) + 
     &         2*MStop2(2)*(Cd(1977) + 6*MStop2(2))))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3653)", Cd(3653) ENDL
#endif

        Cd(3674) = MGl2*(8*MStop2(1) - 9*MStop2(2)) + 
     &    4*MStop2(2)**2 + 2*Cd(3673)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3674)", Cd(3674) ENDL
#endif

        Cd(35) = 2*MGlmT2**2 - 3*MGlpT2*MStop2(1) + 
     &    MStop2(1)**2 - MGlpTmSt2(1)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(35)", Cd(35) ENDL
#endif

        Cd(3693) = 4*MTy2*MStop2(1)**2 - 
     &    MStop2(2)*(Cd(3692) + 
     &       MStop2(2)*(2*Cd(132) + 9*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3693)", Cd(3693) ENDL
#endif

        Cd(3701) = -(MGl2*
     &       (3*MGl2*(MGl2 - 3*Cc(1074)) + Cd(3034))) + 
     &    Cc(434)*Cd(3700)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3701)", Cd(3701) ENDL
#endif

        Cd(3723) = Cd(3720)*MStop2(1) + 
     &    MStop2(2)*(Cd(3721) + (Cd(3722) - 3*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3723)", Cd(3723) ENDL
#endif

        Cd(3731) = MTy2**2*Cd(132)*MStop2(1) + 
     &    MStop2(2)*(2*MTy2*Cd(3728) - 
     &       MStop2(2)*(Cd(3729) - Cd(3730)*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3731)", Cd(3731) ENDL
#endif

        Cd(3740) = 2*MTy2*Cd(1979)*MStop2(1) + 
     &    MStop2(2)*(Cd(3738) - 
     &       MStop2(2)*(2*Cd(3739) + 3*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3740)", Cd(3740) ENDL
#endif

	Cd(3797) = 4*MGl2 - Cd(3020)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3797)", Cd(3797) ENDL
#endif

        Cd(3812) = Cd(7462) - 2*Cd(1979)*MStop2(2) + 
     &    MStop2(3)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3812)", Cd(3812) ENDL
#endif

        Cd(3815) = 4*MTy2*MStop2(1)**2 - 
     &    MStop2(2)*(Cd(3814) + 
     &       2*MStop2(2)*(Cd(1519) + 3*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3815)", Cd(3815) ENDL
#endif

        Cd(3819) = 3*MStop2(2)**2 + 
     &    MTy2*(-MStop2(1) + 3*(MTy2 + MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3819)", Cd(3819) ENDL
#endif

        Cd(3833) = -(MTy2**2*(MTy2*Cd(3287) - Cd(3832))) - 
     &    Cd(3283)*MStop2(3) + 3*Cd(3282)*MStop2(2)*MStop2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3833)", Cd(3833) ENDL
#endif

        Cd(3834) = (Cc(543)*MStop2(2)**2 - 
     &      MGl2*(MGl2*(4*MGl2 - Cd(3215)) + 6*Cc(95)*MStop2(2)))*
     &    MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3834)", Cd(3834) ENDL
#endif

        Cd(3858) = MGl2**2*Cd(3854) - 
     &    MStop2(2)*(2*MGl2*Cd(3851) + Cd(3857)*MStop2(2)) - 
     &    12*MGl2**3*Cd(1103)*UUStop(1,1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3858)", Cd(3858) ENDL
#endif

        Cd(3874) = -4*MStop2(2)**3 + 
     &    MTy2*(15*MStop2(2)**2 + MTy2*(3*MTy2 + 18*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3874)", Cd(3874) ENDL
#endif

        Cd(3894) = -(MGl2*(MGl2*Cd(3131) - Cd(3244))) - 
     &    MTy2*Cd(3893) - 6*MStop2(2)**2*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3894)", Cd(3894) ENDL
#endif

	Cd(3965) = -3*MTy2**2 + MGl2*(5*MGl2 + 6*MTy2) - MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(3965)", Cd(3965) ENDL
#endif

	Cd(4052) = -3*MTy2**2 + MGl2*(5*MGl2 + 6*MTy2) - MStop2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4052)", Cd(4052) ENDL
#endif

        Cd(4073) = 3*MGl2*Cc(434)**2 + Cc(434)**3 + 
     &    MGl2**2*(MGl2 - Cd(4072))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4073)", Cd(4073) ENDL
#endif

        Cd(403) = CA2*(8*MTy - 6*AtC*UCStop(1,3)) - 
     &    3*(MUE*S2A*UCStop(1,3) + Cd(402)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(403)", Cd(403) ENDL
#endif

        Cd(4106) = MTy2*(9*MTy2 - 5*MStop2(1)) - 
     &    2*MStop2(1)**2 - Cc(427)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4106)", Cd(4106) ENDL
#endif

        Cd(406) = CA2*(8*MTy + 6*AtC*UCStop(1,3)) + 
     &    3*(MUE*S2A*UCStop(1,3) + Cd(402)*UCStopC(1,3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(406)", Cd(406) ENDL
#endif

        Cd(4222) = MTy2*(6*MTy2 - 3*MStop2(1)) - 
     &    MStop2(1)**2 - Cc(427)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4222)", Cd(4222) ENDL
#endif

        Cd(4274) = MTy2*(9*MTy2 - 4*MStop2(1)) - 
     &    MStop2(1)**2 - 2*Cc(427)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4274)", Cd(4274) ENDL
#endif

        Cd(4275) = 3*Cc(1152)**3 - 
     &    MGl2*(MGl2*(3*MGl2 - Cd(4273)) + Cd(4274))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4275)", Cd(4275) ENDL
#endif

        Cd(4309) = 4*MTy2*(MTy2 - MStop2(2)) + 
     &    (7*MTy2 - 3*MStop2(1))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4309)", Cd(4309) ENDL
#endif

        Cd(4312) = 3*Cd(44)*Cd(1652) + 
     &    MGl2*(4*MGl2 - Cd(4311)) + Cd(4310)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4312)", Cd(4312) ENDL
#endif

	Cd(426) = Cd(399) + Cd(398)*UStop2(1,1)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(426)", Cd(426) ENDL
#endif

	Cd(4327) = 3*MTy2**2 - MGl2*Cd(2083) + Cd(2681)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4327)", Cd(4327) ENDL
#endif

        Cd(4333) = 18*MTy2**3 - 2*MTy2*Cd(4332)*MStop2(1) - 
     &    (31*MTy2**2 - 3*MStop2(1)**2)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4333)", Cd(4333) ENDL
#endif

        Cd(4383) = MGl2*
     &     (5*MGl2*(MGl2 - Cd(1519)) - Cd(4336)) + 
     &    Cc(1152)**2*Cd(4382)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4383)", Cd(4383) ENDL
#endif

        Cd(4387) = Cc(1152)**3 + MGl2**2*(2*MGl2 - Cd(3150)) + 
     &    MGl2*Cc(1152)*Cd(3557)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4387)", Cd(4387) ENDL
#endif

        Cd(4388) = MTy2*Cd(2710) - 
     &    3*MStop2(1)*(2*MTy2**2 + 
     &       (MGlpT2 - 2*MStop2(1))*MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4388)", Cd(4388) ENDL
#endif

        Cd(4434) = 12*MTy2**2 - 3*MTy2*MStop2(1) + 
     &    MStop2(2)*(Cd(1963) + 11*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4434)", Cd(4434) ENDL
#endif

        Cd(4472) = -Cc(434)**3 + 
     &    MGl2*(MGl2*(MGl2 - Cd(2137)) + Cd(4471))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4472)", Cd(4472) ENDL
#endif

        Cd(4506) = (Cd(4505) - 9*MStop2(2))*MStop2(2)**2 + 
     &    MTy2*Cd(2204)*(4*MStop2(2) - MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4506)", Cd(4506) ENDL
#endif

        Cd(43) = 2*MGlmT2**2 - MGlpT2*MStop2(1) - 
     &    (Cd(42) - MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(43)", Cd(43) ENDL
#endif

        Cd(4568) = MTy2*(3*MTy2 + 4*MStop2(1) - 2*MStop2(2)) + 
     &    3*MStop2(1)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4568)", Cd(4568) ENDL
#endif

        Cd(4631) = 2*MTy2*Cd(2083)*MStop2(2) - 
     &    2*MStop2(2)**2*(Cd(1600) + 2*MStop2(2)) + 
     &    Cc(434)*Cd(2137)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4631)", Cd(4631) ENDL
#endif

	Cd(4636) = (MTy2 - MStop2(2))*(4*MTy2 - 3*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4636)", Cd(4636) ENDL
#endif

        Cd(4643) = 4*MTy2*(MTy2 - MStop2(2)) + 
     &    (7*MTy2 + MStop2(2))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4643)", Cd(4643) ENDL
#endif

	Cd(4650) = Cd(2710) - Cd(4328)*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4650)", Cd(4650) ENDL
#endif

        Cd(4652) = Cd(2710)*MStop2(1) + 
     &    MStop2(2)*(Cd(4650) - (Cd(4651) - MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4652)", Cd(4652) ENDL
#endif

	Cd(461) = -4*Cd(460) + Cd(10055) + 4*At*MTy*UCStopC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(461)", Cd(461) ENDL
#endif

        Cd(4703) = -((Cd(3170)*MStop2(2)**2 + 
     &        MGl2*(MGl2*(4*MGl2 - Cd(4702)) - 
     &           2*Cd(4701)*MStop2(2)))*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4703)", Cd(4703) ENDL
#endif

        Cd(4709) = 3*Cc(434)**3 + 
     &    MGl2*(MGl2*(3*MGl2 + Cd(4707)) - Cd(4708))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4709)", Cd(4709) ENDL
#endif

        Cd(466) = MUE*Cd(465)*UCStop(1,3) + 
     &    MUEC*UCStopC(1,3)*(2*MTy + At*UCStopC(1,3)) + 
     &    Cc(1312)*UStop2(1,1)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(466)", Cd(466) ENDL
#endif

        Cd(4719) = Cc(434)**3 + MGl2*Cc(434)*Cd(4717) + 
     &    MGl2**2*(2*MGl2 - Cd(4718))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4719)", Cd(4719) ENDL
#endif

        Cd(4720) = MTy2*Cd(2710) - 
     &    3*MStop2(2)*(2*MTy2**2 + 
     &       (MGlpT2 - 2*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4720)", Cd(4720) ENDL
#endif

	Cd(468) = Cd(10055) + 4*At*MTy*UCStopC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(468)", Cd(468) ENDL
#endif

        Cd(4755) = -6*MTy2**3*Cc(543) + 
     &    MStop2(2)*(MTy2**2*Cd(4373) + 
     &       MStop2(2)*(Cd(1092)*MStop2(2) + 4*MTy2*MStop2(3)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4755)", Cd(4755) ENDL
#endif

        Cd(4760) = 2*MTy2*Cd(2204)*MStop2(1) + 
     &    MStop2(2)*(Cd(4758) + Cd(4759)*MStop2(2) + MStop2(2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4760)", Cd(4760) ENDL
#endif

        Cd(4773) = 40*MTy2**3 + 2*MTy2*Cd(4772) + 
     &    (12*MTy2**2 + Cd(4771))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4773)", Cd(4773) ENDL
#endif

        Cd(4774) = -3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(8*MTy2 - 18*MStop2(1)) + 9*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4774)", Cd(4774) ENDL
#endif

        Cd(4777) = -7*MStop2(1)**3 + 
     &    MTy2*(21*MStop2(1)**2 + MTy2*(12*MTy2 + 46*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4777)", Cd(4777) ENDL
#endif

        Cd(4782) = 6*MStop2(1)**3 - 
     &    MTy2*(12*MStop2(1)**2 - MTy2*(14*MTy2 + 21*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4782)", Cd(4782) ENDL
#endif

        Cd(4794) = 2*Cd(2196) - 3*MTy2*MStop2(1) - 
     &    (Cc(427) - MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4794)", Cd(4794) ENDL
#endif

        Cd(4797) = -(MGl2*
     &       (MGl2*(3*MGl2 - 8*Cd(496)) + Cd(4795))) + 2*Cd(4796)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4797)", Cd(4797) ENDL
#endif

        Cd(4807) = 9*MTy2**2 + 11*Cc(427)*MStop2(1) + 
     &    (Cd(4806) - MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4807)", Cd(4807) ENDL
#endif

        Cd(4811) = 12*MStop2(1)**3 + 
     &    MTy2*(MTy2*(9*MTy2 - 9*MStop2(1)) - 32*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4811)", Cd(4811) ENDL
#endif

        Cd(4817) = 7*MStop2(1)**3 + 
     &    MTy2*(MTy2*(13*MTy2 - 13*MStop2(1)) - 31*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4817)", Cd(4817) ENDL
#endif

        Cd(4821) = -17*MStop2(1)**3 + 
     &    MTy2*(18*MStop2(1)**2 + MTy2*(14*MTy2 + 81*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4821)", Cd(4821) ENDL
#endif

        Cd(4832) = 60*(MTy2**2 + MStop2(2)**2) - 
     &    Cd(4831)*MStop2(3) + 36*MTy2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4832)", Cd(4832) ENDL
#endif

        Cd(4867) = 2*MGlmT2**2 + MGlpT2*MStop2(1) - 
     &    (Cd(4866) - 3*MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4867)", Cd(4867) ENDL
#endif

        Cd(4888) = -17*MStop2(1)**3 + 
     &    MTy2*(39*MStop2(1)**2 + MTy2*(3*MTy2 + 8*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4888)", Cd(4888) ENDL
#endif

        Cd(4893) = -29*MStop2(1)**3 + 
     &    MTy2*(60*MStop2(1)**2 + MTy2*(3*MTy2 + 69*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4893)", Cd(4893) ENDL
#endif

        Cd(4901) = -4*MStop2(1)**3 + 
     &    MTy2*(MStop2(1)**2 + MTy2*(4*MTy2 + 19*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4901)", Cd(4901) ENDL
#endif

        Cd(4913) = -8*MStop2(1)**3 + 
     &    MTy2*(14*MStop2(1)**2 + MTy2*(11*MTy2 + 39*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4913)", Cd(4913) ENDL
#endif

        Cd(4919) = 4*MStop2(1)**3 - 
     &    MTy2*(10*MStop2(1)**2 - MTy2*(12*MTy2 + 23*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4919)", Cd(4919) ENDL
#endif

        Cd(4933) = 3*Cd(4932) + 
     &    MTy2*(27*MTy2 + 44*MStop2(1)) + 2*Cd(4931)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4933)", Cd(4933) ENDL
#endif

        Cd(4936) = 19*MStop2(1)**3 + 
     &    MTy2*(40*MStop2(1)**2 + MTy2*(15*MTy2 + 50*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4936)", Cd(4936) ENDL
#endif

        Cd(4939) = Cd(4936) - 
     &    MStop2(2)*(Cd(4937) + MStop2(2)*(Cd(4938) + 4*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4939)", Cd(4939) ENDL
#endif

        Cd(4940) = -12*MStop2(1)**3 + 
     &    MTy2*(27*MStop2(1)**2 + MTy2*(13*MTy2 + 6*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4940)", Cd(4940) ENDL
#endif

        Cd(4945) = 20*MStop2(1)**3 + 
     &    MTy2*(MTy2*(5*MTy2 - 23*MStop2(1)) - 45*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4945)", Cd(4945) ENDL
#endif

        Cd(4952) = -3*MStop2(1)**3 + 
     &    MTy2*(5*MStop2(1)**2 + MTy2*(6*MTy2 + 12*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4952)", Cd(4952) ENDL
#endif

        Cd(4956) = 30*(MTy2**2 + MStop2(2)**2) - 
     &    Cd(4955)*MStop2(3) + 18*MTy2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4956)", Cd(4956) ENDL
#endif

        Cd(4957) = 10*MTy2**3 + 3*MTy2*Cc(226) + 
     &    (3*MTy2**2 + Cd(784))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4957)", Cd(4957) ENDL
#endif

	Cd(4969) = 3*(MGl2 - 5*MTy2 - 7*MStop2(2)) + 14*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4969)", Cd(4969) ENDL
#endif

        Cd(4982) = MStop2(1)**3 + 
     &    MTy2*(MTy2*(6*MTy2 - 7*MStop2(1)) + 2*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4982)", Cd(4982) ENDL
#endif

        Cd(4984) = Cd(4982) - 
     &    MStop2(2)*(Cd(4983) - 6*MTy2*MStop2(2) + 2*MStop2(2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(4984)", Cd(4984) ENDL
#endif

        Cd(5010) = -(MTy2**2*(4*MTy2 - 3*Cc(543))) + 
     &    Cd(5008) + 3*Cd(5009)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5010)", Cd(5010) ENDL
#endif

	Cd(5014) = 4*MGl2 - 16*MTy2 - Cd(1490)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5014)", Cd(5014) ENDL
#endif

        Cd(5027) = 3*Cd(5026) + 
     &    MTy2*(63*(MTy2 + 2*MStop2(2)) - 76*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5027)", Cd(5027) ENDL
#endif

        Cd(5044) = MTy2*
     &     (MTy2*(35*MTy2 + Cd(5039)) + Cd(5043)) + 
     &    5*Cd(5041)*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5044)", Cd(5044) ENDL
#endif

        Cd(5068) = (MGl2**3*Cd(5066) - 
     &      MStop2(2)*(2*MGl2**2*Cd(5067) - 
     &         MStop2(2)*(4*MGl2*Cc(79) - Cd(564)*MStop2(2))))*
     &    MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5068)", Cd(5068) ENDL
#endif

        Cd(5088) = 3*Cd(1106) + 
     &    2*(MTy2*(9*MTy2 + 5*MStop2(1)) + Cd(5087)*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5088)", Cd(5088) ENDL
#endif

        Cd(5094) = MStop2(1)**3 + 
     &    MTy2*(MTy2*(6*MTy2 - 8*MStop2(1)) + 9*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5094)", Cd(5094) ENDL
#endif

        Cd(5098) = -10*MStop2(1)**3 + 
     &    MTy2*(MTy2*(6*MTy2 - 75*MStop2(1)) + 60*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5098)", Cd(5098) ENDL
#endif

        Cd(5105) = 4*MStop2(1)**3 - 
     &    MTy2*(22*MStop2(1)**2 - MTy2*(9*MTy2 + 29*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5105)", Cd(5105) ENDL
#endif

        Cd(5108) = 60*(MTy2**2 + MStop2(2)**2) - 
     &    Cd(4787)*MStop2(3) + 36*MTy2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5108)", Cd(5108) ENDL
#endif

        Cd(5124) = 3*Cd(5123) + 
     &    2*MTy2*(Cd(4834) + 6*MTy2*(10*MTy2 + 3*MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5124)", Cd(5124) ENDL
#endif

        Cd(5126) = -23*MStop2(1)**3 + 
     &    MTy2*(53*MStop2(1)**2 + MTy2*(36*MTy2 + 110*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5126)", Cd(5126) ENDL
#endif

        Cd(5135) = 9*Cc(215)**2*Cd(5134) + 
     &    8*(MTy2**2*Cd(4834) - 
     &       5*Cd(5133)*MStop2(2)*MStop2(3)**2 + 5*MStop2(3)**4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5135)", Cd(5135) ENDL
#endif

        Cd(5137) = 3*MStop2(4)**5 + 
     &    MStop2(3)**2*(MStop2(3)**2*(4*MStop2(3) - 3*MStop2(4)) - 
     &       4*MStop2(4)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5137)", Cd(5137) ENDL
#endif

	Cd(5150) = Cd(1168) + 6*MTy2*(MTy2 - MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5150)", Cd(5150) ENDL
#endif

        Cd(5152) = -90*MStop2(2)**2 + Cd(5151)*MStop2(3) + 
     &    6*MTy2*(MTy2 - MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5152)", Cd(5152) ENDL
#endif

        Cd(5165) = 4*MStop2(1)**3 - 
     &    MTy2*(24*MStop2(1)**2 - MTy2*(5*MTy2 + 27*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5165)", Cd(5165) ENDL
#endif

        Cd(49) = MGlmT2**2 - 2*MGlpT2*MStop2(2) + 
     &    MStop2(2)**2 + Cd(43)*UStop2(1,1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(49)", Cd(49) ENDL
#endif

        Cd(5178) = 60*(MTy2**2 + MStop2(2)**2) - 
     &    Cd(5141)*MStop2(3) + 36*MTy2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5178)", Cd(5178) ENDL
#endif

        Cd(5206) = Cd(5204)*MStop2(1)**2 - 
     &    MStop2(2)*(2*Cd(5205)*MStop2(1) - 
     &       MStop2(2)*(29*Cd(1652) + 9*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5206)", Cd(5206) ENDL
#endif

        Cd(5209) = 2*Cd(5208)*MStop2(1)**2 - 
     &    MStop2(3)*(MStop2(3)**2*(91*MStop2(3) - 122*MStop2(4)) + 
     &       20*MStop2(4)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5209)", Cd(5209) ENDL
#endif

        Cd(5214) = 2*MStop2(1)**3 - 
     &    MTy2*(11*MStop2(1)**2 - MTy2*(13*MTy2 + 28*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5214)", Cd(5214) ENDL
#endif

        Cd(516) = UStop2(1,1)**3*
     &     (Cd(513) - MStop2(4)*UStop2(1,1)) + 
     &    Cd(515)*UStop2(1,1)*UStop2(1,2)**2 - 
     &    MStop2(1)*UStop2(1,2)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(516)", Cd(516) ENDL
#endif

        Cd(5217) = 135*MTy2**3 - 
     &    MGl2*(55*MTy2**2 - MGl2*(MGl2 + 7*MTy2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5217)", Cd(5217) ENDL
#endif

        Cd(5220) = 2*Cd(5217) - 
     &    MStop2(1)*(Cd(5218) - (Cd(5219) - 5*MStop2(1))*MStop2(1))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5220)", Cd(5220) ENDL
#endif

        Cd(5229) = -30*MStop2(2)**2 + Cd(4955)*MStop2(3) + 
     &    2*MTy2*(MTy2 - MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5229)", Cd(5229) ENDL
#endif

        Cd(5230) = 30*MStop2(2)**2 - Cd(4955)*MStop2(3) + 
     &    MTy2*(62*MTy2 + 34*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5230)", Cd(5230) ENDL
#endif

        Cd(5233) = 22*MTy2**3 + 9*MTy2*Cc(226) + 
     &    (7*MTy2**2 + Cd(784))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5233)", Cd(5233) ENDL
#endif

        Cd(5250) = Cc(40)*Cd(1221) - 
     &    MTy2*(Cc(226) - MTy2*(2*MTy2 - MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5250)", Cd(5250) ENDL
#endif

        Cd(5252) = MGl2*(MGl2**2*Cd(170) + Cd(5250)) + 
     &    MTy2*(Cc(40)*Cd(1221) + MTy2**2*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5252)", Cd(5252) ENDL
#endif

        Cd(5271) = 102*MStop2(2)**2 - Cd(5270)*MStop2(3) + 
     &    14*MGl2*(9*MGl2 + 5*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5271)", Cd(5271) ENDL
#endif

        Cd(5301) = 5*Cd(784)*MStop2(3)**2 + 
     &    MTy2*(Cd(5300) + MTy2**2*(40*MTy2 + 12*MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5301)", Cd(5301) ENDL
#endif

        Cd(5307) = 34*MStop2(1)**3 + 
     &    MTy2*(23*MStop2(1)**2 + MTy2*(24*MTy2 + 20*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5307)", Cd(5307) ENDL
#endif

        Cd(5345) = MTy2**2*(5*MTy2**2 + 3*Cd(5313)) - 
     &    3*MStop2(1)**2*MStop2(2)**2 - 4*Cd(5344)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5345)", Cd(5345) ENDL
#endif

        Cd(5348) = -68*MTy2**3 + 4*MTy2*Cd(5347) - 
     &    (22*MTy2**2 - 3*Cd(5313))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5348)", Cd(5348) ENDL
#endif

        Cd(5349) = -9*MStop2(1)**3 + 
     &    MTy2*(18*MStop2(1)**2 + MTy2*(67*MTy2 + 6*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5349)", Cd(5349) ENDL
#endif

        Cd(5352) = MTy2*Cd(5349) + 
     &    MStop2(2)*(Cd(5351)*MStop2(2) + 
     &       Cc(427)*(Cd(5350) - 9*MStop2(2)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5352)", Cd(5352) ENDL
#endif

        Cd(5366) = 5*MStop2(4)**3 + 
     &    MTy2*(Cd(5365) + MTy2*(40*MTy2 + 12*MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5366)", Cd(5366) ENDL
#endif

        Cd(5375) = 17*MStop2(1)**3 + 
     &    MTy2*(MTy2*(60*MTy2 - 24*MStop2(1)) + 42*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5375)", Cd(5375) ENDL
#endif

        Cd(5376) = -66*MStop2(1)**3 + 
     &    MTy2*(41*MStop2(1)**2 + MTy2*(24*MTy2 + 108*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5376)", Cd(5376) ENDL
#endif

        Cd(5379) = MTy2*Cd(5375) - 
     &    MStop2(2)*(Cd(5376) - 
     &       MStop2(2)*(Cd(5377) + Cd(5378)*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5379)", Cd(5379) ENDL
#endif

        Cd(5401) = 3*Cd(5400) + 
     &    MTy2*(27*MTy2 + 10*MStop2(1)) + 4*Cd(5399)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5401)", Cd(5401) ENDL
#endif

        Cd(5413) = -7*MStop2(1)**3 + 
     &    MTy2*(MTy2*(8*MTy2 - 53*MStop2(1)) + 45*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5413)", Cd(5413) ENDL
#endif

        Cd(5420) = 3*MStop2(1)**3 - 
     &    MTy2*(16*MStop2(1)**2 - MTy2*(9*MTy2 + 24*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5420)", Cd(5420) ENDL
#endif

        Cd(5424) = 60*(MTy2**2 + MStop2(2)**2) - 
     &    Cd(5423)*MStop2(3) + 36*MTy2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5424)", Cd(5424) ENDL
#endif

        Cd(5426) = 20*(MTy2**2 + MStop2(2)**2) - 
     &    Cd(5425)*MStop2(3) - 4*MTy2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5426)", Cd(5426) ENDL
#endif

	Cd(5435) = 3*(MGl2 - 5*MTy2 - 7*MStop2(2)) + 7*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5435)", Cd(5435) ENDL
#endif

        Cd(5449) = 60*MStop2(2)**2 - Cd(5141)*MStop2(3) + 
     &    4*MTy2*(7*MTy2 + 5*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5449)", Cd(5449) ENDL
#endif

        Cd(5452) = 16*MTy2**3 + 14*MTy2*MStop2(3)**2 + 
     &    (4*MTy2**2 + Cd(5451))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5452)", Cd(5452) ENDL
#endif

        Cd(5454) = -7*MStop2(1)**3 + 
     &    MTy2*(MTy2*(4*MTy2 - 38*MStop2(1)) + 31*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5454)", Cd(5454) ENDL
#endif

        Cd(5459) = 3*MTy2*MStop2(1)**3 - 
     &    MStop2(2)*(Cd(1960)*MStop2(1)**2 + 
     &       MStop2(2)*(Cd(5458)*MStop2(1) - Cd(2083)*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5459)", Cd(5459) ENDL
#endif

        Cd(5470) = -42*MStop2(2)**2 + 3*Cd(5469)*MStop2(3) + 
     &    MTy2*(98*MTy2 + 64*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5470)", Cd(5470) ENDL
#endif

        Cd(5476) = 168*MTy2**3 + MTy2*Cd(5475) + 
     &    (117*MTy2**2 - 5*Cd(5473))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5476)", Cd(5476) ENDL
#endif

        Cd(5477) = -8*MStop2(1)**3 + 
     &    MTy2*(MTy2*(20*MTy2 - 44*MStop2(1)) + 95*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5477)", Cd(5477) ENDL
#endif

        Cd(5491) = 4*MStop2(1)**3 - 
     &    MTy2*(31*MStop2(1)**2 - MTy2*(29*MTy2 + 62*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5491)", Cd(5491) ENDL
#endif

        Cd(5521) = 11*MStop2(1)**3 - 
     &    MTy2*(35*MStop2(1)**2 - MTy2*(12*MTy2 + 22*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5521)", Cd(5521) ENDL
#endif

        Cd(5522) = MStop2(1)**3 + 
     &    MTy2*(MTy2*(58*MTy2 - 24*MStop2(1)) - 5*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5522)", Cd(5522) ENDL
#endif

        Cd(5525) = MTy2*Cd(5521) - 
     &    MStop2(2)*(Cd(5522) - 
     &       MStop2(2)*(MTy2*Cd(5523) - Cd(5524)*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5525)", Cd(5525) ENDL
#endif

        Cd(5526) = 25*MStop2(1)**3 - 
     &    MTy2*(37*MStop2(1)**2 - MTy2*(390*MTy2 + 48*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5526)", Cd(5526) ENDL
#endif

        Cd(5531) = 10*MStop2(1)**3 + 
     &    MTy2*(MTy2*(50*MTy2 - 387*MStop2(1)) + 108*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5531)", Cd(5531) ENDL
#endif

        Cd(5551) = 52*MStop2(1)**3 + 
     &    MTy2*(MTy2*(89*MTy2 - 922*MStop2(1)) + 360*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5551)", Cd(5551) ENDL
#endif

        Cd(5566) = 2*MStop2(1)**2*
     &     (Cd(5565) + 2*Cd(5564)*MStop2(1)) + 
     &    (16*MStop2(2) - 19*MStop2(3))*MStop2(3)**4

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5566)", Cd(5566) ENDL
#endif

        Cd(5591) = -(MTy2*
     &       (MTy2*(5*MTy2 - Cd(5067)) - Cd(5589))) - 
     &    Cd(5590)*MStop2(1)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5591)", Cd(5591) ENDL
#endif

        Cd(5621) = 7*MStop2(1)**3 - 
     &    MTy2*(35*MStop2(1)**2 - MTy2*(6*MTy2 + 8*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5621)", Cd(5621) ENDL
#endif

        Cd(5625) = 3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(5*MTy2 - 3*MStop2(1)) - 9*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5625)", Cd(5625) ENDL
#endif

        Cd(5627) = MStop2(1)**4 - 
     &    MTy2*(36*MStop2(1)**3 - 
     &       MTy2*(18*MTy2**2 + 70*MStop2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5627)", Cd(5627) ENDL
#endif

        Cd(5628) = -6*MStop2(1)**3 - 
     &    MTy2*(2*MStop2(1)**2 - MTy2*(6*MTy2 + 43*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5628)", Cd(5628) ENDL
#endif

        Cd(5649) = -MStop2(1)**3 + 
     &    MTy2*(MTy2*(5*MTy2 - 41*MStop2(1)) + 3*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5649)", Cd(5649) ENDL
#endif

	Cd(5659) = Cd(5676) + MGl2*(MGl2 - 3*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5659)", Cd(5659) ENDL
#endif

        Cd(54) = MGlmT2**2 - 2*MGlpT2*MStop2(1) + 
     &    MStop2(1)**2 - Cd(35)*UStop2(1,1)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(54)", Cd(54) ENDL
#endif

        Cd(5671) = -8*MTy2**3 + 2*MTy2*Cd(5670) + 
     &    (4*MTy2**2 - Cd(3749))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5671)", Cd(5671) ENDL
#endif

        Cd(5682) = 95*MStop2(2)**2 - Cd(5681)*MStop2(3) + 
     &    MGl2*(47*MGl2 + 33*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5682)", Cd(5682) ENDL
#endif

        Cd(5707) = 18*MTy2*Cc(427) + 
     &    2*MStop2(2)*(Cd(5706) + 5*MStop2(2)) - 
     &    5*MStop2(3)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5707)", Cd(5707) ENDL
#endif

        Cd(5712) = 7*Cd(5711) - 
     &    8*MTy2*(2*Cd(5709) + MTy2*(10*MTy2 + 9*MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5712)", Cd(5712) ENDL
#endif

        Cd(5724) = -3*MStop2(1)**3 + 
     &    MTy2*(10*MStop2(1)**2 + MTy2*(MTy2 + 2*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5724)", Cd(5724) ENDL
#endif

        Cd(5732) = -2*MStop2(1)**3 + 
     &    MTy2*(6*MStop2(1)**2 + MTy2*(3*MTy2 + 16*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5732)", Cd(5732) ENDL
#endif

	Cd(5748) = Cd(6164) + 9*MGl2*(MGl2 + MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5748)", Cd(5748) ENDL
#endif

        Cd(5758) = MStop2(1)**2*
     &     (Cd(5757) + 2*Cd(5756)*MStop2(1)) + 
     &    (34*MStop2(2) - 31*MStop2(3))*MStop2(3)**4

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5758)", Cd(5758) ENDL
#endif

	Cd(5763) = 2*MGl2*Cd(5760) + Cd(6180)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5763)", Cd(5763) ENDL
#endif

	Cd(5795) = Cd(5676) + MTy2*(13*MTy2 + 2*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5795)", Cd(5795) ENDL
#endif

        Cd(5799) = -5*MStop2(1)**3 + 
     &    MTy2*(MTy2*(8*MTy2 - 2*MStop2(1)) + 23*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5799)", Cd(5799) ENDL
#endif

        Cd(5809) = -MStop2(1)**3 + 
     &    MTy2*(MTy2*(3*MTy2 - 6*MStop2(1)) + MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5809)", Cd(5809) ENDL
#endif

        Cd(5814) = -2*MStop2(1)**3 + 
     &    MTy2*(MTy2*(MTy2 - MStop2(1)) + 14*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5814)", Cd(5814) ENDL
#endif

        Cd(573) = AtC*(MUEC*Cd(563) - 
     &       2*MUE*Cd(570)*UCStop(1,3)**2) + 
     &    At*(MUE*Cd(568) - 2*MUEC*Cd(572)*UCStopC(1,3)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(573)", Cd(573) ENDL
#endif

	Cd(5816) = Cd(5432) + MTy2*(9*MTy2 + 3*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5816)", Cd(5816) ENDL
#endif

	Cd(5831) = Cd(1168) + 2*MTy2*(11*MTy2 + 5*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5831)", Cd(5831) ENDL
#endif

	Cd(5836) = Cd(1221) + MTy2*(MTy2 - MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5836)", Cd(5836) ENDL
#endif

	Cd(5843) = Cd(2196) + Cd(226)*MStop2(3) - MTy2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5843)", Cd(5843) ENDL
#endif

	Cd(5875) = Cd(784) + 5*MTy2*(MTy2 - MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5875)", Cd(5875) ENDL
#endif

        Cd(5879) = 17*MStop2(1)**3 - 
     &    MTy2*(85*MStop2(1)**2 - MTy2*(2*MTy2 + 130*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5879)", Cd(5879) ENDL
#endif

        Cd(5884) = -2*MStop2(1)**3 + 
     &    MTy2*(MTy2*(2*MTy2 - MStop2(1)) + 3*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5884)", Cd(5884) ENDL
#endif

        Cd(5886) = 13*MStop2(1)**3 - 
     &    MTy2*(74*MStop2(1)**2 - MTy2*(24*MTy2 + 85*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5886)", Cd(5886) ENDL
#endif

        Cd(581) = UStop2(1,1)**3*
     &     (Cd(559) - Cc(131)*UStop2(1,1)) - 
     &    Cd(504)*MStop2(2)*UStop2(1,2)**2 + 
     &    2*Cc(134)*UStop2(1,1)*UStop2(1,2)**3

#ifdef DETAILED_DEBUG
	DTLHR "Cd(581)", Cd(581) ENDL
#endif

        Cd(5897) = 3*Cd(5896) + MTy2*(3*MTy2 - 2*MStop2(1)) + 
     &    4*Cd(496)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5897)", Cd(5897) ENDL
#endif

        Cd(5898) = MStop2(1)**3 - 
     &    MTy2*(4*MStop2(1)**2 - MTy2*(MTy2 + 3*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5898)", Cd(5898) ENDL
#endif

        Cd(5900) = Cd(5898) - 
     &    MStop2(2)*(Cd(5899) - (Cd(1755) - MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5900)", Cd(5900) ENDL
#endif

        Cd(5905) = -6*MStop2(1)**3 + 
     &    MTy2*(MTy2*(4*MTy2 - 2*MStop2(1)) + 21*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5905)", Cd(5905) ENDL
#endif

        Cd(5910) = 13*MStop2(1)**3 - 
     &    MTy2*(62*MStop2(1)**2 - MTy2*(12*MTy2 + 10*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5910)", Cd(5910) ENDL
#endif

        Cd(5911) = 5*MStop2(1)**3 + 
     &    MTy2*(MTy2*(2*MTy2 - 77*MStop2(1)) + 15*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5911)", Cd(5911) ENDL
#endif

        Cd(5917) = MStop2(1)**3 - 
     &    MTy2*(14*MStop2(1)**2 - MTy2*(7*MTy2 + 26*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5917)", Cd(5917) ENDL
#endif

	Cd(5919) = MGl2 - 5*MTy2 - Cd(8365)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5919)", Cd(5919) ENDL
#endif

        Cd(5933) = 3*Cd(5932) + 
     &    MTy2*(9*MTy2 + 2*(9*MStop2(2) + MStop2(3)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5933)", Cd(5933) ENDL
#endif

        Cd(5971) = -((6*Cd(5970) - 
     &        Cc(1076)*Cc(1154)*Cd(8484)*MStop2(3))/
     &      (Cc(1076)*Cc(1154)*MStop2(3)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5971)", Cd(5971) ENDL
#endif

	Cd(5973) = -((2*Cd(5972) - Cd(8490)*MStop2(3))/MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(5973)", Cd(5973) ENDL
#endif

        Cd(6000) = -MStop2(1)**3 + 
     &    MTy2*(MTy2*(4*MTy2 - 5*MStop2(1)) + MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6000)", Cd(6000) ENDL
#endif

        Cd(6005) = -MStop2(1)**3 + 
     &    MTy2*(12*MStop2(1)**2 + MTy2*(16*MTy2 + 10*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6005)", Cd(6005) ENDL
#endif

        Cd(6015) = -MStop2(1)**3 - 
     &    MTy2*(17*MStop2(1)**2 - MTy2*(14*MTy2 + 32*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6015)", Cd(6015) ENDL
#endif

        Cd(6019) = MStop2(1)**3 + 
     &    MTy2*(MTy2*(10*MTy2 - 12*MStop2(1)) - 3*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6019)", Cd(6019) ENDL
#endif

        Cd(6021) = -3*MStop2(1)**4 - 
     &    MTy2*(4*MStop2(1)**3 - 
     &       MTy2*(42*MTy2**2 + 34*MStop2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6021)", Cd(6021) ENDL
#endif

        Cd(6022) = -2*MStop2(1)**3 - 
     &    MTy2*(8*MStop2(1)**2 - MTy2*(14*MTy2 + 49*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6022)", Cd(6022) ENDL
#endif

        Cd(6048) = 6*MTy2*Cc(134) + 
     &    15*(MTy2**2 + MStop2(1)**2) + Cd(6047)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6048)", Cd(6048) ENDL
#endif

        Cd(6053) = -3*MTy2**3 + MTy2*Cd(6052) + 
     &    (3*MTy2**2 - Cc(79)*MStop2(1))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6053)", Cd(6053) ENDL
#endif

        Cd(6059) = 21*MStop2(2)**2 - Cd(6058)*MStop2(3) + 
     &    9*MTy2*(MTy2 + MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6059)", Cd(6059) ENDL
#endif

        Cd(6062) = 20*MTy2**3 + 60*MTy2*MStop2(1)*MStop2(2) + 
     &    (18*MTy2**2 + 5*Cd(6061))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6062)", Cd(6062) ENDL
#endif

        Cd(6078) = -MStop2(1)**3 + 
     &    MTy2*(MTy2*(5*MTy2 - 42*MStop2(1)) + 18*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6078)", Cd(6078) ENDL
#endif

        Cd(6079) = -6*MStop2(1)**3 + 
     &    MTy2*(18*MStop2(1)**2 + MTy2*(5*MTy2 + 3*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6079)", Cd(6079) ENDL
#endif

        Cd(6091) = MTy2**2*(9*MTy2**2 + 2*Cd(5709)) + 
     &    Cd(1221)*MStop2(1)*MStop2(2) - 2*Cd(6090)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6091)", Cd(6091) ENDL
#endif

        Cd(6096) = MStop2(1)**3 - 
     &    MTy2*(16*MStop2(1)**2 - MTy2*(34*MTy2 + 59*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6096)", Cd(6096) ENDL
#endif

        Cd(6111) = Cd(3005) - 1/2.D0*(Cd(6110)*MStop2(3)) - 
     &    MTy2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6111)", Cd(6111) ENDL
#endif

        Cd(6114) = -2*MTy2**3 + MTy2*Cd(6112) + 
     &    (MTy2**2 - Cd(6113))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6114)", Cd(6114) ENDL
#endif

        Cd(6155) = Cd(6154) - 
     &    (2*MGl2**2*(MGl2*Cc(95)*Cc(788) - Cd(6151)) + 
     &       Cd(784)*Cd(6148)*MStop2(1)*MStop2(2))*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6155)", Cd(6155) ENDL
#endif

        Cd(6242) = -3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(2*MTy2 - 46*MStop2(1)) + 21*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6242)", Cd(6242) ENDL
#endif

	Cd(6268) = Cd(7960) + MStop2(2)*(-4*MGlpT2 + MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6268)", Cd(6268) ENDL
#endif

        Cd(6284) = -10*MStop2(1)**3 + 
     &    MTy2*(40*MStop2(1)**2 + MTy2*(35*MTy2 + 88*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6284)", Cd(6284) ENDL
#endif

        Cd(6285) = 3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(16*MTy2 - 19*MStop2(1)) + 6*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6285)", Cd(6285) ENDL
#endif

        Cd(6291) = -2*MStop2(1)**3 - 
     &    MTy2*(2*MStop2(1)**2 - MTy2*(9*MTy2 + 34*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6291)", Cd(6291) ENDL
#endif

        Cd(6294) = -MStop2(1)**4 + 
     &    MTy2**2*(MTy2*(15*MTy2 - 21*MStop2(1)) + 2*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6294)", Cd(6294) ENDL
#endif

	Cd(6323) = Cd(785) + 3*MTy2*(MTy2 - MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6323)", Cd(6323) ENDL
#endif

        Cd(6328) = -7*MStop2(1)**3 + 
     &    MTy2*(11*MStop2(1)**2 + 26*MTy2*(MTy2 + MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6328)", Cd(6328) ENDL
#endif

        Cd(6334) = 5*MStop2(1)**3 - 
     &    MTy2*(18*MStop2(1)**2 - MTy2*(28*MTy2 + 33*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6334)", Cd(6334) ENDL
#endif

	Cd(6343) = -6*MGl2*MTy2 + Cd(36)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6343)", Cd(6343) ENDL
#endif

        Cd(6351) = 19*MStop2(1)**3 + 
     &    MTy2*(MTy2*(7*MTy2 - 7*MStop2(1)) - 37*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6351)", Cd(6351) ENDL
#endif

        Cd(6357) = 14*MStop2(1)**3 + 
     &    MTy2*(MTy2*(3*MTy2 - 22*MStop2(1)) - 19*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6357)", Cd(6357) ENDL
#endif

        Cd(6362) = -39*MStop2(1)**3 + 
     &    MTy2*(102*MStop2(1)**2 + MTy2*(6*MTy2 + 70*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6362)", Cd(6362) ENDL
#endif

        Cd(6367) = 6*MTy2*Cc(497) + 
     &    30*(MTy2**2 + MStop2(2)**2) - Cd(6366)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6367)", Cd(6367) ENDL
#endif

        Cd(6369) = MTy2*(40*MTy2**2 + 4*Cd(6368)) - 
     &    2*Cd(5930)*MStop2(3)**2 + 5*Cc(215)**2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6369)", Cd(6369) ENDL
#endif

        Cd(6371) = 7*MStop2(1)**3 - 
     &    MTy2*(37*MStop2(1)**2 - MTy2*(10*MTy2 + 16*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6371)", Cd(6371) ENDL
#endif

        Cd(6374) = 3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(8*MTy2 - 6*MStop2(1)) - 9*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6374)", Cd(6374) ENDL
#endif

        Cd(6376) = MStop2(1)**4 - 
     &    MTy2*(36*MStop2(1)**3 - 
     &       MTy2*(30*MTy2**2 + 74*MStop2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6376)", Cd(6376) ENDL
#endif

        Cd(6377) = -6*MStop2(1)**3 - 
     &    MTy2*(4*MStop2(1)**2 - MTy2*(10*MTy2 + 53*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6377)", Cd(6377) ENDL
#endif

	Cd(6379) = 6*MGl2 - Cd(6393)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6379)", Cd(6379) ENDL
#endif

        Cd(6402) = 19*MStop2(1)**3 + 
     &    MTy2*(MTy2*(2*MTy2 - 19*MStop2(1)) - 37*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6402)", Cd(6402) ENDL
#endif

        Cd(6407) = -37*MStop2(1)**3 + 
     &    MTy2*(94*MStop2(1)**2 + MTy2*(5*MTy2 + 55*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6407)", Cd(6407) ENDL
#endif

        Cd(6415) = 10*MStop2(1)**3 + 
     &    MTy2*(MTy2*(5*MTy2 - 12*MStop2(1)) - 51*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6415)", Cd(6415) ENDL
#endif

        Cd(6421) = 14*MStop2(1)**2 + 
     &    MTy2*(30*MTy2 + 37*MStop2(1)) - Cd(6420)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6421)", Cd(6421) ENDL
#endif

        Cd(6426) = -MStop2(1)**3 + 
     &    MTy2*(6*MStop2(1)**2 + MTy2*(10*MTy2 + 6*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6426)", Cd(6426) ENDL
#endif

        Cd(6428) = MStop2(1)**3 - 
     &    MTy2*(5*MStop2(1)**2 - MTy2*(2*MTy2 + MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6428)", Cd(6428) ENDL
#endif

        Cd(6429) = MStop2(1)**3 + 
     &    MTy2*(MTy2*(3*MTy2 - 2*MStop2(1)) - 3*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6429)", Cd(6429) ENDL
#endif

        Cd(6431) = MTy2*Cd(6428) - 
     &    MStop2(2)*(3*Cd(6429) - 
     &       MStop2(2)*(MTy2*Cd(6430) - Cd(4229)*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6431)", Cd(6431) ENDL
#endif

        Cd(6433) = 15*MStop2(1)**4 - 
     &    MTy2*(24*MStop2(1)**3 - 
     &       MTy2*(40*MTy2**2 + 50*MStop2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6433)", Cd(6433) ENDL
#endif

        Cd(6434) = 16*MStop2(1)**3 - 
     &    MTy2*(8*MStop2(1)**2 - MTy2*(37*MTy2 + 82*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6434)", Cd(6434) ENDL
#endif

        Cd(6439) = 3*Cd(2196) - 7*MTy2*MStop2(1) + 
     &    (Cc(427) - MStop2(2))*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6439)", Cd(6439) ENDL
#endif

        Cd(6442) = 27*MTy2**2 + 20*Cd(6441) + 
     &    2*Cd(6440)*MStop2(1) + 5*MStop2(2)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6442)", Cd(6442) ENDL
#endif

        Cd(6452) = -9*MStop2(1)**4 + 
     &    MTy2*(60*MStop2(1)**3 + 
     &       MTy2*(5*MTy2**2 - 88*MStop2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6452)", Cd(6452) ENDL
#endif

        Cd(6453) = -8*MStop2(1)**3 + 
     &    MTy2*(13*MStop2(1)**2 + MTy2*(3*MTy2 + 16*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6453)", Cd(6453) ENDL
#endif

        Cd(6457) = 21*MStop2(1)**3 + 
     &    MTy2*(MTy2*(3*MTy2 - 34*MStop2(1)) - 57*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6457)", Cd(6457) ENDL
#endif

        Cd(6462) = MTy2*(40*MTy2**2 + 4*Cd(6368)) - 
     &    2*Cc(497)*MStop2(3)**2 + 5*Cc(215)**2*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6462)", Cd(6462) ENDL
#endif

	Cd(6492) = 3*MTy2**2 - Cd(1158) + 6*Cc(434)*MStop2(1)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6492)", Cd(6492) ENDL
#endif

	Cd(6496) = 3*(MTy2 - MStop2(1))**2 - MStop2(3)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6496)", Cd(6496) ENDL
#endif

        Cd(6501) = -8*MStop2(1)**3 + 
     &    MTy2*(13*MStop2(1)**2 + MTy2*(9*MTy2 + MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6501)", Cd(6501) ENDL
#endif

        Cd(6507) = -16*MStop2(1)**3 + 
     &    MTy2*(43*MStop2(1)**2 + MTy2*(11*MTy2 + 10*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6507)", Cd(6507) ENDL
#endif

        Cd(6525) = -MStop2(1)**3 + 
     &    MTy2*(MTy2*(8*MTy2 - 34*MStop2(1)) + 36*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6525)", Cd(6525) ENDL
#endif

        Cd(6526) = 6*MStop2(1)**3 - 
     &    MTy2*(16*MStop2(1)**2 - MTy2*(22*MTy2 + 41*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6526)", Cd(6526) ENDL
#endif

	Cd(645) = Cd(10055) - 4*At*MTy*UCStopC(1,3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(645)", Cd(645) ENDL
#endif

        Cd(6561) = Cc(434)**4 - 
     &    MGl2*(4*Cc(1074)*Cd(1686) - MGl2*(MGl2**2 + 2*Cd(3006)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6561)", Cd(6561) ENDL
#endif

	Cd(6565) = Cd(1680) + Cc(1154)*UStop2(1,2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6565)", Cd(6565) ENDL
#endif

	Cd(6573) = -6*MGl2*MTy2 + Cd(47)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6573)", Cd(6573) ENDL
#endif

        Cd(6575) = Cc(131)*Cc(261) + 
     &    6*MTy2*(5*MTy2 + 4*MStop2(1)) + 2*Cd(6574)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6575)", Cd(6575) ENDL
#endif

        Cd(6582) = -MStop2(1)**3 + 
     &    MTy2*(MTy2*(8*MTy2 - 50*MStop2(1)) + 36*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6582)", Cd(6582) ENDL
#endif

        Cd(6583) = MTy2**2*MStop2(1) - 8*MTy2*MStop2(1)**2 + 
     &    6*(MTy2**3 + MStop2(1)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6583)", Cd(6583) ENDL
#endif

        Cd(6589) = -2*MStop2(1)**3 + 
     &    MTy2*(MTy2*(3*MTy2 - 16*MStop2(1)) + 22*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6589)", Cd(6589) ENDL
#endif

        Cd(6652) = -9*MStop2(1)**3 + 
     &    MTy2*(7*MStop2(1)**2 + MTy2*(45*MTy2 + 19*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6652)", Cd(6652) ENDL
#endif

        Cd(6656) = 20*MStop2(1)**3 - 
     &    MTy2*(94*MStop2(1)**2 - MTy2*(26*MTy2 + 159*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6656)", Cd(6656) ENDL
#endif

        Cd(6662) = -3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(3*MTy2 - 10*MStop2(1)) + 20*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6662)", Cd(6662) ENDL
#endif

        Cd(6672) = 2*MStop2(1)**3 + 
     &    MTy2*(MTy2*(9*MTy2 - 14*MStop2(1)) + 9*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6672)", Cd(6672) ENDL
#endif

        Cd(6676) = MStop2(1)**3 + 
     &    MTy2*(MTy2*(3*MTy2 - 3*MStop2(1)) - 2*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6676)", Cd(6676) ENDL
#endif

        Cd(6677) = MTy2**2*Cd(6675) - 
     &    MStop2(2)*(3*Cd(6676) - 
     &       MStop2(2)*(5*MTy2*Cd(1977) - 3*Cd(1652)*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6677)", Cd(6677) ENDL
#endif

        Cd(6679) = 13*MStop2(1)**4 - 
     &    MTy2*(16*MStop2(1)**3 - 
     &       MTy2*(38*MTy2**2 + 30*MStop2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6679)", Cd(6679) ENDL
#endif

        Cd(6680) = 2*MStop2(1)**3 - 
     &    MTy2*(6*MStop2(1)**2 - MTy2*(15*MTy2 + 39*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6680)", Cd(6680) ENDL
#endif

        Cd(6702) = -14*MStop2(1)**3 + 
     &    MTy2*(MTy2*(15*MTy2 - 35*MStop2(1)) + 30*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6702)", Cd(6702) ENDL
#endif

        Cd(6703) = -14*MStop2(1)**3 + 
     &    MTy2*(MTy2*(11*MTy2 - 47*MStop2(1)) + 62*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6703)", Cd(6703) ENDL
#endif

        Cd(6705) = MTy2*Cd(6702) + 
     &    MStop2(2)*(Cd(6703) - 
     &       MStop2(2)*(Cd(6704) - Cd(2083)*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6705)", Cd(6705) ENDL
#endif

        Cd(6706) = -14*MStop2(1)**3 + 
     &    MTy2*(MTy2*(15*MTy2 - 58*MStop2(1)) - 20*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6706)", Cd(6706) ENDL
#endif

        Cd(6707) = -7*MStop2(1)**3 + 
     &    MTy2*(MStop2(1)**2 + MTy2*(35*MTy2 + 7*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6707)", Cd(6707) ENDL
#endif

        Cd(6710) = -42*MStop2(1)**3 + 
     &    MTy2*(MTy2*(54*MTy2 - 109*MStop2(1)) + 40*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6710)", Cd(6710) ENDL
#endif

        Cd(6711) = 55*MTy2**3 + 166*MTy2*MStop2(1)**2 - 
     &    28*MStop2(1)*(MTy2**2 + MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6711)", Cd(6711) ENDL
#endif

        Cd(6712) = 21*MStop2(1)**3 - 
     &    MTy2*(102*MStop2(1)**2 - MTy2*(24*MTy2 + 134*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6712)", Cd(6712) ENDL
#endif

        Cd(6719) = Cc(40)*Cd(1221) - 
     &    MTy2*(3*Cc(226) + MTy2*(2*MTy2 - 3*MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6719)", Cd(6719) ENDL
#endif

        Cd(6723) = -5*MStop2(1)**3 + 
     &    MTy2*(MStop2(1)**2 + MTy2*(5*MTy2 + 9*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6723)", Cd(6723) ENDL
#endif

        Cd(6726) = -5*MStop2(1)**3 + 
     &    MTy2*(MTy2*(15*MTy2 - 19*MStop2(1)) + 17*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6726)", Cd(6726) ENDL
#endif

        Cd(6748) = -16*MStop2(1)**3 + 
     &    MTy2*(MTy2*(15*MTy2 - 40*MStop2(1)) + 33*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6748)", Cd(6748) ENDL
#endif

        Cd(6749) = -8*MStop2(1)**3 + 
     &    MTy2*(MTy2*(8*MTy2 - 23*MStop2(1)) + 35*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6749)", Cd(6749) ENDL
#endif

        Cd(6750) = MTy2*Cd(6748) + 
     &    MStop2(2)*(2*Cd(6749) - 
     &       MStop2(2)*(Cc(427)*Cd(1961) - 2*Cd(2083)*MStop2(2)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6750)", Cd(6750) ENDL
#endif

        Cd(6751) = -16*MStop2(1)**3 + 
     &    MTy2*(MTy2*(15*MTy2 - 80*MStop2(1)) - 22*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6751)", Cd(6751) ENDL
#endif

        Cd(6752) = -4*MStop2(1)**3 + 
     &    MTy2*(MStop2(1)**2 + MTy2*(23*MTy2 + MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6752)", Cd(6752) ENDL
#endif

        Cd(6756) = -24*MStop2(1)**3 + 
     &    MTy2*(MTy2*(27*MTy2 - 70*MStop2(1)) + 22*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6756)", Cd(6756) ENDL
#endif

        Cd(6757) = -16*MStop2(1)**3 + 
     &    MTy2*(MTy2*(43*MTy2 - 4*MStop2(1)) + 94*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6757)", Cd(6757) ENDL
#endif

        Cd(6758) = 12*MStop2(1)**3 - 
     &    MTy2*(57*MStop2(1)**2 - MTy2*(18*MTy2 + 68*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6758)", Cd(6758) ENDL
#endif

        Cd(6765) = -5*MStop2(1)**3 - 
     &    MTy2*(3*MStop2(1)**2 - MTy2*(8*MTy2 + 24*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6765)", Cd(6765) ENDL
#endif

        Cd(6770) = -5*MStop2(1)**4 + 
     &    MTy2*(12*MStop2(1)**3 + 
     &       MTy2*(24*MTy2**2 + 6*MStop2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6770)", Cd(6770) ENDL
#endif

        Cd(6792) = MStop2(1)**3 - 
     &    MTy2*(2*MStop2(1)**2 - MTy2*(6*MTy2 + 7*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6792)", Cd(6792) ENDL
#endif

        Cd(6795) = -2*MStop2(1)**3 + 
     &    MTy2*(4*MStop2(1)**2 + MTy2*(7*MTy2 + 10*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6795)", Cd(6795) ENDL
#endif

        Cd(6821) = -3*MStop2(1)**3 + 
     &    MTy2*(MTy2*(4*MTy2 - 11*MStop2(1)) + 11*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6821)", Cd(6821) ENDL
#endif

        Cd(6826) = MStop2(1)**3 + 
     &    MTy2*(MTy2*(4*MTy2 - 42*MStop2(1)) + 12*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6826)", Cd(6826) ENDL
#endif

        Cd(6829) = -19*MStop2(1)**4 + 
     &    MTy2*(56*MStop2(1)**3 + 
     &       MTy2*(20*MTy2**2 - 74*MStop2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6829)", Cd(6829) ENDL
#endif

        Cd(6830) = -8*MStop2(1)**3 + 
     &    MTy2*(MTy2*(3*MTy2 - 10*MStop2(1)) - 16*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6830)", Cd(6830) ENDL
#endif

        Cd(6834) = -5*MStop2(1)**3 + 
     &    MTy2*(MTy2*(6*MTy2 - 12*MStop2(1)) + 15*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6834)", Cd(6834) ENDL
#endif

        Cd(6836) = 13*MStop2(1)**3 + 
     &    MTy2*(MTy2*(30*MTy2 - 14*MStop2(1)) + 9*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6836)", Cd(6836) ENDL
#endif

        Cd(6837) = -15*MStop2(1)**3 + 
     &    MTy2*(49*MStop2(1)**2 + MTy2*(10*MTy2 + 32*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6837)", Cd(6837) ENDL
#endif

        Cd(6840) = -5*MStop2(1)**4 + 
     &    MTy2*(68*MStop2(1)**3 + 
     &       MTy2*(30*MTy2**2 - 98*MStop2(1)**2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6840)", Cd(6840) ENDL
#endif

        Cd(6841) = -17*MTy2**2*MStop2(1) - 
     &    8*MTy2*MStop2(1)**2 + 10*(MTy2**3 + MStop2(1)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6841)", Cd(6841) ENDL
#endif

        Cd(6843) = -10*MGlmT2*MTy2 + 
     &    MGl2*(5*MGlmT2 - 16*MStop2(1)) + 23*MStop2(1)**2

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6843)", Cd(6843) ENDL
#endif

        Cd(6854) = Cd(6851)*MStop2(1) + 
     &    MStop2(2)*(Cd(6852) - (Cd(6853) - 5*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6854)", Cd(6854) ENDL
#endif

        Cd(6877) = Cd(6875) - 
     &    MStop2(2)*(3*Cd(6876) - 4*(3*MTy2 - MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6877)", Cd(6877) ENDL
#endif

        Cd(6887) = MStop2(1)**3 - 
     &    MTy2*(2*MStop2(1)**2 - MTy2*(2*MTy2 + MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6887)", Cd(6887) ENDL
#endif

        Cd(6889) = Cd(6887) - 
     &    MStop2(2)*(Cd(6888) - 6*MTy2*MStop2(2) + 2*MStop2(2)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6889)", Cd(6889) ENDL
#endif

        Cd(6922) = -2*MStop2(1)**3 + 
     &    MTy2*(5*MStop2(1)**2 + MTy2*(MTy2 + 4*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6922)", Cd(6922) ENDL
#endif

        Cd(6926) = Cd(6925)*MStop2(1)**2 + 
     &    MTy2**2*(MTy2*(MTy2 - 3*MStop2(3)) - Cc(262)*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6926)", Cd(6926) ENDL
#endif

        Cd(6931) = 4*MTy2*(MTy2**2 + Cd(5768)) - 
     &    (10*MTy2**2 + Cd(1168))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6931)", Cd(6931) ENDL
#endif

        Cd(6936) = MGl2*
     &     (MGl2*(3*MGl2 + 2*Cd(5328)) + 2*Cd(5330)) + Cd(6931)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6936)", Cd(6936) ENDL
#endif

        Cd(6942) = Cc(434)*Cd(1959) - MGl2*Cd(6941) + 
     &    2*(MGl2**2 + MGlpTmSt2(2)*MStop2(3))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6942)", Cd(6942) ENDL
#endif

        Cd(6955) = 9*Cc(134)*Cd(226) + 
     &    MTy2*(27*MTy2 + 52*MStop2(1)) + 2*Cd(6954)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6955)", Cd(6955) ENDL
#endif

        Cd(6960) = -6*MStop2(1)**3 + 
     &    MTy2*(7*MStop2(1)**2 + MTy2*(3*MTy2 + 2*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6960)", Cd(6960) ENDL
#endif

        Cd(6964) = 24*MStop2(1)**3 - 
     &    MTy2*(45*MStop2(1)**2 - MTy2*(MTy2 + 35*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6964)", Cd(6964) ENDL
#endif

	Cd(6974) = MGl2 - Cd(1961) - MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6974)", Cd(6974) ENDL
#endif

	Cd(6992) = 4*MGl2 - 16*(MTy2 + MStop2(2)) + 5*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6992)", Cd(6992) ENDL
#endif

        Cd(6999) = 7*MTy2*(3*MTy2 + 2*Cc(134)) + 
     &    49*MStop2(1)**2 + Cd(6998)*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(6999)", Cd(6999) ENDL
#endif

        Cd(7040) = (Cd(7039) - 
     &      MStop2(2)*(2*MGl2**2*Cd(5067) - 
     &         MStop2(2)*(4*MGl2*Cc(79) - Cd(564)*MStop2(2))))*
     &    MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7040)", Cd(7040) ENDL
#endif

        Cd(7047) = 7*Cc(226) - MTy2*(2*MTy2 - 2*MStop2(1)) + 
     &    2*Cd(7046)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7047)", Cd(7047) ENDL
#endif

        Cd(7048) = 2*MTy2**3 + 3*MTy2*Cc(226) + 
     &    (MTy2**2 - Cd(784))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7048)", Cd(7048) ENDL
#endif

        Cd(7049) = MStop2(1)**3 - 
     &    MTy2*(12*MStop2(1)**2 - MTy2*(4*MTy2 + 26*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7049)", Cd(7049) ENDL
#endif

        Cd(7050) = 2*MStop2(1)**3 + 
     &    MTy2*(MTy2*(MTy2 - 8*MStop2(1)) - 4*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7050)", Cd(7050) ENDL
#endif

        Cd(7054) = -(Cd(785)*MStop2(4)) + 
     &    MTy2*(5*Cc(226) - MTy2*(2*MTy2 + MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7054)", Cd(7054) ENDL
#endif

        Cd(7056) = MTy2**2*Cd(2076) + 
     &    MStop2(2)*(2*MTy2*Cd(1785) + 
     &       (Cd(2883) - 2*MStop2(2))*MStop2(2))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7056)", Cd(7056) ENDL
#endif

        Cd(7060) = MGl2*
     &     (MGl2*(MGl2 - Cd(1981)) + 2*Cd(7055)) + 2*Cd(7056)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7060)", Cd(7060) ENDL
#endif

        Cd(7078) = -5*MStop2(1)**3 + 
     &    MTy2*(MTy2*(2*MTy2 - 8*MStop2(1)) + 3*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7078)", Cd(7078) ENDL
#endif

        Cd(7082) = -6*MStop2(1)**3 + 
     &    MTy2*(MTy2*(2*MTy2 - 17*MStop2(1)) + 60*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7082)", Cd(7082) ENDL
#endif

        Cd(7090) = 4*MStop2(1)**3 - 
     &    MTy2*(18*MStop2(1)**2 - MTy2*(3*MTy2 + 31*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7090)", Cd(7090) ENDL
#endif

	Cd(7093) = 2*(MGl2 - 5*MTy2 - 7*MStop2(2)) + 3*MStop2(3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7093)", Cd(7093) ENDL
#endif

        Cd(7101) = 15*MStop2(4)**3 + 
     &    MTy2*(2*Cd(7100) + MTy2*(120*MTy2 + 36*MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7101)", Cd(7101) ENDL
#endif

	Cd(7130) = Cd(5692) + 10*MTy2*(MTy2 - MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7130)", Cd(7130) ENDL
#endif

        Cd(7133) = -(Cd(556)*Cd(5002)*MStop2(4)) + 
     &    MTy2*(Cd(7132) + MTy2*(10*MTy2 + 5*MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7133)", Cd(7133) ENDL
#endif

        Cd(7181) = -9*MStop2(1)**3 + 
     &    MTy2*(MTy2*(53*MTy2 - 90*MStop2(1)) + 102*MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7181)", Cd(7181) ENDL
#endif

        Cd(7248) = 74*MStop2(1)**3 + 
     &    MTy2*(31*MStop2(1)**2 + MTy2*(24*MTy2 + 68*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7248)", Cd(7248) ENDL
#endif

        Cd(7260) = 2*MStop2(1)**2*
     &     (Cd(7259) + 2*Cd(7258)*MStop2(1)) + 
     &    (16*MStop2(2) - 23*MStop2(3))*MStop2(3)**4

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7260)", Cd(7260) ENDL
#endif

        Cd(7268) = -5*MStop2(1)**2*MStop2(2)**2 + 
     &    MTy2**2*(3*Cd(5519) + MTy2*(27*MTy2 - 32*MStop2(4)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7268)", Cd(7268) ENDL
#endif

        Cd(7271) = -76*MTy2**3 + 4*MTy2*Cd(7270) + 
     &    (22*MTy2**2 + 5*Cd(5313))*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7271)", Cd(7271) ENDL
#endif

        Cd(7304) = -40*MStop2(1)**3 + 
     &    MTy2*(120*MStop2(1)**2 + MTy2*(47*MTy2 + 46*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7304)", Cd(7304) ENDL
#endif

	Cd(7317) = Cd(7103) + 8*MTy2*(MTy2 - MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7317)", Cd(7317) ENDL
#endif

        Cd(7319) = 8*MTy2*Cc(427) + 
     &    2*MStop2(2)*(Cd(7318) + 9*MStop2(2)) - 
     &    9*MStop2(3)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7319)", Cd(7319) ENDL
#endif

        Cd(7321) = 7*Cc(40)*Cd(1221) + 
     &    MTy2*(8*MTy2**2 - 2*Cd(7320)) + 
     &    33*MStop2(1)*MStop2(2)*MStop2(4)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7321)", Cd(7321) ENDL
#endif

        Cd(7322) = 3*Cd(5313)*MStop2(4)**2 + 
     &    MTy2*(MTy2*(24*MTy2**2 + 6*Cd(7103)) - 
     &       2*Cd(7254)*MStop2(4))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7322)", Cd(7322) ENDL
#endif

        Cd(7334) = 9*Cc(79)*Cr(1) + 
     &    MTy2*(27*MTy2 + 2*MStop2(1)) + 4*Cd(3892)*MStop2(2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7334)", Cd(7334) ENDL
#endif

        Cd(7342) = 2*MTy2**3 + MTy2*MStop2(1)**2 - 
     &    2*MStop2(1)*(MTy2**2 + MStop2(1)**2)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7342)", Cd(7342) ENDL
#endif

        Cd(7348) = -3*MStop2(1)**3 + 
     &    MTy2*(45*MStop2(1)**2 + MTy2*(4*MTy2 + 5*MStop2(1)))

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7348)", Cd(7348) ENDL
#endif

        Cd(7355) = 26*MTy2**2*MStop2(1) - 
     &    12*MTy2*MStop2(1)**2 + 3*(MTy2**3 + MStop2(1)**3)

#ifdef DETAILED_DEBUG
	DTLHR "Cd(7355)", Cd(7355) ENDL
#endif

	end
